{"openapi":"3.0.3","info":{"title":"Twenty Api","description":"This is a **Twenty REST/API** playground based on the **OpenAPI 3.0 specification**.","termsOfService":"https://github.com/twentyhq/twenty?tab=coc-ov-file","contact":{"email":"felix@twenty.com"},"license":{"name":"AGPL-3.0","url":"https://github.com/twentyhq/twenty?tab=AGPL-3.0-1-ov-file#readme"},"version":"v0.1"},"servers":[{"url":"https://api.twenty.com/rest/","description":"Production Development"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Enter the token with the `Bearer: ` prefix, e.g. \"Bearer abcde12345\"."}},"schemas":{"Company":{"type":"object","description":"A company","properties":{"annualRecurringRevenue":{"type":"object","properties":{"amountMicros":{"type":"string"},"currencyCode":{"type":"string"}},"description":"Annual Recurring Revenue: The actual or estimated annual revenue of the company"},"employees":{"type":"number","description":"Number of employees in the company"},"people":{"type":"array","items":{"$ref":"#/components/schemas/Person"},"description":"People linked to the company."},"position":{"type":"number","description":"Company record position"},"accountOwner":{"description":"Your team member responsible for managing the company account"},"accountOwnerId":{"type":"string","description":"Your team member responsible for managing the company account id foreign key"},"activityTargets":{"type":"array","items":{"$ref":"#/components/schemas/ActivityTarget"},"description":"Activities tied to the company"},"opportunities":{"type":"array","items":{"$ref":"#/components/schemas/Opportunity"},"description":"Opportunities linked to the company."},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"},"description":"Attachments linked to the company"},"favorites":{"type":"array","items":{"$ref":"#/components/schemas/Favorite"},"description":"Favorites linked to the company"},"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"linkedinLink":{"type":"object","properties":{"label":{"type":"string"},"url":{"type":"string"}},"description":"The company Linkedin account"},"xLink":{"type":"object","properties":{"label":{"type":"string"},"url":{"type":"string"}},"description":"The company Twitter/X account"},"name":{"type":"string","description":"The company name"},"domainName":{"type":"string","description":"The company website URL. We use this url to fetch the company icon"},"address":{"type":"string","description":"The company address"},"idealCustomerProfile":{"type":"boolean","description":"Ideal Customer Profile:  Indicates whether the company is the most suitable and valuable customer for you"},"timelineActivities":{"type":"array","items":{"$ref":"#/components/schemas/TimelineActivity"},"description":"Timeline Activities linked to the company"}},"example":{}},"Companies":{"type":"array","description":"A list of companies","items":{"$ref":"#/components/schemas/Company"},"example":[{}]},"Person":{"type":"object","description":"A person","properties":{"company":{"description":"Contact’s company"},"companyId":{"type":"string","description":"Contact’s company id foreign key"},"pointOfContactForOpportunities":{"type":"array","items":{"$ref":"#/components/schemas/Opportunity"},"description":"Point of Contact for Opportunities"},"activityTargets":{"type":"array","items":{"$ref":"#/components/schemas/ActivityTarget"},"description":"Activities tied to the contact"},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"},"description":"Attachments linked to the contact."},"favorites":{"type":"array","items":{"$ref":"#/components/schemas/Favorite"},"description":"Favorites linked to the contact"},"messageParticipants":{"type":"array","items":{"$ref":"#/components/schemas/MessageParticipant"},"description":"Message Participants"},"position":{"type":"number","description":"Person record Position"},"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"linkedinLink":{"type":"object","properties":{"label":{"type":"string"},"url":{"type":"string"}},"description":"Contact’s Linkedin account"},"xLink":{"type":"object","properties":{"label":{"type":"string"},"url":{"type":"string"}},"description":"Contact’s X/Twitter account"},"name":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"}},"description":"Contact’s name"},"email":{"type":"string","description":"Contact’s Email"},"jobTitle":{"type":"string","description":"Contact’s job title"},"phone":{"type":"string","description":"Contact’s phone number"},"city":{"type":"string","description":"Contact’s city"},"avatarUrl":{"type":"string","description":"Contact’s avatar"},"timelineActivities":{"type":"array","items":{"$ref":"#/components/schemas/TimelineActivity"},"description":"Events linked to the company"},"calendarEventParticipants":{"type":"array","items":{"$ref":"#/components/schemas/CalendarEventParticipant"},"description":"Calendar Event Participants"}},"example":{}},"People":{"type":"array","description":"A list of people","items":{"$ref":"#/components/schemas/Person"},"example":[{}]},"TimelineActivity":{"type":"object","description":"Aggregated / filtered event to be displayed on the timeline","properties":{"properties":{"type":"object","description":"Json value for event details"},"workspaceMember":{"description":"Event workspace member"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"workspaceMemberId":{"type":"string","description":"Event workspace member id foreign key"},"company":{"description":"Event company"},"companyId":{"type":"string","description":"Event company id foreign key"},"opportunity":{"description":"Event opportunity"},"testCustomObjectId":{"type":"string","description":"Event testCustomObject id foreign key"},"id":{"type":"string","description":"Id"},"name":{"type":"string","description":"Event name"},"person":{"description":"Event person"},"personId":{"type":"string","description":"Event person id foreign key"},"happensAt":{"type":"string","description":"Creation date"},"linkedRecordCachedName":{"type":"string","description":"Cached record name"},"linkedRecordId":{"type":"string","description":"Linked Record id"},"linkedObjectMetadataId":{"type":"string","description":"inked Object Metadata Id"},"opportunityId":{"type":"string","description":"Event opportunity id foreign key"},"testCustomObject":{"description":"Event testCustomObject"}},"example":{}},"TimelineActivities":{"type":"array","description":"A list of timelineActivities","items":{"$ref":"#/components/schemas/TimelineActivity"},"example":[{}]},"AuditLog":{"type":"object","description":"An audit log of actions performed in the system","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"name":{"type":"string","description":"Event name/type"},"properties":{"type":"object","description":"Json value for event details"},"context":{"type":"object","description":"Json object to provide context (user, device, workspace, etc.)"},"objectName":{"type":"string","description":"If the event is related to a particular object"},"objectMetadataId":{"type":"string","description":"If the event is related to a particular object"},"recordId":{"type":"string","description":"Event name/type"},"workspaceMember":{"description":"Event workspace member"},"workspaceMemberId":{"type":"string","description":"Event workspace member id foreign key"}},"example":{}},"AuditLogs":{"type":"array","description":"A list of auditLogs","items":{"$ref":"#/components/schemas/AuditLog"},"example":[{}]},"ApiKey":{"type":"object","description":"An api key","properties":{"expiresAt":{"type":"string","description":"ApiKey expiration date"},"revokedAt":{"type":"string","description":"ApiKey revocation date"},"name":{"type":"string","description":"ApiKey name"},"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"}},"example":{"expiresAt":""},"required":["expiresAt"]},"ApiKeys":{"type":"array","description":"A list of apiKeys","items":{"$ref":"#/components/schemas/ApiKey"},"example":{"expiresAt":""},"required":["expiresAt"]},"Attachment":{"type":"object","description":"An attachment","properties":{"author":{"description":"Attachment author"},"authorId":{"type":"string","description":"Attachment author id foreign key"},"activity":{"description":"Attachment activity"},"activityId":{"type":"string","description":"Attachment activity id foreign key"},"person":{"description":"Attachment person"},"personId":{"type":"string","description":"Attachment person id foreign key"},"company":{"description":"Attachment company"},"companyId":{"type":"string","description":"Attachment company id foreign key"},"opportunity":{"description":"Attachment opportunity"},"opportunityId":{"type":"string","description":"Attachment opportunity id foreign key"},"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"testCustomObject":{"description":"Attachment testCustomObject"},"testCustomObjectId":{"type":"string","description":"Attachment testCustomObject id foreign key"},"name":{"type":"string","description":"Attachment name"},"fullPath":{"type":"string","description":"Attachment full path"},"type":{"type":"string","description":"Attachment type"},"updatedAt":{"type":"string","description":"Update date"}},"example":{"authorId":""},"required":["authorId"]},"Attachments":{"type":"array","description":"A list of attachments","items":{"$ref":"#/components/schemas/Attachment"},"example":{"authorId":""},"required":["authorId"]},"Comment":{"type":"object","description":"A comment","properties":{"author":{"description":"Comment author"},"authorId":{"type":"string","description":"Comment author id foreign key"},"activity":{"description":"Comment activity"},"activityId":{"type":"string","description":"Comment activity id foreign key"},"body":{"type":"string","description":"Comment body"},"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"}},"example":{"authorId":"","activityId":""},"required":["authorId","activityId"]},"Comments":{"type":"array","description":"A list of comments","items":{"$ref":"#/components/schemas/Comment"},"example":{"authorId":"","activityId":""},"required":["authorId","activityId"]},"ConnectedAccount":{"type":"object","description":"A connected account","properties":{"authFailedAt":{"type":"string","description":"Auth failed at"},"accountOwner":{"description":"Account Owner"},"accountOwnerId":{"type":"string","description":"Account Owner id foreign key"},"id":{"type":"string","description":"Id"},"handle":{"type":"string","description":"The account handle (email, username, phone number, etc.)"},"provider":{"type":"string","description":"The account provider"},"accessToken":{"type":"string","description":"Messaging provider access token"},"refreshToken":{"type":"string","description":"Messaging provider refresh token"},"lastSyncHistoryId":{"type":"string","description":"Last sync history ID"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"messageChannels":{"type":"array","items":{"$ref":"#/components/schemas/MessageChannel"},"description":"Message Channels"},"calendarChannels":{"type":"array","items":{"$ref":"#/components/schemas/CalendarChannel"},"description":"Calendar Channels"}},"example":{"accountOwnerId":""},"required":["accountOwnerId"]},"ConnectedAccounts":{"type":"array","description":"A list of connectedAccounts","items":{"$ref":"#/components/schemas/ConnectedAccount"},"example":{"accountOwnerId":""},"required":["accountOwnerId"]},"Favorite":{"type":"object","description":"A favorite","properties":{"opportunity":{"description":"Favorite opportunity"},"opportunityId":{"type":"string","description":"Favorite opportunity id foreign key"},"workspaceMember":{"description":"Favorite workspace member"},"workspaceMemberId":{"type":"string","description":"Favorite workspace member id foreign key"},"person":{"description":"Favorite person"},"personId":{"type":"string","description":"Favorite person id foreign key"},"company":{"description":"Favorite company"},"companyId":{"type":"string","description":"Favorite company id foreign key"},"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"testCustomObjectId":{"type":"string","description":"Favorite testCustomObject id foreign key"},"position":{"type":"number","description":"Favorite position"},"testCustomObject":{"description":"Favorite testCustomObject"}},"example":{"workspaceMemberId":""},"required":["workspaceMemberId"]},"Favorites":{"type":"array","description":"A list of favorites","items":{"$ref":"#/components/schemas/Favorite"},"example":{"workspaceMemberId":""},"required":["workspaceMemberId"]},"Opportunity":{"type":"object","description":"An opportunity","properties":{"amount":{"type":"object","properties":{"amountMicros":{"type":"string"},"currencyCode":{"type":"string"}},"description":"Opportunity amount"},"testCustomField":{"type":"string","description":"test custom field in a standard object"},"closeDate":{"type":"string","description":"Opportunity close date"},"id":{"type":"string","description":"Id"},"name":{"type":"string","description":"The opportunity name"},"probability":{"type":"string","description":"Opportunity probability"},"pointOfContact":{"description":"Opportunity point of contact"},"pointOfContactId":{"type":"string","description":"Opportunity point of contact id foreign key"},"company":{"description":"Opportunity company"},"companyId":{"type":"string","description":"Opportunity company id foreign key"},"activityTargets":{"type":"array","items":{"$ref":"#/components/schemas/ActivityTarget"},"description":"Activities tied to the opportunity"},"favorites":{"type":"array","items":{"$ref":"#/components/schemas/Favorite"},"description":"Favorites linked to the opportunity"},"position":{"type":"number","description":"Opportunity record position"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"stage":{"type":"string","description":"Opportunity stage"},"timelineActivities":{"type":"array","items":{"$ref":"#/components/schemas/TimelineActivity"},"description":"Timeline Activities linked to the opportunity."},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"},"description":"Attachments linked to the opportunity"}},"example":{}},"Opportunities":{"type":"array","description":"A list of opportunities","items":{"$ref":"#/components/schemas/Opportunity"},"example":[{}]},"ViewField":{"type":"object","description":"(System) View Fields","properties":{"fieldMetadataId":{"type":"string","description":"View Field target field"},"view":{"description":"View Field related view"},"viewId":{"type":"string","description":"View Field related view id foreign key"},"isVisible":{"type":"boolean","description":"View Field visibility"},"size":{"type":"number","description":"View Field size"},"position":{"type":"number","description":"View Field position"},"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"}},"example":{"fieldMetadataId":""},"required":["fieldMetadataId"]},"ViewFields":{"type":"array","description":"A list of viewFields","items":{"$ref":"#/components/schemas/ViewField"},"example":{"fieldMetadataId":""},"required":["fieldMetadataId"]},"ViewFilter":{"type":"object","description":"(System) View Filters","properties":{"fieldMetadataId":{"type":"string","description":"View Filter target field"},"operand":{"type":"string","description":"View Filter operand"},"value":{"type":"string","description":"View Filter value"},"view":{"description":"View Filter related view"},"viewId":{"type":"string","description":"View Filter related view id foreign key"},"displayValue":{"type":"string","description":"View Filter Display Value"},"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"}},"example":{"fieldMetadataId":""},"required":["fieldMetadataId"]},"ViewFilters":{"type":"array","description":"A list of viewFilters","items":{"$ref":"#/components/schemas/ViewFilter"},"example":{"fieldMetadataId":""},"required":["fieldMetadataId"]},"ViewSort":{"type":"object","description":"(System) View Sorts","properties":{"fieldMetadataId":{"type":"string","description":"View Sort target field"},"view":{"description":"View Sort related view"},"viewId":{"type":"string","description":"View Sort related view id foreign key"},"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"direction":{"type":"string","description":"View Sort direction"}},"example":{"fieldMetadataId":""},"required":["fieldMetadataId"]},"ViewSorts":{"type":"array","description":"A list of viewSorts","items":{"$ref":"#/components/schemas/ViewSort"},"example":{"fieldMetadataId":""},"required":["fieldMetadataId"]},"View":{"type":"object","description":"(System) Views","properties":{"kanbanFieldMetadataId":{"type":"string","description":"View Kanban column field"},"objectMetadataId":{"type":"string","description":"View target object"},"viewFields":{"type":"array","items":{"$ref":"#/components/schemas/ViewField"},"description":"View Fields"},"viewFilters":{"type":"array","items":{"$ref":"#/components/schemas/ViewFilter"},"description":"View Filters"},"viewSorts":{"type":"array","items":{"$ref":"#/components/schemas/ViewSort"},"description":"View Sorts"},"position":{"type":"number","description":"View position"},"name":{"type":"string","description":"View name"},"type":{"type":"string","description":"View type"},"isCompact":{"type":"boolean","description":"Describes if the view is in compact mode"},"key":{"type":"string","description":"View key"},"icon":{"type":"string","description":"View icon"},"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"}},"example":{"objectMetadataId":""},"required":["objectMetadataId"]},"Views":{"type":"array","description":"A list of views","items":{"$ref":"#/components/schemas/View"},"example":{"objectMetadataId":""},"required":["objectMetadataId"]},"Webhook":{"type":"object","description":"A webhook","properties":{"targetUrl":{"type":"string","description":"Webhook target url"},"operation":{"type":"string","description":"Webhook operation"},"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"}},"example":{}},"Webhooks":{"type":"array","description":"A list of webhooks","items":{"$ref":"#/components/schemas/Webhook"},"example":[{}]},"WorkspaceMember":{"type":"object","description":"A workspace member","properties":{"timelineActivities":{"type":"array","items":{"$ref":"#/components/schemas/TimelineActivity"},"description":"Events linked to the workspace member"},"userId":{"type":"string","description":"Associated User Id"},"authoredActivities":{"type":"array","items":{"$ref":"#/components/schemas/Activity"},"description":"Activities created by the workspace member"},"assignedActivities":{"type":"array","items":{"$ref":"#/components/schemas/Activity"},"description":"Activities assigned to the workspace member"},"favorites":{"type":"array","items":{"$ref":"#/components/schemas/Favorite"},"description":"Favorites linked to the workspace member"},"accountOwnerForCompanies":{"type":"array","items":{"$ref":"#/components/schemas/Company"},"description":"Account owner for companies"},"authoredAttachments":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"},"description":"Attachments created by the workspace member"},"authoredComments":{"type":"array","items":{"$ref":"#/components/schemas/Comment"},"description":"Authored comments"},"name":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"}},"description":"Workspace member name"},"colorScheme":{"type":"string","description":"Preferred color scheme"},"connectedAccounts":{"type":"array","items":{"$ref":"#/components/schemas/ConnectedAccount"},"description":"Connected accounts"},"messageParticipants":{"type":"array","items":{"$ref":"#/components/schemas/MessageParticipant"},"description":"Message Participants"},"blocklist":{"type":"array","items":{"$ref":"#/components/schemas/Blocklist"},"description":"Blocklisted handles"},"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"locale":{"type":"string","description":"Preferred language"},"avatarUrl":{"type":"string","description":"Workspace member avatar"},"userEmail":{"type":"string","description":"Related user email address"},"auditLogs":{"type":"array","items":{"$ref":"#/components/schemas/AuditLog"},"description":"Audit Logs linked to the workspace member"},"calendarEventParticipants":{"type":"array","items":{"$ref":"#/components/schemas/CalendarEventParticipant"},"description":"Calendar Event Participants"}},"example":{"userId":""},"required":["userId"]},"WorkspaceMembers":{"type":"array","description":"A list of workspaceMembers","items":{"$ref":"#/components/schemas/WorkspaceMember"},"example":{"userId":""},"required":["userId"]},"MessageThread":{"type":"object","description":"Message Thread","properties":{"messages":{"type":"array","items":{"$ref":"#/components/schemas/Message"},"description":"Messages from the thread."},"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"messageChannelMessageAssociations":{"type":"array","items":{"$ref":"#/components/schemas/MessageChannelMessageAssociation"},"description":"Messages from the channel"}},"example":{}},"MessageThreads":{"type":"array","description":"A list of messageThreads","items":{"$ref":"#/components/schemas/MessageThread"},"example":[{}]},"Message":{"type":"object","description":"Message","properties":{"messageThread":{"description":"Message Thread Id"},"messageThreadId":{"type":"string","description":"Message Thread Id id foreign key"},"headerMessageId":{"type":"string","description":"Message id from the message header"},"text":{"type":"string","description":"Text"},"receivedAt":{"type":"string","description":"The date the message was received"},"messageParticipants":{"type":"array","items":{"$ref":"#/components/schemas/MessageParticipant"},"description":"Message Participants"},"messageChannelMessageAssociations":{"type":"array","items":{"$ref":"#/components/schemas/MessageChannelMessageAssociation"},"description":"Messages from the channel."},"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"direction":{"type":"string","description":"Message Direction"},"subject":{"type":"string","description":"Subject"}},"example":{}},"Messages":{"type":"array","description":"A list of messages","items":{"$ref":"#/components/schemas/Message"},"example":[{}]},"MessageChannel":{"type":"object","description":"Message Channels","properties":{"isSyncEnabled":{"type":"boolean","description":"Is Sync Enabled"},"syncCursor":{"type":"string","description":"Last sync cursor"},"syncedAt":{"type":"string","description":"Last sync date"},"ongoingSyncStartedAt":{"type":"string","description":"Ongoing sync started at"},"connectedAccount":{"description":"Connected Account"},"connectedAccountId":{"type":"string","description":"Connected Account id foreign key"},"messageChannelMessageAssociations":{"type":"array","items":{"$ref":"#/components/schemas/MessageChannelMessageAssociation"},"description":"Messages from the channel."},"handle":{"type":"string","description":"Handle"},"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"visibility":{"type":"string","description":"Visibility"},"type":{"type":"string","description":"Channel Type"},"isContactAutoCreationEnabled":{"type":"boolean","description":"Is Contact Auto Creation Enabled"},"syncStatus":{"type":"string","description":"Sync status"},"syncSubStatus":{"type":"string","description":"Sync sub status"}},"example":{"connectedAccountId":""},"required":["connectedAccountId"]},"MessageChannels":{"type":"array","description":"A list of messageChannels","items":{"$ref":"#/components/schemas/MessageChannel"},"example":{"connectedAccountId":""},"required":["connectedAccountId"]},"MessageParticipant":{"type":"object","description":"Message Participants","properties":{"person":{"description":"Person"},"message":{"description":"Message"},"messageId":{"type":"string","description":"Message id foreign key"},"personId":{"type":"string","description":"Person id foreign key"},"workspaceMember":{"description":"Workspace member"},"workspaceMemberId":{"type":"string","description":"Workspace member id foreign key"},"handle":{"type":"string","description":"Handle"},"role":{"type":"string","description":"Role"},"displayName":{"type":"string","description":"Display Name"},"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"}},"example":{"messageId":""},"required":["messageId"]},"MessageParticipants":{"type":"array","description":"A list of messageParticipants","items":{"$ref":"#/components/schemas/MessageParticipant"},"example":{"messageId":""},"required":["messageId"]},"MessageChannelMessageAssociation":{"type":"object","description":"Message Synced with a Message Channel","properties":{"messageChannel":{"description":"Message Channel Id"},"messageChannelId":{"type":"string","description":"Message Channel Id id foreign key"},"message":{"description":"Message Id"},"messageId":{"type":"string","description":"Message Id id foreign key"},"messageThread":{"description":"Message Thread Id"},"messageThreadId":{"type":"string","description":"Message Thread Id id foreign key"},"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"messageExternalId":{"type":"string","description":"Message id from the messaging provider"},"messageThreadExternalId":{"type":"string","description":"Thread id from the messaging provider"}},"example":{}},"MessageChannelMessageAssociations":{"type":"array","description":"A list of messageChannelMessageAssociations","items":{"$ref":"#/components/schemas/MessageChannelMessageAssociation"},"example":[{}]},"ActivityTarget":{"type":"object","description":"An activity target","properties":{"id":{"type":"string","description":"Id"},"activity":{"description":"ActivityTarget activity"},"activityId":{"type":"string","description":"ActivityTarget activity id foreign key"},"person":{"description":"ActivityTarget person"},"personId":{"type":"string","description":"ActivityTarget person id foreign key"},"company":{"description":"ActivityTarget company"},"companyId":{"type":"string","description":"ActivityTarget company id foreign key"},"opportunity":{"description":"ActivityTarget opportunity"},"opportunityId":{"type":"string","description":"ActivityTarget opportunity id foreign key"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"testCustomObject":{"description":"ActivityTarget testCustomObject"},"testCustomObjectId":{"type":"string","description":"ActivityTarget testCustomObject id foreign key"}},"example":{}},"ActivityTargets":{"type":"array","description":"A list of activityTargets","items":{"$ref":"#/components/schemas/ActivityTarget"},"example":[{}]},"Activity":{"type":"object","description":"An activity","properties":{"authorId":{"type":"string","description":"Activity author id foreign key"},"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"title":{"type":"string","description":"Activity title"},"reminderAt":{"type":"string","description":"Activity reminder date"},"dueAt":{"type":"string","description":"Activity due date"},"completedAt":{"type":"string","description":"Activity completion date"},"activityTargets":{"type":"array","items":{"$ref":"#/components/schemas/ActivityTarget"},"description":"Activity targets"},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"},"description":"Activity attachments"},"comments":{"type":"array","items":{"$ref":"#/components/schemas/Comment"},"description":"Activity comments"},"author":{"description":"Activity author"},"assignee":{"description":"Activity assignee"},"assigneeId":{"type":"string","description":"Activity assignee id foreign key"},"body":{"type":"string","description":"Activity body"},"type":{"type":"string","description":"Activity type"},"updatedAt":{"type":"string","description":"Update date"}},"example":{}},"Activities":{"type":"array","description":"A list of activities","items":{"$ref":"#/components/schemas/Activity"},"example":[{}]},"TestCustomObject":{"type":"object","description":null,"properties":{"position":{"type":"number","description":"Position"},"activityTargets":{"type":"array","items":{"$ref":"#/components/schemas/ActivityTarget"},"description":"Activities tied to the testCustomObject"},"favorites":{"type":"array","items":{"$ref":"#/components/schemas/Favorite"},"description":"Favorites tied to the testCustomObject"},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"},"description":"Attachments tied to the testCustomObject"},"id":{"type":"string","description":"Id"},"name":{"type":"string","description":"Name"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"timelineActivities":{"type":"array","items":{"$ref":"#/components/schemas/TimelineActivity"},"description":"Timeline Activities tied to the testCustomObject"}},"example":{}},"TestCustomObjects":{"type":"array","description":"A list of testCustomObjects","items":{"$ref":"#/components/schemas/TestCustomObject"},"example":[{}]},"Blocklist":{"type":"object","description":"Blocklist","properties":{"workspaceMember":{"description":"WorkspaceMember"},"workspaceMemberId":{"type":"string","description":"WorkspaceMember id foreign key"},"handle":{"type":"string","description":"Handle"},"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"}},"example":{"workspaceMemberId":""},"required":["workspaceMemberId"]},"Blocklists":{"type":"array","description":"A list of blocklists","items":{"$ref":"#/components/schemas/Blocklist"},"example":{"workspaceMemberId":""},"required":["workspaceMemberId"]},"CalendarEvent":{"type":"object","description":"Calendar events","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"title":{"type":"string","description":"Title"},"isCanceled":{"type":"boolean","description":"Is canceled"},"isFullDay":{"type":"boolean","description":"Is Full Day"},"startsAt":{"type":"string","description":"Start Date"},"endsAt":{"type":"string","description":"End Date"},"externalCreatedAt":{"type":"string","description":"Creation DateTime"},"externalUpdatedAt":{"type":"string","description":"Update DateTime"},"description":{"type":"string","description":"Description"},"location":{"type":"string","description":"Location"},"iCalUID":{"type":"string","description":"iCal UID"},"conferenceSolution":{"type":"string","description":"Conference Solution"},"conferenceLink":{"type":"object","properties":{"label":{"type":"string"},"url":{"type":"string"}},"description":"Meet Link"},"recurringEventExternalId":{"type":"string","description":"Recurring Event ID"},"calendarChannelEventAssociations":{"type":"array","items":{"$ref":"#/components/schemas/CalendarChannelEventAssociation"},"description":"Calendar Channel Event Associations"},"calendarEventParticipants":{"type":"array","items":{"$ref":"#/components/schemas/CalendarEventParticipant"},"description":"Event Participants"}},"example":{"isCanceled":"","isFullDay":""},"required":["isCanceled","isFullDay"]},"CalendarEvents":{"type":"array","description":"A list of calendarEvents","items":{"$ref":"#/components/schemas/CalendarEvent"},"example":{"isCanceled":"","isFullDay":""},"required":["isCanceled","isFullDay"]},"CalendarChannel":{"type":"object","description":"Calendar Channels","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"connectedAccount":{"description":"Connected Account"},"connectedAccountId":{"type":"string","description":"Connected Account id foreign key"},"handle":{"type":"string","description":"Handle"},"visibility":{"type":"string","description":"Visibility"},"isContactAutoCreationEnabled":{"type":"boolean","description":"Is Contact Auto Creation Enabled"},"isSyncEnabled":{"type":"boolean","description":"Is Sync Enabled"},"syncCursor":{"type":"string","description":"Sync Cursor. Used for syncing events from the calendar provider"},"calendarChannelEventAssociations":{"type":"array","items":{"$ref":"#/components/schemas/CalendarChannelEventAssociation"},"description":"Calendar Channel Event Associations"}},"example":{"connectedAccountId":""},"required":["connectedAccountId"]},"CalendarChannels":{"type":"array","description":"A list of calendarChannels","items":{"$ref":"#/components/schemas/CalendarChannel"},"example":{"connectedAccountId":""},"required":["connectedAccountId"]},"CalendarChannelEventAssociation":{"type":"object","description":"Calendar Channel Event Associations","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"calendarChannel":{"description":"Channel ID"},"calendarChannelId":{"type":"string","description":"Channel ID id foreign key"},"calendarEvent":{"description":"Event ID"},"calendarEventId":{"type":"string","description":"Event ID id foreign key"},"eventExternalId":{"type":"string","description":"Event external ID"}},"example":{"calendarChannelId":"","calendarEventId":""},"required":["calendarChannelId","calendarEventId"]},"CalendarChannelEventAssociations":{"type":"array","description":"A list of calendarChannelEventAssociations","items":{"$ref":"#/components/schemas/CalendarChannelEventAssociation"},"example":{"calendarChannelId":"","calendarEventId":""},"required":["calendarChannelId","calendarEventId"]},"CalendarEventParticipant":{"type":"object","description":"Calendar event participants","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"calendarEvent":{"description":"Event ID"},"calendarEventId":{"type":"string","description":"Event ID id foreign key"},"handle":{"type":"string","description":"Handle"},"displayName":{"type":"string","description":"Display Name"},"isOrganizer":{"type":"boolean","description":"Is Organizer"},"responseStatus":{"type":"string","description":"Response Status"},"person":{"description":"Person"},"personId":{"type":"string","description":"Person id foreign key"},"workspaceMember":{"description":"Workspace Member"},"workspaceMemberId":{"type":"string","description":"Workspace Member id foreign key"}},"example":{"calendarEventId":""},"required":["calendarEventId"]},"CalendarEventParticipants":{"type":"array","description":"A list of calendarEventParticipants","items":{"$ref":"#/components/schemas/CalendarEventParticipant"},"example":{"calendarEventId":""},"required":["calendarEventId"]}},"parameters":{"idPath":{"name":"id","in":"path","description":"Object id.","required":true,"schema":{"type":"string","format":"uuid"}},"lastCursor":{"name":"last_cursor","in":"query","description":"Returns objects starting from a specific cursor.","required":false,"schema":{"type":"string"}},"filter":{"name":"filter","in":"query","description":"Filters objects returned.  \n    Should have the following shape: **field_1[COMPARATOR]:value_1,field_2[COMPARATOR]:value_2,...**  \n    Available comparators are **eq**, **neq**, **in**, **is**, **gt**, **gte**, **lt**, **lte**, **startsWith**, **like**, **ilike**.  \n    You can create more complex filters using conjunctions **or**, **and**, **not**.  \n    Default root conjunction is **and**.  \n    To filter **null** values use **field[is]:NULL** or **field[is]:NOT_NULL**  \n    To filter using **boolean** values use **field[eq]:true** or **field[eq]:false**","required":false,"schema":{"type":"string"},"examples":{"simple":{"value":"createdAt[gte]:\"2023-01-01\"","description":"A simple filter param"},"complex":{"value":"or(createdAt[gte]:\"2024-01-01\",createdAt[lte]:\"2023-01-01\",not(id[is]:NULL))","description":"A more complex filter param"}}},"depth":{"name":"depth","in":"query","description":"Limits the depth objects returned.","required":false,"schema":{"type":"integer","enum":[1,2]}},"orderBy":{"name":"order_by","in":"query","description":"Sorts objects returned.  \n    Should have the following shape: **field_name_1,field_name_2[DIRECTION_2],...**  \n    Available directions are **AscNullsFirst**, **AscNullsLast**, **DescNullsFirst**, **DescNullsLast**.  \n    Default direction is **AscNullsFirst**","required":false,"schema":{"type":"string"},"examples":{"simple":{"value":"createdAt","summary":"A simple order_by param"},"complex":{"value":"id[AscNullsFirst],createdAt[DescNullsLast]","summary":"A more complex order_by param"}}},"limit":{"name":"limit","in":"query","description":"Limits the number of objects returned.","required":false,"schema":{"type":"integer","minimum":0,"maximum":60,"default":60}}},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"statusCode":{"type":"number"},"message":{"type":"string"},"error":{"type":"string"}},"example":{"statusCode":400,"message":"error message","error":"Bad Request"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"statusCode":{"type":"number"},"message":{"type":"string"},"error":{"type":"string"}},"example":{"statusCode":401,"message":"Token invalid.","error":"Unauthorized"}}}}}}},"security":[{"bearerAuth":[]}],"externalDocs":{"description":"Find out more about **Twenty**","url":"https://twenty.com"},"paths":{"/open-api/core":{"get":{"tags":["General"],"summary":"Get Open Api Schema","operationId":"GetOpenApiSchema","servers":[{"url":"https://api.twenty.com"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"openapi":{"type":"string"},"info":{"type":"object","properties":{"title":{"type":"string"},"description":{"type":"string"},"termsOfService":{"type":"string"},"contact":{"type":"object","properties":{"email":{"type":"string"}}},"license":{"type":"object","properties":{"name":{"type":"string"},"url":{"type":"string"}}}}},"servers":{"type":"array","items":{"url":{"type":"string"},"description":{"type":"string"}}},"components":{"type":"object","properties":{"schemas":{"type":"object"},"parameters":{"type":"object"},"responses":{"type":"object"}}},"paths":{"type":"object"},"tags":{"type":"object"}}}}}}}}},"/companies":{"get":{"tags":["companies"],"summary":"Find Many companies","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **companies**","operationId":"findManyCompanies","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"companies":{"type":"array","items":{"$ref":"#/components/schemas/Company"}}}}},"example":{"data":{"companies":["CompanyObject1","CompanyObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["companies"],"summary":"Create One company","operationId":"createOneCompany","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Company"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"company":{"$ref":"#/components/schemas/Company"}}}},"example":{"data":{"company":"CompanyObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/batch/companies":{"post":{"tags":["companies"],"summary":"Create Many companies","operationId":"createManyCompanies","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Companies"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createCompanies":{"type":"array","items":{"$ref":"#/components/schemas/Company"}}}}},"example":{"data":{"createCompanies":["CompanyObject1","CompanyObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/companies/{id}":{"get":{"tags":["companies"],"summary":"Find One company","description":"**depth** can be provided to request your **company**","operationId":"findOneCompany","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"company":{"$ref":"#/components/schemas/Company"}}}},"example":{"data":{"company":"CompanyObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["companies"],"summary":"Delete One company","operationId":"deleteOneCompany","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"company":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}},"example":{"data":{"company":{"id":"ffe75ac3-9786-4846-b56f-640685c3631e"}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"patch":{"tags":["companies"],"summary":"Update One companies","operationId":"UpdateOneCompany","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Company"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"company":{"$ref":"#/components/schemas/Company"}}}},"example":{"data":{"company":"CompanyObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/people":{"get":{"tags":["people"],"summary":"Find Many people","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **people**","operationId":"findManyPeople","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"people":{"type":"array","items":{"$ref":"#/components/schemas/Person"}}}}},"example":{"data":{"people":["PersonObject1","PersonObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["people"],"summary":"Create One person","operationId":"createOnePerson","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Person"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createPerson":{"$ref":"#/components/schemas/Person"}}}},"example":{"data":{"createPerson":"PersonObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/batch/people":{"post":{"tags":["people"],"summary":"Create Many people","operationId":"createManyPeople","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/People"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createPeople":{"type":"array","items":{"$ref":"#/components/schemas/Person"}}}}},"example":{"data":{"createPeople":["PersonObject1","PersonObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/people/{id}":{"get":{"tags":["people"],"summary":"Find One person","description":"**depth** can be provided to request your **person**","operationId":"findOnePerson","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"person":{"$ref":"#/components/schemas/Person"}}}},"example":{"data":{"person":"PersonObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["people"],"summary":"Delete One person","operationId":"deleteOnePerson","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"deletePerson":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}},"example":{"data":{"deletePerson":{"id":"ffe75ac3-9786-4846-b56f-640685c3631e"}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"patch":{"tags":["people"],"summary":"Update One people","operationId":"UpdateOnePerson","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Person"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"updatePerson":{"$ref":"#/components/schemas/Person"}}}},"example":{"data":{"updatePerson":"PersonObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/timelineActivities":{"get":{"tags":["timelineActivities"],"summary":"Find Many timelineActivities","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **timelineActivities**","operationId":"findManyTimelineActivities","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"timelineActivities":{"type":"array","items":{"$ref":"#/components/schemas/TimelineActivity"}}}}},"example":{"data":{"timelineActivities":["TimelineActivityObject1","TimelineActivityObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["timelineActivities"],"summary":"Create One timelineActivity","operationId":"createOneTimelineActivity","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimelineActivity"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createTimelineActivity":{"$ref":"#/components/schemas/TimelineActivity"}}}},"example":{"data":{"createTimelineActivity":"TimelineActivityObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/batch/timelineActivities":{"post":{"tags":["timelineActivities"],"summary":"Create Many timelineActivities","operationId":"createManyTimelineActivities","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimelineActivities"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createTimelineActivities":{"type":"array","items":{"$ref":"#/components/schemas/TimelineActivity"}}}}},"example":{"data":{"createTimelineActivities":["TimelineActivityObject1","TimelineActivityObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/timelineActivities/{id}":{"get":{"tags":["timelineActivities"],"summary":"Find One timelineActivity","description":"**depth** can be provided to request your **timelineActivity**","operationId":"findOneTimelineActivity","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"timelineActivity":{"$ref":"#/components/schemas/TimelineActivity"}}}},"example":{"data":{"timelineActivity":"TimelineActivityObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["timelineActivities"],"summary":"Delete One timelineActivity","operationId":"deleteOneTimelineActivity","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"deleteTimelineActivity":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}},"example":{"data":{"deleteTimelineActivity":{"id":"ffe75ac3-9786-4846-b56f-640685c3631e"}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"patch":{"tags":["timelineActivities"],"summary":"Update One timelineActivities","operationId":"UpdateOneTimelineActivity","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimelineActivity"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"updateTimelineActivity":{"$ref":"#/components/schemas/TimelineActivity"}}}},"example":{"data":{"updateTimelineActivity":"TimelineActivityObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/auditLogs":{"get":{"tags":["auditLogs"],"summary":"Find Many auditLogs","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **auditLogs**","operationId":"findManyAuditLogs","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"auditLogs":{"type":"array","items":{"$ref":"#/components/schemas/AuditLog"}}}}},"example":{"data":{"auditLogs":["AuditLogObject1","AuditLogObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["auditLogs"],"summary":"Create One auditLog","operationId":"createOneAuditLog","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuditLog"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createAuditLog":{"$ref":"#/components/schemas/AuditLog"}}}},"example":{"data":{"createAuditLog":"AuditLogObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/batch/auditLogs":{"post":{"tags":["auditLogs"],"summary":"Create Many auditLogs","operationId":"createManyAuditLogs","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuditLogs"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createAuditLogs":{"type":"array","items":{"$ref":"#/components/schemas/AuditLog"}}}}},"example":{"data":{"createAuditLogs":["AuditLogObject1","AuditLogObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/auditLogs/{id}":{"get":{"tags":["auditLogs"],"summary":"Find One auditLog","description":"**depth** can be provided to request your **auditLog**","operationId":"findOneAuditLog","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"auditLog":{"$ref":"#/components/schemas/AuditLog"}}}},"example":{"data":{"auditLog":"AuditLogObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["auditLogs"],"summary":"Delete One auditLog","operationId":"deleteOneAuditLog","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"deleteAuditLog":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}},"example":{"data":{"deleteAuditLog":{"id":"ffe75ac3-9786-4846-b56f-640685c3631e"}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"patch":{"tags":["auditLogs"],"summary":"Update One auditLogs","operationId":"UpdateOneAuditLog","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuditLog"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"updateAuditLog":{"$ref":"#/components/schemas/AuditLog"}}}},"example":{"data":{"updateAuditLog":"AuditLogObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/apiKeys":{"get":{"tags":["apiKeys"],"summary":"Find Many apiKeys","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **apiKeys**","operationId":"findManyApiKeys","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"apiKeys":{"type":"array","items":{"$ref":"#/components/schemas/ApiKey"}}}}},"example":{"data":{"apiKeys":["ApiKeyObject1","ApiKeyObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["apiKeys"],"summary":"Create One apiKey","operationId":"createOneApiKey","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKey"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createApiKey":{"$ref":"#/components/schemas/ApiKey"}}}},"example":{"data":{"createApiKey":"ApiKeyObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/batch/apiKeys":{"post":{"tags":["apiKeys"],"summary":"Create Many apiKeys","operationId":"createManyApiKeys","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeys"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createApiKeys":{"type":"array","items":{"$ref":"#/components/schemas/ApiKey"}}}}},"example":{"data":{"createApiKeys":["ApiKeyObject1","ApiKeyObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/apiKeys/{id}":{"get":{"tags":["apiKeys"],"summary":"Find One apiKey","description":"**depth** can be provided to request your **apiKey**","operationId":"findOneApiKey","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"apiKey":{"$ref":"#/components/schemas/ApiKey"}}}},"example":{"data":{"apiKey":"ApiKeyObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["apiKeys"],"summary":"Delete One apiKey","operationId":"deleteOneApiKey","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"deleteApiKey":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}},"example":{"data":{"deleteApiKey":{"id":"ffe75ac3-9786-4846-b56f-640685c3631e"}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"patch":{"tags":["apiKeys"],"summary":"Update One apiKeys","operationId":"UpdateOneApiKey","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKey"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"updateApiKey":{"$ref":"#/components/schemas/ApiKey"}}}},"example":{"data":{"updateApiKey":"ApiKeyObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/attachments":{"get":{"tags":["attachments"],"summary":"Find Many attachments","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **attachments**","operationId":"findManyAttachments","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"attachments":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"}}}}},"example":{"data":{"attachments":["AttachmentObject1","AttachmentObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["attachments"],"summary":"Create One attachment","operationId":"createOneAttachment","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Attachment"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createAttachment":{"$ref":"#/components/schemas/Attachment"}}}},"example":{"data":{"createAttachment":"AttachmentObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/batch/attachments":{"post":{"tags":["attachments"],"summary":"Create Many attachments","operationId":"createManyAttachments","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Attachments"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createAttachments":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"}}}}},"example":{"data":{"createAttachments":["AttachmentObject1","AttachmentObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/attachments/{id}":{"get":{"tags":["attachments"],"summary":"Find One attachment","description":"**depth** can be provided to request your **attachment**","operationId":"findOneAttachment","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"attachment":{"$ref":"#/components/schemas/Attachment"}}}},"example":{"data":{"attachment":"AttachmentObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["attachments"],"summary":"Delete One attachment","operationId":"deleteOneAttachment","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"deleteAttachment":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}},"example":{"data":{"deleteAttachment":{"id":"ffe75ac3-9786-4846-b56f-640685c3631e"}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"patch":{"tags":["attachments"],"summary":"Update One attachments","operationId":"UpdateOneAttachment","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Attachment"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"updateAttachment":{"$ref":"#/components/schemas/Attachment"}}}},"example":{"data":{"updateAttachment":"AttachmentObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/comments":{"get":{"tags":["comments"],"summary":"Find Many comments","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **comments**","operationId":"findManyComments","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"comments":{"type":"array","items":{"$ref":"#/components/schemas/Comment"}}}}},"example":{"data":{"comments":["CommentObject1","CommentObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["comments"],"summary":"Create One comment","operationId":"createOneComment","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comment"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createComment":{"$ref":"#/components/schemas/Comment"}}}},"example":{"data":{"createComment":"CommentObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/batch/comments":{"post":{"tags":["comments"],"summary":"Create Many comments","operationId":"createManyComments","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comments"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createComments":{"type":"array","items":{"$ref":"#/components/schemas/Comment"}}}}},"example":{"data":{"createComments":["CommentObject1","CommentObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/comments/{id}":{"get":{"tags":["comments"],"summary":"Find One comment","description":"**depth** can be provided to request your **comment**","operationId":"findOneComment","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"comment":{"$ref":"#/components/schemas/Comment"}}}},"example":{"data":{"comment":"CommentObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["comments"],"summary":"Delete One comment","operationId":"deleteOneComment","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"deleteComment":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}},"example":{"data":{"deleteComment":{"id":"ffe75ac3-9786-4846-b56f-640685c3631e"}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"patch":{"tags":["comments"],"summary":"Update One comments","operationId":"UpdateOneComment","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comment"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"updateComment":{"$ref":"#/components/schemas/Comment"}}}},"example":{"data":{"updateComment":"CommentObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/connectedAccounts":{"get":{"tags":["connectedAccounts"],"summary":"Find Many connectedAccounts","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **connectedAccounts**","operationId":"findManyConnectedAccounts","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"connectedAccounts":{"type":"array","items":{"$ref":"#/components/schemas/ConnectedAccount"}}}}},"example":{"data":{"connectedAccounts":["ConnectedAccountObject1","ConnectedAccountObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["connectedAccounts"],"summary":"Create One connectedAccount","operationId":"createOneConnectedAccount","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectedAccount"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createConnectedAccount":{"$ref":"#/components/schemas/ConnectedAccount"}}}},"example":{"data":{"createConnectedAccount":"ConnectedAccountObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/batch/connectedAccounts":{"post":{"tags":["connectedAccounts"],"summary":"Create Many connectedAccounts","operationId":"createManyConnectedAccounts","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectedAccounts"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createConnectedAccounts":{"type":"array","items":{"$ref":"#/components/schemas/ConnectedAccount"}}}}},"example":{"data":{"createConnectedAccounts":["ConnectedAccountObject1","ConnectedAccountObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/connectedAccounts/{id}":{"get":{"tags":["connectedAccounts"],"summary":"Find One connectedAccount","description":"**depth** can be provided to request your **connectedAccount**","operationId":"findOneConnectedAccount","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"connectedAccount":{"$ref":"#/components/schemas/ConnectedAccount"}}}},"example":{"data":{"connectedAccount":"ConnectedAccountObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["connectedAccounts"],"summary":"Delete One connectedAccount","operationId":"deleteOneConnectedAccount","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"deleteConnectedAccount":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}},"example":{"data":{"deleteConnectedAccount":{"id":"ffe75ac3-9786-4846-b56f-640685c3631e"}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"patch":{"tags":["connectedAccounts"],"summary":"Update One connectedAccounts","operationId":"UpdateOneConnectedAccount","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectedAccount"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"updateConnectedAccount":{"$ref":"#/components/schemas/ConnectedAccount"}}}},"example":{"data":{"updateConnectedAccount":"ConnectedAccountObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/favorites":{"get":{"tags":["favorites"],"summary":"Find Many favorites","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **favorites**","operationId":"findManyFavorites","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"favorites":{"type":"array","items":{"$ref":"#/components/schemas/Favorite"}}}}},"example":{"data":{"favorites":["FavoriteObject1","FavoriteObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["favorites"],"summary":"Create One favorite","operationId":"createOneFavorite","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Favorite"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createFavorite":{"$ref":"#/components/schemas/Favorite"}}}},"example":{"data":{"createFavorite":"FavoriteObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/batch/favorites":{"post":{"tags":["favorites"],"summary":"Create Many favorites","operationId":"createManyFavorites","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Favorites"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createFavorites":{"type":"array","items":{"$ref":"#/components/schemas/Favorite"}}}}},"example":{"data":{"createFavorites":["FavoriteObject1","FavoriteObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/favorites/{id}":{"get":{"tags":["favorites"],"summary":"Find One favorite","description":"**depth** can be provided to request your **favorite**","operationId":"findOneFavorite","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"favorite":{"$ref":"#/components/schemas/Favorite"}}}},"example":{"data":{"favorite":"FavoriteObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["favorites"],"summary":"Delete One favorite","operationId":"deleteOneFavorite","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"deleteFavorite":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}},"example":{"data":{"deleteFavorite":{"id":"ffe75ac3-9786-4846-b56f-640685c3631e"}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"patch":{"tags":["favorites"],"summary":"Update One favorites","operationId":"UpdateOneFavorite","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Favorite"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"updateFavorite":{"$ref":"#/components/schemas/Favorite"}}}},"example":{"data":{"updateFavorite":"FavoriteObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/opportunities":{"get":{"tags":["opportunities"],"summary":"Find Many opportunities","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **opportunities**","operationId":"findManyOpportunities","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"opportunities":{"type":"array","items":{"$ref":"#/components/schemas/Opportunity"}}}}},"example":{"data":{"opportunities":["OpportunityObject1","OpportunityObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["opportunities"],"summary":"Create One opportunity","operationId":"createOneOpportunity","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Opportunity"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createOpportunity":{"$ref":"#/components/schemas/Opportunity"}}}},"example":{"data":{"createOpportunity":"OpportunityObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/batch/opportunities":{"post":{"tags":["opportunities"],"summary":"Create Many opportunities","operationId":"createManyOpportunities","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Opportunities"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createOpportunities":{"type":"array","items":{"$ref":"#/components/schemas/Opportunity"}}}}},"example":{"data":{"createOpportunities":["OpportunityObject1","OpportunityObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/opportunities/{id}":{"get":{"tags":["opportunities"],"summary":"Find One opportunity","description":"**depth** can be provided to request your **opportunity**","operationId":"findOneOpportunity","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"opportunity":{"$ref":"#/components/schemas/Opportunity"}}}},"example":{"data":{"opportunity":"OpportunityObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["opportunities"],"summary":"Delete One opportunity","operationId":"deleteOneOpportunity","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"deleteOpportunity":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}},"example":{"data":{"deleteOpportunity":{"id":"ffe75ac3-9786-4846-b56f-640685c3631e"}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"patch":{"tags":["opportunities"],"summary":"Update One opportunities","operationId":"UpdateOneOpportunity","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Opportunity"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"updateOpportunity":{"$ref":"#/components/schemas/Opportunity"}}}},"example":{"data":{"updateOpportunity":"OpportunityObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/viewFields":{"get":{"tags":["viewFields"],"summary":"Find Many viewFields","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **viewFields**","operationId":"findManyViewFields","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"viewFields":{"type":"array","items":{"$ref":"#/components/schemas/ViewField"}}}}},"example":{"data":{"viewFields":["ViewFieldObject1","ViewFieldObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["viewFields"],"summary":"Create One viewField","operationId":"createOneViewField","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewField"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createViewField":{"$ref":"#/components/schemas/ViewField"}}}},"example":{"data":{"createViewField":"ViewFieldObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/batch/viewFields":{"post":{"tags":["viewFields"],"summary":"Create Many viewFields","operationId":"createManyViewFields","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewFields"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createViewFields":{"type":"array","items":{"$ref":"#/components/schemas/ViewField"}}}}},"example":{"data":{"createViewFields":["ViewFieldObject1","ViewFieldObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/viewFields/{id}":{"get":{"tags":["viewFields"],"summary":"Find One viewField","description":"**depth** can be provided to request your **viewField**","operationId":"findOneViewField","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"viewField":{"$ref":"#/components/schemas/ViewField"}}}},"example":{"data":{"viewField":"ViewFieldObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["viewFields"],"summary":"Delete One viewField","operationId":"deleteOneViewField","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"deleteViewField":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}},"example":{"data":{"deleteViewField":{"id":"ffe75ac3-9786-4846-b56f-640685c3631e"}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"patch":{"tags":["viewFields"],"summary":"Update One viewFields","operationId":"UpdateOneViewField","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewField"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"updateViewField":{"$ref":"#/components/schemas/ViewField"}}}},"example":{"data":{"updateViewField":"ViewFieldObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/viewFilters":{"get":{"tags":["viewFilters"],"summary":"Find Many viewFilters","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **viewFilters**","operationId":"findManyViewFilters","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"viewFilters":{"type":"array","items":{"$ref":"#/components/schemas/ViewFilter"}}}}},"example":{"data":{"viewFilters":["ViewFilterObject1","ViewFilterObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["viewFilters"],"summary":"Create One viewFilter","operationId":"createOneViewFilter","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewFilter"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createViewFilter":{"$ref":"#/components/schemas/ViewFilter"}}}},"example":{"data":{"createViewFilter":"ViewFilterObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/batch/viewFilters":{"post":{"tags":["viewFilters"],"summary":"Create Many viewFilters","operationId":"createManyViewFilters","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewFilters"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createViewFilters":{"type":"array","items":{"$ref":"#/components/schemas/ViewFilter"}}}}},"example":{"data":{"createViewFilters":["ViewFilterObject1","ViewFilterObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/viewFilters/{id}":{"get":{"tags":["viewFilters"],"summary":"Find One viewFilter","description":"**depth** can be provided to request your **viewFilter**","operationId":"findOneViewFilter","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"viewFilter":{"$ref":"#/components/schemas/ViewFilter"}}}},"example":{"data":{"viewFilter":"ViewFilterObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["viewFilters"],"summary":"Delete One viewFilter","operationId":"deleteOneViewFilter","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"deleteViewFilter":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}},"example":{"data":{"deleteViewFilter":{"id":"ffe75ac3-9786-4846-b56f-640685c3631e"}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"patch":{"tags":["viewFilters"],"summary":"Update One viewFilters","operationId":"UpdateOneViewFilter","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewFilter"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"updateViewFilter":{"$ref":"#/components/schemas/ViewFilter"}}}},"example":{"data":{"updateViewFilter":"ViewFilterObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/viewSorts":{"get":{"tags":["viewSorts"],"summary":"Find Many viewSorts","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **viewSorts**","operationId":"findManyViewSorts","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"viewSorts":{"type":"array","items":{"$ref":"#/components/schemas/ViewSort"}}}}},"example":{"data":{"viewSorts":["ViewSortObject1","ViewSortObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["viewSorts"],"summary":"Create One viewSort","operationId":"createOneViewSort","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewSort"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createViewSort":{"$ref":"#/components/schemas/ViewSort"}}}},"example":{"data":{"createViewSort":"ViewSortObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/batch/viewSorts":{"post":{"tags":["viewSorts"],"summary":"Create Many viewSorts","operationId":"createManyViewSorts","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewSorts"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createViewSorts":{"type":"array","items":{"$ref":"#/components/schemas/ViewSort"}}}}},"example":{"data":{"createViewSorts":["ViewSortObject1","ViewSortObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/viewSorts/{id}":{"get":{"tags":["viewSorts"],"summary":"Find One viewSort","description":"**depth** can be provided to request your **viewSort**","operationId":"findOneViewSort","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"viewSort":{"$ref":"#/components/schemas/ViewSort"}}}},"example":{"data":{"viewSort":"ViewSortObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["viewSorts"],"summary":"Delete One viewSort","operationId":"deleteOneViewSort","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"deleteViewSort":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}},"example":{"data":{"deleteViewSort":{"id":"ffe75ac3-9786-4846-b56f-640685c3631e"}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"patch":{"tags":["viewSorts"],"summary":"Update One viewSorts","operationId":"UpdateOneViewSort","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewSort"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"updateViewSort":{"$ref":"#/components/schemas/ViewSort"}}}},"example":{"data":{"updateViewSort":"ViewSortObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/views":{"get":{"tags":["views"],"summary":"Find Many views","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **views**","operationId":"findManyViews","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"views":{"type":"array","items":{"$ref":"#/components/schemas/View"}}}}},"example":{"data":{"views":["ViewObject1","ViewObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["views"],"summary":"Create One view","operationId":"createOneView","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/View"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createView":{"$ref":"#/components/schemas/View"}}}},"example":{"data":{"createView":"ViewObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/batch/views":{"post":{"tags":["views"],"summary":"Create Many views","operationId":"createManyViews","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Views"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createViews":{"type":"array","items":{"$ref":"#/components/schemas/View"}}}}},"example":{"data":{"createViews":["ViewObject1","ViewObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/views/{id}":{"get":{"tags":["views"],"summary":"Find One view","description":"**depth** can be provided to request your **view**","operationId":"findOneView","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"view":{"$ref":"#/components/schemas/View"}}}},"example":{"data":{"view":"ViewObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["views"],"summary":"Delete One view","operationId":"deleteOneView","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"deleteView":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}},"example":{"data":{"deleteView":{"id":"ffe75ac3-9786-4846-b56f-640685c3631e"}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"patch":{"tags":["views"],"summary":"Update One views","operationId":"UpdateOneView","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":
[...]
