{"openapi":"3.0.3","info":{"title":"Twenty Api","description":"This is a **Twenty REST/API** playground based on the **OpenAPI 3.0 specification**.","termsOfService":"https://github.com/twentyhq/twenty?tab=coc-ov-file","contact":{"email":"felix@twenty.com"},"license":{"name":"AGPL-3.0","url":"https://github.com/twentyhq/twenty?tab=AGPL-3.0-1-ov-file#readme"},"version":"v0.1"},"servers":[{"url":"https://api.twenty.com/rest/metadata","description":"Production Development"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Enter the token with the `Bearer: ` prefix, e.g. \"Bearer abcde12345\"."}},"schemas":{"Object":{"type":"object","description":"An object","properties":{"dataSourceId":{"type":"string"},"nameSingular":{"type":"string"},"namePlural":{"type":"string"},"labelSingular":{"type":"string"},"labelPlural":{"type":"string"},"description":{"type":"string"},"icon":{"type":"string"},"isCustom":{"type":"boolean"},"isRemote":{"type":"boolean"},"isActive":{"type":"boolean"},"isSystem":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"labelIdentifierFieldMetadataId":{"type":"string"},"imageIdentifierFieldMetadataId":{"type":"string"},"fields":{"type":"object","properties":{"edges":{"type":"object","properties":{"node":{"type":"array","items":{"$ref":"#/components/schemas/Field"}}}}}}},"example":{}},"Objects":{"type":"array","description":"A list of objects","items":{"$ref":"#/components/schemas/Object"},"example":[{}]},"Field":{"type":"object","description":"A field","properties":{"type":{"type":"string"},"name":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"},"icon":{"type":"string"},"isCustom":{"type":"boolean"},"isActive":{"type":"boolean"},"isSystem":{"type":"boolean"},"isNullable":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"fromRelationMetadata":{"type":"object","properties":{"id":{"type":"string"},"relationType":{"type":"string"},"toObjectMetadata":{"type":"object","properties":{"id":{"type":"string"},"dataSourceId":{"type":"string"},"nameSingular":{"type":"string"},"namePlural":{"type":"string"},"isSystem":{"type":"boolean"}}},"toFieldMetadataId":{"type":"string"}}},"toRelationMetadata":{"type":"object","properties":{"id":{"type":"string"},"relationType":{"type":"string"},"fromObjectMetadata":{"type":"object","properties":{"id":{"type":"string"},"dataSourceId":{"type":"string"},"nameSingular":{"type":"string"},"namePlural":{"type":"string"},"isSystem":{"type":"boolean"}}},"fromFieldMetadataId":{"type":"string"}}},"defaultValue":{"type":"object"},"options":{"type":"object"}},"example":{}},"Fields":{"type":"array","description":"A list of fields","items":{"$ref":"#/components/schemas/Field"},"example":[{}]},"Relation":{"type":"object","description":"A relation","properties":{"relationType":{"type":"string"},"fromObjectMetadata":{"type":"object","properties":{"id":{"type":"string"},"dataSourceId":{"type":"string"},"nameSingular":{"type":"string"},"namePlural":{"type":"string"},"isSystem":{"type":"boolean"}}},"fromObjectMetadataId":{"type":"string"},"toObjectMetadata":{"type":"object","properties":{"id":{"type":"string"},"dataSourceId":{"type":"string"},"nameSingular":{"type":"string"},"namePlural":{"type":"string"},"isSystem":{"type":"boolean"}}},"toObjectMetadataId":{"type":"string"},"fromFieldMetadataId":{"type":"string"},"toFieldMetadataId":{"type":"string"}},"example":{}},"Relations":{"type":"array","description":"A list of relations","items":{"$ref":"#/components/schemas/Relation"},"example":[{}]}},"parameters":{"idPath":{"name":"id","in":"path","description":"Object id.","required":true,"schema":{"type":"string","format":"uuid"}},"lastCursor":{"name":"last_cursor","in":"query","description":"Returns objects starting from a specific cursor.","required":false,"schema":{"type":"string"}},"filter":{"name":"filter","in":"query","description":"Filters objects returned.  \n    Should have the following shape: **field_1[COMPARATOR]:value_1,field_2[COMPARATOR]:value_2,...**  \n    Available comparators are **eq**, **neq**, **in**, **is**, **gt**, **gte**, **lt**, **lte**, **startsWith**, **like**, **ilike**.  \n    You can create more complex filters using conjunctions **or**, **and**, **not**.  \n    Default root conjunction is **and**.  \n    To filter **null** values use **field[is]:NULL** or **field[is]:NOT_NULL**  \n    To filter using **boolean** values use **field[eq]:true** or **field[eq]:false**","required":false,"schema":{"type":"string"},"examples":{"simple":{"value":"createdAt[gte]:\"2023-01-01\"","description":"A simple filter param"},"complex":{"value":"or(createdAt[gte]:\"2024-01-01\",createdAt[lte]:\"2023-01-01\",not(id[is]:NULL))","description":"A more complex filter param"}}},"depth":{"name":"depth","in":"query","description":"Limits the depth objects returned.","required":false,"schema":{"type":"integer","enum":[1,2]}},"orderBy":{"name":"order_by","in":"query","description":"Sorts objects returned.  \n    Should have the following shape: **field_name_1,field_name_2[DIRECTION_2],...**  \n    Available directions are **AscNullsFirst**, **AscNullsLast**, **DescNullsFirst**, **DescNullsLast**.  \n    Default direction is **AscNullsFirst**","required":false,"schema":{"type":"string"},"examples":{"simple":{"value":"createdAt","summary":"A simple order_by param"},"complex":{"value":"id[AscNullsFirst],createdAt[DescNullsLast]","summary":"A more complex order_by param"}}},"limit":{"name":"limit","in":"query","description":"Limits the number of objects returned.","required":false,"schema":{"type":"integer","minimum":0,"maximum":60,"default":60}}},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"statusCode":{"type":"number"},"message":{"type":"string"},"error":{"type":"string"}},"example":{"statusCode":400,"message":"error message","error":"Bad Request"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"statusCode":{"type":"number"},"message":{"type":"string"},"error":{"type":"string"}},"example":{"statusCode":401,"message":"Token invalid.","error":"Unauthorized"}}}}}}},"security":[{"bearerAuth":[]}],"externalDocs":{"description":"Find out more about **Twenty**","url":"https://twenty.com"},"paths":{"/open-api/metadata":{"get":{"tags":["General"],"summary":"Get Open Api Schema","operationId":"GetOpenApiSchema","servers":[{"url":"https://api.twenty.com"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"openapi":{"type":"string"},"info":{"type":"object","properties":{"title":{"type":"string"},"description":{"type":"string"},"termsOfService":{"type":"string"},"contact":{"type":"object","properties":{"email":{"type":"string"}}},"license":{"type":"object","properties":{"name":{"type":"string"},"url":{"type":"string"}}}}},"servers":{"type":"array","items":{"url":{"type":"string"},"description":{"type":"string"}}},"components":{"type":"object","properties":{"schemas":{"type":"object"},"parameters":{"type":"object"},"responses":{"type":"object"}}},"paths":{"type":"object"},"tags":{"type":"object"}}}}}}}}},"/objects":{"get":{"tags":["objects"],"summary":"Find Many objects","parameters":[{"$ref":"#/components/parameters/filter"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Object"}}}}},"example":{"data":{"objects":["ObjectObject1","ObjectObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["objects"],"summary":"Create One object","operationId":"createOneObject","requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createOneObject":{"$ref":"#/components/schemas/Object"}}}},"example":{"data":{"createOneObject":"ObjectObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/objects/{id}":{"get":{"tags":["objects"],"summary":"Find One object","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"object":{"$ref":"#/components/schemas/Object"}}}},"example":{"data":{"object":"ObjectObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["objects"],"summary":"Delete One object","operationId":"deleteOneObject","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"deleteOneObject":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}},"example":{"data":{"deleteOneObject":{"id":"ffe75ac3-9786-4846-b56f-640685c3631e"}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"patch":{"tags":["objects"],"summary":"Update One objects","operationId":"updateOneObject","parameters":[{"$ref":"#/components/parameters/idPath"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"updateOneObject":{"$ref":"#/components/schemas/Object"}}}},"example":{"data":{"updateOneObject":"ObjectObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/fields":{"get":{"tags":["fields"],"summary":"Find Many fields","parameters":[{"$ref":"#/components/parameters/filter"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"fields":{"type":"array","items":{"$ref":"#/components/schemas/Field"}}}}},"example":{"data":{"fields":["FieldObject1","FieldObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["fields"],"summary":"Create One field","operationId":"createOneField","requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Field"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createOneField":{"$ref":"#/components/schemas/Field"}}}},"example":{"data":{"createOneField":"FieldObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/fields/{id}":{"get":{"tags":["fields"],"summary":"Find One field","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"field":{"$ref":"#/components/schemas/Field"}}}},"example":{"data":{"field":"FieldObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["fields"],"summary":"Delete One field","operationId":"deleteOneField","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"deleteOneField":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}},"example":{"data":{"deleteOneField":{"id":"ffe75ac3-9786-4846-b56f-640685c3631e"}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"patch":{"tags":["fields"],"summary":"Update One fields","operationId":"updateOneField","parameters":[{"$ref":"#/components/parameters/idPath"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Field"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"updateOneField":{"$ref":"#/components/schemas/Field"}}}},"example":{"data":{"updateOneField":"FieldObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/relations":{"get":{"tags":["relations"],"summary":"Find Many relations","parameters":[{"$ref":"#/components/parameters/filter"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"relations":{"type":"array","items":{"$ref":"#/components/schemas/Relation"}}}}},"example":{"data":{"relations":["RelationObject1","RelationObject2","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["relations"],"summary":"Create One relation","operationId":"createOneRelation","requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Relation"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"createOneRelation":{"$ref":"#/components/schemas/Relation"}}}},"example":{"data":{"createOneRelation":"RelationObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/relations/{id}":{"get":{"tags":["relations"],"summary":"Find One relation","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"relation":{"$ref":"#/components/schemas/Relation"}}}},"example":{"data":{"relation":"RelationObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["relations"],"summary":"Delete One relation","operationId":"deleteOneRelation","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"deleteOneRelation":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}},"example":{"data":{"deleteOneRelation":{"id":"ffe75ac3-9786-4846-b56f-640685c3631e"}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"patch":{"tags":["relations"],"summary":"Update One relations","operationId":"updateOneRelation","parameters":[{"$ref":"#/components/parameters/idPath"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Relation"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"updateOneRelation":{"$ref":"#/components/schemas/Relation"}}}},"example":{"data":{"updateOneRelation":"RelationObject"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}}},"tags":[{"name":"placeholder"}]}