{"openapi":"3.0.3","info":{"title":"Twenty Api","description":"This is a **Twenty REST/API** playground based on the **OpenAPI 3.0 specification**.","termsOfService":"https://github.com/twentyhq/twenty?tab=coc-ov-file","contact":{"email":"felix@twenty.com"},"license":{"name":"AGPL-3.0","url":"https://github.com/twentyhq/twenty?tab=AGPL-3.0-1-ov-file#readme"},"version":"0.2.0"},"servers":[{"url":"https://api.twenty.com/rest/","description":"Production Development"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Enter the token with the `Bearer: ` prefix, e.g. \"Bearer abcde12345\"."}},"schemas":{"ActivityTarget":{"type":"object","description":"An activity target","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"activity":{"description":"ActivityTarget activity"},"activityId":{"type":"string","description":"ActivityTarget activity id foreign key"},"person":{"description":"ActivityTarget person"},"personId":{"type":"string","description":"ActivityTarget person id foreign key"},"company":{"description":"ActivityTarget company"},"companyId":{"type":"string","description":"ActivityTarget company id foreign key"},"opportunity":{"description":"ActivityTarget opportunity"},"opportunityId":{"type":"string","description":"ActivityTarget opportunity id foreign key"}},"example":{}},"Activity":{"type":"object","description":"An activity","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"title":{"type":"string","description":"Activity title"},"body":{"type":"string","description":"Activity body"},"type":{"type":"string","description":"Activity type"},"reminderAt":{"type":"string","description":"Activity reminder date"},"dueAt":{"type":"string","description":"Activity due date"},"completedAt":{"type":"string","description":"Activity completion date"},"activityTargets":{"type":"array","items":{"$ref":"#/components/schemas/ActivityTarget"},"description":"Activity targets"},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"},"description":"Activity attachments"},"comments":{"type":"array","items":{"$ref":"#/components/schemas/Comment"},"description":"Activity comments"},"author":{"description":"Activity author"},"authorId":{"type":"string","description":"Activity author id foreign key"},"assignee":{"description":"Activity assignee"},"assigneeId":{"type":"string","description":"Activity assignee id foreign key"}},"example":{"authorId":""},"required":["authorId"]},"ApiKey":{"type":"object","description":"An api key","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"name":{"type":"string","description":"ApiKey name"},"expiresAt":{"type":"string","description":"ApiKey expiration date"},"revokedAt":{"type":"string","description":"ApiKey revocation date"}},"example":{"expiresAt":""},"required":["expiresAt"]},"Attachment":{"type":"object","description":"An attachment","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"name":{"type":"string","description":"Attachment name"},"fullPath":{"type":"string","description":"Attachment full path"},"type":{"type":"string","description":"Attachment type"},"author":{"description":"Attachment author"},"authorId":{"type":"string","description":"Attachment author id foreign key"},"activity":{"description":"Attachment activity"},"activityId":{"type":"string","description":"Attachment activity id foreign key"},"person":{"description":"Attachment person"},"personId":{"type":"string","description":"Attachment person id foreign key"},"company":{"description":"Attachment company"},"companyId":{"type":"string","description":"Attachment company id foreign key"},"opportunity":{"description":"Attachment opportunity"},"opportunityId":{"type":"string","description":"Attachment opportunity id foreign key"}},"example":{"authorId":""},"required":["authorId"]},"Blocklist":{"type":"object","description":"Blocklist","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"handle":{"type":"string","description":"Handle"},"workspaceMember":{"description":"WorkspaceMember"},"workspaceMemberId":{"type":"string","description":"WorkspaceMember id foreign key"}},"example":{"workspaceMemberId":""},"required":["workspaceMemberId"]},"Comment":{"type":"object","description":"A comment","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"body":{"type":"string","description":"Comment body"},"author":{"description":"Comment author"},"authorId":{"type":"string","description":"Comment author id foreign key"},"activity":{"description":"Comment activity"},"activityId":{"type":"string","description":"Comment activity id foreign key"}},"example":{"authorId":"","activityId":""},"required":["authorId","activityId"]},"Company":{"type":"object","description":"A company","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"name":{"type":"string","description":"The company name"},"domainName":{"type":"string","description":"The company website URL. We use this url to fetch the company icon"},"address":{"type":"string","description":"The company address"},"employees":{"type":"number","description":"Number of employees in the company"},"linkedinLink":{"type":"object","properties":{"url":{"type":"string"},"label":{"type":"string"}},"description":"The company Linkedin account"},"xLink":{"type":"object","properties":{"url":{"type":"string"},"label":{"type":"string"}},"description":"The company Twitter/X account"},"annualRecurringRevenue":{"type":"object","properties":{"amountMicros":{"type":"string"},"currencyCode":{"type":"string"}},"description":"Annual Recurring Revenue: The actual or estimated annual revenue of the company"},"idealCustomerProfile":{"type":"boolean","description":"Ideal Customer Profile:  Indicates whether the company is the most suitable and valuable customer for you"},"position":{"type":"number","description":"Company record position"},"people":{"type":"array","items":{"$ref":"#/components/schemas/Person"},"description":"People linked to the company."},"accountOwner":{"description":"Your team member responsible for managing the company account"},"accountOwnerId":{"type":"string","description":"Your team member responsible for managing the company account id foreign key"},"activityTargets":{"type":"array","items":{"$ref":"#/components/schemas/ActivityTarget"},"description":"Activities tied to the company"},"opportunities":{"type":"array","items":{"$ref":"#/components/schemas/Opportunity"},"description":"Opportunities linked to the company."},"favorites":{"type":"array","items":{"$ref":"#/components/schemas/Favorite"},"description":"Favorites linked to the company"},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"},"description":"Attachments linked to the company."}},"example":{}},"ConnectedAccount":{"type":"object","description":"A connected account","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"handle":{"type":"string","description":"The account handle (email, username, phone number, etc.)"},"provider":{"type":"string","description":"The account provider"},"accessToken":{"type":"string","description":"Messaging provider access token"},"refreshToken":{"type":"string","description":"Messaging provider refresh token"},"accountOwner":{"description":"Account Owner"},"accountOwnerId":{"type":"string","description":"Account Owner id foreign key"},"lastSyncHistoryId":{"type":"string","description":"Last sync history ID"},"messageChannels":{"type":"array","items":{"$ref":"#/components/schemas/MessageChannel"},"description":"Message Channel"}},"example":{"accountOwnerId":""},"required":["accountOwnerId"]},"Favorite":{"type":"object","description":"A favorite","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"position":{"type":"number","description":"Favorite position"},"workspaceMember":{"description":"Favorite workspace member"},"workspaceMemberId":{"type":"string","description":"Favorite workspace member id foreign key"},"person":{"description":"Favorite person"},"personId":{"type":"string","description":"Favorite person id foreign key"},"company":{"description":"Favorite company"},"companyId":{"type":"string","description":"Favorite company id foreign key"},"opportunity":{"description":"Favorite opportunity"},"opportunityId":{"type":"string","description":"Favorite opportunity id foreign key"}},"example":{"workspaceMemberId":""},"required":["workspaceMemberId"]},"Opportunity":{"type":"object","description":"An opportunity","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"name":{"type":"string","description":"The opportunity name"},"amount":{"type":"object","properties":{"amountMicros":{"type":"string"},"currencyCode":{"type":"string"}},"description":"Opportunity amount"},"closeDate":{"type":"string","description":"Opportunity close date"},"probability":{"type":"string","description":"Opportunity probability"},"stage":{"type":"string","description":"Opportunity stage"},"position":{"type":"number","description":"Opportunity record position"},"pipelineStep":{"description":"Opportunity pipeline step"},"pipelineStepId":{"type":"string","description":"Opportunity pipeline step id foreign key"},"pointOfContact":{"description":"Opportunity point of contact"},"pointOfContactId":{"type":"string","description":"Opportunity point of contact id foreign key"},"company":{"description":"Opportunity company"},"companyId":{"type":"string","description":"Opportunity company id foreign key"},"favorites":{"type":"array","items":{"$ref":"#/components/schemas/Favorite"},"description":"Favorites linked to the opportunity"},"activityTargets":{"type":"array","items":{"$ref":"#/components/schemas/ActivityTarget"},"description":"Activities tied to the opportunity"},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"},"description":"Attachments linked to the opportunity."}},"example":{}},"Person":{"type":"object","description":"A person","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"name":{"type":"object","properties":{"lastName":{"type":"string"},"firstName":{"type":"string"}},"description":"Contact’s name"},"email":{"type":"string","description":"Contact’s Email"},"linkedinLink":{"type":"object","properties":{"url":{"type":"string"},"label":{"type":"string"}},"description":"Contact’s Linkedin account"},"xLink":{"type":"object","properties":{"url":{"type":"string"},"label":{"type":"string"}},"description":"Contact’s X/Twitter account"},"jobTitle":{"type":"string","description":"Contact’s job title"},"phone":{"type":"string","description":"Contact’s phone number"},"city":{"type":"string","description":"Contact’s city"},"avatarUrl":{"type":"string","description":"Contact’s avatar"},"position":{"type":"number","description":"Person record Position"},"company":{"description":"Contact’s company"},"companyId":{"type":"string","description":"Contact’s company id foreign key"},"pointOfContactForOpportunities":{"type":"array","items":{"$ref":"#/components/schemas/Opportunity"},"description":"Point of Contact for Opportunities"},"activityTargets":{"type":"array","items":{"$ref":"#/components/schemas/ActivityTarget"},"description":"Activities tied to the contact"},"favorites":{"type":"array","items":{"$ref":"#/components/schemas/Favorite"},"description":"Favorites linked to the contact"},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"},"description":"Attachments linked to the contact."},"messageParticipants":{"type":"array","items":{"$ref":"#/components/schemas/MessageParticipant"},"description":"Message Participants"}},"example":{}},"PipelineStep":{"type":"object","description":"A pipeline step","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"name":{"type":"string","description":"Pipeline Step name"},"color":{"type":"string","description":"Pipeline Step color"},"position":{"type":"number","description":"Pipeline Step position"},"opportunities":{"type":"array","items":{"$ref":"#/components/schemas/Opportunity"},"description":"Opportunities linked to the step."}},"example":{}},"ViewField":{"type":"object","description":"(System) View Fields","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"fieldMetadataId":{"type":"string","description":"View Field target field"},"isVisible":{"type":"boolean","description":"View Field visibility"},"size":{"type":"number","description":"View Field size"},"position":{"type":"number","description":"View Field position"},"view":{"description":"View Field related view"},"viewId":{"type":"string","description":"View Field related view id foreign key"}},"example":{"fieldMetadataId":""},"required":["fieldMetadataId"]},"ViewFilter":{"type":"object","description":"(System) View Filters","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"fieldMetadataId":{"type":"string","description":"View Filter target field"},"operand":{"type":"string","description":"View Filter operand"},"value":{"type":"string","description":"View Filter value"},"displayValue":{"type":"string","description":"View Filter Display Value"},"view":{"description":"View Filter related view"},"viewId":{"type":"string","description":"View Filter related view id foreign key"}},"example":{"fieldMetadataId":""},"required":["fieldMetadataId"]},"ViewSort":{"type":"object","description":"(System) View Sorts","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"fieldMetadataId":{"type":"string","description":"View Sort target field"},"direction":{"type":"string","description":"View Sort direction"},"view":{"description":"View Sort related view"},"viewId":{"type":"string","description":"View Sort related view id foreign key"}},"example":{"fieldMetadataId":""},"required":["fieldMetadataId"]},"View":{"type":"object","description":"(System) Views","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"name":{"type":"string","description":"View name"},"objectMetadataId":{"type":"string","description":"View target object"},"type":{"type":"string","description":"View type"},"key":{"type":"string","description":"View key"},"icon":{"type":"string","description":"View icon"},"position":{"type":"number","description":"View position"},"isCompact":{"type":"boolean","description":"Describes if the view is in compact mode"},"viewFields":{"type":"array","items":{"$ref":"#/components/schemas/ViewField"},"description":"View Fields"},"viewFilters":{"type":"array","items":{"$ref":"#/components/schemas/ViewFilter"},"description":"View Filters"},"viewSorts":{"type":"array","items":{"$ref":"#/components/schemas/ViewSort"},"description":"View Sorts"}},"example":{"objectMetadataId":""},"required":["objectMetadataId"]},"Webhook":{"type":"object","description":"A webhook","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"targetUrl":{"type":"string","description":"Webhook target url"},"operation":{"type":"string","description":"Webhook operation"}},"example":{}},"WorkspaceMember":{"type":"object","description":"A workspace member","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"name":{"type":"object","properties":{"lastName":{"type":"string"},"firstName":{"type":"string"}},"description":"Workspace member name"},"colorScheme":{"type":"string","description":"Preferred color scheme"},"locale":{"type":"string","description":"Preferred language"},"avatarUrl":{"type":"string","description":"Workspace member avatar"},"userEmail":{"type":"string","description":"Related user email address"},"userId":{"type":"string","description":"Associated User Id"},"authoredActivities":{"type":"array","items":{"$ref":"#/components/schemas/Activity"},"description":"Activities created by the workspace member"},"assignedActivities":{"type":"array","items":{"$ref":"#/components/schemas/Activity"},"description":"Activities assigned to the workspace member"},"favorites":{"type":"array","items":{"$ref":"#/components/schemas/Favorite"},"description":"Favorites linked to the workspace member"},"accountOwnerForCompanies":{"type":"array","items":{"$ref":"#/components/schemas/Company"},"description":"Account owner for companies"},"authoredAttachments":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"},"description":"Attachments created by the workspace member"},"authoredComments":{"type":"array","items":{"$ref":"#/components/schemas/Comment"},"description":"Authored comments"},"connectedAccounts":{"type":"array","items":{"$ref":"#/components/schemas/ConnectedAccount"},"description":"Connected accounts"},"messageParticipants":{"type":"array","items":{"$ref":"#/components/schemas/MessageParticipant"},"description":"Message Participants"},"blocklist":{"type":"array","items":{"$ref":"#/components/schemas/Blocklist"},"description":"Blocklisted handles"}},"example":{"userId":""},"required":["userId"]},"MessageThread":{"type":"object","description":"Message Thread","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"messages":{"type":"array","items":{"$ref":"#/components/schemas/Message"},"description":"Messages from the thread."},"messageChannelMessageAssociations":{"type":"array","items":{"$ref":"#/components/schemas/MessageChannelMessageAssociation"},"description":"Messages from the channel."}},"example":{}},"Message":{"type":"object","description":"Message","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"headerMessageId":{"type":"string","description":"Message id from the message header"},"messageThread":{"description":"Message Thread Id"},"messageThreadId":{"type":"string","description":"Message Thread Id id foreign key"},"direction":{"type":"string","description":"Message Direction"},"subject":{"type":"string","description":"Subject"},"text":{"type":"string","description":"Text"},"receivedAt":{"type":"string","description":"The date the message was received"},"messageParticipants":{"type":"array","items":{"$ref":"#/components/schemas/MessageParticipant"},"description":"Message Participants"},"messageChannelMessageAssociations":{"type":"array","items":{"$ref":"#/components/schemas/MessageChannelMessageAssociation"},"description":"Messages from the channel."}},"example":{}},"MessageChannel":{"type":"object","description":"Message Channels","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"visibility":{"type":"string","description":"Visibility"},"handle":{"type":"string","description":"Handle"},"connectedAccount":{"description":"Connected Account"},"connectedAccountId":{"type":"string","description":"Connected Account id foreign key"},"type":{"type":"string","description":"Channel Type"},"isContactAutoCreationEnabled":{"type":"boolean","description":"Is Contact Auto Creation Enabled"},"messageChannelMessageAssociations":{"type":"array","items":{"$ref":"#/components/schemas/MessageChannelMessageAssociation"},"description":"Messages from the channel."}},"example":{"connectedAccountId":""},"required":["connectedAccountId"]},"MessageParticipant":{"type":"object","description":"Message Participants","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"message":{"description":"Message"},"messageId":{"type":"string","description":"Message id foreign key"},"role":{"type":"string","description":"Role"},"handle":{"type":"string","description":"Handle"},"displayName":{"type":"string","description":"Display Name"},"person":{"description":"Person"},"personId":{"type":"string","description":"Person id foreign key"},"workspaceMember":{"description":"Workspace member"},"workspaceMemberId":{"type":"string","description":"Workspace member id foreign key"}},"example":{"messageId":""},"required":["messageId"]},"MessageChannelMessageAssociation":{"type":"object","description":"Message Synced with a Message Channel","properties":{"id":{"type":"string","description":"Id"},"createdAt":{"type":"string","description":"Creation date"},"updatedAt":{"type":"string","description":"Update date"},"messageChannel":{"description":"Message Channel Id"},"messageChannelId":{"type":"string","description":"Message Channel Id id foreign key"},"message":{"description":"Message Id"},"messageId":{"type":"string","description":"Message Id id foreign key"},"messageExternalId":{"type":"string","description":"Message id from the messaging provider"},"messageThread":{"description":"Message Thread Id"},"messageThreadId":{"type":"string","description":"Message Thread Id id foreign key"},"messageThreadExternalId":{"type":"string","description":"Thread id from the messaging provider"}},"example":{}}},"parameters":{"idPath":{"name":"id","in":"path","description":"Object id.","required":true,"schema":{"type":"string","format":"uuid"}},"lastCursor":{"name":"last_cursor","in":"query","description":"Returns objects starting from a specific cursor.","required":false,"schema":{"type":"string"}},"filter":{"name":"filter","in":"query","description":"Filters objects returned.  \n    Should have the following shape: **field_1[COMPARATOR]:value_1,field_2[COMPARATOR]:value_2,...**  \n    Available comparators are **eq**, **neq**, **in**, **is**, **gt**, **gte**, **lt**, **lte**, **startsWith**, **like**, **ilike**.  \n    You can create more complex filters using conjunctions **or**, **and**, **not**.  \n    Default root conjunction is **and**.  \n    To filter **null** values use **field[is]:NULL** or **field[is]:NOT_NULL**  \n    To filter using **boolean** values use **field[eq]:true** or **field[eq]:false**","required":false,"schema":{"type":"string"},"examples":{"simple":{"value":"createdAt[gte]:\"2023-01-01\"","description":"A simple filter param"},"complex":{"value":"or(createdAt[gte]:\"2024-01-01\",createdAt[lte]:\"2023-01-01\",not(id[is]:NULL))","description":"A more complex filter param"}}},"depth":{"name":"depth","in":"query","description":"Limits the depth objects returned.","required":false,"schema":{"type":"integer","enum":[1,2]}},"orderBy":{"name":"order_by","in":"query","description":"Sorts objects returned.  \n    Should have the following shape: **field_name_1,field_name_2[DIRECTION_2],...**  \n    Available directions are **AscNullsFirst**, **AscNullsLast**, **DescNullsFirst**, **DescNullsLast**.  \n    Default direction is **AscNullsFirst**","required":false,"schema":{"type":"string"},"examples":{"simple":{"value":"createdAt","summary":"A simple order_by param"},"complex":{"value":"id[AscNullsFirst],createdAt[DescNullsLast]","summary":"A more complex order_by param"}}},"limit":{"name":"limit","in":"query","description":"Limits the number of objects returned.","required":false,"schema":{"type":"integer","minimum":0,"maximum":60,"default":60}}},"responses":{"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}},"security":[{"bearerAuth":[]}],"externalDocs":{"description":"Find out more about **Twenty**","url":"https://twenty.com"},"paths":{"/open-api/core":{"get":{"tags":["General"],"summary":"Get Open Api Schema","operationId":"GetOpenApiSchema","servers":[{"url":"https://api.twenty.com/"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"openapi":{"type":"string"},"info":{"type":"object","properties":{"title":{"type":"string"},"description":{"type":"string"},"termsOfService":{"type":"string"},"contact":{"type":"object","properties":{"email":{"type":"string"}}},"license":{"type":"object","properties":{"name":{"type":"string"},"url":{"type":"string"}}}}},"servers":{"type":"array","items":{"url":{"type":"string"},"description":{"type":"string"}}},"components":{"type":"object","properties":{"schemas":{"type":"object"},"parameters":{"type":"object"},"responses":{"type":"object"}}},"paths":{"type":"object"},"tags":{"type":"object"}}}}}}}}},"/activityTargets":{"get":{"tags":["activityTargets"],"summary":"Find Many activityTargets","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **activityTargets**","operationId":"findManyActivityTargets","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"activityTargets":{"type":"array","items":{"$ref":"#/components/schemas/ActivityTarget"}}}}},"example":{"data":{"activityTargets":["ActivityTargetObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["activityTargets"],"summary":"Create One activityTarget","operationId":"createOneActivityTarget","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityTarget"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"activityTarget":{"$ref":"#/components/schemas/ActivityTarget"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/activityTargets/{id}":{"get":{"tags":["activityTargets"],"summary":"Find One activityTarget","description":"**depth** can be provided to request your **activityTarget**","operationId":"findOneActivityTarget","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"activityTarget":{"$ref":"#/components/schemas/ActivityTarget"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["activityTargets"],"summary":"Delete One activityTarget","operationId":"deleteOneActivityTarget","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"activityTarget":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["activityTargets"],"summary":"Update One activityTargets","operationId":"UpdateOneActivityTarget","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityTarget"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"activityTarget":{"$ref":"#/components/schemas/ActivityTarget"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/activities":{"get":{"tags":["activities"],"summary":"Find Many activities","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **activities**","operationId":"findManyActivities","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"activities":{"type":"array","items":{"$ref":"#/components/schemas/Activity"}}}}},"example":{"data":{"activities":["ActivityObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["activities"],"summary":"Create One activity","operationId":"createOneActivity","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Activity"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"activity":{"$ref":"#/components/schemas/Activity"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/activities/{id}":{"get":{"tags":["activities"],"summary":"Find One activity","description":"**depth** can be provided to request your **activity**","operationId":"findOneActivity","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"activity":{"$ref":"#/components/schemas/Activity"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["activities"],"summary":"Delete One activity","operationId":"deleteOneActivity","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"activity":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["activities"],"summary":"Update One activities","operationId":"UpdateOneActivity","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Activity"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"activity":{"$ref":"#/components/schemas/Activity"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/apiKeys":{"get":{"tags":["apiKeys"],"summary":"Find Many apiKeys","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **apiKeys**","operationId":"findManyApiKeys","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"apiKeys":{"type":"array","items":{"$ref":"#/components/schemas/ApiKey"}}}}},"example":{"data":{"apiKeys":["ApiKeyObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["apiKeys"],"summary":"Create One apiKey","operationId":"createOneApiKey","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKey"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"apiKey":{"$ref":"#/components/schemas/ApiKey"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/apiKeys/{id}":{"get":{"tags":["apiKeys"],"summary":"Find One apiKey","description":"**depth** can be provided to request your **apiKey**","operationId":"findOneApiKey","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"apiKey":{"$ref":"#/components/schemas/ApiKey"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["apiKeys"],"summary":"Delete One apiKey","operationId":"deleteOneApiKey","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"apiKey":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["apiKeys"],"summary":"Update One apiKeys","operationId":"UpdateOneApiKey","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKey"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"apiKey":{"$ref":"#/components/schemas/ApiKey"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/attachments":{"get":{"tags":["attachments"],"summary":"Find Many attachments","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **attachments**","operationId":"findManyAttachments","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"attachments":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"}}}}},"example":{"data":{"attachments":["AttachmentObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["attachments"],"summary":"Create One attachment","operationId":"createOneAttachment","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Attachment"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"attachment":{"$ref":"#/components/schemas/Attachment"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/attachments/{id}":{"get":{"tags":["attachments"],"summary":"Find One attachment","description":"**depth** can be provided to request your **attachment**","operationId":"findOneAttachment","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"attachment":{"$ref":"#/components/schemas/Attachment"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["attachments"],"summary":"Delete One attachment","operationId":"deleteOneAttachment","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"attachment":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["attachments"],"summary":"Update One attachments","operationId":"UpdateOneAttachment","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Attachment"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"attachment":{"$ref":"#/components/schemas/Attachment"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/blocklists":{"get":{"tags":["blocklists"],"summary":"Find Many blocklists","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **blocklists**","operationId":"findManyBlocklists","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"blocklists":{"type":"array","items":{"$ref":"#/components/schemas/Blocklist"}}}}},"example":{"data":{"blocklists":["BlocklistObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["blocklists"],"summary":"Create One blocklist","operationId":"createOneBlocklist","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Blocklist"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"blocklist":{"$ref":"#/components/schemas/Blocklist"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/blocklists/{id}":{"get":{"tags":["blocklists"],"summary":"Find One blocklist","description":"**depth** can be provided to request your **blocklist**","operationId":"findOneBlocklist","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"blocklist":{"$ref":"#/components/schemas/Blocklist"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["blocklists"],"summary":"Delete One blocklist","operationId":"deleteOneBlocklist","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"blocklist":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["blocklists"],"summary":"Update One blocklists","operationId":"UpdateOneBlocklist","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Blocklist"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"blocklist":{"$ref":"#/components/schemas/Blocklist"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/comments":{"get":{"tags":["comments"],"summary":"Find Many comments","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **comments**","operationId":"findManyComments","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"comments":{"type":"array","items":{"$ref":"#/components/schemas/Comment"}}}}},"example":{"data":{"comments":["CommentObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["comments"],"summary":"Create One comment","operationId":"createOneComment","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comment"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"comment":{"$ref":"#/components/schemas/Comment"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/comments/{id}":{"get":{"tags":["comments"],"summary":"Find One comment","description":"**depth** can be provided to request your **comment**","operationId":"findOneComment","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"comment":{"$ref":"#/components/schemas/Comment"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["comments"],"summary":"Delete One comment","operationId":"deleteOneComment","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"comment":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["comments"],"summary":"Update One comments","operationId":"UpdateOneComment","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comment"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"comment":{"$ref":"#/components/schemas/Comment"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/companies":{"get":{"tags":["companies"],"summary":"Find Many companies","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **companies**","operationId":"findManyCompanies","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"companies":{"type":"array","items":{"$ref":"#/components/schemas/Company"}}}}},"example":{"data":{"companies":["CompanyObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["companies"],"summary":"Create One company","operationId":"createOneCompany","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Company"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"company":{"$ref":"#/components/schemas/Company"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/companies/{id}":{"get":{"tags":["companies"],"summary":"Find One company","description":"**depth** can be provided to request your **company**","operationId":"findOneCompany","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"company":{"$ref":"#/components/schemas/Company"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["companies"],"summary":"Delete One company","operationId":"deleteOneCompany","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"company":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["companies"],"summary":"Update One companies","operationId":"UpdateOneCompany","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Company"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"company":{"$ref":"#/components/schemas/Company"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/connectedAccounts":{"get":{"tags":["connectedAccounts"],"summary":"Find Many connectedAccounts","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **connectedAccounts**","operationId":"findManyConnectedAccounts","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"connectedAccounts":{"type":"array","items":{"$ref":"#/components/schemas/ConnectedAccount"}}}}},"example":{"data":{"connectedAccounts":["ConnectedAccountObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["connectedAccounts"],"summary":"Create One connectedAccount","operationId":"createOneConnectedAccount","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectedAccount"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"connectedAccount":{"$ref":"#/components/schemas/ConnectedAccount"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/connectedAccounts/{id}":{"get":{"tags":["connectedAccounts"],"summary":"Find One connectedAccount","description":"**depth** can be provided to request your **connectedAccount**","operationId":"findOneConnectedAccount","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"connectedAccount":{"$ref":"#/components/schemas/ConnectedAccount"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["connectedAccounts"],"summary":"Delete One connectedAccount","operationId":"deleteOneConnectedAccount","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"connectedAccount":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["connectedAccounts"],"summary":"Update One connectedAccounts","operationId":"UpdateOneConnectedAccount","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectedAccount"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"connectedAccount":{"$ref":"#/components/schemas/ConnectedAccount"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/favorites":{"get":{"tags":["favorites"],"summary":"Find Many favorites","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **favorites**","operationId":"findManyFavorites","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"favorites":{"type":"array","items":{"$ref":"#/components/schemas/Favorite"}}}}},"example":{"data":{"favorites":["FavoriteObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["favorites"],"summary":"Create One favorite","operationId":"createOneFavorite","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Favorite"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"favorite":{"$ref":"#/components/schemas/Favorite"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/favorites/{id}":{"get":{"tags":["favorites"],"summary":"Find One favorite","description":"**depth** can be provided to request your **favorite**","operationId":"findOneFavorite","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"favorite":{"$ref":"#/components/schemas/Favorite"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["favorites"],"summary":"Delete One favorite","operationId":"deleteOneFavorite","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"favorite":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["favorites"],"summary":"Update One favorites","operationId":"UpdateOneFavorite","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Favorite"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"favorite":{"$ref":"#/components/schemas/Favorite"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/opportunities":{"get":{"tags":["opportunities"],"summary":"Find Many opportunities","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **opportunities**","operationId":"findManyOpportunities","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"opportunities":{"type":"array","items":{"$ref":"#/components/schemas/Opportunity"}}}}},"example":{"data":{"opportunities":["OpportunityObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["opportunities"],"summary":"Create One opportunity","operationId":"createOneOpportunity","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Opportunity"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"opportunity":{"$ref":"#/components/schemas/Opportunity"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/opportunities/{id}":{"get":{"tags":["opportunities"],"summary":"Find One opportunity","description":"**depth** can be provided to request your **opportunity**","operationId":"findOneOpportunity","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"opportunity":{"$ref":"#/components/schemas/Opportunity"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["opportunities"],"summary":"Delete One opportunity","operationId":"deleteOneOpportunity","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"opportunity":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["opportunities"],"summary":"Update One opportunities","operationId":"UpdateOneOpportunity","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Opportunity"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"opportunity":{"$ref":"#/components/schemas/Opportunity"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/people":{"get":{"tags":["people"],"summary":"Find Many people","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **people**","operationId":"findManyPeople","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"people":{"type":"array","items":{"$ref":"#/components/schemas/Person"}}}}},"example":{"data":{"people":["PersonObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["people"],"summary":"Create One person","operationId":"createOnePerson","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Person"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"person":{"$ref":"#/components/schemas/Person"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/people/{id}":{"get":{"tags":["people"],"summary":"Find One person","description":"**depth** can be provided to request your **person**","operationId":"findOnePerson","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"person":{"$ref":"#/components/schemas/Person"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["people"],"summary":"Delete One person","operationId":"deleteOnePerson","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"person":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["people"],"summary":"Update One people","operationId":"UpdateOnePerson","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Person"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"person":{"$ref":"#/components/schemas/Person"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/pipelineSteps":{"get":{"tags":["pipelineSteps"],"summary":"Find Many pipelineSteps","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **pipelineSteps**","operationId":"findManyPipelineSteps","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"pipelineSteps":{"type":"array","items":{"$ref":"#/components/schemas/PipelineStep"}}}}},"example":{"data":{"pipelineSteps":["PipelineStepObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["pipelineSteps"],"summary":"Create One pipelineStep","operationId":"createOnePipelineStep","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PipelineStep"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"pipelineStep":{"$ref":"#/components/schemas/PipelineStep"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/pipelineSteps/{id}":{"get":{"tags":["pipelineSteps"],"summary":"Find One pipelineStep","description":"**depth** can be provided to request your **pipelineStep**","operationId":"findOnePipelineStep","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"pipelineStep":{"$ref":"#/components/schemas/PipelineStep"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["pipelineSteps"],"summary":"Delete One pipelineStep","operationId":"deleteOnePipelineStep","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"pipelineStep":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["pipelineSteps"],"summary":"Update One pipelineSteps","operationId":"UpdateOnePipelineStep","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PipelineStep"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"pipelineStep":{"$ref":"#/components/schemas/PipelineStep"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/viewFields":{"get":{"tags":["viewFields"],"summary":"Find Many viewFields","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **viewFields**","operationId":"findManyViewFields","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"viewFields":{"type":"array","items":{"$ref":"#/components/schemas/ViewField"}}}}},"example":{"data":{"viewFields":["ViewFieldObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["viewFields"],"summary":"Create One viewField","operationId":"createOneViewField","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewField"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"viewField":{"$ref":"#/components/schemas/ViewField"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/viewFields/{id}":{"get":{"tags":["viewFields"],"summary":"Find One viewField","description":"**depth** can be provided to request your **viewField**","operationId":"findOneViewField","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"viewField":{"$ref":"#/components/schemas/ViewField"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["viewFields"],"summary":"Delete One viewField","operationId":"deleteOneViewField","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"viewField":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["viewFields"],"summary":"Update One viewFields","operationId":"UpdateOneViewField","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewField"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"viewField":{"$ref":"#/components/schemas/ViewField"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/viewFilters":{"get":{"tags":["viewFilters"],"summary":"Find Many viewFilters","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **viewFilters**","operationId":"findManyViewFilters","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"viewFilters":{"type":"array","items":{"$ref":"#/components/schemas/ViewFilter"}}}}},"example":{"data":{"viewFilters":["ViewFilterObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["viewFilters"],"summary":"Create One viewFilter","operationId":"createOneViewFilter","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewFilter"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"viewFilter":{"$ref":"#/components/schemas/ViewFilter"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/viewFilters/{id}":{"get":{"tags":["viewFilters"],"summary":"Find One viewFilter","description":"**depth** can be provided to request your **viewFilter**","operationId":"findOneViewFilter","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"viewFilter":{"$ref":"#/components/schemas/ViewFilter"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["viewFilters"],"summary":"Delete One viewFilter","operationId":"deleteOneViewFilter","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"viewFilter":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["viewFilters"],"summary":"Update One viewFilters","operationId":"UpdateOneViewFilter","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewFilter"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"viewFilter":{"$ref":"#/components/schemas/ViewFilter"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/viewSorts":{"get":{"tags":["viewSorts"],"summary":"Find Many viewSorts","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **viewSorts**","operationId":"findManyViewSorts","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"viewSorts":{"type":"array","items":{"$ref":"#/components/schemas/ViewSort"}}}}},"example":{"data":{"viewSorts":["ViewSortObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["viewSorts"],"summary":"Create One viewSort","operationId":"createOneViewSort","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewSort"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"viewSort":{"$ref":"#/components/schemas/ViewSort"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/viewSorts/{id}":{"get":{"tags":["viewSorts"],"summary":"Find One viewSort","description":"**depth** can be provided to request your **viewSort**","operationId":"findOneViewSort","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"viewSort":{"$ref":"#/components/schemas/ViewSort"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["viewSorts"],"summary":"Delete One viewSort","operationId":"deleteOneViewSort","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"viewSort":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["viewSorts"],"summary":"Update One viewSorts","operationId":"UpdateOneViewSort","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewSort"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"viewSort":{"$ref":"#/components/schemas/ViewSort"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/views":{"get":{"tags":["views"],"summary":"Find Many views","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **views**","operationId":"findManyViews","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"views":{"type":"array","items":{"$ref":"#/components/schemas/View"}}}}},"example":{"data":{"views":["ViewObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["views"],"summary":"Create One view","operationId":"createOneView","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/View"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"view":{"$ref":"#/components/schemas/View"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/views/{id}":{"get":{"tags":["views"],"summary":"Find One view","description":"**depth** can be provided to request your **view**","operationId":"findOneView","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"view":{"$ref":"#/components/schemas/View"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["views"],"summary":"Delete One view","operationId":"deleteOneView","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"view":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["views"],"summary":"Update One views","operationId":"UpdateOneView","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/View"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"view":{"$ref":"#/components/schemas/View"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/webhooks":{"get":{"tags":["webhooks"],"summary":"Find Many webhooks","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **webhooks**","operationId":"findManyWebhooks","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"webhooks":{"type":"array","items":{"$ref":"#/components/schemas/Webhook"}}}}},"example":{"data":{"webhooks":["WebhookObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["webhooks"],"summary":"Create One webhook","operationId":"createOneWebhook","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"webhook":{"$ref":"#/components/schemas/Webhook"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/webhooks/{id}":{"get":{"tags":["webhooks"],"summary":"Find One webhook","description":"**depth** can be provided to request your **webhook**","operationId":"findOneWebhook","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"webhook":{"$ref":"#/components/schemas/Webhook"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["webhooks"],"summary":"Delete One webhook","operationId":"deleteOneWebhook","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"webhook":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["webhooks"],"summary":"Update One webhooks","operationId":"UpdateOneWebhook","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"webhook":{"$ref":"#/components/schemas/Webhook"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/workspaceMembers":{"get":{"tags":["workspaceMembers"],"summary":"Find Many workspaceMembers","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **workspaceMembers**","operationId":"findManyWorkspaceMembers","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"workspaceMembers":{"type":"array","items":{"$ref":"#/components/schemas/WorkspaceMember"}}}}},"example":{"data":{"workspaceMembers":["WorkspaceMemberObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["workspaceMembers"],"summary":"Create One workspaceMember","operationId":"createOneWorkspaceMember","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceMember"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"workspaceMember":{"$ref":"#/components/schemas/WorkspaceMember"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/workspaceMembers/{id}":{"get":{"tags":["workspaceMembers"],"summary":"Find One workspaceMember","description":"**depth** can be provided to request your **workspaceMember**","operationId":"findOneWorkspaceMember","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"workspaceMember":{"$ref":"#/components/schemas/WorkspaceMember"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["workspaceMembers"],"summary":"Delete One workspaceMember","operationId":"deleteOneWorkspaceMember","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"workspaceMember":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["workspaceMembers"],"summary":"Update One workspaceMembers","operationId":"UpdateOneWorkspaceMember","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceMember"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"workspaceMember":{"$ref":"#/components/schemas/WorkspaceMember"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/messageThreads":{"get":{"tags":["messageThreads"],"summary":"Find Many messageThreads","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **messageThreads**","operationId":"findManyMessageThreads","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"messageThreads":{"type":"array","items":{"$ref":"#/components/schemas/MessageThread"}}}}},"example":{"data":{"messageThreads":["MessageThreadObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["messageThreads"],"summary":"Create One messageThread","operationId":"createOneMessageThread","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageThread"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"messageThread":{"$ref":"#/components/schemas/MessageThread"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/messageThreads/{id}":{"get":{"tags":["messageThreads"],"summary":"Find One messageThread","description":"**depth** can be provided to request your **messageThread**","operationId":"findOneMessageThread","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"messageThread":{"$ref":"#/components/schemas/MessageThread"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["messageThreads"],"summary":"Delete One messageThread","operationId":"deleteOneMessageThread","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"messageThread":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["messageThreads"],"summary":"Update One messageThreads","operationId":"UpdateOneMessageThread","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageThread"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"messageThread":{"$ref":"#/components/schemas/MessageThread"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/messages":{"get":{"tags":["messages"],"summary":"Find Many messages","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **messages**","operationId":"findManyMessages","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"messages":{"type":"array","items":{"$ref":"#/components/schemas/Message"}}}}},"example":{"data":{"messages":["MessageObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["messages"],"summary":"Create One message","operationId":"createOneMessage","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"message":{"$ref":"#/components/schemas/Message"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/messages/{id}":{"get":{"tags":["messages"],"summary":"Find One message","description":"**depth** can be provided to request your **message**","operationId":"findOneMessage","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"message":{"$ref":"#/components/schemas/Message"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["messages"],"summary":"Delete One message","operationId":"deleteOneMessage","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"message":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["messages"],"summary":"Update One messages","operationId":"UpdateOneMessage","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"message":{"$ref":"#/components/schemas/Message"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/messageChannels":{"get":{"tags":["messageChannels"],"summary":"Find Many messageChannels","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **messageChannels**","operationId":"findManyMessageChannels","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"messageChannels":{"type":"array","items":{"$ref":"#/components/schemas/MessageChannel"}}}}},"example":{"data":{"messageChannels":["MessageChannelObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["messageChannels"],"summary":"Create One messageChannel","operationId":"createOneMessageChannel","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageChannel"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"messageChannel":{"$ref":"#/components/schemas/MessageChannel"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/messageChannels/{id}":{"get":{"tags":["messageChannels"],"summary":"Find One messageChannel","description":"**depth** can be provided to request your **messageChannel**","operationId":"findOneMessageChannel","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"messageChannel":{"$ref":"#/components/schemas/MessageChannel"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["messageChannels"],"summary":"Delete One messageChannel","operationId":"deleteOneMessageChannel","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"messageChannel":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["messageChannels"],"summary":"Update One messageChannels","operationId":"UpdateOneMessageChannel","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageChannel"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"messageChannel":{"$ref":"#/components/schemas/MessageChannel"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/messageParticipants":{"get":{"tags":["messageParticipants"],"summary":"Find Many messageParticipants","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **messageParticipants**","operationId":"findManyMessageParticipants","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"messageParticipants":{"type":"array","items":{"$ref":"#/components/schemas/MessageParticipant"}}}}},"example":{"data":{"messageParticipants":["MessageParticipantObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["messageParticipants"],"summary":"Create One messageParticipant","operationId":"createOneMessageParticipant","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageParticipant"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"messageParticipant":{"$ref":"#/components/schemas/MessageParticipant"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/messageParticipants/{id}":{"get":{"tags":["messageParticipants"],"summary":"Find One messageParticipant","description":"**depth** can be provided to request your **messageParticipant**","operationId":"findOneMessageParticipant","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"messageParticipant":{"$ref":"#/components/schemas/MessageParticipant"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"tags":["messageParticipants"],"summary":"Delete One messageParticipant","operationId":"deleteOneMessageParticipant","parameters":[{"$ref":"#/components/parameters/idPath"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"messageParticipant":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"put":{"tags":["messageParticipants"],"summary":"Update One messageParticipants","operationId":"UpdateOneMessageParticipant","parameters":[{"$ref":"#/components/parameters/idPath"},{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageParticipant"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"messageParticipant":{"$ref":"#/components/schemas/MessageParticipant"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/messageChannelMessageAssociations":{"get":{"tags":["messageChannelMessageAssociations"],"summary":"Find Many messageChannelMessageAssociations","description":"**order_by**, **filter**, **limit**, **depth** or **last_cursor** can be provided to request your **messageChannelMessageAssociations**","operationId":"findManyMessageChannelMessageAssociations","parameters":[{"$ref":"#/components/parameters/orderBy"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/lastCursor"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"messageChannelMessageAssociations":{"type":"array","items":{"$ref":"#/components/schemas/MessageChannelMessageAssociation"}}}}},"example":{"data":{"messageChannelMessageAssociations":["MessageChannelMessageAssociationObject","..."]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["messageChannelMessageAssociations"],"summary":"Create One messageChannelMessageAssociation","operationId":"createOneMessageChannelMessageAssociation","parameters":[{"$ref":"#/components/parameters/depth"}],"requestBody":{"description":"body","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageChannelMessageAssociation"}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"messageChannelMessageAssociation":{"$ref":"#/components/schemas/MessageChannelMessageAssociation"}}}}}}}},"400":{"$ref":"#/components/responses
[...]
