{
  "openapi": "3.0.0",
  "info": {
    "title": "Dropbox API Reference",
    "description": "The powerful, yet simple, Dropbox API allows you to manage and control content and team settings programmatically and extend Dropbox capabilities in new and powerful ways. This is a collection that includes requests to all endpoints in the Dropbox API. \n\nThe Dropbox API is divided in two groups of endpoints: User Endpoints and Business Endpoints. Operations that would most likely be executed by a user, such as file operations, are in the User Endpoints folder. Operations that would most likely be executed by a team administrator, such as adding users to groups, live in the Business Endpoints folder. \n\nIf you are new to Dropbox Business and Team Administration, please have a look at the [Dropobox Admin Guide](https://help.dropbox.com/guide/admin/how-to-get-started#dropbox-admin-guide). \n\nIf you want more information on how to use our API please refer to our [Developer Portal](https://www.dropbox.com/developers). \n\n# What's in the collection?\n\nThe endpoints are organized in the following folders:\n* account\n* auth\n* check\n* contacts\n* file_properties\n* file_requests\n* files\n* sharing\n* team\n* team_log\n* users\n\n# Authorization\n\n## OAuth 2.0 for API Access\nDropbox uses OAuth 2.0, an open specification, to authorize access to data. To get an OAuth token from Dropbox to enable Postman to access your Dropbox account via the API you’ll need to create a new app on the DBX Platform.\n\n## Creating an App on the DBX Platform\nNavigate to https://www.dropbox.com/developers/apps and select “Create app” \n1. Choose an API  \n2. Choose the type of access you need \n3. Give your app a name  \n4. Choose the Dropbox account that will own your app  \n\nFor reference, please use the [Dropbox OAuth guide](https://www.dropbox.com/lp/developers/reference/oauth-guide) \n\n## Generating an Access Token\nOnce you select “Create app” a page will load that displays information about your newly created app. To generate an access token scroll down to “OAuth 2” and click “Generate” beneath “Generated access token.” The token will display as a long string of characters. Copy this token for use with the Postman Collection.\n\n## Adding an Access Token to the requests\nIn the Postman client, click on the three dots to the right of the collection name to \"View more actions.\"\n\n![Screenshot of adding access token](https://www.dropbox.com/s/sfebu9ai76cbq39/Screen%20Shot%202020-10-28%20at%2012.50.56%20AM.png?raw=1)\n\nThen, click \"Edit.\"\n\nClick on the \"Variables\" tab and, in the row for the `access_token` variable, paste your access token in the `CURRENT VALUE` column. The default value is `your-access-token-here`.\n\n![Screenshot of adding access token](https://www.dropbox.com/s/ahnbxwe6oscjues/Screen%20Shot%202020-10-28%20at%2012.51.13%20AM.png?raw=1)\n\nFor information on sessions and variables in Postman see the blog post at https://blog.postman.com/sessions-faq/.\n\n# Notes\n* Dropbox also has a Postman Collection in the API Network to help administrators with team management workflows. It is called [Dropbox Team Admin Workflows](). \n\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.dropbox.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "account"
    },
    {
      "name": "auth"
    },
    {
      "name": "check"
    },
    {
      "name": "contacts"
    },
    {
      "name": "file_properties",
      "description": "This namespace contains helpers for property and template metadata endpoints.\n\nThese endpoints enable you to tag arbitrary key/value data to Dropbox files.\n\nThe most basic unit in this namespace is the :type:`PropertyField`. These fields encapsulate the actual key/value data.\n\nFields are added to a Dropbox file using a :type:`PropertyGroup`. Property groups contain a reference to a Dropbox file and a :type:`PropertyGroupTemplate`. Property groups are uniquely identified by the combination of their associated Dropbox file and template.\n\nThe :type:`PropertyGroupTemplate` is a way of restricting the possible key names and value types of the data within a property group. The possible key names and value types are explicitly enumerated using :type:`PropertyFieldTemplate` objects.\n\nYou can think of a property group template as a class definition for a particular key/value metadata object, and the property groups themselves as the instantiations of these objects.\n\nTemplates are owned either by a user/app pair or team/app pair. Templates and their associated properties can't be accessed by any app other than the app that created them, and even then, only when the app is linked with the owner of the template (either a user or team).\n\nUser-owned templates are accessed via the user-auth file_properties/templates/*_for_user endpoints, while team-owned templates are accessed via the team-auth file_properties/templates/*_for_team endpoints. Properties associated with either type of template can be accessed via the user-auth properties/* endpoints.\n\nFinally, properties can be accessed from a number of endpoints that return metadata, including `files/get_metadata`, and `files/list_folder`. Properties can also be added during upload, using `files/upload`.\n"
    },
    {
      "name": "file_requests",
      "description": "This namespace contains endpoints and data types for file request operations.\n"
    },
    {
      "name": "files",
      "description": "This namespace contains endpoints and data types for basic file operations.\n"
    },
    {
      "name": "sharing",
      "description": "This namespace contains endpoints and data types for creating and managing shared links and shared folders.\n"
    },
    {
      "name": "team"
    },
    {
      "name": "team > devices"
    },
    {
      "name": "team > groups"
    },
    {
      "name": "team > legal_holds"
    },
    {
      "name": "team > linked_apps"
    },
    {
      "name": "team > member_space_limits"
    },
    {
      "name": "team > members"
    },
    {
      "name": "team > namespaces"
    },
    {
      "name": "team > reports"
    },
    {
      "name": "team > team_folder"
    },
    {
      "name": "team_log"
    },
    {
      "name": "users",
      "description": "This namespace contains endpoints and data types for user management.\n"
    }
  ],
  "paths": {
    "/2/account/set_profile_photo": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "set_profile_photo",
        "description": "[set_profile_photo](https://www.dropbox.com/developers/documentation/http/documentation#account-set_profile_photo)\n\nscope: `account_info.write`\n\nSets a user's profile photo.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"photo\\\": {\\n        \\\".tag\\\": \\\"base64_data\\\", \\n        \\\"base64_data\\\": \\\"SW1hZ2UgZGF0YSBpbiBiYXNlNjQtZW5jb2RlZCBieXRlcy4gTm90IGEgdmFsaWQgZXhhbXBsZS4=\\\"\\n    }\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "profile_photo_url": "https://dl-web.dropbox.com/account_photo/get/dbaphid%3AAAHWGmIXV3sUuOmBfTz0wPsiqHUpBWvv3ZA?vers=1556069330102&size=128x128"
                }
              }
            }
          }
        }
      }
    },
    "/2/auth/token/from_oauth1": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "token/from_oauth1",
        "description": "[token/from_oauth1](https://www.dropbox.com/developers/documentation/http/documentation#auth-token-from_oauth1)\n\nscope: `None`\n\nCreates an OAuth 2.0 access token from the supplied OAuth 1.0 access token.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"oauth1_token\\\": \\\"qievr8hamyg6ndck\\\", \\n    \\\"oauth1_token_secret\\\": \\\"qomoftv0472git7\\\"\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "oauth2_token": "9mCrkS7BIdAAAAAAAAAAHHS0TsSnpYvKQVtKdBnN5IuzhYOGblSgTcHgBFKFMmFn"
                }
              }
            }
          }
        }
      }
    },
    "/2/auth/token/revoke": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "token/revoke",
        "description": "[token/revoke](https://www.dropbox.com/developers/documentation/http/documentation#auth-token-revoke)\n\nscope: `None`\n\nDisables the access token used to authenticate the call.      ",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/2/check/app": {
      "post": {
        "tags": [
          "check"
        ],
        "summary": "app",
        "description": "[app](https://www.dropbox.com/developers/documentation/http/documentation#check-app)\n\nscope: `None`\n\nThis endpoint performs App Authentication, validating the supplied app key and secret, and returns the supplied string, to allow you to test your code and connection to the Dropbox API. It has no other effect. If you receive an HTTP 200 response with the supplied query, it indicates at least part of the Dropbox API infrastructure is working and that the app key and secret valid.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"query\\\": \\\"foo\\\"\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "result": "foo"
                }
              }
            }
          }
        }
      }
    },
    "/2/check/user": {
      "post": {
        "tags": [
          "check"
        ],
        "summary": "user",
        "description": "[user](https://www.dropbox.com/developers/documentation/http/documentation#check-user)\n\nscope: `None`\n\nThis endpoint performs User Authentication, validating the supplied access token, and returns the supplied string, to allow you to test your code and connection to the Dropbox API. It has no other effect. If you receive an HTTP 200 response with the supplied query, it indicates at least part of the Dropbox API infrastructure is working and that the access token is valid.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"query\\\": \\\"foo\\\"\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "result": "foo"
                }
              }
            }
          }
        }
      }
    },
    "/2/contacts/delete_manual_contacts": {
      "post": {
        "tags": [
          "contacts"
        ],
        "summary": "delete_manual_contacts",
        "description": "[delete_manual_contacts](https://www.dropbox.com/developers/documentation/http/documentation#contacts-delete_manual_contacts)\n\nscope: `contacts.write`\n\nRemoves all manually added contacts. You'll still keep contacts who are on your team or who you imported. New contacts will be added when you share.      ",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/2/contacts/delete_manual_contacts_batch": {
      "post": {
        "tags": [
          "contacts"
        ],
        "summary": "delete_manual_contacts_batch",
        "description": "[delete_manual_contacts_batch](https://www.dropbox.com/developers/documentation/http/documentation#contacts-delete_manual_contacts_batch)\n\nscope: `contacts.write`\n\nRemoves manually added contacts from the given list.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"email_addresses\\\": [\\n        \\\"contactemailaddress1@domain.com\\\", \\n        \\\"contactemailaddress2@domain.com\\\"\\n    ]\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/2/file_properties/properties/add": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "properties/add",
        "description": "[properties/add](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-add)\n\nscope: `files.metadata.write`\n\nAdd property groups to a Dropbox file. See `templates/add_for_user` or `templates/add_for_team` to create new templates.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"path\\\": \\\"/my_awesome/word.docx\\\", \\n    \\\"property_groups\\\": [\\n        {\\n            \\\"template_id\\\": \\\"ptid:1a5n2i6d3OYEAAAAAAAAAYa\\\", \\n            \\\"fields\\\": [\\n                {\\n                    \\\"name\\\": \\\"Security Policy\\\", \\n                    \\\"value\\\": \\\"Confidential\\\"\\n                }\\n            ]\\n        }\\n    ]\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/2/file_properties/properties/overwrite": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "properties/overwrite",
        "description": "[properties/overwrite](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-overwrite)\n\nscope: `files.metadata.write`\n\nOverwrite property groups associated with a file. This endpoint should be used instead of `properties/update` when property groups are being updated via a \"snapshot\" instead of via a \"delta\". In other words, this endpoint will delete all omitted fields from a property group, whereas `properties/update` will only delete fields that are explicitly marked for deletion.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"path\\\": \\\"/my_awesome/word.docx\\\", \\n    \\\"property_groups\\\": [\\n        {\\n            \\\"template_id\\\": \\\"ptid:1a5n2i6d3OYEAAAAAAAAAYa\\\", \\n            \\\"fields\\\": [\\n                {\\n                    \\\"name\\\": \\\"Security Policy\\\", \\n                    \\\"value\\\": \\\"Confidential\\\"\\n                }\\n            ]\\n        }\\n    ]\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/2/file_properties/properties/remove": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "properties/remove",
        "description": "[properties/remove](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-remove)\n\nscope: `files.metadata.write`\n\nPermanently removes the specified property group from the file. To remove specific property field key value pairs, see `properties/update`. To update a template, see `templates/update_for_user` or `templates/update_for_team`. To remove a template, see `templates/remove_for_user` or `templates/remove_for_team`.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"path\\\": \\\"/my_awesome/word.docx\\\", \\n    \\\"property_template_ids\\\": [\\n        \\\"ptid:1a5n2i6d3OYEAAAAAAAAAYa\\\"\\n    ]\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/2/file_properties/properties/search": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "properties/search",
        "description": "[properties/search](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-search)\n\nscope: `files.metadata.read`\n\nSearch across property templates for particular property field values.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"queries\\\": [\\n        {\\n            \\\"query\\\": \\\"Compliance Bot - Beta\\\", \\n            \\\"mode\\\": {\\n                \\\".tag\\\": \\\"field_name\\\", \\n                \\\"field_name\\\": \\\"Security\\\"\\n            }, \\n            \\\"logical_operator\\\": \\\"or_operator\\\"\\n        }\\n    ], \\n    \\\"template_filter\\\": \\\"filter_none\\\"\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": " Bearer IU571Pc9cGAAAAAAAAAAAQh57r-VTd7qBjZBUsVHLR6NRVTcd0FOThotVQmF9q9F"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "matches": [
                    {
                      "id": "id:a4ayc_80_OEAAAAAAAAAXz",
                      "path": "/my_awesome/word.docx",
                      "is_deleted": false,
                      "property_groups": [
                        {
                          "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa",
                          "fields": [
                            {
                              "name": "Security Policy",
                              "value": "Confidential"
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/2/file_properties/properties/search/continue": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "properties/search/continue",
        "description": "[properties/search/continue](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-search-continue)\n\nscope: `files.metadata.read`\n\nOnce a cursor has been retrieved from `properties/search`, use this to paginate through all search results.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"cursor\\\": \\\"ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu\\\"\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "matches": [
                    {
                      "id": "id:a4ayc_80_OEAAAAAAAAAXz",
                      "path": "/my_awesome/word.docx",
                      "is_deleted": false,
                      "property_groups": [
                        {
                          "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa",
                          "fields": [
                            {
                              "name": "Security Policy",
                              "value": "Confidential"
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/2/file_properties/properties/update": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "properties/update",
        "description": "[properties/update](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-update)\n\nscope: `files.metadata.write`\n\nAdd, update or remove properties associated with the supplied file and templates. This endpoint should be used instead of `properties/overwrite` when property groups are being updated via a \"delta\" instead of via a \"snapshot\" . In other words, this endpoint will not delete any omitted fields from a property group, whereas `properties/overwrite` will delete any fields that are omitted from a property group.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"path\\\": \\\"/my_awesome/word.docx\\\", \\n    \\\"update_property_groups\\\": [\\n        {\\n            \\\"template_id\\\": \\\"ptid:1a5n2i6d3OYEAAAAAAAAAYa\\\", \\n            \\\"add_or_update_fields\\\": [\\n                {\\n                    \\\"name\\\": \\\"Security Policy\\\", \\n                    \\\"value\\\": \\\"Confidential\\\"\\n                }\\n            ], \\n            \\\"remove_fields\\\": []\\n        }\\n    ]\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/2/file_properties/templates/add_for_team": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "templates/add_for_team",
        "description": "[templates/add_for_team](https://www.dropbox.com/developers/documentation/http/teams#file_properties-templates-add_for_team)\n\nscope: `files.team_metadata.write`\n\nAdd a template associated with a team. See `properties/add` to add properties to a file or folder.\nNote: this endpoint will create team-owned templates.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"name\\\": \\\"Security\\\", \\n    \\\"description\\\": \\\"These properties describe how confidential this file or folder is.\\\", \\n    \\\"fields\\\": [\\n        {\\n            \\\"name\\\": \\\"Security Policy\\\", \\n            \\\"description\\\": \\\"This is the security policy of the file or folder described.\\\\nPolicies can be Confidential, Public or Internal.\\\", \\n            \\\"type\\\": \\\"string\\\"\\n        }\\n    ]\\n}\""
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                }
              }
            }
          }
        }
      }
    },
    "/2/file_properties/templates/add_for_user": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "templates/add_for_user",
        "description": "[templates/add_for_user](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-templates-add_for_user)\n\nscope: `files.metadata.write`\n\nAdd a template associated with a user. See `properties/add` to add properties to a file. This endpoint can't be called on a team member or admin's behalf.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"name\\\": \\\"Security\\\", \\n    \\\"description\\\": \\\"These properties describe how confidential this file or folder is.\\\", \\n    \\\"fields\\\": [\\n        {\\n            \\\"name\\\": \\\"Security Policy\\\", \\n            \\\"description\\\": \\\"This is the security policy of the file or folder described.\\\\nPolicies can be Confidential, Public or Internal.\\\", \\n            \\\"type\\\": \\\"string\\\"\\n        }\\n    ]\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                }
              }
            }
          }
        }
      }
    },
    "/2/file_properties/templates/get_for_team": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "templates/get_for_team",
        "description": "[templates/get_for_team](https://www.dropbox.com/developers/documentation/http/teams#file_properties-templates-get_for_team)\n\nscope: `files.team_metadata.write`\n\nGet the schema for a specified template.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"template_id\\\": \\\"ptid:1a5n2i6d3OYEAAAAAAAAAYa\\\"\\n}\""
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "name": "Security",
                  "description": "These properties describe how confidential this file or folder is.",
                  "fields": [
                    {
                      "name": "Security Policy",
                      "description": "This is the security policy of the file or folder described.\nPolicies can be Confidential, Public or Internal.",
                      "type": {
                        ".tag": "string"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/2/file_properties/templates/get_for_user": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "templates/get_for_user",
        "description": "[templates/get_for_user](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-templates-get_for_user)\n\nscope: `files.metadata.read`\n\nGet the schema for a specified template. This endpoint can't be called on a team member or admin's behalf.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"template_id\\\": \\\"ptid:1a5n2i6d3OYEAAAAAAAAAYa\\\"\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "name": "Security",
                  "description": "These properties describe how confidential this file or folder is.",
                  "fields": [
                    {
                      "name": "Security Policy",
                      "description": "This is the security policy of the file or folder described.\nPolicies can be Confidential, Public or Internal.",
                      "type": {
                        ".tag": "string"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/2/file_properties/templates/list_for_team": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "templates/list_for_team",
        "description": "[templates/list_for_team](https://www.dropbox.com/developers/documentation/http/teams#file_properties-templates-list_for_team)\n\nscope: `files.team_metadata.write`\n\nGet the template identifiers for a team. To get the schema of each template use `templates/get_for_team`.      ",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "template_ids": [
                    "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/2/file_properties/templates/list_for_user": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "templates/list_for_user",
        "description": "[templates/list_for_user](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-templates-list_for_user)\n\nscope: `files.metadata.read`\n\nGet the template identifiers for a team. To get the schema of each template use `templates/get_for_user`. This endpoint can't be called on a team member or admin's behalf.      ",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "template_ids": [
                    "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/2/file_properties/templates/remove_for_team": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "templates/remove_for_team",
        "description": "[templates/remove_for_team](https://www.dropbox.com/developers/documentation/http/teams#file_properties-templates-remove_for_team)\n\nscope: `files.team_metadata.write`\n\nPermanently removes the specified template created from `templates/add_for_user`. All properties associated with the template will also be removed. This action cannot be undone.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"template_id\\\": \\\"ptid:1a5n2i6d3OYEAAAAAAAAAYa\\\"\\n}\""
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/2/file_properties/templates/remove_for_user": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "templates/remove_for_user",
        "description": "[templates/remove_for_user](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-templates-remove_for_user)\n\nscope: `files.metadata.write`\n\nPermanently removes the specified template created from `templates/add_for_user`. All properties associated with the template will also be removed. This action cannot be undone.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"template_id\\\": \\\"ptid:1a5n2i6d3OYEAAAAAAAAAYa\\\"\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/2/file_properties/templates/update_for_team": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "templates/update_for_team",
        "description": "[templates/update_for_team](https://www.dropbox.com/developers/documentation/http/teams#file_properties-templates-update_for_team)\n\nscope: `files.team_metadata.write`\n\nUpdate a template associated with a team. This route can update the template name, the template description and add optional properties to templates.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"template_id\\\": \\\"ptid:1a5n2i6d3OYEAAAAAAAAAYa\\\", \\n    \\\"name\\\": \\\"New Security Template Name\\\", \\n    \\\"description\\\": \\\"These properties will describe how confidential this file or folder is.\\\", \\n    \\\"add_fields\\\": [\\n        {\\n            \\\"name\\\": \\\"Security Policy\\\", \\n            \\\"description\\\": \\\"This is the security policy of the file or folder described.\\\\nPolicies can be Confidential, Public or Internal.\\\", \\n            \\\"type\\\": \\\"string\\\"\\n        }\\n    ]\\n}\""
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                }
              }
            }
          }
        }
      }
    },
    "/2/file_properties/templates/update_for_user": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "templates/update_for_user",
        "description": "[templates/update_for_user](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-templates-update_for_user)\n\nscope: `files.metadata.write`\n\nUpdate a template associated with a user. This route can update the template name, the template description and add optional properties to templates. This endpoint can't be called on a team member or admin's behalf.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"template_id\\\": \\\"ptid:1a5n2i6d3OYEAAAAAAAAAYa\\\", \\n    \\\"name\\\": \\\"New Security Template Name\\\", \\n    \\\"description\\\": \\\"These properties will describe how confidential this file or folder is.\\\", \\n    \\\"add_fields\\\": [\\n        {\\n            \\\"name\\\": \\\"Security Policy\\\", \\n            \\\"description\\\": \\\"This is the security policy of the file or folder described.\\\\nPolicies can be Confidential, Public or Internal.\\\", \\n            \\\"type\\\": \\\"string\\\"\\n        }\\n    ]\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                }
              }
            }
          }
        }
      }
    },
    "/2/file_requests/count": {
      "post": {
        "tags": [
          "file_requests"
        ],
        "summary": "count",
        "description": "[count](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-count)\n\nscope: `file_requests.read`\n\nReturns the total number of file requests owned by this user. Includes both open and closed file requests.      ",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "file_request_count": 15
                }
              }
            }
          }
        }
      }
    },
    "/2/file_requests/create": {
      "post": {
        "tags": [
          "file_requests"
        ],
        "summary": "create",
        "description": "[create](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-create)\n\nscope: `file_requests.write`\n\nCreates a file request for this user.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"title\\\": \\\"Homework submission\\\", \\n    \\\"destination\\\": \\\"/File Requests/Homework\\\", \\n    \\\"deadline\\\": {\\n        \\\"deadline\\\": \\\"2020-10-12T17:00:00Z\\\", \\n        \\\"allow_late_uploads\\\": \\\"seven_days\\\"\\n    }, \\n    \\\"open\\\": true\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": "oaCAVmEyrqYnkZX9955Y",
                  "url": "https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y",
                  "title": "Homework submission",
                  "created": "2015-10-05T17:00:00Z",
                  "is_open": true,
                  "file_count": 3,
                  "destination": "/File Requests/Homework",
                  "deadline": {
                    "deadline": "2020-10-12T17:00:00Z",
                    "allow_late_uploads": {
                      ".tag": "seven_days"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/2/file_requests/delete": {
      "post": {
        "tags": [
          "file_requests"
        ],
        "summary": "delete",
        "description": "[delete](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-delete)\n\nscope: `file_requests.write`\n\nDelete a batch of closed file requests.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"ids\\\": [\\n        \\\"oaCAVmEyrqYnkZX9955Y\\\", \\n        \\\"BaZmehYoXMPtaRmfTbSG\\\"\\n    ]\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "file_requests": [
                    {
                      "id": "oaCAVmEyrqYnkZX9955Y",
                      "url": "https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y",
                      "title": "Homework submission",
                      "created": "2015-10-05T17:00:00Z",
                      "is_open": true,
                      "file_count": 3,
                      "destination": "/File Requests/Homework",
                      "deadline": {
                        "deadline": "2020-10-12T17:00:00Z",
                        "allow_late_uploads": {
                          ".tag": "seven_days"
                        }
                      }
                    },
                    {
                      "id": "BAJ7IrRGicQKGToykQdB",
                      "url": "https://www.dropbox.com/request/BAJ7IrRGjcQKGToykQdB",
                      "title": "Photo contest submission",
                      "created": "2015-11-02T04:00:00Z",
                      "is_open": true,
                      "file_count": 105,
                      "destination": "/Photo contest entries",
                      "deadline": {
                        "deadline": "2020-10-12T17:00:00Z"
                      }
                    },
                    {
                      "id": "rxwMPvK3ATTa0VxOJu5T",
                      "url": "https://www.dropbox.com/request/rxwMPvK3ATTa0VxOJu5T",
                      "title": "Wedding photo submission",
                      "created": "2015-12-15T13:02:00Z",
                      "is_open": true,
                      "file_count": 37,
                      "destination": "/Wedding photos"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/2/file_requests/delete_all_closed": {
      "post": {
        "tags": [
          "file_requests"
        ],
        "summary": "delete_all_closed",
        "description": "[delete_all_closed](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-delete_all_closed)\n\nscope: `file_requests.write`\n\nDelete all closed file requests owned by this user.      ",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "file_requests": [
                    {
                      "id": "oaCAVmEyrqYnkZX9955Y",
                      "url": "https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y",
                      "title": "Homework submission",
                      "created": "2015-10-05T17:00:00Z",
                      "is_open": true,
                      "file_count": 3,
                      "destination": "/File Requests/Homework",
                      "deadline": {
                        "deadline": "2020-10-12T17:00:00Z",
                        "allow_late_uploads": {
                          ".tag": "seven_days"
                        }
                      }
                    },
                    {
                      "id": "BAJ7IrRGicQKGToykQdB",
                      "url": "https://www.dropbox.com/request/BAJ7IrRGjcQKGToykQdB",
                      "title": "Photo contest submission",
                      "created": "2015-11-02T04:00:00Z",
                      "is_open": true,
                      "file_count": 105,
                      "destination": "/Photo contest entries",
                      "deadline": {
                        "deadline": "2020-10-12T17:00:00Z"
                      }
                    },
                    {
                      "id": "rxwMPvK3ATTa0VxOJu5T",
                      "url": "https://www.dropbox.com/request/rxwMPvK3ATTa0VxOJu5T",
                      "title": "Wedding photo submission",
                      "created": "2015-12-15T13:02:00Z",
                      "is_open": true,
                      "file_count": 37,
                      "destination": "/Wedding photos"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/2/file_requests/get": {
      "post": {
        "tags": [
          "file_requests"
        ],
        "summary": "get",
        "description": "[get](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-get)\n\nscope: `file_requests.read`\n\nReturns the specified file request.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"id\\\": \\\"oaCAVmEyrqYnkZX9955Y\\\"\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": "oaCAVmEyrqYnkZX9955Y",
                  "url": "https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y",
                  "title": "Homework submission",
                  "created": "2015-10-05T17:00:00Z",
                  "is_open": true,
                  "file_count": 3,
                  "destination": "/File Requests/Homework",
                  "deadline": {
                    "deadline": "2020-10-12T17:00:00Z",
                    "allow_late_uploads": {
                      ".tag": "seven_days"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/2/file_requests/list_v2": {
      "post": {
        "tags": [
          "file_requests"
        ],
        "summary": "list",
        "description": "[list](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-list)\n\nscope: `file_requests.read`\n\nReturns a list of file requests owned by this user. For apps with the app folder permission, this will only return file requests with destinations in the app folder.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"limit\\\": 1000\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "file_requests": [
                    {
                      "id": "oaCAVmEyrqYnkZX9955Y",
                      "url": "https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y",
                      "title": "Homework submission",
                      "created": "2015-10-05T17:00:00Z",
                      "is_open": true,
                      "file_count": 3,
                      "destination": "/File Requests/Homework",
                      "deadline": {
                        "deadline": "2020-10-12T17:00:00Z",
                        "allow_late_uploads": {
                          ".tag": "seven_days"
                        }
                      }
                    },
                    {
                      "id": "BAJ7IrRGicQKGToykQdB",
                      "url": "https://www.dropbox.com/request/BAJ7IrRGjcQKGToykQdB",
                      "title": "Photo contest submission",
                      "created": "2015-11-02T04:00:00Z",
                      "is_open": true,
                      "file_count": 105,
                      "destination": "/Photo contest entries",
                      "deadline": {
                        "deadline": "2020-10-12T17:00:00Z"
                      }
                    },
                    {
                      "id": "rxwMPvK3ATTa0VxOJu5T",
                      "url": "https://www.dropbox.com/request/rxwMPvK3ATTa0VxOJu5T",
                      "title": "Wedding photo submission",
                      "created": "2015-12-15T13:02:00Z",
                      "is_open": true,
                      "file_count": 37,
                      "destination": "/Wedding photos"
                    }
                  ],
                  "cursor": "ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu",
                  "has_more": true
                }
              }
            }
          }
        }
      }
    },
    "/2/file_requests/list/continue": {
      "post": {
        "tags": [
          "file_requests"
        ],
        "summary": "list/continue",
        "description": "[list/continue](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-list-continue)\n\nscope: `file_requests.read`\n\nOnce a cursor has been retrieved from `list:2`, use this to paginate through all file requests. The cursor must come from a previous call to `list:2` or `list/continue`.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"cursor\\\": \\\"ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu\\\"\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "file_requests": [
                    {
                      "id": "oaCAVmEyrqYnkZX9955Y",
                      "url": "https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y",
                      "title": "Homework submission",
                      "created": "2015-10-05T17:00:00Z",
                      "is_open": true,
                      "file_count": 3,
                      "destination": "/File Requests/Homework",
                      "deadline": {
                        "deadline": "2020-10-12T17:00:00Z",
                        "allow_late_uploads": {
                          ".tag": "seven_days"
                        }
                      }
                    },
                    {
                      "id": "BAJ7IrRGicQKGToykQdB",
                      "url": "https://www.dropbox.com/request/BAJ7IrRGjcQKGToykQdB",
                      "title": "Photo contest submission",
                      "created": "2015-11-02T04:00:00Z",
                      "is_open": true,
                      "file_count": 105,
                      "destination": "/Photo contest entries",
                      "deadline": {
                        "deadline": "2020-10-12T17:00:00Z"
                      }
                    },
                    {
                      "id": "rxwMPvK3ATTa0VxOJu5T",
                      "url": "https://www.dropbox.com/request/rxwMPvK3ATTa0VxOJu5T",
                      "title": "Wedding photo submission",
                      "created": "2015-12-15T13:02:00Z",
                      "is_open": true,
                      "file_count": 37,
                      "destination": "/Wedding photos"
                    }
                  ],
                  "cursor": "ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu",
                  "has_more": true
                }
              }
            }
          }
        }
      }
    },
    "/2/file_requests/update": {
      "post": {
        "tags": [
          "file_requests"
        ],
        "summary": "update",
        "description": "[update](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-update)\n\nscope: `file_requests.write`\n\nUpdate a file request.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"id\\\": \\\"oaCAVmEyrqYnkZX9955Y\\\", \\n    \\\"title\\\": \\\"Homework submission\\\", \\n    \\\"destination\\\": \\\"/File Requests/Homework\\\", \\n    \\\"deadline\\\": {\\n        \\\".tag\\\": \\\"update\\\", \\n        \\\"deadline\\\": \\\"2020-10-12T17:00:00Z\\\", \\n        \\\"allow_late_uploads\\\": \\\"seven_days\\\"\\n    }, \\n    \\\"open\\\": true\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": "oaCAVmEyrqYnkZX9955Y",
                  "url": "https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y",
                  "title": "Homework submission",
                  "created": "2015-10-05T17:00:00Z",
                  "is_open": true,
                  "file_count": 3,
                  "destination": "/File Requests/Homework",
                  "deadline": {
                    "deadline": "2020-10-12T17:00:00Z",
                    "allow_late_uploads": {
                      ".tag": "seven_days"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/2/files/copy_v2": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "copy",
        "description": "[copy](https://www.dropbox.com/developers/documentation/http/documentation#files-copy)\n\nscope: `files.content.write`\n\nCopy a file or folder to a different location in the user's Dropbox.\nIf the source path is a folder all its contents will be copied.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"from_path\\\": \\\"/Homework/math\\\", \\n    \\\"to_path\\\": \\\"/Homework/algebra\\\", \\n    \\\"allow_shared_folder\\\": false, \\n    \\\"autorename\\\": false, \\n    \\\"allow_ownership_transfer\\\": false\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "metadata": {
                    ".tag": "file",
                    "name": "Prime_Numbers.txt",
                    "id": "id:a4ayc_80_OEAAAAAAAAAXw",
                    "client_modified": "2015-05-12T15:50:38Z",
                    "server_modified": "2015-05-12T15:50:38Z",
                    "rev": "a1c10ce0dd78",
                    "size": 7212,
                    "path_lower": "/homework/math/prime_numbers.txt",
                    "path_display": "/Homework/math/Prime_Numbers.txt",
                    "sharing_info": {
                      "read_only": true,
                      "parent_shared_folder_id": "84528192421",
                      "modified_by": "dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc"
                    },
                    "is_downloadable": true,
                    "property_groups": [
                      {
                        "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa",
                        "fields": [
                          {
                            "name": "Security Policy",
                            "value": "Confidential"
                          }
                        ]
                      }
                    ],
                    "has_explicit_shared_members": false,
                    "content_hash": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855",
                    "file_lock_info": {
                      "is_lockholder": true,
                      "lockholder_name": "Imaginary User",
                      "created": "2015-05-12T15:50:38Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/2/files/copy_batch_v2": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "copy_batch",
        "description": "[copy_batch](https://www.dropbox.com/developers/documentation/http/documentation#files-copy_batch)\n\nscope: `files.content.write`\n\nCopy multiple files or folders to different locations at once in the user's Dropbox.\nThis route will replace `copy_batch:1`. The main difference is this route will return status for each entry, while `copy_batch:1` raises failure if any entry fails.\nThis route will either finish synchronously, or return a job ID and do the async copy job in background. Please use `copy_batch/check:2` to check the job status.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"entries\\\": [\\n        {\\n            \\\"from_path\\\": \\\"/Homework/math\\\", \\n            \\\"to_path\\\": \\\"/Homework/algebra\\\"\\n        }\\n    ], \\n    \\\"autorename\\\": false\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  ".tag": "complete",
                  "entries": [
                    {
                      ".tag": "success",
                      "success": {
                        ".tag": "file",
                        "name": "Prime_Numbers.txt",
                        "id": "id:a4ayc_80_OEAAAAAAAAAXw",
                        "client_modified": "2015-05-12T15:50:38Z",
                        "server_modified": "2015-05-12T15:50:38Z",
                        "rev": "a1c10ce0dd78",
                        "size": 7212,
                        "path_lower": "/homework/math/prime_numbers.txt",
                        "path_display": "/Homework/math/Prime_Numbers.txt",
                        "sharing_info": {
                          "read_only": true,
                          "parent_shared_folder_id": "84528192421",
                          "modified_by": "dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc"
                        },
                        "is_downloadable": true,
                        "property_groups": [
                          {
                            "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa",
                            "fields": [
                              {
                                "name": "Security Policy",
                                "value": "Confidential"
                              }
                            ]
                          }
                        ],
                        "has_explicit_shared_members": false,
                        "content_hash": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855",
                        "file_lock_info": {
                          "is_lockholder": true,
                          "lockholder_name": "Imaginary User",
                          "created": "2015-05-12T15:50:38Z"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/2/files/copy_batch/check_v2": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "copy_batch/check",
        "description": "[copy_batch/check](https://www.dropbox.com/developers/documentation/http/documentation#files-copy_batch-check)\n\nscope: `files.content.write`\n\nReturns the status of an asynchronous job for `copy_batch:2`. It returns list of results for each entry.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"async_job_id\\\": \\\"34g93hh34h04y384084\\\"\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  ".tag": "complete",
                  "entries": [
                    {
                      ".tag": "success",
                      "success": {
                        ".tag": "file",
                        "name": "Prime_Numbers.txt",
                        "id": "id:a4ayc_80_OEAAAAAAAAAXw",
                        "client_modified": "2015-05-12T15:50:38Z",
                        "server_modified": "2015-05-12T15:50:38Z",
                        "rev": "a1c10ce0dd78",
                        "size": 7212,
                        "path_lower": "/homework/math/prime_numbers.txt",
                        "path_display": "/Homework/math/Prime_Numbers.txt",
                        "sharing_info": {
                          "read_only": true,
                          "parent_shared_folder_id": "84528192421",
                          "modified_by": "dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc"
                        },
                        "is_downloadable": true,
                        "property_groups": [
                          {
                            "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa",
                            "fields": [
                              {
                                "name": "Security Policy",
                                "value": "Confidential"
                              }
                            ]
                          }
                        ],
                        "has_explicit_shared_members": false,
                        "content_hash": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855",
                        "file_lock_info": {
                          "is_lockholder": true,
                          "lockholder_name": "Imaginary User",
                          "created": "2015-05-12T15:50:38Z"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/2/files/copy_reference/get": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "copy_reference/get",
        "description": "[copy_reference/get](https://www.dropbox.com/developers/documentation/http/documentation#files-copy_reference-get)\n\nscope: `files.content.write`\n\nGet a copy reference to a file or folder. This reference string can be used to save that file or folder to another user's Dropbox by passing it to `copy_reference/save`.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"path\\\": \\\"/video.mp4\\\"\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "metadata": {
                    ".tag": "file",
                    "name": "Prime_Numbers.txt",
                    "id": "id:a4ayc_80_OEAAAAAAAAAXw",
                    "client_modified": "2015-05-12T15:50:38Z",
                    "server_modified": "2015-05-12T15:50:38Z",
                    "rev": "a1c10ce0dd78",
                    "size": 7212,
                    "path_lower": "/homework/math/prime_numbers.txt",
                    "path_display": "/Homework/math/Prime_Numbers.txt",
                    "sharing_info": {
                      "read_only": true,
                      "parent_shared_folder_id": "84528192421",
                      "modified_by": "dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc"
                    },
                    "is_downloadable": true,
                    "property_groups": [
                      {
                        "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa",
                        "fields": [
                          {
                            "name": "Security Policy",
                            "value": "Confidential"
                          }
                        ]
                      }
                    ],
                    "has_explicit_shared_members": false,
                    "content_hash": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855",
                    "file_lock_info": {
                      "is_lockholder": true,
                      "lockholder_name": "Imaginary User",
                      "created": "2015-05-12T15:50:38Z"
                    }
                  },
                  "copy_reference": "z1X6ATl6aWtzOGq0c3g5Ng",
                  "expires": "2045-05-12T15:50:38Z"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/copy_reference/save": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "copy_reference/save",
        "description": "[copy_reference/save](https://www.dropbox.com/developers/documentation/http/documentation#files-copy_reference-save)\n\nscope: `files.content.write`\n\nSave a copy reference returned by `copy_reference/get` to the user's Dropbox.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"copy_reference\\\": \\\"z1X6ATl6aWtzOGq0c3g5Ng\\\", \\n    \\\"path\\\": \\\"/video.mp4\\\"\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "metadata": {
                    ".tag": "file",
                    "name": "Prime_Numbers.txt",
                    "id": "id:a4ayc_80_OEAAAAAAAAAXw",
                    "client_modified": "2015-05-12T15:50:38Z",
                    "server_modified": "2015-05-12T15:50:38Z",
                    "rev": "a1c10ce0dd78",
                    "size": 7212,
                    "path_lower": "/homework/math/prime_numbers.txt",
                    "path_display": "/Homework/math/Prime_Numbers.txt",
                    "sharing_info": {
                      "read_only": true,
                      "parent_shared_folder_id": "84528192421",
                      "modified_by": "dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc"
                    },
                    "is_downloadable": true,
                    "property_groups": [
                      {
                        "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa",
                        "fields": [
                          {
                            "name": "Security Policy",
                            "value": "Confidential"
                          }
                        ]
                      }
                    ],
                    "has_explicit_shared_members": false,
                    "content_hash": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855",
                    "file_lock_info": {
                      "is_lockholder": true,
                      "lockholder_name": "Imaginary User",
                      "created": "2015-05-12T15:50:38Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/2/files/create_folder_v2": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "create_folder",
        "description": "[create_folder](https://www.dropbox.com/developers/documentation/http/documentation#files-create_folder)\n\nscope: `files.content.write`\n\nCreate a folder at a given path.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"path\\\": \\\"/Homework/math\\\", \\n    \\\"autorename\\\": false\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "metadata": {
                    "name": "math",
                    "id": "id:a4ayc_80_OEAAAAAAAAAXz",
                    "path_lower": "/homework/math",
                    "path_display": "/Homework/math",
                    "sharing_info": {
                      "read_only": false,
                      "parent_shared_folder_id": "84528192421",
                      "traverse_only": false,
                      "no_access": false
                    },
                    "property_groups": [
                      {
                        "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa",
                        "fields": [
                          {
                            "name": "Security Policy",
                            "value": "Confidential"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/2/files/create_folder_batch": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "create_folder_batch",
        "description": "[create_folder_batch](https://www.dropbox.com/developers/documentation/http/documentation#files-create_folder_batch)\n\nscope: `files.content.write`\n\nCreate multiple folders at once.\nThis route is asynchronous for large batches, which returns a job ID immediately and runs the create folder batch asynchronously. Otherwise, creates the folders and returns the result synchronously for smaller inputs. You can force asynchronous behaviour by using the `CreateFolderBatchArg.force_async` flag.  Use `create_folder_batch/check` to check the job status.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"paths\\\": [\\n        \\\"/Homework/math\\\"\\n    ], \\n    \\\"autorename\\\": false, \\n    \\\"force_async\\\": false\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  ".tag": "complete",
                  "entries": [
                    {
                      ".tag": "success",
                      "metadata": {
                        "name": "math",
                        "id": "id:a4ayc_80_OEAAAAAAAAAXz",
                        "path_lower": "/homework/math",
                        "path_display": "/Homework/math",
                        "sharing_info": {
                          "read_only": false,
                          "parent_shared_folder_id": "84528192421",
                          "traverse_only": false,
                          "no_access": false
                        },
                        "property_groups": [
                          {
                            "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa",
                            "fields": [
                              {
                                "name": "Security Policy",
                                "value": "Confidential"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/2/files/create_folder_batch/check": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "create_folder_batch/check",
        "description": "[create_folder_batch/check](https://www.dropbox.com/developers/documentation/http/documentation#files-create_folder_batch-check)\n\nscope: `files.content.write`\n\nReturns the status of an asynchronous job for `create_folder_batch`. If success, it returns list of result for each entry.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"async_job_id\\\": \\\"34g93hh34h04y384084\\\"\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  ".tag": "complete",
                  "entries": [
                    {
                      ".tag": "success",
                      "metadata": {
                        "name": "math",
                        "id": "id:a4ayc_80_OEAAAAAAAAAXz",
                        "path_lower": "/homework/math",
                        "path_display": "/Homework/math",
                        "sharing_info": {
                          "read_only": false,
                          "parent_shared_folder_id": "84528192421",
                          "traverse_only": false,
                          "no_access": false
                        },
                        "property_groups": [
                          {
                            "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa",
                            "fields": [
                              {
                                "name": "Security Policy",
                                "value": "Confidential"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/2/files/delete_v2": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "delete",
        "description": "[delete](https://www.dropbox.com/developers/documentation/http/documentation#files-delete)\n\nscope: `files.content.write`\n\nDelete the file or folder at a given path.\nIf the path is a folder, all its contents will be deleted too.\nA successful response indicates that the file or folder was deleted. The returned metadata will be the corresponding `FileMetadata` or `FolderMetadata` for the item at time of deletion, and not a `DeletedMetadata` object.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"path\\\": \\\"/Homework/math/Prime_Numbers.txt\\\"\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "integer",
                  "example": "1234"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "metadata": {
                    ".tag": "file",
                    "name": "Prime_Numbers.txt",
                    "id": "id:a4ayc_80_OEAAAAAAAAAXw",
                    "client_modified": "2015-05-12T15:50:38Z",
                    "server_modified": "2015-05-12T15:50:38Z",
                    "rev": "a1c10ce0dd78",
                    "size": 7212,
                    "path_lower": "/homework/math/prime_numbers.txt",
                    "path_display": "/Homework/math/Prime_Numbers.txt",
                    "sharing_info": {
                      "read_only": true,
                      "parent_shared_folder_id": "84528192421",
                      "modified_by": "dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc"
                    },
                    "is_downloadable": true,
                    "property_groups": [
                      {
                        "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa",
                        "fields": [
                          {
                            "name": "Security Policy",
                            "value": "Confidential"
                          }
                        ]
                      }
                    ],
                    "has_explicit_shared_members": false,
                    "content_hash": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855",
                    "file_lock_info": {
                      "is_lockholder": true,
                      "lockholder_name": "Imaginary User",
                      "created": "2015-05-12T15:50:38Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/2/files/delete_batch": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "delete_batch",
        "description": "[delete_batch](https://www.dropbox.com/developers/documentation/http/documentation#files-delete_batch)\n\nscope: `files.content.write`\n\nDelete multiple files/folders at once.\nThis route is asynchronous, which returns a job ID immediately and runs the delete batch asynchronously. Use `delete_batch/check` to check the job status.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"entries\\\": [\\n        {\\n            \\\"path\\\": \\\"/Homework/math/Prime_Numbers.txt\\\"\\n        }\\n    ]\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
[...]
