{"openapi":"3.1.0","info":{"title":"Sandbox v1 collections1","version":"1"},"servers":[{"url":"https://sandbox.onebrick.io/v1"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{}}}},"security":[{"sec0":[]}],"paths":{"/payments/open-va/retrieve/VA-ID={VA-ID}":{"get":{"summary":"Status of open VA","description":"","operationId":"status-of-open-va","parameters":[{"name":"Authorization","in":"header","description":"Unique token for clients(Public access token)","required":true,"schema":{"type":"string"}},{"name":"VA-ID","in":"path","description":"Unique id of virtual account","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",\n  \"data\": {\n    \"id\": \"OP_d8ed71ed64d64b2fa220ab5d86f2fe35\",\n    \"type\": \"virtual_bank_account\",\n    \"attributes\": {\n      \"referenceId\": \"test_VA1\",\n      \"instructions\": {\n        \"bankShortCode\": \"BRI\",\n        \"accountNo\": \"130432138889902\",\n        \"displayName\": \"IKN-Open VA 1\"\n      }\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"data":{"type":"object","properties":{"id":{"type":"string","example":"OP_d8ed71ed64d64b2fa220ab5d86f2fe35"},"type":{"type":"string","example":"virtual_bank_account"},"attributes":{"type":"object","properties":{"referenceId":{"type":"string","example":"test_VA1"},"instructions":{"type":"object","properties":{"bankShortCode":{"type":"string","example":"BRI"},"accountNo":{"type":"string","example":"130432138889902"},"displayName":{"type":"string","example":"IKN-Open VA 1"}}}}}}}}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"ID not found":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Transaction ID not found\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Transaction ID not found"}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl --request GET 'https://sandbox.onebrick.io/v1/payments/open-va/retrieve/VA-ID' \\\n--header 'Authorization: Bearer public_access_token' \\"}],"samples-languages":["curl"]}}},"/payments/open-va/status/{VA-ID}":{"post":{"summary":"Simulate payment of open VA [PAID]","description":"This API is for simulation to test the open VA process, This API is only available in a Sandbox environment.","operationId":"simulate-payment-of-open-va","parameters":[{"name":"Authorization","in":"header","description":"Unique token for clients","required":true,"schema":{"type":"string"}},{"name":"VA-ID","in":"path","description":"ID of VA that is generated by Brick in the VA generation API response for simulating \"paid\" status, ID of Payment that is generated by Brick in the VA callback response for simulating \"completed\" status","schema":{"type":"string"},"required":true},{"name":"action","in":"query","description":"The status that want to be achieved (paid / completed)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",\n  \"data\":null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"data":{}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl --request POST 'https://sandbox.onebrick.io/v1/payments/open-va/status/{VA-ID}' \\\n--header 'Authorization: Bearer public_access_token' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"action\": \"paid\",\n    \"amount\": 10100\n}'"}],"samples-languages":["curl"]}}},"/payments/close-va/status/{VA-ID}":{"post":{"summary":"Simulate payment of close VA [PAID]","description":"This API is for simulation to test the open VA process, This API is only available in a Sandbox environment.","operationId":"simulate-payment-of-close-va","parameters":[{"name":"Authorization","in":"header","description":"Unique token for clients(Public access token)","required":true,"schema":{"type":"string"}},{"name":"VA-ID","in":"path","description":"ID of VA that is generated by Brick in the VA generation API response for simulating \"paid\" status, ID of Payment that is generated by Brick in the VA callback response for simulating \"completed\" status","schema":{"type":"string"},"required":true},{"name":"action","in":"query","description":"The status that want to be achieved (paid / completed)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",\n  \"data\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"data":{}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl  --request POST 'https://sandbox.onebrick.io/v1/payments/close-va/status/{VA-ID}' \\\n--header 'Authorization: Bearer public_access_token' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"action\": \"paid\"\n}'"}],"samples-languages":["curl"]}}},"/auth/":{"post":{"summary":"Generate OTP in GoPay","description":"","operationId":"generate-otp-in-gopay","parameters":[{"name":"Authorization","in":"header","description":"Unique identifier for client(Public access token)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["institution_id","username"],"properties":{"institution_id":{"type":"string","description":"ID of the institution"},"username":{"type":"string","description":"End-user's Gopay registered mobile number (e.g. +628122323123)"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 200,\n    \"message\": \"OK\",\n    \"data\": {\n        \"username\": \"+62812345678\",\n        \"uniqueId\": \"308AF96B-04B8-475D-A17C-F457FFE4DC56\",\n        \"sessionId\": \"1E45F913-64E9-4325-BFD5-7EF7C131BE4C\",\n        \"otpToken\": \"d8dc5eb5-b707-4168-900f-de2bb3f8022f\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"data":{"type":"object","properties":{"username":{"type":"string","example":"+62812345678"},"uniqueId":{"type":"string","example":"308AF96B-04B8-475D-A17C-F457FFE4DC56"},"sessionId":{"type":"string","example":"1E45F913-64E9-4325-BFD5-7EF7C131BE4C"},"otpToken":{"type":"string","example":"d8dc5eb5-b707-4168-900f-de2bb3f8022f"}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Mobile No. is not registered":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Mobile number is not registered\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Mobile number is not registered"}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl  --request POST 'https://sandbox.onebrick.io/v1/auth' \\\n--header 'Authorization: Bearer public_access_token' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"institution_id\" : 11, \n    \"username\" : \"+62812345678\"\n}'","name":"Request body example"}],"samples-languages":["curl"]}}},"/auth///":{"post":{"summary":"Generate OTP in MyBCA","description":"","operationId":"generate-otp-in-mybca","parameters":[{"name":"Authorization","in":"header","description":"Unique identifier for client(Public access token)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["institution_id","username"],"properties":{"institution_id":{"type":"string","description":"ID of the institution"},"username":{"type":"string","description":"End-user's MyBCA username account"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 428,\n    \"message\": \"An OTP is required by the institution to login\",\n    \"data\": {\n        \"sessionId\": \"f008feb2-7931-4711-85c1-d044141c96a3-20240320122648\",\n        \"username\": \"username\",\n        \"duration\": \"120000\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":428,"default":0},"message":{"type":"string","example":"An OTP is required by the institution to login"},"data":{"type":"object","properties":{"sessionId":{"type":"string","example":"f008feb2-7931-4711-85c1-d044141c96a3-20240320122648"},"username":{"type":"string","example":"username"},"duration":{"type":"string","example":"120000"}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Username is not registered":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Username is not registered\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Username is not registered"}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl --location 'https://api-sbx.onebrick.io/v1/auth' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Bearer public-sandbox-d54bf4e8-7e8c-411a-8f15-c07f2b3670aa' \\\n--data '{\n    \"institution_id\": 37,\n    \"username\": \"username\",\n    \"password\": \"password\"\n}'","name":"Request body example"}],"samples-languages":["curl"]}}},"/auth//":{"post":{"summary":"Generate OTP in OCBC Mobile","description":"","operationId":"generate-otp-in-ocbc","parameters":[{"name":"Authorization","in":"header","description":"Unique identifier for client(Public access token)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["institution_id","username"],"properties":{"institution_id":{"type":"string","description":"ID of the institution"},"username":{"type":"string","description":"End-user's OCBC username account"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 428,\n    \"message\": \"An OTP is required by the institution to login\",\n    \"data\": {\n        \"sessionId\": \"f008feb2-7931-4711-85c1-d044141c96a3-20240320122648\",\n        \"username\": \"username\",\n        \"duration\": \"120000\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":428,"default":0},"message":{"type":"string","example":"An OTP is required by the institution to login"},"data":{"type":"object","properties":{"sessionId":{"type":"string","example":"f008feb2-7931-4711-85c1-d044141c96a3-20240320122648"},"username":{"type":"string","example":"username"},"duration":{"type":"string","example":"120000"}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Username is not registered":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Username is not registered\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Username is not registered"}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl --location 'https://api-sbx.onebrick.io/v1/auth' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Bearer public-sandbox-d54bf4e8-7e8c-411a-8f15-c07f2b3670aa' \\\n--data '{\n    \"institution_id\": 25,\n    \"username\": \"username\",\n    \"password\": \"password\"\n}'","name":"Request body example"}],"samples-languages":["curl"]}}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}