{"openapi":"3.1.0","info":{"title":"Experience API","version":"2"},"servers":[{"url":"https://sandbox.onebrick.io/v2/exp"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/ocr/submit":{"post":{"summary":"Submit File","description":"","operationId":"ocr-submit-file","parameters":[{"name":"Authorization","in":"header","description":"unique identifier for client (public access token)","schema":{"type":"string"}},{"name":"source","in":"header","description":"accepts value \"v1-widget\"","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"},"user_id":{"type":"string","description":"identifier of the OCR request"},"type":{"type":"string","description":"type of the file: only accepts value \"estatements\" or \"passbooks\""}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 200,\n    \"error\": null,\n    \"message\": \"Success\",\n    \"metadata\": {\n        \"source\": \"widget-v1\",\n        \"entity\": \"Experience\"\n    },\n    \"data\": {\n        \"id\": \"91ffb286-eabe-4758-b3f7-dbf955419240\",\n        \"url\": [\n            \"https://s3.ap-southeast-3.amazonaws.com/bck-ocr-statement-staging/390d607c-6e27-40dd-ae05-3ceed912fc1d/original/uploads/390d607c-6e27-40dd-ae05-3ceed912fc1d/ocr_example_doc.pdf\"\n        ],\n        \"file_names\": [\n            \"ocr_example_doc.pdf\"\n        ],\n        \"inscribe\": [],\n        \"user_id\": \"ocr_example\"\n    }\n}"},"Duplicate File":{"value":"{\n    \"status\": 200,\n    \"error\": null,\n    \"message\": \"File already exist, resend callback\",\n    \"metadata\": {\n        \"source\": \"Resend Callback Service\",\n        \"entity\": \"Experience\"\n    },\n    \"data\": null\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"error":{},"message":{"type":"string","example":"Success"},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"widget-v1"},"entity":{"type":"string","example":"Experience"}}},"data":{"type":"object","properties":{"id":{"type":"string","example":"91ffb286-eabe-4758-b3f7-dbf955419240"},"url":{"type":"array","items":{"type":"string","example":"https://s3.ap-southeast-3.amazonaws.com/bck-ocr-statement-staging/390d607c-6e27-40dd-ae05-3ceed912fc1d/original/uploads/390d607c-6e27-40dd-ae05-3ceed912fc1d/ocr_example_doc.pdf"}},"file_names":{"type":"array","items":{"type":"string","example":"ocr_example_doc.pdf"}},"inscribe":{"type":"array"},"user_id":{"type":"string","example":"ocr_example"}}}}},{"title":"Duplicate File","type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"error":{},"message":{"type":"string","example":"File already exist, resend callback"},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"Resend Callback Service"},"entity":{"type":"string","example":"Experience"}}},"data":{}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Exceeds File Size":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"en\": {\n            \"code\": \"invalid_parameters_in_request\",\n            \"message\": \"Maximum file size is 5 MB\",\n            \"action\": \"Please upload file less than 5 MB size\",\n            \"reason\": \"Max file size is 5 MB\"\n        },\n        \"id\": {\n            \"code\": \"invalid_parameters_in_request\",\n            \"message\": \"Ukuran file maksimum adalah 5 MB\",\n            \"action\": \"Harap unggah file berukuran kurang dari 5 MB\",\n            \"reason\": \"Ukuran file maksimal adalah 5 MB\"\n        }\n    },\n    \"message\": \"Please upload file less than 5 MB size\",\n    \"metadata\": {\n        \"source\": \"widget-v1\",\n        \"entity\": \"Experience\"\n    },\n    \"data\": null\n}"},"Wrong File Type":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"en\": {\n            \"code\": \"invalid_parameters_in_request\",\n            \"message\": \"Only pdf/xls and image file types are supported\",\n            \"action\": \"Please upload pdf/xls and image file types\",\n            \"reason\": \"File type is not match with our system\"\n        },\n        \"id\": {\n            \"code\": \"invalid_parameters_in_request\",\n            \"message\": \"Hanya pdf/xls dan jenis file gambar yang didukung\",\n            \"action\": \"Silakan unggah pdf/xls dan jenis file gambar\",\n            \"reason\": \"Jenis file tidak cocok dengan sistem kami\"\n        }\n    },\n    \"message\": \"Only pdf/xls and image file types are supported\",\n    \"metadata\": {\n        \"source\": \"widget-v1\",\n        \"entity\": \"Experience\"\n    },\n    \"data\": null\n}"}},"schema":{"oneOf":[{"title":"Exceeds File Size","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"en":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Maximum file size is 5 MB"},"action":{"type":"string","example":"Please upload file less than 5 MB size"},"reason":{"type":"string","example":"Max file size is 5 MB"}}},"id":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Ukuran file maksimum adalah 5 MB"},"action":{"type":"string","example":"Harap unggah file berukuran kurang dari 5 MB"},"reason":{"type":"string","example":"Ukuran file maksimal adalah 5 MB"}}}}},"message":{"type":"string","example":"Please upload file less than 5 MB size"},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"widget-v1"},"entity":{"type":"string","example":"Experience"}}},"data":{}}},{"title":"Wrong File Type","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"en":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Only pdf/xls and image file types are supported"},"action":{"type":"string","example":"Please upload pdf/xls and image file types"},"reason":{"type":"string","example":"File type is not match with our system"}}},"id":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Hanya pdf/xls dan jenis file gambar yang didukung"},"action":{"type":"string","example":"Silakan unggah pdf/xls dan jenis file gambar"},"reason":{"type":"string","example":"Jenis file tidak cocok dengan sistem kami"}}}}},"message":{"type":"string","example":"Only pdf/xls and image file types are supported"},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"widget-v1"},"entity":{"type":"string","example":"Experience"}}},"data":{}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 401,\n    \"error\": {\n        \"en\": {\n            \"action\": \"Please get valid public access token\",\n            \"code\": \"unauthorized_access\",\n            \"message\": \"Not Authorized\",\n            \"reason\": \"Unauthorized access to transaction\"\n        },\n        \"id\": {\n            \"action\": \"Harap dapatkan token akses publik yang valid\",\n            \"code\": \"unauthorized_access\",\n            \"message\": \"Not Authorized\",\n            \"reason\": \"Akses tidak sah ke transaksi\"\n        }\n    },\n    \"message\": \"\",\n    \"metadata\": {\n        \"entity\": \"Experience\",\n        \"source\": \"widget-v1\"\n    },\n    \"data\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"error":{"type":"object","properties":{"en":{"type":"object","properties":{"action":{"type":"string","example":"Please get valid public access token"},"code":{"type":"string","example":"unauthorized_access"},"message":{"type":"string","example":"Not Authorized"},"reason":{"type":"string","example":"Unauthorized access to transaction"}}},"id":{"type":"object","properties":{"action":{"type":"string","example":"Harap dapatkan token akses publik yang valid"},"code":{"type":"string","example":"unauthorized_access"},"message":{"type":"string","example":"Not Authorized"},"reason":{"type":"string","example":"Akses tidak sah ke transaksi"}}}}},"message":{"type":"string","example":""},"metadata":{"type":"object","properties":{"entity":{"type":"string","example":"Experience"},"source":{"type":"string","example":"widget-v1"}}},"data":{}}}}}}},"deprecated":false}},"/ocr/callback":{"get":{"summary":"OCR Callback","description":"","operationId":"callback-result","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"82cc431c-a130-4250-97e3-5ac43e6dd01d\",\n    \"user_id\": \"BCARekeningTahapan\",\n    \"account\": {\n      \"account_holder_verified\": \"false\",\n      \"account_number_verified\": \"false\",\n      \"account_id\": \"gPWHzqXT22bWggRWrHSMHQ==\",\n      \"accountHolder\": \"LINCE\",\n      \"accountHolderVerification\": \"PROD ONLY\",\n      \"accountNumber\": \"3101088195\",\n      \"bankName\": \"BCA\"\n    },\n    \"transaction\": [\n      {\n        \"reference_id\": \"1171573.89\",\n        \"amount\": \"1000000.00\",\n        \"date\": \"2021-12-01\",\n        \"description\": \"TRSF E-BANKING  CR 01/12 /95031/00000 \",\n        \"status\": \"CONFIRMED\",\n        \"direction\": \"in\"\n      },\n      {\n        \"reference_id\": \"2671573.89\",\n        \"amount\": \"1500000.00\",\n        \"date\": \"2021-12-01\",\n        \"description\": \"SETORAN  VIA CDM 01/12 WSID:ZJ6H1 \",\n        \"status\": \"CONFIRMED\",\n        \"direction\": \"in\"\n      },\n      {\n        \"reference_id\": \"1871573.89\",\n        \"amount\": \"800000.00\",\n        \"date\": \"2021-12-02\",\n        \"description\": \"TRSF E-BANKING  DB 02/12 /95031/00000 \",\n        \"status\": \"CONFIRMED\",\n        \"direction\": \"out\"\n      },...\n    ],\n    \"historyBalance\": {\n      \"beginningBalance\": \"171573.89\",\n      \"endingBalance\": \"30307070.29\",\n      \"dateFrom\": \"2021-12-01\",\n      \"dateTo\": \"2021-12-31\"\n    },\n    \"document_insight\": [\n      {\n        \"account_detail\": {\n          \"institution_id\": \"2\",\n          \"account_id\": \"gPWHzqXT22bWggRWrHSMHQ==\",\n          \"beginning_balance\": 171573.89,\n          \"average_balance\": 5623939.33,\n          \"ending_balance\": 30307070.29,\n          \"month\": \"12\",\n          \"year\": \"2021\"\n        },\n        \"balance_summary\": [\n          {\n            \"beginningBalance\": 171573.89,\n            \"averageBalance\": 5623939.33,\n            \"endingBalance\": 30307070.29,\n            \"month\": \"12\",\n            \"year\": \"2021\",\n            \"monthly_total_income\": 72201154.4,\n            \"monthly_total_expense\": 42065658,\n            \"minimum_daily_balance\": 11334.29,\n            \"maximum_daily_balance\": 30462070.29\n          }\n        ],\n        \"daily_balance\": [\n          {\n            \"date\": \"2021-12-01\",\n            \"balance\": 2671573.89\n          },\n          {\n            \"date\": \"2021-12-02\",\n            \"balance\": 1871573.89\n          },\n          {\n            \"date\": \"2021-12-03\",\n            \"balance\": 2228834.29\n          },...,\n          {\n            \"date\": \"2021-12-31\",\n            \"balance\": 30307070.29\n          }\n        ],\n        \"top_income\": [\n          {\n            \"source\": \"OTHERS\",\n            \"frequency\": 40,\n            \"total_amount\": \"71,479,497.40\"\n          },\n          {\n            \"source\": \"DANAMON\",\n            \"frequency\": 1,\n            \"total_amount\": \"721,657.00\"\n          }\n        ],\n        \"top_expense\": [\n          {\n            \"source\": \"OTHERS\",\n            \"frequency\": 98,\n            \"total_amount\": \"41965658.00\"\n          },\n          {\n            \"source\": \"BCA\",\n            \"frequency\": 2,\n            \"total_amount\": \"100000.00\"\n          }\n        ],\n        \"transaction_detail\": [\n          {\n            \"id\": \"82cc431c-a130-4250-97e3-5ac43e6dd01d\",\n            \"account_id\": \"\",\n            \"institution_id\": \"2\",\n            \"merchant_id\": \"\",\n            \"outlet_outlet_id\": \"\",\n            \"location_city_id\": \"\",\n            \"location_country_id\": \"\",\n            \"date\": \"2021-12-01\",\n            \"amount\": \"1000000.00\",\n            \"description\": \"TRSF E-BANKING  CR 01/12 /95031/00000 \",\n            \"status\": \"CONFIRMED\",\n            \"direction\": \"in\",\n            \"reference_id\": \"1171573.89\",\n            \"category\": {\n              \"category_id\": 5,\n              \"category_name\": \"transfer-in \",\n              \"classification_group_id\": 26,\n              \"classification_group\": \"account transfer-in\",\n              \"classification_subgroup_id\": 92,\n              \"classification_subgroup\": \"others account transfer-in\"\n            }\n          },\n          {\n            \"id\": \"82cc431c-a130-4250-97e3-5ac43e6dd01d\",\n            \"account_id\": \"\",\n            \"institution_id\": \"2\",\n            \"merchant_id\": \"\",\n            \"outlet_outlet_id\": \"\",\n            \"location_city_id\": \"\",\n            \"location_country_id\": \"\",\n            \"date\": \"2021-12-01\",\n            \"amount\": \"1500000.00\",\n            \"description\": \"SETORAN  VIA CDM 01/12 WSID:ZJ6H1 \",\n            \"status\": \"CONFIRMED\",\n            \"direction\": \"in\",\n            \"reference_id\": \"2671573.89\",\n            \"category\": {\n              \"category_id\": 5,\n              \"category_name\": \"transfer-in\",\n              \"classification_group_id\": 7,\n              \"classification_group\": \"deposit\",\n              \"classification_subgroup_id\": 12,\n              \"classification_subgroup\": \"cdm\"\n            }\n          },\n          {\n            \"id\": \"82cc431c-a130-4250-97e3-5ac43e6dd01d\",\n            \"account_id\": \"\",\n            \"institution_id\": \"2\",\n            \"merchant_id\": \"\",\n            \"outlet_outlet_id\": \"\",\n            \"location_city_id\": \"\",\n            \"location_country_id\": \"\",\n            \"date\": \"2021-12-02\",\n            \"amount\": \"800000.00\",\n            \"description\": \"TRSF E-BANKING  DB 02/12 /95031/00000 \",\n            \"status\": \"CONFIRMED\",\n            \"direction\": \"out\",\n            \"reference_id\": \"1871573.89\",\n            \"category\": {\n              \"category_id\": 3,\n              \"category_name\": \"transfer-out\",\n              \"classification_group_id\": 3,\n              \"classification_group\": \"account transfer-out\",\n              \"classification_subgroup_id\": 4,\n              \"classification_subgroup\": \"others account transfer-out\"\n            }\n          }, ...\n        ]\n      }\n    ]\n  }"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}