{"openapi":"3.1.0","info":{"title":"Sandbox v1 Collection","version":"1"},"servers":[{"url":"https://sandbox.onebrick.io/v1"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{}}}},"security":[{"sec0":[]}],"paths":{"/institution/list":{"get":{"summary":"Get Institution List","description":"This API will help to get a list of available institutions in Brick.","operationId":"get-institution-list-1","parameters":[{"name":"Authorization","in":"header","description":"Unique Identifier for Client(Public access token)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 200,\n    \"message\": \"OK\",\n    \"data\": [\n        {\n            \"id\": 2,\n            \"name\": \"KlikBCA Internet Banking\",\n            \"bank_code\": \"KlikBCA Internet Banking\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#0d3dc8\",\n            \"logo\": null,\n            \"createdAt\": null,\n            \"updatedAt\": \"2021-07-26T14:58:03.000+00:00\",\n            \"channels\": null,\n            \"isOcrActive\": true,\n            \"automatic_verification\": true,\n            \"pdf_verification\": true,\n            \"passbook_verification\": true,\n            \"institution_type\": \"Internet Banking\"\n        },\n        {\n            \"id\": 3,\n            \"name\": \"Livin' by Mandiri\",\n            \"bank_code\": \"Livin' by Mandiri\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#2f83d7\",\n            \"logo\": null,\n            \"createdAt\": null,\n            \"updatedAt\": \"2021-07-26T14:58:03.000+00:00\",\n            \"channels\": null,\n            \"isOcrActive\": true,\n            \"automatic_verification\": true,\n            \"pdf_verification\": true,\n            \"passbook_verification\": true,\n            \"institution_type\": \"Internet Banking\"\n        },\n        {\n            \"id\": 4,\n            \"name\": \"BNI Internet Banking\",\n            \"bank_code\": \"BNI Internet Banking\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#015f6b\",\n            \"logo\": null,\n            \"createdAt\": null,\n            \"updatedAt\": \"2021-07-26T14:58:03.000+00:00\",\n            \"channels\": null,\n            \"isOcrActive\": true,\n            \"automatic_verification\": true,\n            \"pdf_verification\": true,\n            \"passbook_verification\": true,\n            \"institution_type\": \"Internet Banking\"\n        },\n        {\n            \"id\": 5,\n            \"name\": \"BRI Internet Banking\",\n            \"bank_code\": \"BRI Internet Banking\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#012d5a\",\n            \"logo\": null,\n            \"createdAt\": null,\n            \"updatedAt\": \"2021-07-26T14:58:03.000+00:00\",\n            \"channels\": null,\n            \"isOcrActive\": true,\n            \"automatic_verification\": true,\n            \"pdf_verification\": true,\n            \"passbook_verification\": true,\n            \"institution_type\": \"Internet Banking\"\n        },\n        {\n            \"id\": 8,\n            \"name\": \"PermataNet\",\n            \"bank_code\": \"PermataNet\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#008872\",\n            \"logo\": null,\n            \"createdAt\": null,\n            \"updatedAt\": \"2021-07-26T14:58:03.000+00:00\",\n            \"channels\": null,\n            \"isOcrActive\": true,\n            \"automatic_verification\": true,\n            \"pdf_verification\": true,\n            \"passbook_verification\": false,\n            \"institution_type\": \"Internet Banking\"\n        },\n        {\n            \"id\": 9,\n            \"name\": \"Danamon Online Banking\",\n            \"bank_code\": \"Danamon Online Banking\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#ffa931\",\n            \"logo\": null,\n            \"createdAt\": null,\n            \"updatedAt\": \"2021-07-26T14:58:03.000+00:00\",\n            \"channels\": null,\n            \"isOcrActive\": true,\n            \"automatic_verification\": true,\n            \"pdf_verification\": true,\n            \"passbook_verification\": true,\n            \"institution_type\": \"Internet Banking\"\n        },\n        {\n            \"id\": 11,\n            \"name\": \"GoPay\",\n            \"bank_code\": \"GoPay\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#00AED6\",\n            \"logo\": null,\n            \"createdAt\": null,\n            \"updatedAt\": null,\n            \"channels\": null,\n            \"isOcrActive\": false,\n            \"automatic_verification\": true,\n            \"pdf_verification\": false,\n            \"passbook_verification\": false,\n            \"institution_type\": \"E-Wallet\"\n        },\n        {\n            \"id\": 12,\n            \"name\": \"OVO\",\n            \"bank_code\": \"OVO\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#4c2a86\",\n            \"logo\": null,\n            \"createdAt\": null,\n            \"updatedAt\": null,\n            \"channels\": null,\n            \"isOcrActive\": false,\n            \"automatic_verification\": true,\n            \"pdf_verification\": false,\n            \"passbook_verification\": false,\n            \"institution_type\": \"E-Wallet\"\n        },\n        {\n            \"id\": 13,\n            \"name\": \"KlikBCA Bisnis\",\n            \"bank_code\": \"KlikBCA Bisnis\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#0d3dc8\",\n            \"logo\": null,\n            \"createdAt\": null,\n            \"updatedAt\": \"2021-07-25T06:36:03.000+00:00\",\n            \"channels\": null,\n            \"isOcrActive\": false,\n            \"automatic_verification\": true,\n            \"pdf_verification\": false,\n            \"passbook_verification\": false,\n            \"institution_type\": \"Corporate Banking\"\n        },\n        {\n            \"id\": 14,\n            \"name\": \"BPJS Ketenagakerjaan\",\n            \"bank_code\": \"BPJS Ketenagakerjaan\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#3cab46\",\n            \"logo\": null,\n            \"createdAt\": \"2021-05-28T05:08:42.743+00:00\",\n            \"updatedAt\": \"2021-07-26T14:58:03.000+00:00\",\n            \"channels\": null,\n            \"isOcrActive\": false,\n            \"automatic_verification\": true,\n            \"pdf_verification\": false,\n            \"passbook_verification\": false,\n            \"institution_type\": \"Employment Data\"\n        },\n        {\n            \"id\": 15,\n            \"name\": \"Shopee\",\n            \"bank_code\": \"Shopee\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#fc5832\",\n            \"logo\": null,\n            \"createdAt\": \"2021-07-25T06:36:03.000+00:00\",\n            \"updatedAt\": null,\n            \"channels\": null,\n            \"isOcrActive\": false,\n            \"automatic_verification\": true,\n            \"pdf_verification\": false,\n            \"passbook_verification\": false,\n            \"institution_type\": \"E-Commerce\"\n        },\n        {\n            \"id\": 16,\n            \"name\": \"BRImo\",\n            \"bank_code\": \"BRImo\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#012d5a\",\n            \"logo\": null,\n            \"createdAt\": \"2021-07-25T06:36:03.000+00:00\",\n            \"updatedAt\": \"2021-07-26T14:58:03.000+00:00\",\n            \"channels\": null,\n            \"isOcrActive\": true,\n            \"automatic_verification\": true,\n            \"pdf_verification\": true,\n            \"passbook_verification\": true,\n            \"institution_type\": \"Mobile Banking\"\n        },\n        {\n            \"id\": 17,\n            \"name\": \"Livin' by Mandiri\",\n            \"bank_code\": \"Livin' by Mandiri\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#2f83d7\",\n            \"logo\": null,\n            \"createdAt\": \"2021-07-25T06:36:03.000+00:00\",\n            \"updatedAt\": \"2021-07-26T14:58:03.000+00:00\",\n            \"channels\": null,\n            \"isOcrActive\": true,\n            \"automatic_verification\": true,\n            \"pdf_verification\": true,\n            \"passbook_verification\": true,\n            \"institution_type\": \"Mobile Banking\"\n        },\n        {\n            \"id\": 18,\n            \"name\": \"PermataMobile X\",\n            \"bank_code\": \"PermataMobile X\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#008872\",\n            \"logo\": null,\n            \"createdAt\": \"2021-07-25T06:36:03.000+00:00\",\n            \"updatedAt\": \"2021-07-26T14:58:03.000+00:00\",\n            \"channels\": null,\n            \"isOcrActive\": true,\n            \"automatic_verification\": true,\n            \"pdf_verification\": true,\n            \"passbook_verification\": false,\n            \"institution_type\": \"Mobile Banking\"\n        },\n        {\n            \"id\": 19,\n            \"name\": \"D-Mobile\",\n            \"bank_code\": \"D-Mobile\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#ffa931\",\n            \"logo\": null,\n            \"createdAt\": \"2021-07-25T06:36:03.000+00:00\",\n            \"updatedAt\": \"2021-07-26T14:58:03.000+00:00\",\n            \"channels\": null,\n            \"isOcrActive\": true,\n            \"automatic_verification\": true,\n            \"pdf_verification\": true,\n            \"passbook_verification\": true,\n            \"institution_type\": \"Mobile Banking\"\n        },\n        {\n            \"id\": 20,\n            \"name\": \"Tokopedia\",\n            \"bank_code\": \"Tokopedia\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#05ac10\",\n            \"logo\": null,\n            \"createdAt\": \"2021-09-15T11:21:19.124+00:00\",\n            \"updatedAt\": null,\n            \"channels\": null,\n            \"isOcrActive\": false,\n            \"automatic_verification\": true,\n            \"pdf_verification\": false,\n            \"passbook_verification\": false,\n            \"institution_type\": \"E-Commerce\"\n        },\n        {\n            \"id\": 21,\n            \"name\": \"Mock E-Wallet\",\n            \"bank_code\": \"Mock E-Wallet\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#000000\",\n            \"logo\": null,\n            \"createdAt\": null,\n            \"updatedAt\": null,\n            \"channels\": null,\n            \"isOcrActive\": false,\n            \"automatic_verification\": true,\n            \"pdf_verification\": false,\n            \"passbook_verification\": false,\n            \"institution_type\": \"E-Wallet\"\n        },\n        {\n            \"id\": 22,\n            \"name\": \"Mock E-Commerce\",\n            \"bank_code\": \"Mock E-Commerce\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#000000\",\n            \"logo\": null,\n            \"createdAt\": null,\n            \"updatedAt\": null,\n            \"channels\": null,\n            \"isOcrActive\": false,\n            \"automatic_verification\": true,\n            \"pdf_verification\": false,\n            \"passbook_verification\": false,\n            \"institution_type\": \"E-Commerce\"\n        },\n        {\n            \"id\": 23,\n            \"name\": \"Mock Employment Data\",\n            \"bank_code\": \"Mock Employment Data\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#000000\",\n            \"logo\": null,\n            \"createdAt\": null,\n            \"updatedAt\": null,\n            \"channels\": null,\n            \"isOcrActive\": false,\n            \"automatic_verification\": true,\n            \"pdf_verification\": false,\n            \"passbook_verification\": false,\n            \"institution_type\": \"Employment Data\"\n        },\n        {\n            \"id\": 24,\n            \"name\": \"Mock Bank BCI\",\n            \"bank_code\": \"Mock Bank BCI\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#000000\",\n            \"logo\": null,\n            \"createdAt\": null,\n            \"updatedAt\": null,\n            \"channels\": null,\n            \"isOcrActive\": false,\n            \"automatic_verification\": true,\n            \"pdf_verification\": false,\n            \"passbook_verification\": false,\n            \"institution_type\": \"Internet Banking\"\n        },\n        {\n            \"id\": 26,\n            \"name\": \"Bank Syariah Indonesia\",\n            \"bank_code\": \"Bank Syariah Indonesia\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#00A39D\",\n            \"logo\": null,\n            \"createdAt\": \"2021-11-10T03:50:02.455+00:00\",\n            \"updatedAt\": \"2021-11-10T03:50:02.455+00:00\",\n            \"channels\": null,\n            \"isOcrActive\": true,\n            \"automatic_verification\": true,\n            \"pdf_verification\": true,\n            \"passbook_verification\": true,\n            \"institution_type\": \"Internet Banking\"\n        },\n        {\n            \"id\": 27,\n            \"name\": \"CIMB\",\n            \"bank_code\": \"CIMB\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#780000\",\n            \"logo\": null,\n            \"createdAt\": \"2021-12-21T09:42:16.522+00:00\",\n            \"updatedAt\": \"2021-12-21T09:42:16.522+00:00\",\n            \"channels\": null,\n            \"isOcrActive\": false,\n            \"automatic_verification\": true,\n            \"pdf_verification\": false,\n            \"passbook_verification\": false,\n            \"institution_type\": \"Internet Banking\"\n        },\n        {\n            \"id\": 33,\n            \"name\": \"ShopeePay\",\n            \"bank_code\": \"ShopeePay\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#fc5832\",\n            \"logo\": null,\n            \"createdAt\": \"2022-02-17T09:00:03.000+00:00\",\n            \"updatedAt\": null,\n            \"channels\": null,\n            \"isOcrActive\": false,\n            \"automatic_verification\": true,\n            \"pdf_verification\": true,\n            \"passbook_verification\": false,\n            \"institution_type\": \"E-Wallet\"\n        },\n        {\n            \"id\": 37,\n            \"name\": \"MyBCA Internet Banking\",\n            \"bank_code\": \"MyBCA Internet Banking\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#0d3dc8\",\n            \"logo\": null,\n            \"createdAt\": \"2022-03-01T08:02:20.184+00:00\",\n            \"updatedAt\": \"2022-03-01T08:02:20.184+00:00\",\n            \"channels\": null,\n            \"isOcrActive\": false,\n            \"automatic_verification\": true,\n            \"pdf_verification\": true,\n            \"passbook_verification\": false,\n            \"institution_type\": \"Internet Banking\"\n        },\n        {\n            \"id\": 38,\n            \"name\": \"MyBCA Mobile Banking\",\n            \"bank_code\": \"MyBCA Mobile Banking\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#0d3dc8\",\n            \"logo\": null,\n            \"createdAt\": \"2022-03-01T08:02:28.083+00:00\",\n            \"updatedAt\": \"2022-03-01T08:02:28.083+00:00\",\n            \"channels\": null,\n            \"isOcrActive\": false,\n            \"automatic_verification\": true,\n            \"pdf_verification\": true,\n            \"passbook_verification\": false,\n            \"institution_type\": \"Mobile Banking\"\n        },\n        {\n            \"id\": 39,\n            \"name\": \"Muamalat\",\n            \"bank_code\": \"Muamalat\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#511C74\",\n            \"logo\": null,\n            \"createdAt\": \"2022-03-11T03:54:36.812+00:00\",\n            \"updatedAt\": null,\n            \"channels\": null,\n            \"isOcrActive\": true,\n            \"automatic_verification\": true,\n            \"pdf_verification\": false,\n            \"passbook_verification\": true,\n            \"institution_type\": \"Internet Banking\"\n        },\n        {\n            \"id\": 43,\n            \"name\": \"DJP\",\n            \"bank_code\": \"DJP\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": \"#02275D\",\n            \"logo\": null,\n            \"createdAt\": \"2022-04-17T23:31:13.335+00:00\",\n            \"updatedAt\": \"2022-04-07T18:01:41.653+00:00\",\n            \"channels\": null,\n            \"isOcrActive\": false,\n            \"automatic_verification\": true,\n            \"pdf_verification\": true,\n            \"passbook_verification\": false,\n            \"institution_type\": \"Employment Data\"\n        },\n        {\n            \"id\": 44,\n            \"name\": \"Mock BCI Corporate\",\n            \"bank_code\": \"Mock BCI Corporate\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": null,\n            \"logo\": null,\n            \"createdAt\": \"2022-04-13T09:08:01.364+00:00\",\n            \"updatedAt\": \"2022-04-13T09:08:01.364+00:00\",\n            \"channels\": null,\n            \"isOcrActive\": false,\n            \"automatic_verification\": true,\n            \"pdf_verification\": true,\n            \"passbook_verification\": false,\n            \"institution_type\": \"Corporate Banking\"\n        },\n        {\n            \"id\": 45,\n            \"name\": \"Mock BCI Mobile\",\n            \"bank_code\": \"Mock BCI Mobile\",\n            \"country_code\": \"ID\",\n            \"country_name\": \"Indonesia\",\n            \"primary_color\": null,\n            \"logo\": null,\n            \"createdAt\": \"2022-04-13T09:08:01.364+00:00\",\n            \"updatedAt\": \"2022-04-13T09:08:01.364+00:00\",\n            \"channels\": null,\n            \"isOcrActive\": false,\n            \"automatic_verification\": true,\n            \"pdf_verification\": true,\n            \"passbook_verification\": false,\n            \"institution_type\": \"Mobile Banking\"\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":2,"default":0},"name":{"type":"string","example":"KlikBCA Internet Banking"},"bank_code":{"type":"string","example":"KlikBCA Internet Banking"},"country_code":{"type":"string","example":"ID"},"country_name":{"type":"string","example":"Indonesia"},"primary_color":{"type":"string","example":"#0d3dc8"},"logo":{},"createdAt":{},"updatedAt":{"type":"string","example":"2021-07-26T14:58:03.000+00:00"},"channels":{},"isOcrActive":{"type":"boolean","example":true,"default":true},"automatic_verification":{"type":"boolean","example":true,"default":true},"pdf_verification":{"type":"boolean","example":true,"default":true},"passbook_verification":{"type":"boolean","example":true,"default":true},"institution_type":{"type":"string","example":"Internet Banking"}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Token not found\",\n    \"error_code\": \"0001\",\n    \"error_message\": \"Invalid public-access-token\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Token not found"},"error_code":{"type":"string","example":"0001"},"error_message":{"type":"string","example":"Invalid public-access-token"}}}}}}},"deprecated":false}},"/account/list":{"get":{"summary":"Account List - Get","description":"The Account List endpoint returns all a list of accounts or products (and their associated data) held by the End User with a Provider.","operationId":"account-list","parameters":[{"name":"Authorization","in":"header","description":"Unique Identifier for users(User access token)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",  \n  \"lastUpdateAt\": \"2022-01-04 16:42 GMT+0700\",\n  \"session\": \"valid\",\n  \"data\": [\n    {\n      \"accountId\": \"001800412324242\",\n      \"accountHolder\": \"JOHN DOE\",\n      \"accountNumber\": \"80010023203223\",\n      \"balances\": {\n        \"available\": 32395.66,\n        \"current\": 32395.66\n      }\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"lastUpdateAt":{"type":"string","example":"2022-01-04 16:42 GMT+0700"},"session":{"type":"string","example":"valid"},"data":{"type":"array","items":{"type":"object","properties":{"accountId":{"type":"string","example":"001800412324242"},"accountHolder":{"type":"string","example":"JOHN DOE"},"accountNumber":{"type":"string","example":"80010023203223"},"balances":{"type":"object","properties":{"available":{"type":"number","example":32395.66,"default":0},"current":{"type":"number","example":32395.66,"default":0}}}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Invalid user_access_token":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Unauthorized\",\n    \"error_code\": \"0002\",\n    \"error_message\": \"Invalid user-access-token\"\n}"},"Institutions under maintenance":{"value":"{\n    \"status\": 401,\n    \"message\": \"This institution is not available due to maintenance\",\n    \"data\": null,\n    \"error_code\": \"0000\",\n    \"error_message\": \"This institution is not available due to maintenance\"\n}"}},"schema":{"oneOf":[{"title":"Invalid user_access_token","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Unauthorized"},"error_code":{"type":"string","example":"0002"},"error_message":{"type":"string","example":"Invalid user-access-token"}}},{"title":"Institutions under maintenance","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"This institution is not available due to maintenance"},"data":{},"error_code":{"type":"string","example":"0000"},"error_message":{"type":"string","example":"This institution is not available due to maintenance"}}}]}}}}},"deprecated":false}},"/account/detail":{"get":{"summary":"Account Detail - Get","description":"Once you get the user access token using the widget, The Account endpoint allows developers to retrieve data associated with the specified ‘account_id’ in their backend.","operationId":"account-detail","parameters":[{"name":"accountId","in":"query","description":"Account If for which the details are needed","schema":{"type":"string","default":"accountId"}},{"name":"Authorization","in":"header","description":"Unique Identifier for user(User access token)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",\n  \"lastUpdateAt\": \"2022-01-04 16:42 GMT+0700\",\n  \"session\": \"valid\",\n  \"data\": {\n    \"email\": \"john@doe.com\",\n    \"address\": \",CIPETE,PINANG /KOTA TANGERANG,CIPETE,INDONESIA,15810\",\n    \"phoneNumber\": \"08123456789\",\n    \"ktpNumber\": null,\n    \"accountId\": \"001800412324242\",\n    \"accountHolder\": \"John Doe\",\n    \"accountNumber\": \"80010023203223\",\n    \"balances\": {\n      \"available\": 142890.37,\n      \"current\": 1428907.3\n    }\n  }\n}"},"Account not found":{"value":"{\n    \"status\": 200,\n    \"message\": \"Account not found\",\n    \"data\": null,\n    \"error_code\": \"2006\",\n    \"error_message\": \"Account not found\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"lastUpdateAt":{"type":"string","example":"2022-01-04 16:42 GMT+0700"},"session":{"type":"string","example":"valid"},"data":{"type":"object","properties":{"email":{"type":"string","example":"john@doe.com"},"address":{"type":"string","example":",CIPETE,PINANG /KOTA TANGERANG,CIPETE,INDONESIA,15810"},"phoneNumber":{"type":"string","example":"08123456789"},"ktpNumber":{},"accountId":{"type":"string","example":"001800412324242"},"accountHolder":{"type":"string","example":"John Doe"},"accountNumber":{"type":"string","example":"80010023203223"},"balances":{"type":"object","properties":{"available":{"type":"number","example":142890.37,"default":0},"current":{"type":"number","example":1428907.3,"default":0}}}}}}},{"title":"Account not found","type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"Account not found"},"data":{},"error_code":{"type":"string","example":"2006"},"error_message":{"type":"string","example":"Account not found"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Invalid user-access-token":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Unauthorized\",\n    \"error_code\": \"0002\",\n    \"error_message\": \"Invalid user-access-token\"\n}"},"Institutions under maintenance":{"value":"{\n    \"status\": 401,\n    \"message\": \"This institution is not available due to maintenance\",\n    \"data\": null,\n    \"error_code\": \"0000\",\n    \"error_message\": \"This institution is not available due to maintenance\"\n}"}},"schema":{"oneOf":[{"title":"Invalid user-access-token","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Unauthorized"},"error_code":{"type":"string","example":"0002"},"error_message":{"type":"string","example":"Invalid user-access-token"}}},{"title":"Institutions under maintenance","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"This institution is not available due to maintenance"},"data":{},"error_code":{"type":"string","example":"0000"},"error_message":{"type":"string","example":"This institution is not available due to maintenance"}}}]}}}}},"deprecated":false}},"/transaction/list":{"get":{"summary":"Transaction List - Get","description":"The Transactions endpoint allows clients to receive user authorized transactions. Transactions data is standardised across financial institutions and accounts.","operationId":"transaction-list","parameters":[{"name":"Authorization","in":"header","description":"Unique Identifier of end user(User access token)","required":true,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Returns transactions posted on or after this date. Default value is date as of the API request minus 3 months","schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"Returns transactions up to and including this date. Default value is date as of the API request","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",\n  \"lastUpdateAt\": \"2022-01-04 16:42 GMT+0700\",\n  \"session\": \"valid\",\n  \"data\": [\n    {\n      \"id\": 0,\n      \"account_id\": \"XH3c7dtoskIqAmEbwHAM7Q==\",\n      \"institution_id\": 2,\n      \"merchant_id\": 0,\n      \"outlet_outlet_id\": 0,\n      \"location_city_id\": 0,\n      \"location_country_id\": 0,\n      \"date\": \"2021-06-08\",\n      \"amount\": 10000,\n      \"description\": \"TRSF E-BK CR 06/08 95031 TRF BRICK TO TAUFI C FERNANDO SETIO\",\n      \"status\": \"CONFIRMED\",\n      \"direction\": \"in\",\n      \"reference_id\": \"XH3c7dtoskIqAmEbwHAM7Q==-20210608-1\",\n      \"category\": {\n        \"category_id\": 1,\n        \"category_name\": \"PURCHASE\",\n        \"classification_group_id\": 4,\n        \"classification_group\": \"Shopping\",\n        \"classification_subgroup_id\": 14,\n        \"classification_subgroup\": \"Electronic & Software\"\n      }\n    },\n    {\n      \"id\": 0,\n      \"account_id\": \"XH3c7dtoskIqAmEbwHAM7Q==\",\n      \"institution_id\": 2,\n      \"merchant_id\": 0,\n      \"outlet_outlet_id\": 0,\n      \"location_city_id\": 0,\n      \"location_country_id\": 0,\n      \"date\": \"2021-06-21\",\n      \"amount\": 222200,\n      \"description\": \"KARTU DEBIT THE COFFEE ACADEMI\",\n      \"status\": \"CONFIRMED\",\n      \"direction\": \"out\",\n      \"reference_id\": \"XH3c7dtoskIqAmEbwHAM7Q==-20210621-1\",\n      \"category\": {\n        \"category_id\": 1,\n        \"category_name\": \"PURCHASE\",\n        \"classification_group_id\": 7,\n        \"classification_group\": \"Food & Dining\",\n        \"classification_subgroup_id\": 26,\n        \"classification_subgroup\": \"Coffee & Beverage\"\n      }\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"lastUpdateAt":{"type":"string","example":"2022-01-04 16:42 GMT+0700"},"session":{"type":"string","example":"valid"},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":0,"default":0},"account_id":{"type":"string","example":"XH3c7dtoskIqAmEbwHAM7Q=="},"institution_id":{"type":"integer","example":2,"default":0},"merchant_id":{"type":"integer","example":0,"default":0},"outlet_outlet_id":{"type":"integer","example":0,"default":0},"location_city_id":{"type":"integer","example":0,"default":0},"location_country_id":{"type":"integer","example":0,"default":0},"date":{"type":"string","example":"2021-06-08"},"amount":{"type":"integer","example":10000,"default":0},"description":{"type":"string","example":"TRSF E-BK CR 06/08 95031 TRF BRICK TO TAUFI C FERNANDO SETIO"},"status":{"type":"string","example":"CONFIRMED"},"direction":{"type":"string","example":"in"},"reference_id":{"type":"string","example":"XH3c7dtoskIqAmEbwHAM7Q==-20210608-1"},"category":{"type":"object","properties":{"category_id":{"type":"integer","example":1,"default":0},"category_name":{"type":"string","example":"PURCHASE"},"classification_group_id":{"type":"integer","example":4,"default":0},"classification_group":{"type":"string","example":"Shopping"},"classification_subgroup_id":{"type":"integer","example":14,"default":0},"classification_subgroup":{"type":"string","example":"Electronic & Software"}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Wrong parameter format":{"value":"{\n    \"status\": 400,\n    \"message\": \"Wrong parameter format\",\n    \"data\": null,\n    \"error_code\": \"0005\",\n    \"error_message\": \"Date parameter format is invalid\"\n}"},"from and to are mandatory":{"value":"{\n    \"status\": 400,\n    \"message\": \"Parameter from and to are mandatory\",\n    \"data\": null,\n    \"error_code\": \"0003\",\n    \"error_message\": \"Parameter from and to are missing\"\n}"}},"schema":{"oneOf":[{"title":"Wrong parameter format","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"message":{"type":"string","example":"Wrong parameter format"},"data":{},"error_code":{"type":"string","example":"0005"},"error_message":{"type":"string","example":"Date parameter format is invalid"}}},{"title":"from and to are mandatory","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"message":{"type":"string","example":"Parameter from and to are mandatory"},"data":{},"error_code":{"type":"string","example":"0003"},"error_message":{"type":"string","example":"Parameter from and to are missing"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Invalid user-access-token":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Unauthorized\",\n    \"error_code\": \"0002\",\n    \"error_message\": \"Invalid user-access-token\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Unauthorized"},"error_code":{"type":"string","example":"0002"},"error_message":{"type":"string","example":"Invalid user-access-token"}}}},"text/plain":{"examples":{"Institutions under maintenance":{"value":"{\n    \"status\": 401,\n    \"message\": \"This institution is not available due to maintenance\",\n    \"data\": null,\n    \"error_code\": \"0000\",\n    \"error_message\": \"This institution is not available due to maintenance\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"This institution is not available due to maintenance"},"data":{},"error_code":{"type":"string","example":"0000"},"error_message":{"type":"string","example":"This institution is not available due to maintenance"}}}}}}},"deprecated":false}},"/avg-balance":{"get":{"summary":"Average Balance","description":"The Average Balance GET API will allow clients to receive user authorized average balance.\nIt can be generated with selected period of month&year","operationId":"pdf-statement","parameters":[{"name":"Authorization","in":"header","description":"Unique Identifier for end-user(User access token)","required":true,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Starting date Form date(format - MM-YYYY)","schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"Starting date To date(format - MM-YYYY)","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",\n  \"data\": [\n    {\n      \"institution_id\": 5,\n      \"accountId\": \"OrUIr5KQnhJFoHxOMPxUlw==\",\n      \"beginningBalance\": 1000,\n      \"avgBalance\": 6935.48,\n      \"endingBalance\": 0,\n      \"month\": \"01\",\n      \"year\": \"2021\"\n    },\n    {\n      \"institution_id\": 5,\n      \"accountId\": \"OrUIr5KQnhJFoHxOMPxUlw==\",\n      \"beginningBalance\": 0,\n      \"avgBalance\": 41607.14,\n      \"endingBalance\": 35000,\n      \"month\": \"02\",\n      \"year\": \"2021\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"data":{"type":"array","items":{"type":"object","properties":{"institution_id":{"type":"integer","example":5,"default":0},"accountId":{"type":"string","example":"OrUIr5KQnhJFoHxOMPxUlw=="},"beginningBalance":{"type":"integer","example":1000,"default":0},"avgBalance":{"type":"number","example":6935.48,"default":0},"endingBalance":{"type":"integer","example":0,"default":0},"month":{"type":"string","example":"01"},"year":{"type":"string","example":"2021"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Invalid parameter format":{"value":"{\n    \"status\": 400,\n    \"message\": \"Wrong parameter format\",\n    \"data\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"message":{"type":"string","example":"Wrong parameter format"},"data":{}}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Invalid user-access-token":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Unauthorized\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Unauthorized"}}}},"application/json":{"examples":{"from and to are mandatory":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Parameter from and to are mandatory\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Parameter from and to are mandatory"}}}}}}},"deprecated":false}},"/transaction-balance-summary":{"get":{"summary":"Transaction and Balance Summary API","description":"This API furnishes the data on monthly basics and helps you get the Beginning balance, Ending balance, Daily balance, Average balance, Income source, and expenses destination.","operationId":"transaction-and-balance-summary-api-1","parameters":[{"name":"user_access_token","in":"header","description":"Unique identification token for end user.","required":true,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Starting date Form date(format - MM-YYYY)","schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"End date till you want a data(format - MM-YYYY)","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n“status”: 200,\n“message”: “OK”,\n“data”: [\n    {\n        “institution_id”: 2,\n        “accountId”: “q4Iudadsa0Aszlu1qB0q2MQ==“,\n        “beginningBalance”: 50000.0,\n        “avgBalance”: 1520000.0,\n        “endingBalance”: 4482873.0,\n        “month”: “4”,\n        “year”: “2021”,\n        “monthly_total_income”: {\n            “total_income”: 999999,\n            “credit_transaction”: 12\n        },\n        “monthly_total_expense”: {\n            “total_expense”: 33333,\n            “debit_transaction”: 23\n        },\n        “daily_balance”: [\n            {\n                “date”: “2021-03-31\",\n                “balance”: 50000.0\n            },\n            {\n                “date”: “2021-04-04”,\n                “balance”: 1520000.0\n            },\n            {\n                “date”: “2021-04-05\",\n                “balance”: 1385128.0\n            },\n            {\n                “date”: “2021-04-06”,\n                “balance”: 148128.0\n            },\n            {\n                “date”: “2021-04-07\",\n                “balance”: 168128.0\n            },\n            {\n                “date”: “2021-04-08”,\n                “balance”: 349405.0\n            },\n            {\n                “date”: “2021-04-11\",\n                “balance”: 270467.0\n            },\n            {\n                “date”: “2021-04-14”,\n                “balance”: 63467.0\n            },\n            {\n                “date”: “2021-04-15\",\n                “balance”: 48467.0\n            },\n            {\n                “date”: “2021-04-18”,\n                “balance”: 28467.0\n            },\n            {\n                “date”: “2021-04-20\",\n                “balance”: 621533.0\n            },\n            {\n                “date”: “2021-04-21”,\n                “balance”: 771612.0\n            },\n            {\n                “date”: “2021-04-22\",\n                “balance”: 4482873.0\n            },\n            {\n                “date”: “2021-04-25”,\n                “balance”: 3647073.0\n            },\n            {\n                “date”: “2021-04-26\",\n                “balance”: 5124073.0\n            },\n            {\n                “date”: “2021-04-27”,\n                “balance”: 2012461.0\n            }\n        ],\n        “minimum_daily_balance”: 0.0,\n        “maximum_daily_balance”: 99999.0,\n        “top_income”: [\n            {\n                “source”: “Brick”,\n                “frequency”: 1,\n                “total_amount”: 2.0335035E7\n            },\n            {\n                “source”: “John Doe”,\n                “frequency”: 8,\n                “total_amount”: 5988000.0\n            },\n            {\n                “source”: “Doe John”,\n                “frequency”: 4,\n                “total_amount”: 2007000.0\n            }\n        ],\n        “top_expense”: [\n            {\n                “source”: “Doe John”,\n                “frequency”: 5,\n                “total_amount”: 2.8855559E7\n            },\n            {\n                “source”: “Brick”,\n                “frequency”: 16,\n                “total_amount”: 7565000.0\n            },\n            {\n                “source”: “John Doe”,\n                “frequency”: 1,\n                “total_amount”: 3000000.0\n            }\n\n    ]\n}\n]\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Invalid date":{"value":"{\n    \"status\": 400,\n    \"message\": \"Invalid date\",\n    \"data\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"message":{"type":"string","example":"Invalid date"},"data":{}}}},"text/plain":{"examples":{"from and to are mandatory":{"value":"{\n    \"status\": 400,\n    \"message\": \"Parameter from and to are mandatory\",\n    \"data\": null,\n    \"error_code\": \"0003\",\n    \"error_message\": \"Parameter from and to are missing\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"message":{"type":"string","example":"Parameter from and to are mandatory"},"data":{},"error_code":{"type":"string","example":"0003"},"error_message":{"type":"string","example":"Parameter from and to are missing"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Invalid user-access-token":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Unauthorized\",\n    \"error_code\": \"0002\",\n    \"error_message\": \"Invalid user-access-token\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Unauthorized"},"error_code":{"type":"string","example":"0002"},"error_message":{"type":"string","example":"Invalid user-access-token"}}}}}}},"deprecated":false}},"/categorization":{"post":{"summary":"Categorization API","description":"This API helps you to categorize transactions based on a description.","operationId":"categorization-api-1","parameters":[{"name":"public_access_token","in":"header","description":"Unique identifier for client","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["transaction_description_text","bankId","direction"],"properties":{"transaction_description_text":{"type":"string","description":"Transaction description from the financial Statements"},"bankId":{"type":"string","description":"Destination ID related to the transaction"},"direction":{"type":"string","description":"The direction of fund. Should be either in or out. in is for money in & out is for money out."},"amount":{"type":"integer","description":"Optional. To separate transaction with same description that happened in almost the same time","format":"int64"},"reference_id":{"type":"string","description":"Optional. Reference ID of certain transaction"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"category\": {\n    \"category_id\": 1,\n    \"category_name\": \"PURCHASE\",\n    \"classification_group_id\": 7,\n    \"classification_group\": \"Food & Dining\",\n    \"classification_subgroup_id\": 26,\n    \"classification_subgroup\": \"Coffee & Beverage\"\n  }\n}"}},"schema":{"type":"object","properties":{"category":{"type":"object","properties":{"category_id":{"type":"integer","example":1,"default":0},"category_name":{"type":"string","example":"PURCHASE"},"classification_group_id":{"type":"integer","example":7,"default":0},"classification_group":{"type":"string","example":"Food & Dining"},"classification_subgroup_id":{"type":"integer","example":26,"default":0},"classification_subgroup":{"type":"string","example":"Coffee & Beverage"}}}}}}}}},"deprecated":false}},"/payments/open-va":{"post":{"summary":"Generate Open VA","description":"","operationId":"generate-open-va","parameters":[{"name":"Authorization","in":"header","description":"Unique Identifier for clients(Public access token)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["bankShortCode","referenceId","displayName","suffixNo"],"properties":{"bankShortCode":{"type":"string","description":"Institution short code of the bank"},"referenceId":{"type":"string","description":"Unique ID that is being generated by the client to track each VA generation (maximum 255 characters)"},"displayName":{"type":"string","description":"The display name that will be shown in the user's payment platform (maximum 24 characters)"},"suffixNo":{"type":"string","description":"The customizable last 8 digits on the Virtual Account Numbers (Only available for BRI and Bank Sahabat Sampoerna)"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",\n  \"data\": {\n    \"id\": \"OP_d8ed71ed64d64b2fa220ab5d86f2fe35\",\n    \"type\": \"virtual_bank_account\",\n    \"attributes\": {\n      \"referenceId\": \"test_VA1\",\n      \"instructions\": {\n        \"bankShortCode\": \"BRI\",\n        \"accountNo\": \"130432138889902\",\n        \"displayName\": \"IKN-Open VA 1\"\n      }\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"data":{"type":"object","properties":{"id":{"type":"string","example":"OP_d8ed71ed64d64b2fa220ab5d86f2fe35"},"type":{"type":"string","example":"virtual_bank_account"},"attributes":{"type":"object","properties":{"referenceId":{"type":"string","example":"test_VA1"},"instructions":{"type":"object","properties":{"bankShortCode":{"type":"string","example":"BRI"},"accountNo":{"type":"string","example":"130432138889902"},"displayName":{"type":"string","example":"IKN-Open VA 1"}}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl  --request POST 'https://sandbox.onebrick.io/v1/payments/open-va' \\\n--header 'Authorization: Bearer public_access_token' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"bankShortCode\": \"BRI\",\n    \"referenceId\": \"test_VA1\",\n    \"displayName\": \"Open VA 1\",\n    \"suffixNo\": \"88899902\"\n}'"}],"samples-languages":["curl"]}}},"/payments/close-va":{"post":{"summary":"Generate closed VA","description":"","operationId":"generate-closed-va","parameters":[{"name":"Authorization","in":"header","description":"Unique token for clients(Public access token)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["paymentMethodType","amount","description","expiredAt","bankShortCode","referenceId","displayName","suffixNo"],"properties":{"paymentMethodType":{"type":"string","description":"Only virtual bank account is available for now"},"amount":{"type":"number","description":"The amount that will be stated in the virtual account","format":"double"},"description":{"type":"string","description":"The description that will be stated in the virtual account (maximum 255 characters)"},"expiredAt":{"type":"string","description":"The expiration time of the close VA (minimum 1 hour from request time and maximum 30 days from request time)","format":"date-time"},"bankShortCode":{"type":"string","description":"Institution short code of the bank"},"referenceId":{"type":"string","description":"Unique ID that is being generated by the client to track each VA generation"},"displayName":{"type":"string","description":"The display name that will be shown in the user's payment platform (maximum 24 characters)"},"suffixNo":{"type":"string","description":"The customizable last 8 digits on the Virtual Account Numbers (Only available for BRI and Bank Sahabat Sampoerna)"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",\n  \"data\": {\n    \"id\": \"CL_77d16e55300146c487c22f02f904c43e\",\n    \"type\": \"payment\",\n    \"attributes\": {\n      \"referenceId\": \"test_VA2\",\n      \"description\": \"Transaction 1 payment\",\n      \"amount\": \"15000.0\",\n      \"status\": \"pending\",\n      \"createdAt\": \"2021-12-13T14:26:43.000+07:00\",\n      \"expiredAt\": \"2021-12-31T09:07:04.000+07:00\",\n      \"paymentMethod\": {\n        \"type\": \"virtual_bank_account\",\n        \"instructions\": {\n          \"bankShortCode\": \"BRI\",\n          \"accountNo\": \"1304421991909265\",\n          \"displayName\": \"IKN-Close VA 1\"\n        }\n      }\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"data":{"type":"object","properties":{"id":{"type":"string","example":"CL_77d16e55300146c487c22f02f904c43e"},"type":{"type":"string","example":"payment"},"attributes":{"type":"object","properties":{"referenceId":{"type":"string","example":"test_VA2"},"description":{"type":"string","example":"Transaction 1 payment"},"amount":{"type":"string","example":"15000.0"},"status":{"type":"string","example":"pending"},"createdAt":{"type":"string","example":"2021-12-13T14:26:43.000+07:00"},"expiredAt":{"type":"string","example":"2021-12-31T09:07:04.000+07:00"},"paymentMethod":{"type":"object","properties":{"type":{"type":"string","example":"virtual_bank_account"},"instructions":{"type":"object","properties":{"bankShortCode":{"type":"string","example":"BRI"},"accountNo":{"type":"string","example":"1304421991909265"},"displayName":{"type":"string","example":"IKN-Close VA 1"}}}}}}}}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl  --request POST 'https://sandbox.onebrick.io/v1/payments/close-va' \\\n--header 'Authorization: Bearer public_access_token' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"paymentMethodType\": \"virtual_bank_account\",\n    \"amount\": 15000,\n    \"referenceId\": \"test_VA2\",\n    \"expiredAt\": \"2021-12-31T09:07:04+07:00\",\n    \"description\": \"Transaction 1 paymente\",\n    \"paymentMethodOptions\":\n    {\n        \"bankShortCode\": \"BRI\",\n        \"displayName\": \"Close VA 1\",\n        \"suffixNo\": \"91909265\"\n    }\n}'"}],"samples-languages":["curl"]}}},"/payments/close-va/retrieve/{VA-ID}":{"get":{"summary":"Status of close VA","description":"","operationId":"status-of-close-va","parameters":[{"name":"Authorization","in":"header","description":"Unique identifier for clients(Public access token)","required":true,"schema":{"type":"string"}},{"name":"VA-ID","in":"path","description":"Unique id of virtual account","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",\n  \"data\": {\n    \"id\": \"CL_77d16e55300146c487c22f02f904c43e\",\n    \"type\": \"payment\",\n    \"attributes\": {\n      \"referenceId\": \"test_VA2\",\n      \"description\": \"Transaction 1 payment\",\n      \"amount\": \"15000.0\",\n      \"status\": \"pending\",\n      \"createdAt\": \"2021-12-13T14:26:43.000+07:00\",\n      \"expiredAt\": \"2021-12-31T09:07:04.000+07:00\",\n      \"paymentMethod\": {\n        \"type\": \"virtual_bank_account\",\n        \"instructions\": {\n          \"bankShortCode\": \"BRI\",\n          \"accountNo\": \"1304421991909265\",\n          \"displayName\": \"IKN-Close VA 1\"\n        }\n      }\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"data":{"type":"object","properties":{"id":{"type":"string","example":"CL_77d16e55300146c487c22f02f904c43e"},"type":{"type":"string","example":"payment"},"attributes":{"type":"object","properties":{"referenceId":{"type":"string","example":"test_VA2"},"description":{"type":"string","example":"Transaction 1 payment"},"amount":{"type":"string","example":"15000.0"},"status":{"type":"string","example":"pending"},"createdAt":{"type":"string","example":"2021-12-13T14:26:43.000+07:00"},"expiredAt":{"type":"string","example":"2021-12-31T09:07:04.000+07:00"},"paymentMethod":{"type":"object","properties":{"type":{"type":"string","example":"virtual_bank_account"},"instructions":{"type":"object","properties":{"bankShortCode":{"type":"string","example":"BRI"},"accountNo":{"type":"string","example":"1304421991909265"},"displayName":{"type":"string","example":"IKN-Close VA 1"}}}}}}}}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --request GET 'https://staging-api.onebrick.io/v1/payments/close-va/retrieve/{VA-ID}' \\\n--header 'Authorization: Bearer public_access_token' \\"}],"samples-languages":["curl"]}}},"/documents/extracts":{"post":{"summary":"Statement Digitization","description":"The Identity endpoint allows developers to upload the passbook and monthly financial statement documents with the format: PDF, PNG, XLS, or JPEG and with a maximum size of 5 MB / file.","operationId":"statement-digitization","parameters":[{"name":"Authorization","in":"header","description":"Unique identifier for client(Public access token)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["user_id","files"],"properties":{"user_id":{"type":"string","description":"Unique Id for each user"},"files":{"type":"string","description":"The financial statement file, PDF, PNG , XLS, or JPEG with a maximum size of 5 MB / file.","format":"binary"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",\n  \"data\": {\n    \"id\": \"f97be126-5522-4716-b796-2cbc83fb9ee4\",\n    \"fileNames\": [\n      \"BNI - 4.pdf\"\n    ],\n    \"user_id\": \"Test\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"data":{"type":"object","properties":{"id":{"type":"string","example":"f97be126-5522-4716-b796-2cbc83fb9ee4"},"fileNames":{"type":"array","items":{"type":"string","example":"BNI - 4.pdf"}},"user_id":{"type":"string","example":"Test"}}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl  --request POST 'https://sandbox.onebrick.io/v1/documents/extract' \\\n--header 'Authorization: Bearer public_access_token' \\\n--form 'files=@\"/path/to/BNI - 4.pdf\"' \\\n--form 'user_id=\"Test\"'","name":"Request body example"}],"samples-languages":["curl"]}},"get":{"summary":"Webhook URL","description":"Once the digitization process is done, Brick will notify your platform with callbacks that will notify you of the responses of the document digitization. You need to register your Webhook URL to Brick from the Brick Developer Dashboard. If there is no Webhook URL present, then the responses will be sent to Email (attached as CSV) automatically. The email will be the same as the one registered with your brick account.","operationId":"webhook-url","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\"status\": 200,\n\"message\": \"OK\",\n\"data\": {\n    \"id\": \"id\",\n    \"userId\": \"userid\",\n    \"account\": {\n        \"accountHolderVerified\" : \"true\",\n        \"accountNumberVerified\" : \"true\",\n        \"accountId\": \"UarXg4ad/81344wJF8xthY==\",\n        \"accountHolder\": \"JOHN DOE\",\n        \"accountHolderVerification\" : \"JOHN DOE\",  \n        \"accountNumber\": \"1551110757891\",\n        \"bankName\": \"BCA\"\n    },\n    \"transaction\": [\n        {\n            \"reference_id\": 123,\n            \"amount\": 600000.0,\n            \"date\": \"2020-06-29\",\n            \"description\": \"ATM-MP SA CWD XMD S1AW1MJK /7774759936/ATM-RCOASIAAFRK 4616993200225278 RCOASIAAFRK\",\n            \"status\": \"CONFIRMED\",\n            \"direction\": \"out\"\n        },\n        {\n            \"reference_id\": 1234,\n            \"amount\": 10000.0,\n            \"date\": \"2020-06-29\",\n            \"description\": \"CREDIT Bunga\",\n            \"status\": \"CONFIRMED\",\n            \"direction\": \"in\"\n        }\n    ],\n    \"historyBalance\": {\n        \"beginningBalance\": 500000.0,\n        \"endingBalance\": 1000000.0,\n        \"dateFrom\": \"2020-06-01\",\n        \"dateTo\": \"2020-06-30\",\n    }"}}}}}},"deprecated":false}},"/auth/":{"post":{"summary":"Generate OTP in OVO","description":"","operationId":"generate-otp-in-ovo","parameters":[{"name":"Authorization","in":"header","description":"Unique identifier for Client(Public access token)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["institution_id","username"],"properties":{"institution_id":{"type":"string","description":"ID of the institution"},"username":{"type":"string","description":"End-user's OVO registered mobile number"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 428,\n  \"message\": \"An OTP and PIN Security Code are required by the institution to login\",\n  \"data\": {\n    \"username\": \"+62812345678\",\n    \"refId\": \"3f750ecf220d4099b06cf76373b84972\",\n    \"deviceId\": \"3169a46c-b730-43fe-a33e-e7aabfb6d261\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":428,"default":0},"message":{"type":"string","example":"An OTP and PIN Security Code are required by the institution to login"},"data":{"type":"object","properties":{"username":{"type":"string","example":"+62812345678"},"refId":{"type":"string","example":"3f750ecf220d4099b06cf76373b84972"},"deviceId":{"type":"string","example":"3169a46c-b730-43fe-a33e-e7aabfb6d261"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Invalid Phone number format":{"value":"{\n    \"status\": 500,\n    \"message\": \"Invalid Phone number format\",\n    \"data\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":500,"default":0},"message":{"type":"string","example":"Invalid Phone number format"},"data":{}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl  --request POST 'https://sandbox.onebrick.io/v1/auth' \\\n--header 'Authorization: Bearer public-sandbox-dc9b46e2-52d1-4ae9-b66f-49ff52c9d37d' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"institution_id\" : 12, \n    \"username\" : \"+62812345678\"\n}'"}],"samples-languages":["curl"]}}},"/auth/ovo":{"post":{"summary":"Generate User access token in OVO","description":"","operationId":"generate-user-access-token-in-ovo","parameters":[{"name":"Authorization","in":"header","description":"Unique identifier for Client(Public access token)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["username","refId","otpNumber","pin","deviceId"],"properties":{"username":{"type":"string","description":"End-user's OVO registered mobile number"},"refId":{"type":"string","description":"Request identification of that request"},"otpNumber":{"type":"string","description":"OTP that will be sent to the end-user mobile number (received from SMS via Mobile Number) or Link that will be sent to the end-user mobile number (received from SMS via Mobile Number)"},"pin":{"type":"string","description":"End-user's OVO PIN"},"deviceId":{"type":"string","description":"Device identification of that request"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",\n  \"data\": \"access-sandbox-b52b4601-db29-4a50-9116-335677cf52b1\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"data":{"type":"string","example":"access-sandbox-b52b4601-db29-4a50-9116-335677cf52b1"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Invalid Link":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Invalid Link. Please Copy Link that you receivee\"\n}"},"Invalid Security Code":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Invalid Security code, please re-authenticate\"\n}"}},"schema":{"oneOf":[{"title":"Invalid Link","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Invalid Link. Please Copy Link that you receivee"}}},{"title":"Invalid Security Code","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Invalid Security code, please re-authenticate"}}}]}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl  --request POST 'https://sandbox.onebrick.io/v1/auth/ovo' \\\n--header 'Authorization: Bearer public_access_token' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"username\": \"+62812345678\",\n    \"refId\": \"3f750ecf220d4099b06cf76373b84972\",\n    \"deviceId\": \"3169a46c-b730-43fe-a33e-e7aabfb6d261\",\n    \"otpNumber\": \"https://ovo.id/app/login?code=6942733dd40da140811644ef7aedf423b46c13ed7e2d87f48a507d73eea7f1d9\",\n    \"pin\": 123456\n}'","name":"cURL - OTP[Link]"},{"language":"curl","code":"curl  --request POST 'https://sandbox.onebrick.io/v1/auth/ovo' \\\n--header 'Authorization: Bearer public_access_token' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"username\": \"+62812345678\",\n    \"refId\": \"3f750ecf220d4099b06cf76373b84972\",\n    \"deviceId\": \"3169a46c-b730-43fe-a33e-e7aabfb6d261\",\n    \"otpNumber\": 123456,\n    \"pin\": 123456\n}'","name":"cURL - OTP[Number]"}],"samples-languages":["curl"]}}},"/auth/gopay":{"post":{"summary":"Generate User access token in GoPay","description":"","operationId":"generate-user-access-token-in-gopay","parameters":[{"name":"Authorization","in":"header","description":"Unique identifier for Client(Public access token)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["username","uniqueId","sessionId","otpToken","OTP"],"properties":{"username":{"type":"string","description":"End-user's Gopay registered mobile number"},"uniqueId":{"type":"string","description":"Request identification of that request"},"sessionId":{"type":"string","description":"Session identification of that request"},"otpToken":{"type":"string","description":"OTP token that binds the OTP (received from SMS via Mobile Number)"},"OTP":{"type":"string","description":"OTP (received from SMS via Mobile Number)"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",\n  \"data\": \"access-sandbox-b52b4601-db29-4a50-9116-335677cf52b1\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"data":{"type":"string","example":"access-sandbox-b52b4601-db29-4a50-9116-335677cf52b1"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"OTP expired":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"OTP code is expired. Try to resend code.\"\n}"},"OTP is invalid":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"OTP code is not valid\"\n}"}},"schema":{"oneOf":[{"title":"OTP expired","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"OTP code is expired. Try to resend code."}}},{"title":"OTP is invalid","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"OTP code is not valid"}}}]}}}}},"deprecated":false,"security":[]}},"/statement?month={month}&year={year}":{"get":{"summary":"PDF Statement - GET","description":"The PDF statement GET API will allow downloading the PDF statement retrieved from the financial account based on the 'month' and 'year' parameters. Available only for selected 5 institutions.","operationId":"pdf-statement-1","parameters":[{"name":"month","in":"path","description":"Return PDF statement based on this month","schema":{"type":"integer","format":"int32"},"required":true},{"name":"year","in":"path","description":"Returns PDF statement based on this year","schema":{"type":"integer","format":"int32"},"required":true},{"name":"Authorization","in":"header","description":"Unique Identifier for end-user(User access token)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"Download PDF"}}}}}},"deprecated":false}},"/payments/open-va/status/{VA-ID}":{"post":{"summary":"Simulate payment of open VA [COMPLETED]","description":"This API is for simulation to test the open VA process, This API is only available in a Sandbox environment.","operationId":"simulate-payment-of-open-va-paid","parameters":[{"name":"Authorization","in":"header","description":"Unique token for clients","required":true,"schema":{"type":"string"}},{"name":"VA-ID","in":"path","description":"ID of VA that is generated by Brick in the VA generation API response for simulating \"paid\" status, ID of Payment that is generated by Brick in the VA callback response for simulating \"completed\" status","schema":{"type":"string"},"required":true},{"name":"action","in":"query","description":"The status that want to be achieved (paid / completed)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",\n  \"data\":null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"data":{}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl  --request POST 'https://sandbox.onebrick.io/v1/payments/open-va/status/{VA-ID}' \\\n--header 'Authorization: Bearer public_access_token' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"action\": \"completed\"\n}'"}],"samples-languages":["curl"]}}},"/payments/close-va/status/{VA-ID}":{"post":{"summary":"Simulate payment of close VA [Completed]","description":"This API is for simulation to test the open VA process, This API is only available in a Sandbox environment.","operationId":"simulate-payment-of-close-va-completed","parameters":[{"name":"Authorization","in":"header","description":"Unique token for clients(Public access token)","required":true,"schema":{"type":"string"}},{"name":"VA-ID","in":"path","description":"ID of VA that is generated by Brick in the VA generation API response for simulating \"paid\" status, ID of Payment that is generated by Brick in the VA callback response for simulating \"completed\" status","schema":{"type":"string"},"required":true},{"name":"action","in":"query","description":"The status that want to be achieved (paid / completed)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",\n  \"data\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"data":{}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl  --request POST 'https://sandbox.onebrick.io/v1/payments/close-va/status/{VA-ID}' \\\n--header 'Authorization: Bearer public_access_token' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"action\": \"completed\"\n}'"}],"samples-languages":["curl"]}}},"/auth/token/":{"post":{"summary":"Step 1 - Generate ClientId & RedirectRef","description":"In this step, you can generate ClientId & redirectRef Id through public access token.","operationId":"step-1-generate-clientid-redirectref1","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["accessToken","userId","redirectUrl"],"properties":{"accessToken":{"type":"string","description":"In this field please pass public_access_token that you got from auth API."},"userId":{"type":"string","description":"In this please pass unique Id of user."},"redirectUrl":{"type":"string","description":"In this, Please pass the URL where you want to redirect after successful authentication."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"\n  \"status\": 200,\n  \"message\": \"OK\",\n  \"data\": {\n    \"clientId\": 100,\n    \"clientName\": \"Brick\",\n    \"clientFullName\": \"Alfred Gunawan\",\n    \"clientEmail\": \"AlfredGunawan@gmail.com\",\n    \"clientAlias\": \"Your App\",\n    \"clientImageUrl\": \"https://brick-company.s3-ap-southeast-1.amazonaws.com/20210524114645_BrickIcon.png\",\n    \"clientFavicon\": \"https://i.ibb.co/0ct5brm/47cb1f6a-1890-4695-b356-061dd27d3a0d-200x200-1.png\",\n    \"redirectRefId\": 1012\n  }\n}"}}}}}},"deprecated":false}},"/auth/clientId={clientId}/":{"post":{"summary":"Step 2 - Generate User access token","description":"In this step, you can generate ClientId & redirectRef Id through public access token.","operationId":"step-2-generate-user-access-token1","parameters":[{"name":"Authorization","in":"header","description":"Unique Identifier for Client(Public access token)","required":true,"schema":{"type":"string"}},{"name":"clientId","in":"path","description":"Unique client Id that is generated through Step 1","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["institutionId","username","password","redirectRefId"],"properties":{"institutionId":{"type":"integer","description":"Unique Institution Id for every institutions","format":"int32"},"username":{"type":"string","description":"End-users username of the Institutions account"},"password":{"type":"string","description":"End-users password of the Institutions account"},"redirectRefId":{"type":"string","description":"Redirect refId, You can generate this Id from Step 1"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",\n  \"data\": {\n    \"accessToken\": \"user_access_token\",\n    \"bankId\": \"bankId\",\n    \"target\": \"https://localhost:8080/\",\n    \"userId\": \"123\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"data":{"type":"object","properties":{"accessToken":{"type":"string","example":"user_access_token"},"bankId":{"type":"string","example":"bankId"},"target":{"type":"string","example":"https://localhost:8080/"},"userId":{"type":"string","example":"123"}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Invalid public-access-token":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Token not found\",\n    \"error_code\": \"0001\",\n    \"error_message\": \"Invalid public-access-token\"\n}"},"Invalid credential":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Invalid Credentials\"\n}"}},"schema":{"oneOf":[{"title":"Invalid public-access-token","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Token not found"},"error_code":{"type":"string","example":"0001"},"error_message":{"type":"string","example":"Invalid public-access-token"}}},{"title":"Invalid credential","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Invalid Credentials"}}}]}}}}},"deprecated":false,"security":[]}},"/account-mfa/list/":{"post":{"summary":"Account List - POST MFA","description":"This endpoint can be used to refresh the session of institution with MFA by sending new OTP to end user. Currently, E-Wallet and Institution with Security Question can use this customization.","operationId":"account-list-post-mfa","parameters":[{"name":"Authorization","in":"header","description":"Unique identifier for client(User access token)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",\n  \"data\": [\n    {\n      \"accountId\": \"001800412324242\",\n      \"accountHolder\": \"JOHN DOE\",\n      \"accountNumber\": \"80010023203223\",\n      \"balances\": {\n        \"available\": 32395.66,\n        \"current\": 32395.66\n      }\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"data":{"type":"array","items":{"type":"object","properties":{"accountId":{"type":"string","example":"001800412324242"},"accountHolder":{"type":"string","example":"JOHN DOE"},"accountNumber":{"type":"string","example":"80010023203223"},"balances":{"type":"object","properties":{"available":{"type":"number","example":32395.66,"default":0},"current":{"type":"number","example":32395.66,"default":0}}}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Token not found\",\n    \"error_code\": \"0001\",\n    \"error_message\": \"Invalid public-access-token\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Token not found"},"error_code":{"type":"string","example":"0001"},"error_message":{"type":"string","example":"Invalid public-access-token"}}}}}},"428":{"description":"428","content":{"application/json":{"examples":{"E-Wallet OTP Required":{"value":"{\n  \"status\": 428,\n  \"message\": \"An OTP is required by the institution to login\",\n  \"data\": {\n    \"sessionId\": \"NYnidfEYsMvTeJRSwegtuY9zyZBopT\",\n    \"requestId\": \"323bfd56-d6cf-4ecc-9c73-43619497cf9d\",\n    \"token\": null,\n    \"duration\": \"50000\"\n  }\n}"},"Institution with Security Question Required":{"value":"{\n  \"status\": 428,\n  \"message\": \"An answer to a security question is required by the institution.\",\n  \"data\": {\n    \"sessionId\": \"NYnidfEYsMvTeJRSwegtuY9zyZBopT\",\n    \"requestId\": \"323bfd56-d6cf-4ecc-9c73-43619497cf9d\",\n    \"securityQuestion\": \"Kapan tanggal lahir ibu mu?\",\n    \"duration\": 50000\n  }\n}"}},"schema":{"oneOf":[{"title":"E-Wallet OTP Required","type":"object","properties":{"status":{"type":"integer","example":428,"default":0},"message":{"type":"string","example":"An OTP is required by the institution to login"},"data":{"type":"object","properties":{"sessionId":{"type":"string","example":"NYnidfEYsMvTeJRSwegtuY9zyZBopT"},"requestId":{"type":"string","example":"323bfd56-d6cf-4ecc-9c73-43619497cf9d"},"token":{},"duration":{"type":"string","example":"50000"}}}}},{"title":"Institution with Security Question Required","type":"object","properties":{"status":{"type":"integer","example":428,"default":0},"message":{"type":"string","example":"An answer to a security question is required by the institution."},"data":{"type":"object","properties":{"sessionId":{"type":"string","example":"NYnidfEYsMvTeJRSwegtuY9zyZBopT"},"requestId":{"type":"string","example":"323bfd56-d6cf-4ecc-9c73-43619497cf9d"},"securityQuestion":{"type":"string","example":"Kapan tanggal lahir ibu mu?"},"duration":{"type":"integer","example":50000,"default":0}}}}}]}}}}},"deprecated":false,"security":[]},"patch":{"summary":"Account List - PATCH MFA","description":"This endpoint can be used to retrieve latest list of accounts or products (and their associated data) held by the End User with a Provider by providing new OTP to refresh the account session. Currently, E-Wallet and Institution with Security Question can use this customization.","operationId":"account-list-patch-mfa","parameters":[{"name":"Authorization","in":"header","description":"Unique Identifier for users(User access token)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"token":{"type":"string","description":"OTP from the end-user (for E-Wallet) or The answer to the given security question (for Institution with Security Question)"},"sessionId":{"type":"string","description":"Unique Id that generated after successful connection"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",  \n  \"lastUpdateAt\": \"2022-01-04 16:42 GMT+0700\",\n  \"session\": \"valid\",\n  \"data\": [\n    {\n      \"accountId\": \"001800412324242\",\n      \"accountHolder\": \"JOHN DOE\",\n      \"accountNumber\": \"80010023203223\",\n      \"balances\": {\n        \"available\": 32395.66,\n        \"current\": 32395.66\n      }\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"lastUpdateAt":{"type":"string","example":"2022-01-04 16:42 GMT+0700"},"session":{"type":"string","example":"valid"},"data":{"type":"array","items":{"type":"object","properties":{"accountId":{"type":"string","example":"001800412324242"},"accountHolder":{"type":"string","example":"JOHN DOE"},"accountNumber":{"type":"string","example":"80010023203223"},"balances":{"type":"object","properties":{"available":{"type":"number","example":32395.66,"default":0},"current":{"type":"number","example":32395.66,"default":0}}}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Invalid user-access-token":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Unauthorized\",\n    \"error_code\": \"0002\",\n    \"error_message\": \"Invalid user-access-token\"\n}"},"Invalid Token":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Invalid token\",\n    \"error_code\": \"0013\",\n    \"error_message\": \"Invalid token\"\n}"}},"schema":{"oneOf":[{"title":"Invalid user-access-token","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Unauthorized"},"error_code":{"type":"string","example":"0002"},"error_message":{"type":"string","example":"Invalid user-access-token"}}},{"title":"Invalid Token","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Invalid token"},"error_code":{"type":"string","example":"0013"},"error_message":{"type":"string","example":"Invalid token"}}}]}}}}},"deprecated":false}},"/account-mfa/detail/":{"post":{"summary":"Account Detail - POST MFA","description":"This endpoint can be used to refresh the session of institution with MFA by sending new OTP to end user. Currently, E-Wallet and Institution with Security Question can use this customization.","operationId":"account-detail-post-mfa","parameters":[{"name":"Authorization","in":"header","description":"Unique identifier for client(User access token)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",\n  \"data\": {\n    \"email\": \"john@doe.com\",\n    \"address\": \"CIPETE,PINANG /KOTA TANGERANG,CIPETE,INDONESIA,15810\",\n    \"phoneNumber\": \"08123456789\",\n    \"ktpNumber\": null,\n    \"accountId\": \"001800412324242\",\n    \"accountHolder\": \"John Doe\",\n    \"accountNumber\": \"80010023203223\",\n    \"balances\": {\n      \"available\": 1428907,\n      \"current\": 1428907\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"data":{"type":"object","properties":{"email":{"type":"string","example":"john@doe.com"},"address":{"type":"string","example":"CIPETE,PINANG /KOTA TANGERANG,CIPETE,INDONESIA,15810"},"phoneNumber":{"type":"string","example":"08123456789"},"ktpNumber":{},"accountId":{"type":"string","example":"001800412324242"},"accountHolder":{"type":"string","example":"John Doe"},"accountNumber":{"type":"string","example":"80010023203223"},"balances":{"type":"object","properties":{"available":{"type":"integer","example":1428907,"default":0},"current":{"type":"integer","example":1428907,"default":0}}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Token not found\",\n    \"error_code\": \"0001\",\n    \"error_message\": \"Invalid public-access-token\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Token not found"},"error_code":{"type":"string","example":"0001"},"error_message":{"type":"string","example":"Invalid public-access-token"}}}}}},"428":{"description":"428","content":{"application/json":{"examples":{"E-Wallet OTP Required":{"value":"{\n  \"status\": 428,\n  \"message\": \"An OTP is required by the institution to login\",\n  \"data\": {\n    \"sessionId\": \"NYnidfEYsMvTeJRSwegtuY9zyZBopT\",\n    \"requestId\": \"323bfd56-d6cf-4ecc-9c73-43619497cf9d\",\n    \"token\": null,\n    \"duration\": \"50000\"\n  }\n}"},"Institution With Security Question Required":{"value":"{\n  \"status\": 428,\n  \"message\": \"An answer to a security question is required by the institution.\",\n  \"data\": {\n    \"sessionId\": \"NYnidfEYsMvTeJRSwegtuY9zyZBopT\",\n    \"requestId\": \"323bfd56-d6cf-4ecc-9c73-43619497cf9d\",\n    \"securityQuestion\": \"Kapan tanggal lahir ibu mu?\",\n    \"duration\": 50000\n  }\n}"}},"schema":{"oneOf":[{"title":"E-Wallet OTP Required","type":"object","properties":{"status":{"type":"integer","example":428,"default":0},"message":{"type":"string","example":"An OTP is required by the institution to login"},"data":{"type":"object","properties":{"sessionId":{"type":"string","example":"NYnidfEYsMvTeJRSwegtuY9zyZBopT"},"requestId":{"type":"string","example":"323bfd56-d6cf-4ecc-9c73-43619497cf9d"},"token":{},"duration":{"type":"string","example":"50000"}}}}},{"title":"Institution With Security Question Required","type":"object","properties":{"status":{"type":"integer","example":428,"default":0},"message":{"type":"string","example":"An answer to a security question is required by the institution."},"data":{"type":"object","properties":{"sessionId":{"type":"string","example":"NYnidfEYsMvTeJRSwegtuY9zyZBopT"},"requestId":{"type":"string","example":"323bfd56-d6cf-4ecc-9c73-43619497cf9d"},"securityQuestion":{"type":"string","example":"Kapan tanggal lahir ibu mu?"},"duration":{"type":"integer","example":50000,"default":0}}}}}]}}}}},"deprecated":false,"security":[]},"patch":{"summary":"Account Detail - PATCH MFA","description":"This endpoint can be used to retrieve data associated with the specified ‘account_id’ by providing new OTP to refresh the account session. Currently, E-Wallet and Institution with Security Question can use this customization.","operationId":"account-detail-patch-mfa","parameters":[{"name":"Authorization","in":"header","description":"Unique Identifier for user(User access token)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"token":{"type":"string","description":"OTP from the end-user (for E-Wallet) or The answer to the given security question (for Institution with Security Question)"},"sessionId":{"type":"string","description":"Unique Id that generated after successful connection"},"accountId":{"type":"string","description":"Id of the account as a parameter"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",\n  \"lastUpdateAt\": \"2022-01-04 16:42 GMT+0700\",\n  \"session\": \"valid\",\n  \"data\": {\n    \"email\": \"john@doe.com\",\n    \"address\": \",CIPETE,PINANG /KOTA TANGERANG,CIPETE,INDONESIA,15810\",\n    \"phoneNumber\": \"08123456789\",\n    \"ktpNumber\": null,\n    \"accountId\": \"001800412324242\",\n    \"accountHolder\": \"John Doe\",\n    \"accountNumber\": \"80010023203223\",\n    \"balances\": {\n      \"available\": 142890.37,\n      \"current\": 1428907.3\n    }\n  }\n}"},"Account not found":{"value":"{\n    \"status\": 200,\n    \"message\": \"Account not found\",\n    \"data\": null,\n    \"error_code\": \"2006\",\n    \"error_message\": \"Account not found\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"lastUpdateAt":{"type":"string","example":"2022-01-04 16:42 GMT+0700"},"session":{"type":"string","example":"valid"},"data":{"type":"object","properties":{"email":{"type":"string","example":"john@doe.com"},"address":{"type":"string","example":",CIPETE,PINANG /KOTA TANGERANG,CIPETE,INDONESIA,15810"},"phoneNumber":{"type":"string","example":"08123456789"},"ktpNumber":{},"accountId":{"type":"string","example":"001800412324242"},"accountHolder":{"type":"string","example":"John Doe"},"accountNumber":{"type":"string","example":"80010023203223"},"balances":{"type":"object","properties":{"available":{"type":"number","example":142890.37,"default":0},"current":{"type":"number","example":1428907.3,"default":0}}}}}}},{"title":"Account not found","type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"Account not found"},"data":{},"error_code":{"type":"string","example":"2006"},"error_message":{"type":"string","example":"Account not found"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Invalid user-access-token":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Unauthorized\",\n    \"error_code\": \"0002\",\n    \"error_message\": \"Invalid user-access-token\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Unauthorized"},"error_code":{"type":"string","example":"0002"},"error_message":{"type":"string","example":"Invalid user-access-token"}}}},"text/plain":{"examples":{"Invalid Token":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Invalid token\",\n    \"error_code\": \"0013\",\n    \"error_message\": \"Invalid token\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Invalid token"},"error_code":{"type":"string","example":"0013"},"error_message":{"type":"string","example":"Invalid token"}}}}}}},"deprecated":false}},"/transaction-mfa/list/":{"post":{"summary":"Transaction List - POST MFA","description":"This endpoint can be used to refresh the session of institution with MFA by sending new OTP to end user. Currently, E-Wallet and Institution with Security Question can use this customization.","operationId":"transaction-list-post-mfa","parameters":[{"name":"Authorization","in":"header","description":"Unique identifier for client(User access token)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",\n  \"data\": [\n    {\n      \"id\": 0,\n      \"account_id\": \"XH3c7dtoskIqAmEbwHAM7Q==\",\n      \"institution_id\": 2,\n      \"merchant_id\": 0,\n      \"outlet_outlet_id\": 0,\n      \"location_city_id\": 0,\n      \"location_country_id\": 0,\n      \"date\": \"2021-06-08\",\n      \"amount\": 10000,\n      \"description\": \"TRSF E-BK CR 06/08 95031 TRF BRICK TO TAUFI C FERNANDO SETIO\",\n      \"status\": \"CONFIRMED\",\n      \"direction\": \"in\",\n      \"reference_id\": \"XH3c7dtoskIqAmEbwHAM7Q==-20210608-1\",\n      \"category\": {\n        \"category_id\": 1,\n        \"category_name\": \"PURCHASE\",\n        \"classification_group_id\": 4,\n        \"classification_group\": \"Shopping\",\n        \"classification_subgroup_id\": 14,\n        \"classification_subgroup\": \"Electronic & Software\"\n      }\n    },\n    {\n      \"id\": 0,\n      \"account_id\": \"XH3c7dtoskIqAmEbwHAM7Q==\",\n      \"institution_id\": 2,\n      \"merchant_id\": 0,\n      \"outlet_outlet_id\": 0,\n      \"location_city_id\": 0,\n      \"location_country_id\": 0,\n      \"date\": \"2021-06-21\",\n      \"amount\": 222200,\n      \"description\": \"KARTU DEBIT THE COFFEE ACADEMI\",\n      \"status\": \"CONFIRMED\",\n      \"direction\": \"out\",\n      \"reference_id\": \"XH3c7dtoskIqAmEbwHAM7Q==-20210621-1\",\n      \"category\": {\n        \"category_id\": 1,\n        \"category_name\": \"PURCHASE\",\n        \"classification_group_id\": 7,\n        \"classification_group\": \"Food & Dining\",\n        \"classification_subgroup_id\": 26,\n        \"classification_subgroup\": \"Coffee & Beverage\"\n      }\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"OK"},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":0,"default":0},"account_id":{"type":"string","example":"XH3c7dtoskIqAmEbwHAM7Q=="},"institution_id":{"type":"integer","example":2,"default":0},"merchant_id":{"type":"integer","example":0,"default":0},"outlet_outlet_id":{"type":"integer","example":0,"default":0},"location_city_id":{"type":"integer","example":0,"default":0},"location_country_id":{"type":"integer","example":0,"default":0},"date":{"type":"string","example":"2021-06-08"},"amount":{"type":"integer","example":10000,"default":0},"description":{"type":"string","example":"TRSF E-BK CR 06/08 95031 TRF BRICK TO TAUFI C FERNANDO SETIO"},"status":{"type":"string","example":"CONFIRMED"},"direction":{"type":"string","example":"in"},"reference_id":{"type":"string","example":"XH3c7dtoskIqAmEbwHAM7Q==-20210608-1"},"category":{"type":"object","properties":{"category_id":{"type":"integer","example":1,"default":0},"category_name":{"type":"string","example":"PURCHASE"},"classification_group_id":{"type":"integer","example":4,"default":0},"classification_group":{"type":"string","example":"Shopping"},"classification_subgroup_id":{"type":"integer","example":14,"default":0},"classification_subgroup":{"type":"string","example":"Electronic & Software"}}}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 401,\n    \"message\": \"Unauthorized\",\n    \"data\": \"Token not found\",\n    \"error_code\": \"0001\",\n    \"error_message\": \"Invalid public-access-token\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"message":{"type":"string","example":"Unauthorized"},"data":{"type":"string","example":"Token not found"},"error_code":{"type":"string","example":"0001"},"error_message":{"type":"string","example":"Invalid public-access-token"}}}}}},"428":{"description":"428","content":{"application/json":{"examples":{"E-Wallet OTP Required":{"value":"\n{\n  \"status\": 428,\n  \"message\": \"An OTP is required by the institution to login\",\n  \"data\": {\n    \"sessionId\": \"NYnidfEYsMvTeJRSwegtuY9zyZBopT\",\n    \"requestId\": \"323bfd56-d6cf-4ecc-9c73-43619497cf9d\",\n    \"token\": null,\n    \"duration\": \"50000\"\n  }\n}"},"Institution with Security Question Required":{"value":"{\n  \"status\": 428,\n  \"message\": \"An answer to a security question is required by the institution.\",\n  \"data\": {\n    \"sessionId\": \"NYnidfEYsMvTeJRSwegtuY9zyZBopT\",\n    \"requestId\": \"323bfd56-d6cf-4ecc-9c73-43619497cf9d\",\n    \"securityQuestion\": \"Kapan tanggal lahir ibu mu?\",\n    \"duration\": 50000\n  }\n}"}},"schema":{"oneOf":[{"title":"E-Wallet OTP Required","type":"object","properties":{"status":{"type":"integer","example":428,"default":0},"message":{"type":"string","example":"An OTP is required by the institution to login"},"data":{"type":"object","properties":{"sessionId":{"type":"string","example":"NYnidfEYsMvTeJRSwegtuY9zyZBopT"},"requestId":{"type":"string","example":"323bfd56-d6cf-4ecc-9c73-43619497cf9d"},"token":{},"duration":{"type":"string","example":"50000"}}}}},{"title":"Institution with Security Question Required","type":"object","properties":{"status":{"type":"integer","example":428,"default":0},"message":{"type":"string","example":"An answer to a security question is required by the institution."},"data":{"type":"object","properties":{"sessionId":{"type":"string","example":"NYnidfEYsMvTeJRSwegtuY9zyZBopT"},"requestId":{"type":"string","example":"323bfd56-d6cf-4ecc-9c73-43619497cf9d"},"securityQuestion":{"type":"string","example":"Kapan tanggal lahir ibu mu?"},"duration":{"type":"integer","example":50000,"default":0}}}}}]}}}}},"deprecated":false,"security":[]},"patch":{"summary":"Transaction List - PATCH MFA","description":"This endpoint can be used to retrieve all transactions for the account connected by a user by providing new OTP to refresh the account session. Currently, E-Wallet can use this customization.","operationId":"transaction-list-patch-mfa","parameters":[{"name":"Authorization","in":"header","description":"Unique Identifier of end user(User access token)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"token":{"type":"string","description":"OTP from the end-user (for E-Wallet) or The answer to the given security question (for Institution with Security Question)"},"sessionId":{"type":"string","description":"Unique Id that generated after successful connection"},"from":{"type":"string","description":"Returns transactions posted on or after this date. Default value is date as of the API request minus 3 months","format":"date"},"to":{"type":"string","description":"Returns transactions up to and including this date. Default value is date as of the API request","format":"date"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"OK\",\n  \"lastUpdateAt\": \"2022-01-04 16:42 GMT+0700\",\n  \"session\": \"valid\",\n  \"data\": [\n    {\n      \"id\": 0,\n      \"account_id\": \"XH3c7dtoskIqAmEbwHAM7Q==\",\n      \"institution_id\": 2,\n      \"merchant_id\": 0,\n      \"outlet_outlet_id\": 0,\n      \"location_city_id\": 0,\n      \"location_country_id\": 0,\n      \"date\": \"2021-06-08\",\n      \"amount\": 10000,\n      \"description\": \"TRSF E-BK CR 06/08 95031 TRF BRICK TO TAUFI C FERNANDO SETIO\",\n      \"status\": \"CONFIRMED\",\n      \"direction\": \"in\",\n      \"reference_id\": \"XH3c7dtoskIqAmEbwHAM7Q==-20210608-1\",\n      \"category\": {\n        \"category_id\": 1,\n        \"category_name\": \"PURCHASE\",\n        \"classification_group_id\": 4,\n        \"classification_group\": \"Shopping\",\n        \"classification_subgroup_id\": 14,\n        \"classification_subgroup\": \"Electronic & Software\"\n      }\n    },\n    {\n      \"id\": 0,\n      \"account_id\": \"XH3c7dtoskIqAmEbwHAM7Q==\",\n      \"institution_id\": 2,\n      \"merchant_id\": 0,\n      \"outlet_outlet_id\": 0,\n      \"location_city_id\": 0,\n      \"location_country_id\": 0,\n      \"date\": \"2021-06-21\",\n      \"amount\": 222200,\n      \"description\": \"KARTU DEBIT THE COFFEE ACADEMI\",\n      \"status\": \"CONFIRMED\",\n      \"direction\": \"out\",\n      \"reference_id\": \"XH3c7dtoskIqAmEbwHAM7Q==-20210621-1\",\n      \"category\": {\n        \"category_id\": 1,\n        \"category_name\": \"PURCHASE\",\n        \"classification_group_id\": 7,\n        \"classification_group\": \"Food & Dining\",\n        \"classification_subgroup_id\": 26,\n        \"classification_subgroup\": \"Coffee & Beverage\"\n      }\n    }\n  ]\n}"}},"schema":{"type":"object","proper
[...]
