{"openapi":"3.1.0","info":{"title":"Payment V2","version":"2"},"servers":[{"url":"https://sandbox.onebrick.io/v2/payments/gs"}],"components":{"securitySchemes":{"sec0":{"type":"http","scheme":"basic"}}},"security":[{"sec0":[]}],"paths":{"/disbursements":{"post":{"summary":"Disbursement","description":"Sending funds via Brick allows you to perform digital fund transfers, and Brick currently supports fund transfers to financial accounts and e-wallets. Before you can send out funds, you will need to make sure that there are sufficient funds in your account with Brick for disbursements to be possible. To do that, deposit funds to your Brick account.\n\nBefore using this API, it is suggested to use **Account Verification API** to validate the recipient's account.","operationId":"disbursement-api","parameters":[{"name":"publicAccessToken","in":"header","description":"Unique Identifier for Client(Public access token), It should be called with bearer","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"referenceId":{"type":"string","description":"A unique reference ID as a unique identifier","default":"test-disbursement-1"},"description":{"type":"string","description":"An arbitrary string attached to the object. Often useful for displaying to users what the transaction was for. Description length limit is 1000 chars.","default":"test-disbursement-1"},"amount":{"type":"integer","description":"Amount that you would like to send","default":10000,"format":"int32"},"recipientEmail":{"type":"string"},"disbursementMethod":{"type":"object","properties":{"type":{"type":"string","default":"bank_transfer"},"bankShortCode":{"type":"string","default":"MANDIRI"},"bankAccountNo":{"type":"string","default":"12345678"},"bankAccountHolderName":{"type":"string","default":"PROD ONLY"}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"data\": {\n    \"message\": \"We have received your request and are processing it, please check your callback URL for transaction status\",\n    \"id\": \"asdasd123123asdasdasd\",\n    \"type\": \"disbursement\",\n    \"attributes\": {\n      \"referenceId\": \"test-disbursement-1\",\n      \"description\": \"test-disbursement-1\",\n      \"amount\": \"10000\",\n      \"status\": \"processing\",\n      \"settlementStatus\":\"null\",\n      \"createdAt\": \"2022-07-21T13:49:39.752+07:00\",\n      \"disbursementMethod\": {\n        \"type\": \"bank_transfer\",\n        \"bankAccountNo\": \"12345678\",\n        \"bankShortCode\": \"BCA\",\n        \"bankAccountHolderName\": \"PROD ONLY\"\n      }\n    }\n  },\n  \"metaData\": {\n    \"source\": \"API\",\n    \"entity\": \"Payment\"\n  },\n  \"error\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"data":{"type":"object","properties":{"message":{"type":"string","example":"We have received your request and are processing it, please check your callback URL for transaction status"},"id":{"type":"string","example":"asdasd123123asdasdasd"},"type":{"type":"string","example":"disbursement"},"attributes":{"type":"object","properties":{"referenceId":{"type":"string","example":"test-disbursement-1"},"description":{"type":"string","example":"test-disbursement-1"},"amount":{"type":"string","example":"10000"},"status":{"type":"string","example":"processing"},"settlementStatus":{"type":"string","example":"null"},"createdAt":{"type":"string","example":"2022-07-21T13:49:39.752+07:00"},"disbursementMethod":{"type":"object","properties":{"type":{"type":"string","example":"bank_transfer"},"bankAccountNo":{"type":"string","example":"12345678"},"bankShortCode":{"type":"string","example":"BCA"},"bankAccountHolderName":{"type":"string","example":"PROD ONLY"}}}}}}},"metaData":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"error":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Invalid transfer amount":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please use amount more than minimum transfer limit, ie:10.000\",\n        \"action\": \"Please make sure the amount you requested is in the range of Rp 10.000 to Rp 100.000.000\",\n        \"reason\": \"Your amount of transfer is below our minimum transfer amount\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"bankShortCode invalid":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please use valid bankShortCode in the request query\",\n        \"action\": \"Please revalidate your bank short code https://docs.google.com/spreadsheets/d/1OvnDKPnQ0nAdFq8PLyvOjrZlfeVMtu8WE2HymmoY8Og/edit#gid=0\",\n        \"reason\": \"bankShortCode is not valid in the request query\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"callback not available":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"session_available_in_other_device\",\n        \"message\": \"Callback URL is not available\",\n        \"action\": \"Please add the callback URL from dashboard or contact contact sales team\",\n        \"reason\": \"This is Async API, Final response will be sended over callback URL\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"referenceId already used":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please make sure your External key (reference id) has never been used before\",\n        \"action\": \"Please make sure to always use unique reference ID in the parameter\",\n        \"reason\": \"Your external id (referenceId) has already been taken\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"}},"schema":{"oneOf":[{"title":"Invalid transfer amount","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please use amount more than minimum transfer limit, ie:10.000"},"action":{"type":"string","example":"Please make sure the amount you requested is in the range of Rp 10.000 to Rp 100.000.000"},"reason":{"type":"string","example":"Your amount of transfer is below our minimum transfer amount"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"bankShortCode invalid","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please use valid bankShortCode in the request query"},"action":{"type":"string","example":"Please revalidate your bank short code https://docs.google.com/spreadsheets/d/1OvnDKPnQ0nAdFq8PLyvOjrZlfeVMtu8WE2HymmoY8Og/edit#gid=0"},"reason":{"type":"string","example":"bankShortCode is not valid in the request query"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"callback not available","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"session_available_in_other_device"},"message":{"type":"string","example":"Callback URL is not available"},"action":{"type":"string","example":"Please add the callback URL from dashboard or contact contact sales team"},"reason":{"type":"string","example":"This is Async API, Final response will be sended over callback URL"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"referenceId already used","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please make sure your External key (reference id) has never been used before"},"action":{"type":"string","example":"Please make sure to always use unique reference ID in the parameter"},"reason":{"type":"string","example":"Your external id (referenceId) has already been taken"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Invalid token":{"value":"{\n    \"status\": 401,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_headers\",\n        \"message\": \"Please use valid Public_access_token in headers\",\n        \"action\": \"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team\",\n        \"reason\": \"Invalid public_access_token in headers\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"insufficient balance":{"value":"{\n    \"status\": 401,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please make sure you have sufficient fund to process this transaction\",\n        \"action\": \"Please do the top up to proceed this transactions\",\n        \"reason\": \"Your Account has insufficient funds to process this transaction\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"}},"schema":{"oneOf":[{"title":"Invalid token","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_headers"},"message":{"type":"string","example":"Please use valid Public_access_token in headers"},"action":{"type":"string","example":"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team"},"reason":{"type":"string","example":"Invalid public_access_token in headers"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"insufficient balance","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please make sure you have sufficient fund to process this transaction"},"action":{"type":"string","example":"Please do the top up to proceed this transactions"},"reason":{"type":"string","example":"Your Account has insufficient funds to process this transaction"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}}]}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Bank under maintenance":{"value":"{\n    \"status\": 500,\n    \"error\": {\n        \"code\": \"Institution_not_available\",\n        \"message\": \"Requested bank for transfer is currently unavailable\",\n        \"action\": \"Please wait and retry again\",\n        \"reason\": \"Institution is currently under maintainence\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":500,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"Institution_not_available"},"message":{"type":"string","example":"Requested bank for transfer is currently unavailable"},"action":{"type":"string","example":"Please wait and retry again"},"reason":{"type":"string","example":"Institution is currently under maintainence"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}}}}}},"deprecated":false,"security":[]}},"/disbursements/{contractId}":{"get":{"summary":"Get Disbursement Status","description":"This API helps you to retrieve the past disbursement\nNote: A real transaction is only available in a production environment.","operationId":"retrieve-disbursement-api","parameters":[{"name":"contractId","in":"path","description":"Unique identifier to identify the transaction","schema":{"type":"string","default":"zxcz012SDS12"},"required":true},{"name":"publicAccessToken","in":"header","description":"Unique Identifier for Client(Public access token), It should be called with bearer","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 200,\n    \"data\": {\n        \"message\": \"We have successfuly retrieve your disbursement\",\n        \"id\": \"asdasd123123asdasdasd\",\n        \"type\": \"disbursement\",\n        \"attributes\": {\n            \"referenceId\": \"test-disbursement-1\",\n            \"description\": \"test-disbursement-1\",\n            \"amount\": \"10000\",\n            \"status\": \"completed\",\n            \"settlementStatus\":null,\n            \"createdAt\": \"2022-07-21T13:49:39.752+07:00\",\n            \"disbursementMethod\": {\n                \"type\": \"bank_transfer\",\n                \"bankAccountNo\": \"12345678\",\n                \"bankShortCode\": \"BCA\",\n                \"bankAccountHolderName\": \"PROD ONLY\",\n                \"bankName\" : \"Bank Central Asia\"\n            }\n        }\n    },\n    \"metaData\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"error\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"data":{"type":"object","properties":{"message":{"type":"string","example":"We have successfuly retrieve your disbursement"},"id":{"type":"string","example":"asdasd123123asdasdasd"},"type":{"type":"string","example":"disbursement"},"attributes":{"type":"object","properties":{"referenceId":{"type":"string","example":"test-disbursement-1"},"description":{"type":"string","example":"test-disbursement-1"},"amount":{"type":"string","example":"10000"},"status":{"type":"string","example":"completed"},"settlementStatus":{},"createdAt":{"type":"string","example":"2022-07-21T13:49:39.752+07:00"},"disbursementMethod":{"type":"object","properties":{"type":{"type":"string","example":"bank_transfer"},"bankAccountNo":{"type":"string","example":"12345678"},"bankShortCode":{"type":"string","example":"BCA"},"bankAccountHolderName":{"type":"string","example":"PROD ONLY"},"bankName":{"type":"string","example":"Bank Central Asia"}}}}}}},"metaData":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"error":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"invalid token":{"value":"{\n    \"status\": 401,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_headers\",\n        \"message\": \"Please use valid Public_access_token in headers\",\n        \"action\": \"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team\",\n        \"reason\": \"Invalid public_access_token in headers\"\n    },\n    \"metaData\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_headers"},"message":{"type":"string","example":"Please use valid Public_access_token in headers"},"action":{"type":"string","example":"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team"},"reason":{"type":"string","example":"Invalid public_access_token in headers"}}},"metaData":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"invalid contract_id":{"value":"{\n    \"status\": 401,\n    \"error\": {\n        \"code\": \"Unauthorized\",\n        \"message\": \"contract_id_invalid\",\n        \"action\": \"Please check again the request/data\",\n        \"reason\": \"Error on request or data\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"Unauthorized"},"message":{"type":"string","example":"contract_id_invalid"},"action":{"type":"string","example":"Please check again the request/data"},"reason":{"type":"string","example":"Error on request or data"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}}}}}},"deprecated":false,"security":[]}},"/va/open":{"post":{"summary":"Generate Open VA","description":"","operationId":"generate-open-va","parameters":[{"name":"publicAccessToken","in":"header","description":"Unique Identifier for Client(Public access token), It should be called with bearer","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"bankShortCode":{"type":"string","description":"Institution short code of the bank","default":"MANDIRI"},"referenceId":{"type":"string","description":"Unique ID that is being generated by the client to track each VA generation (maximum 255 characters)","default":"test-VA-1"},"displayName":{"type":"string","description":"The display name that will be shown in the user's payment platform (maximum 24 characters)","default":"PRODONLY"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 200,\n    \"data\": {\n\t\t\t\t\"message\": \"We have successfully generated the open VA\",\n        \"id\": \"OP_SA123212SDS123123SAD11222\",\n        \"referenceId\": \"BRICK1234\",\n\t\t\t\t\"bankShortCode\": \"MANDIRI\",\n        \"accountNo\": \"130432138889902\",\n        \"displayName\": \"BRICK\"\n    },\n    \"metaData\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"error\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"data":{"type":"object","properties":{"message":{"type":"string","example":"We have successfully generated the open VA"},"id":{"type":"string","example":"OP_SA123212SDS123123SAD11222"},"referenceId":{"type":"string","example":"BRICK1234"},"bankShortCode":{"type":"string","example":"MANDIRI"},"accountNo":{"type":"string","example":"130432138889902"},"displayName":{"type":"string","example":"BRICK"}}},"metaData":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"error":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"bankShortCode not supported":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"Incorrect_format_of_parameters_in_request\",\n        \"message\": \"Please use Bank Code that we support in the request query\",\n        \"action\": \"Please revisit our API doc to see our supported Bank Code\",\n        \"reason\": \"Bank Code is not supported\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"referenceId used":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please make sure your External key (reference id) has never been used before\",\n        \"action\": \"Please make sure to always use unique reference ID in the parameter\",\n        \"reason\": \"Your external id (referenceId) has already been taken\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"bankShortCode do not use suffixNo":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please do not customize the suffix number for this Bank Code\",\n        \"action\": \"Please use the suffix number given without customization\",\n        \"reason\": \"Suffix number customization is not supported for this Bank Code\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"}},"schema":{"oneOf":[{"title":"bankShortCode not supported","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"Incorrect_format_of_parameters_in_request"},"message":{"type":"string","example":"Please use Bank Code that we support in the request query"},"action":{"type":"string","example":"Please revisit our API doc to see our supported Bank Code"},"reason":{"type":"string","example":"Bank Code is not supported"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"referenceId used","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please make sure your External key (reference id) has never been used before"},"action":{"type":"string","example":"Please make sure to always use unique reference ID in the parameter"},"reason":{"type":"string","example":"Your external id (referenceId) has already been taken"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"bankShortCode do not use suffixNo","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please do not customize the suffix number for this Bank Code"},"action":{"type":"string","example":"Please use the suffix number given without customization"},"reason":{"type":"string","example":"Suffix number customization is not supported for this Bank Code"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Invalid token":{"value":"{\n    \"status\": 401,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_headers\",\n        \"message\": \"Please use valid Public_access_token in headers\",\n        \"action\": \"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team\",\n        \"reason\": \"Invalid public_access_token in headers\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_headers"},"message":{"type":"string","example":"Please use valid Public_access_token in headers"},"action":{"type":"string","example":"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team"},"reason":{"type":"string","example":"Invalid public_access_token in headers"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request POST 'https://sandbox.onebrick.io/v2/payments/gs/va/open' \\\n--header 'publicAccessToken: Bearer {{public-access-token}}' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"bankShortCode\": \"MANDIRI\",\n    \"referenceId\": \"BRICK1234\",\n    \"displayName\": \"BRICK\"\n}'"}],"samples-languages":["curl"]}}},"/va/open?vaId=vaId":{"get":{"summary":"Status of Open VA","description":"","operationId":"status-of-open-va","parameters":[{"name":"publicAccessToken","in":"header","description":"Unique Identifier for Client(Public access token), It should be called with bearer","required":true,"schema":{"type":"string"}},{"name":"vaId","in":"query","description":"Unique id of virtual account","schema":{"type":"string","default":"OP_fc31cbde0c894aed9560bf9322d2dd12"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 200,\n    \"data\": {\n        \"message\": \"We have successfully retrieved the open VA\",\n        \"id\": \"OP_123451123123\",\n        \"referenceId\": \"brick12345\",\n        \"bankShortCode\": \"BCA\",\n        \"accountNo\": \"1304321312312310\",\n        \"displayName\": \"BRICK\"\n    },\n    \"metaData\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"error\": null\n}\n"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"data":{"type":"object","properties":{"message":{"type":"string","example":"We have successfully retrieved the open VA"},"id":{"type":"string","example":"OP_123451123123"},"referenceId":{"type":"string","example":"brick12345"},"bankShortCode":{"type":"string","example":"BCA"},"accountNo":{"type":"string","example":"1304321312312310"},"displayName":{"type":"string","example":"BRICK"}}},"metaData":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"error":{}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Invalid id":{"value":"{\n    \"status\": 401,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_headers\",\n        \"message\": \"Transaction ID not found\",\n        \"action\": \"Please ensure that the transaction ID is correct\",\n        \"reason\": \"We did not find any transaction with such ID\"\n    },\n    \"metaData\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"invalid token":{"value":"{\n  \"status\": 401,\n  \"error\": {\n    \"code\": \"invalid_parameters_in_headers\",\n    \"message\": \"Please use valid Public_access_token in headers\",\n    \"action\": \"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team\",\n    \"reason\": \"Invalid public_access_token in headers\"\n  },\n  \"metaData\": {\n    \"source\": \"API\",\n    \"entity\": \"Payment\"\n  },\n  \"data\": null\n}"}},"schema":{"oneOf":[{"title":"Invalid id","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_headers"},"message":{"type":"string","example":"Transaction ID not found"},"action":{"type":"string","example":"Please ensure that the transaction ID is correct"},"reason":{"type":"string","example":"We did not find any transaction with such ID"}}},"metaData":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"invalid token","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_headers"},"message":{"type":"string","example":"Please use valid Public_access_token in headers"},"action":{"type":"string","example":"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team"},"reason":{"type":"string","example":"Invalid public_access_token in headers"}}},"metaData":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}}]}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl --request GET 'https://sandbox.onebrick.io/v2/payments/gs/va/open?vaId=vaId' \\\n--header 'Authorization: Bearer public_access_token' \\\n"}],"samples-languages":["curl"]}}},"/va/close":{"post":{"summary":"Generate Close VA","description":"","operationId":"generate-closed-va","parameters":[{"name":"publicAccessToken","in":"header","description":"Unique Identifier for Client(Public access token), It should be called with bearer","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"paymentMethodType":{"type":"string","description":"Only virtual bank account is available for now","default":"virtual_bank_account"},"amount":{"type":"integer","description":"The amount that will be stated in the virtual account","default":10000,"format":"int32"},"description":{"type":"string","description":"The description that will be stated in the virtual account (maximum 255 characters)","default":"test-closeVA-1"},"expiredAt":{"type":"integer","description":"The expiration time of the close VA in Minute","default":null,"format":"int32"},"referenceId":{"type":"string","description":"Unique ID that is being generated by the client to track each VA generation","default":"test-closeVA-1"},"displayName":{"type":"string","description":"Displayed name of VA"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 200,\n    \"data\": {\n\t\t\t\t\"message\": \"We have successfully generated the close VA\",\n        \"id\": \"CL_asd31231SAD123123asasd122\",\n\t\t\t\t\"referenceId\": \"brick12345\",\n        \"description\": \"Test Initial VA Close\",\n        \"amount\": \"15000.0\",\n        \"status\": \"pending\",\n        \"createdAt\": \"2021-12-13T14:26:43.000+07:00\",\n        \"expiredAt\": \"2021-12-31T15:27:43.000+07:00\",\n        \"bankShortCode\": \"MANDIRI\",\n        \"accountNo\": \"1304421991909265\",\n        \"displayName\": \"IKN-BRICK\"\n    },\n    \"metaData\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"error\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"data":{"type":"object","properties":{"message":{"type":"string","example":"We have successfully generated the close VA"},"id":{"type":"string","example":"CL_asd31231SAD123123asasd122"},"referenceId":{"type":"string","example":"brick12345"},"description":{"type":"string","example":"Test Initial VA Close"},"amount":{"type":"string","example":"15000.0"},"status":{"type":"string","example":"pending"},"createdAt":{"type":"string","example":"2021-12-13T14:26:43.000+07:00"},"expiredAt":{"type":"string","example":"2021-12-31T15:27:43.000+07:00"},"bankShortCode":{"type":"string","example":"MANDIRI"},"accountNo":{"type":"string","example":"1304421991909265"},"displayName":{"type":"string","example":"IKN-BRICK"}}},"metaData":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"error":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"bankShortCode not supported":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"Incorrect_format_of_parameters_in_request\",\n        \"message\": \"Please use Bank Code that we support in the request query\",\n        \"action\": \"Please revisit our API doc to see our supported Bank Code\",\n        \"reason\": \"Bank Code is not supported\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"referenceId used":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please make sure your External key (reference id) has never been used before\",\n        \"action\": \"Please make sure to always use unique reference ID in the parameter\",\n        \"reason\": \"Your external id (referenceId) has already been taken\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"bankShortCode do not use suffixNo":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please do not customize the suffix number for this Bank Code\",\n        \"action\": \"Please use the suffix number given without customization\",\n        \"reason\": \"Suffix number customization is not supported for this Bank Code\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"}},"schema":{"oneOf":[{"title":"bankShortCode not supported","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"Incorrect_format_of_parameters_in_request"},"message":{"type":"string","example":"Please use Bank Code that we support in the request query"},"action":{"type":"string","example":"Please revisit our API doc to see our supported Bank Code"},"reason":{"type":"string","example":"Bank Code is not supported"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"referenceId used","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please make sure your External key (reference id) has never been used before"},"action":{"type":"string","example":"Please make sure to always use unique reference ID in the parameter"},"reason":{"type":"string","example":"Your external id (referenceId) has already been taken"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"bankShortCode do not use suffixNo","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please do not customize the suffix number for this Bank Code"},"action":{"type":"string","example":"Please use the suffix number given without customization"},"reason":{"type":"string","example":"Suffix number customization is not supported for this Bank Code"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"invalid token":{"value":"{\n  \"status\": 401,\n  \"error\": {\n    \"code\": \"invalid_parameters_in_headers\",\n    \"message\": \"Please use valid Public_access_token in headers\",\n    \"action\": \"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team\",\n    \"reason\": \"Invalid public_access_token in headers\"\n  },\n  \"metaData\": {\n    \"source\": \"API\",\n    \"entity\": \"Payment\"\n  },\n  \"data\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_headers"},"message":{"type":"string","example":"Please use valid Public_access_token in headers"},"action":{"type":"string","example":"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team"},"reason":{"type":"string","example":"Invalid public_access_token in headers"}}},"metaData":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request POST 'https://sandbox.onebrick.io/v2/payments/gs/va/close' \\\n--header 'publicAccessToken: Bearer {{public-access-token}}' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"amount\": 15000,\n    \"referenceId\": \"brick12345\",\n    \"expiredAt\": \"60\",\n    \"description\": \"Test Initial VA Close\",\n    \"bankShortCode\": \"MANDIRI\",\n    \"displayName\": \"BRICK\"\n}'"}],"samples-languages":["curl"]}}},"/va/close?vaId=vaId":{"get":{"summary":"Status of Close VA","description":"","operationId":"status-of-close-va","parameters":[{"name":"publicAccessToken","in":"header","description":"Unique Identifier for Client(Public access token), It should be called with bearer","required":true,"schema":{"type":"string"}},{"name":"vaId","in":"query","description":"Unique id of virtual account","schema":{"type":"string","default":"CL_1e65f3908b084a388d63afcabd678b12"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 200,\n    \"data\": {\n        \"message\": \"We have successfully retrieved the close VA\",\n\t      \"id\": \"BR_1238512012301923\",\n        \"referenceId\": \"BRICK-12345\",\n        \"description\": \"Test Initial VA Close\",\n        \"amount\": \"15000.0\",\n        \"status\": \"pending\",\n        \"createdAt\": \"2023-03-28T17:12:55.638+07:00\",\n        \"expiredAt\": \"2023-03-29T12:07:04.000+07:00\",\n\t\t\t\t\"bankShortCode\": \"MANDIRI\",\n        \"accountNo\": \"7001202303299393369\",\n        \"displayName\": \"BRICK\"\n    },\n    \"metaData\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"error\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"data":{"type":"object","properties":{"message":{"type":"string","example":"We have successfully retrieved the close VA"},"id":{"type":"string","example":"BR_1238512012301923"},"referenceId":{"type":"string","example":"BRICK-12345"},"description":{"type":"string","example":"Test Initial VA Close"},"amount":{"type":"string","example":"15000.0"},"status":{"type":"string","example":"pending"},"createdAt":{"type":"string","example":"2023-03-28T17:12:55.638+07:00"},"expiredAt":{"type":"string","example":"2023-03-29T12:07:04.000+07:00"},"bankShortCode":{"type":"string","example":"MANDIRI"},"accountNo":{"type":"string","example":"7001202303299393369"},"displayName":{"type":"string","example":"BRICK"}}},"metaData":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"error":{}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"invalid id":{"value":"{\n    \"status\": 401,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_headers\",\n        \"message\": \"Transaction ID not found\",\n        \"action\": \"Please ensure that the transaction ID is correct\",\n        \"reason\": \"We did not find any transaction with such ID\"\n    },\n    \"metaData\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"invalid token":{"value":"{\n  \"status\": 401,\n  \"error\": {\n    \"code\": \"invalid_parameters_in_headers\",\n    \"message\": \"Please use valid Public_access_token in headers\",\n    \"action\": \"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team\",\n    \"reason\": \"Invalid public_access_token in headers\"\n  },\n  \"metaData\": {\n    \"source\": \"API\",\n    \"entity\": \"Payment\"\n  },\n  \"data\": null\n}"}},"schema":{"oneOf":[{"title":"invalid id","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_headers"},"message":{"type":"string","example":"Transaction ID not found"},"action":{"type":"string","example":"Please ensure that the transaction ID is correct"},"reason":{"type":"string","example":"We did not find any transaction with such ID"}}},"metaData":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"invalid token","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_headers"},"message":{"type":"string","example":"Please use valid Public_access_token in headers"},"action":{"type":"string","example":"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team"},"reason":{"type":"string","example":"Invalid public_access_token in headers"}}},"metaData":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}}]}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl --request GET 'https://sandbox.onebrick.io/v2/payments/gs/va/close?vaId=vaId' \\\n--header 'Authorization: Bearer public_access_token' \\\n"}],"samples-languages":["curl"]}}},"/bank-account-validation":{"get":{"summary":"Account Verification","description":"This API helps verify the bank account to prevent error.","operationId":"account-verification-api","parameters":[{"name":"publicAccessToken","in":"header","description":"Unique Identifier for Client(Public access token), It should be called with bearer","schema":{"type":"string"}},{"name":"accountNumber","in":"query","description":"Bank account Number","schema":{"type":"integer","format":"int32","default":12345678}},{"name":"bankShortCode","in":"query","description":"Brick's bankShortCode for official bank (e.g Bank Mandiri -> Mandiri)","schema":{"type":"string","default":"MANDIRI"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"accountNumber":{"type":"string","description":"Unique number for banks"},"bankShortCode":{"type":"string","description":"This should be the institution that your end-customer intends to receive funds in. Please see list bank destination for full list of bank accounts you can send to."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"data\": {\n    \"message\": \"We are successfully able to verify the account\",\n    \"accountNo\": \"4124668005\",\n    \"accountName\": \"M.HIBBAN IRSYAD\",\n    \"bankShortCode\": \"PERMATA\"\n  },\n  \"metaData\": {\n    \"source\": \"API\",\n    \"entity\": \"Payment\"\n  },\n  \"error\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"data":{"type":"object","properties":{"message":{"type":"string","example":"We are successfully able to verify the account"},"accountNo":{"type":"string","example":"4124668005"},"accountName":{"type":"string","example":"M.HIBBAN IRSYAD"},"bankShortCode":{"type":"string","example":"PERMATA"}}},"metaData":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"error":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"accountNumber is invalid":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please use valid and active accountNumber in request query\",\n        \"action\": \"Please verify the account number in /v2/payments/bank-account-validation API\",\n        \"reason\": \"accountNumber is invalid in request body\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"bankShortCode missing":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please use the API with bankShortCode in the request param\",\n        \"action\": \"Please revisit the API docs to know more about the required fields in API\",\n        \"reason\": \"bankShortCode  is missing from request param\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"bankShortCode invalid":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please use valid bankShortCode in the request query\",\n        \"action\": \"Please revalidate your bank short code https://docs.google.com/spreadsheets/d/1OvnDKPnQ0nAdFq8PLyvOjrZlfeVMtu8WE2HymmoY8Og/edit#gid=0\",\n        \"reason\": \"bankShortCode is not valid in the request query\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"invalid token":{"value":"{\n    \"status\": 401,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_headers\",\n        \"message\": \"Please use valid Public_access_token in headers\",\n        \"action\": \"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team\",\n        \"reason\": \"Invalid public_access_token in headers\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"}},"schema":{"oneOf":[{"title":"accountNumber is invalid","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please use valid and active accountNumber in request query"},"action":{"type":"string","example":"Please verify the account number in /v2/payments/bank-account-validation API"},"reason":{"type":"string","example":"accountNumber is invalid in request body"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"bankShortCode missing","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please use the API with bankShortCode in the request param"},"action":{"type":"string","example":"Please revisit the API docs to know more about the required fields in API"},"reason":{"type":"string","example":"bankShortCode  is missing from request param"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"bankShortCode invalid","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please use valid bankShortCode in the request query"},"action":{"type":"string","example":"Please revalidate your bank short code https://docs.google.com/spreadsheets/d/1OvnDKPnQ0nAdFq8PLyvOjrZlfeVMtu8WE2HymmoY8Og/edit#gid=0"},"reason":{"type":"string","example":"bankShortCode is not valid in the request query"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"invalid token","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_headers"},"message":{"type":"string","example":"Please use valid Public_access_token in headers"},"action":{"type":"string","example":"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team"},"reason":{"type":"string","example":"Invalid public_access_token in headers"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}}]}}}}},"deprecated":false,"security":[]}},"/qris/dynamic":{"post":{"summary":"Generate Dynamic QRIS","description":"We need to build one standalone APIs for clients to consume of QRIS product. This APIs will help clients to create new dynamic QRIS for clients.","operationId":"generate-dynamic-qris","parameters":[{"name":"publicAccessToken","in":"header","description":"One time access-token generated using the auth token API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["referenceId","amount","expiredAt"],"properties":{"referenceId":{"type":"string","description":"Unique reference of Transactions from client side(Maximum length of 25 characters)"},"amount":{"type":"string","description":"Amount that clients wants to transfer"},"expiredAt":{"type":"string","description":"Maximum 31 days from created","format":"date"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Success Response":{"value":"{\n    \"status\": 200,\n    \"data\": {\n        \"message\": \"We have successfully generated the dynamic qris\",\n        \"id\":\"QR_7d13c668fea84081832d02368c61af69\",\n        \"referenceId\": \"test-qris-sandbox\",\n        \"amount\": 10000,\n        \"createdAt\": \"2024-01-16T17:00:00.000+07:00\",\n        \"expiredAt\": \"2024-01-19T17:00:00.000+07:00\",\n        \"qrData\": \"00020101021226670016COM.NOBUBANK.WWW01189360050300000491530214082500000318170303UKE51440014ID.CO.QRIS.WWW0215ID20200814004210303UKE5204549953033605405100005802ID5914BRICK PAYMENT 6015Banten - Kota T61051581162570114011200010968090620202401121013231606140703A010804POSP630443C4\"\n    },\n    \"metaData\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"error\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"data":{"type":"object","properties":{"message":{"type":"string","example":"We have successfully generated the dynamic qris"},"id":{"type":"string","example":"QR_7d13c668fea84081832d02368c61af69"},"referenceId":{"type":"string","example":"test-qris-sandbox"},"amount":{"type":"integer","example":10000,"default":0},"createdAt":{"type":"string","example":"2024-01-16T17:00:00.000+07:00"},"expiredAt":{"type":"string","example":"2024-01-19T17:00:00.000+07:00"},"qrData":{"type":"string","example":"00020101021226670016COM.NOBUBANK.WWW01189360050300000491530214082500000318170303UKE51440014ID.CO.QRIS.WWW0215ID20200814004210303UKE5204549953033605405100005802ID5914BRICK PAYMENT 6015Banten - Kota T61051581162570114011200010968090620202401121013231606140703A010804POSP630443C4"}}},"metaData":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"error":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Public token in invalid ":{"value":"{ \n           \"status\" : 401,        \n           error:{\n                           \"code\": \"invalid_parameters_in_headers\", \n                           \"message\": \"Please use valid publicAccessToken in headers\"\n                           \"action\": \"Please generate valid public access token via /v2/auth/token APIs or contact to Brick sales team\"\n                \"reason\": \"Invalid publicAccessToken in headers\"\n},        \n          \"metaData\": {\n                          \"source\": {{API/Widget/Dashboard/SDK/Portal}}, \n                          \"entity\": \"Payment\"          \n          },\n          data:null  \n }\n"}}}}}},"deprecated":false}},"/qris/dynamic/{referenceId}/cancel/":{"post":{"summary":"Cancel Dynamic QRIS","description":"We need to provide Cancel QRIS APIs to our clients, This APIs will help to cancel the QRIS and then will can’t be use.","operationId":"cancel-dynamic-qris","parameters":[{"name":"publicAccessToken","in":"header","description":"One time access-token generated using the auth token API","required":true,"schema":{"type":"string"}},{"name":"referecneId","in":"path","description":"Unique reference of Transactions from client side","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Success Response":{"value":"{\n    \"status\": 200,\n    \"data\": {\n        \"message\": \"We have successfully cancel the qris\",\n        \"id\": \"QR_7d13c668fea84081832d02368c61af69\",\n        \"referenceId\": \"test-qris-sandbox\",\n        \"cancelledAt\": \"2024-01-20T17:00:00.000+07:00\",\n    },\n    \"metaData\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"error\": null\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Public token in invalid ":{"value":"{ \n           \"status\" : 401,        \n           error:{\n                           \"code\": \"invalid_parameters_in_headers\", \n                           \"message\": \"Please use valid publicAccessToken in headers\"\n                           \"action\": \"Please generate valid public access token via /v2/auth/token APIs or contact to Brick sales team\"\n                \"reason\": \"Invalid publicAccessToken in headers\"\n},        \n          \"metaData\": {\n                          \"source\": {{API/Widget/Dashboard/SDK/Portal}}, \n                          \"entity\": \"Payment\"          \n          },\n          data:null  \n }\n"}}}}}},"deprecated":false}},"/bifast-disbursements":{"post":{"summary":"BIFAST Disbursement API","description":"The BIFAST Disbursement service offers two distinct packages: BIFAST Only and Regular APIs. The BIFAST standalone disbursement APIs are designed for all of BRICK’s users who wish to exclusively utilize BIFAST transactions for their disbursements. By utilizing BIFAST, users can benefit from real-time transactions at a significantly reduced cost.","operationId":"disbursement-copy","parameters":[{"name":"publicAccessToken","in":"header","description":"Unique Identifier for Client(Public access token), It should be called with bearer","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"referenceId":{"type":"string","description":"A unique reference ID as a unique identifier","default":"test-disbursement-1"},"description":{"type":"string","description":"An arbitrary string attached to the object. Often useful for displaying to users what the transaction was for. Description length limit is 1000 chars.","default":"test-disbursement-1"},"amount":{"type":"integer","description":"Amount that you would like to send","default":10000,"format":"int32"},"recipientEmail":{"type":"string"},"disbursementMethod":{"type":"object","properties":{"type":{"type":"string","default":"bank_transfer"},"bankShortCode":{"type":"string","default":"MANDIRI"},"bankAccountNo":{"type":"string","default":"12345678"},"bankAccountHolderName":{"type":"string","default":"PROD ONLY"}}},"name":{"type":"string","description":"Name of the user that transfer","default":"Daviga Teguh"},"identityType":{"type":"string","description":"Allowed Value only KTP/SIM/KITAS/NPWP","default":"KTP"},"identityNumber":{"type":"string","description":"Identity Number of the User","default":"327602241019990004"},"countryCode":{"type":"string","description":"Country Code based on the user","default":"ID"},"provinceCode":{"type":"string","description":"Province Code based on the user","default":"35"},"cityCode":{"type":"string","description":"City Code based on the user","default":"1226"},"jobCode":{"type":"string","description":"Job Code based on the user","default":"89"},"address":{"type":"string","description":"Place of the user birth","default":"Tulodong Bawah No 4"},"placeOfBirth":{"type":"string","description":"Place of Birth sender","default":"Jakarta"},"dateofBirth":{"type":"string","default":"1999-10-24","format":"date"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"message\": \"We have received your request and are processing it, please check your callback URL for transaction status\",\n    \"id\": \"asdasd123123asdasdasd\",\n    \"type\": \"disbursement\",\n    \"attributes\": {\n      \"referenceId\": \"test-disbursement-1\",\n      \"description\": \"test-disbursement-1\",\n      \"amount\": \"10000\",\n      \"status\": \"processing\",\n      \"settlementStatus\": \"null\",\n      \"createdAt\": \"2022-07-21T13:49:39.752+07:00\",\n      \"disbursementMethod\": {\n        \"type\": \"bank_transfer\",\n        \"bankAccountNo\": \"12345678\",\n        \"bankShortCode\": \"BCA\",\n        \"bankAccountHolderName\": \"PROD ONLY\"\n      },\n\t\t\"sender\": {\n\t\t    \"name\": \"Daviga Teguh\", \n\t\t    \"identityType\": \"KTP\", \n\t\t    \"identityNumber\": \"3501041001820003\", \n\t\t    \"countryCode\": \"ID\", \n\t\t    \"provinceCode\": \"35\", \n\t\t    \"cityCode\": \"1226\", \n\t\t    \"jobCode\": \"89\", \n\t\t\t\t\"address\": \"Tulodong Bawah No 4\", \n\t\t    \"placeOfBirth\": \"Jakarta\", \n\t\t    \"dateOfBirth\": \"1998-04-23\" \n\t\t  }\n  },\n  \"metaData\": {\n    \"source\": \"API\",\n    \"entity\": \"Payment\"\n  },\n  \"error\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"We have received your request and are processing it, please check your callback URL for transaction status"},"id":{"type":"string","example":"asdasd123123asdasdasd"},"type":{"type":"string","example":"disbursement"},"attributes":{"type":"object","properties":{"referenceId":{"type":"string","example":"test-disbursement-1"},"description":{"type":"string","example":"test-disbursement-1"},"amount":{"type":"string","example":"10000"},"status":{"type":"string","example":"processing"},"settlementStatus":{"type":"string","example":"null"},"createdAt":{"type":"string","example":"2022-07-21T13:49:39.752+07:00"},"disbursementMethod":{"type":"object","properties":{"type":{"type":"string","example":"bank_transfer"},"bankAccountNo":{"type":"string","example":"12345678"},"bankShortCode":{"type":"string","example":"BCA"},"bankAccountHolderName":{"type":"string","example":"PROD ONLY"}}},"sender":{"type":"object","properties":{"name":{"type":"string","example":"Daviga Teguh"},"identityType":{"type":"string","example":"KTP"},"identityNumber":{"type":"string","example":"3501041001820003"},"countryCode":{"type":"string","example":"ID"},"provinceCode":{"type":"string","example":"35"},"cityCode":{"type":"string","example":"1226"},"jobCode":{"type":"string","example":"89"},"address":{"type":"string","example":"Tulodong Bawah No 4"},"placeOfBirth":{"type":"string","example":"Jakarta"},"dateOfBirth":{"type":"string","example":"1998-04-23"}}}}},"metaData":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"error":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Invalid transfer amount":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please use amount more than minimum transfer limit, ie:10.000\",\n        \"action\": \"Please make sure the amount you requested is in the range of Rp 10.000 to Rp 100.000.000\",\n        \"reason\": \"Your amount of transfer is below our minimum transfer amount\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"bankShortCode invalid":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please use valid bankShortCode in the request query\",\n        \"action\": \"Please revalidate your bank short code https://docs.google.com/spreadsheets/d/1OvnDKPnQ0nAdFq8PLyvOjrZlfeVMtu8WE2HymmoY8Og/edit#gid=0\",\n        \"reason\": \"bankShortCode is not valid in the request query\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"callback not available":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"session_available_in_other_device\",\n        \"message\": \"Callback URL is not available\",\n        \"action\": \"Please add the callback URL from dashboard or contact contact sales team\",\n        \"reason\": \"This is Async API, Final response will be sended over callback URL\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"referenceId already used":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please make sure your External key (reference id) has never been used before\",\n        \"action\": \"Please make sure to always use unique reference ID in the parameter\",\n        \"reason\": \"Your external id (referenceId) has already been taken\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"}},"schema":{"oneOf":[{"title":"Invalid transfer amount","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please use amount more than minimum transfer limit, ie:10.000"},"action":{"type":"string","example":"Please make sure the amount you requested is in the range of Rp 10.000 to Rp 100.000.000"},"reason":{"type":"string","example":"Your amount of transfer is below our minimum transfer amount"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"bankShortCode invalid","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please use valid bankShortCode in the request query"},"action":{"type":"string","example":"Please revalidate your bank short code https://docs.google.com/spreadsheets/d/1OvnDKPnQ0nAdFq8PLyvOjrZlfeVMtu8WE2HymmoY8Og/edit#gid=0"},"reason":{"type":"string","example":"bankShortCode is not valid in the request query"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"callback not available","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"session_available_in_other_device"},"message":{"type":"string","example":"Callback URL is not available"},"action":{"type":"string","example":"Please add the callback URL from dashboard or contact contact sales team"},"reason":{"type":"string","example":"This is Async API, Final response will be sended over callback URL"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"referenceId already used","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please make sure your External key (reference id) has never been used before"},"action":{"type":"string","example":"Please make sure to always use unique reference ID in the parameter"},"reason":{"type":"string","example":"Your external id (referenceId) has already been taken"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Invalid token":{"value":"{\n    \"status\": 401,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_headers\",\n        \"message\": \"Please use valid Public_access_token in headers\",\n        \"action\": \"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team\",\n        \"reason\": \"Invalid public_access_token in headers\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"insufficient balance":{"value":"{\n    \"status\": 401,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please make sure you have sufficient fund to process this transaction\",\n        \"action\": \"Please do the top up to proceed this transactions\",\n        \"reason\": \"Your Account has insufficient funds to process this transaction\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"}},"schema":{"oneOf":[{"title":"Invalid token","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_headers"},"message":{"type":"string","example":"Please use valid Public_access_token in headers"},"action":{"type":"string","example":"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team"},"reason":{"type":"string","example":"Invalid public_access_token in headers"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"insufficient balance","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please make sure you have sufficient fund to process this transaction"},"action":{"type":"string","example":"Please do the top up to proceed this transactions"},"reason":{"type":"string","example":"Your Account has insufficient funds to process this transaction"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}}]}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Bank under maintenance":{"value":"{\n    \"status\": 500,\n    \"error\": {\n        \"code\": \"Institution_not_available\",\n        \"message\": \"Requested bank for transfer is currently unavailable\",\n        \"action\": \"Please wait and retry again\",\n        \"reason\": \"Institution is currently under maintainence\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":500,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"Institution_not_available"},"message":{"type":"string","example":"Requested bank for transfer is currently unavailable"},"action":{"type":"string","example":"Please wait and retry again"},"reason":{"type":"string","example":"Institution is currently under maintainence"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}}}}}},"deprecated":false,"security":[]}},"/bifast-disbursements (COPY)":{"get":{"summary":"BIFAST Account Verification API","description":"This API helps verify the bank account to prevent error.","operationId":"account-verification-copy-1","parameters":[{"name":"publicAccessToken","in":"header","description":"Unique Identifier for Client(Public access token), It should be called with bearer","schema":{"type":"string"}},{"name":"accountNumber","in":"query","description":"Bank account Number","schema":{"type":"integer","format":"int32","default":12345678}},{"name":"bankShortCode","in":"query","description":"Brick's bankShortCode for official bank (e.g Bank Mandiri -> Mandiri)","schema":{"type":"string","default":"MANDIRI"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"accountNumber":{"type":"string","description":"Unique number for banks"},"bankShortCode":{"type":"string","description":"This should be the institution that your end-customer intends to receive funds in. Please see list bank destination for full list of bank accounts you can send to."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"data\": {\n    \"message\": \"We are successfully able to verify the account\",\n    \"accountNo\": \"4124668005\",\n    \"accountName\": \"M.HIBBAN IRSYAD\",\n    \"bankShortCode\": \"PERMATA\"\n  },\n  \"metaData\": {\n    \"source\": \"API\",\n    \"entity\": \"Payment\"\n  },\n  \"error\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"data":{"type":"object","properties":{"message":{"type":"string","example":"We are successfully able to verify the account"},"accountNo":{"type":"string","example":"4124668005"},"accountName":{"type":"string","example":"M.HIBBAN IRSYAD"},"bankShortCode":{"type":"string","example":"PERMATA"}}},"metaData":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"error":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"accountNumber is invalid":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please use valid and active accountNumber in request query\",\n        \"action\": \"Please verify the account number in /v2/payments/bank-account-validation API\",\n        \"reason\": \"accountNumber is invalid in request body\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"bankShortCode missing":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please use the API with bankShortCode in the request param\",\n        \"action\": \"Please revisit the API docs to know more about the required fields in API\",\n        \"reason\": \"bankShortCode  is missing from request param\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"bankShortCode invalid":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please use valid bankShortCode in the request query\",\n        \"action\": \"Please revalidate your bank short code https://docs.google.com/spreadsheets/d/1OvnDKPnQ0nAdFq8PLyvOjrZlfeVMtu8WE2HymmoY8Og/edit#gid=0\",\n        \"reason\": \"bankShortCode is not valid in the request query\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"invalid token":{"value":"{\n    \"status\": 401,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_headers\",\n        \"message\": \"Please use valid Public_access_token in headers\",\n        \"action\": \"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team\",\n        \"reason\": \"Invalid public_access_token in headers\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"}},"schema":{"oneOf":[{"title":"accountNumber is invalid","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please use valid and active accountNumber in request query"},"action":{"type":"string","example":"Please verify the account number in /v2/payments/bank-account-validation API"},"reason":{"type":"string","example":"accountNumber is invalid in request body"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"bankShortCode missing","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please use the API with bankShortCode in the request param"},"action":{"type":"string","example":"Please revisit the API docs to know more about the required fields in API"},"reason":{"type":"string","example":"bankShortCode  is missing from request param"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"bankShortCode invalid","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please use valid bankShortCode in the request query"},"action":{"type":"string","example":"Please revalidate your bank short code https://docs.google.com/spreadsheets/d/1OvnDKPnQ0nAdFq8PLyvOjrZlfeVMtu8WE2HymmoY8Og/edit#gid=0"},"reason":{"type":"string","example":"bankShortCode is not valid in the request query"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"invalid token","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_headers"},"message":{"type":"string","example":"Please use valid Public_access_token in headers"},"action":{"type":"string","example":"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team"},"reason":{"type":"string","example":"Invalid public_access_token in headers"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}}]}}}}},"deprecated":false,"security":[]}},"/bank-account-validation (COPY)":{"get":{"summary":"Account Verification","description":"This API helps verify the bank account to prevent error.","operationId":"account-verification-copy-2","parameters":[{"name":"publicAccessToken","in":"header","description":"Unique Identifier for Client(Public access token), It should be called with bearer","schema":{"type":"string"}},{"name":"accountNumber","in":"query","description":"Bank account Number","schema":{"type":"integer","format":"int32","default":12345678}},{"name":"bankShortCode","in":"query","description":"Brick's bankShortCode for official bank (e.g Bank Mandiri -> Mandiri)","schema":{"type":"string","default":"MANDIRI"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"accountNumber":{"type":"string","description":"Unique number for banks"},"bankShortCode":{"type":"string","description":"This should be the institution that your end-customer intends to receive funds in. Please see list bank destination for full list of bank accounts you can send to."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 200,\n  \"data\": {\n    \"message\": \"We are successfully able to verify the account\",\n    \"accountNo\": \"4124668005\",\n    \"accountName\": \"M.HIBBAN IRSYAD\",\n    \"bankShortCode\": \"PERMATA\"\n  },\n  \"metaData\": {\n    \"source\": \"API\",\n    \"entity\": \"Payment\"\n  },\n  \"error\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"data":{"type":"object","properties":{"message":{"type":"string","example":"We are successfully able to verify the account"},"accountNo":{"type":"string","example":"4124668005"},"accountName":{"type":"string","example":"M.HIBBAN IRSYAD"},"bankShortCode":{"type":"string","example":"PERMATA"}}},"metaData":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"error":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"accountNumber is invalid":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please use valid and active accountNumber in request query\",\n        \"action\": \"Please verify the account number in /v2/payments/bank-account-validation API\",\n        \"reason\": \"accountNumber is invalid in request body\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"bankShortCode missing":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please use the API with bankShortCode in the request param\",\n        \"action\": \"Please revisit the API docs to know more about the required fields in API\",\n        \"reason\": \"bankShortCode  is missing from request param\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"bankShortCode invalid":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please use valid bankShortCode in the request query\",\n        \"action\": \"Please revalidate your bank short code https://docs.google.com/spreadsheets/d/1OvnDKPnQ0nAdFq8PLyvOjrZlfeVMtu8WE2HymmoY8Og/edit#gid=0\",\n        \"reason\": \"bankShortCode is not valid in the request query\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"invalid token":{"value":"{\n    \"status\": 401,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_headers\",\n        \"message\": \"Please use valid Public_access_token in headers\",\n        \"action\": \"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team\",\n        \"reason\": \"Invalid public_access_token in headers\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"}},"schema":{"oneOf":[{"title":"accountNumber is invalid","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please use valid and active accountNumber in request query"},"action":{"type":"string","example":"Please verify the account number in /v2/payments/bank-account-validation API"},"reason":{"type":"string","example":"accountNumber is invalid in request body"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"bankShortCode missing","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please use the API with bankShortCode in the request param"},"action":{"type":"string","example":"Please revisit the API docs to know more about the required fields in API"},"reason":{"type":"string","example":"bankShortCode  is missing from request param"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"bankShortCode invalid","type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please use valid bankShortCode in the request query"},"action":{"type":"string","example":"Please revalidate your bank short code https://docs.google.com/spreadsheets/d/1OvnDKPnQ0nAdFq8PLyvOjrZlfeVMtu8WE2HymmoY8Og/edit#gid=0"},"reason":{"type":"string","example":"bankShortCode is not valid in the request query"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"invalid token","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_headers"},"message":{"type":"string","example":"Please use valid Public_access_token in headers"},"action":{"type":"string","example":"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team"},"reason":{"type":"string","example":"Invalid public_access_token in headers"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}}]}}}}},"deprecated":false,"security":[]}},"/payment-link":{"post":{"summary":"Generate Payment Link","description":"Allows merchants to programmatically generate unique payment links tailored to specific transaction requirements, including amount, currency, and optional descriptions or attachments.","operationId":"generate-open-va-copy","parameters":[{"name":"publicAccessToken","in":"header","description":"Unique Identifier for Client(Public access token), It should be called with bearer","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"files":{"type":"string","description":"Files attached if any","default":"[]"},"amount":{"type":"string","description":"Amount the user need to transfer","default":"50000"},"referenceId":{"type":"string","description":"Unique ID that is being generated by the client to track each VA generation (maximum 255 characters)","default":"test-VA-1"},"description":{"type":"string","description":"Description of the Payment Link","default":"Pay me please!"},"endUserPhoneNumber":{"type":"string","description":"Phone Number of the End-User","default":"+62819859238232"},"endUserEmail":{"type":"string","description":"Email of the end user","default":"daviga@onebrick.io"},"endUserAddress":{"type":"string","description":"Address of the end user","default":"Jalan Tulodong Bawah IV"},"pin":{"type":"string","description":"If any","default":"1234"},"redirectUrl":{"type":"string","description":"Redirect URL after the payment link","default":"https://onebrick.io"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 200,\n    \"data\": {\n\t\t\t\t\"paymentLinkPath\" : \"/payment-link/F4B3UUU1GgTzhc35j7p4GdlirhFgo5ubzcqDHB9rwRtuzFxCdCwCush7z0yXcxsz4Vm2K23bS6e6peVD8KNtqg%3D%3D\",\n\t\t\"expiredAt\" : \"2023-08-09T12:00:00+07:00\",\n\t\t\"amount\" : 500000,\n\t\t\"referenceId\" : \"test-paymentlink-2023-08\",\n    \"status\": \"unpaid\",\n\t},\n  \"metaData\": {\n      \"source\": \"API\",\n      \"entity\": \"Payment\"\n  },\n  \"error\": null\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"referenceId used":{"value":"{\n    \"status\": 400,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_request\",\n        \"message\": \"Please make sure your External key (reference id) has never been used before\",\n        \"action\": \"Please make sure to always use unique reference ID in the parameter\",\n        \"reason\": \"Your external id (referenceId) has already been taken\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_request"},"message":{"type":"string","example":"Please make sure your External key (reference id) has never been used before"},"action":{"type":"string","example":"Please make sure to always use unique reference ID in the parameter"},"reason":{"type":"string","example":"Your external id (referenceId) has already been taken"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Invalid token":{"value":"{\n    \"status\": 401,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_headers\",\n        \"message\": \"Please use valid Public_access_token in headers\",\n        \"action\": \"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team\",\n        \"reason\": \"Invalid public_access_token in headers\"\n    },\n    \"metadata\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_headers"},"message":{"type":"string","example":"Please use valid Public_access_token in headers"},"action":{"type":"string","example":"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team"},"reason":{"type":"string","example":"Invalid public_access_token in headers"}}},"metadata":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl --location '{{url}}/v2/payments/gs/payment-link' \\\n--header 'publicAccessToken: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdXRob3JpemVkIjp0cnVlLCJleHAiOjE2OTQ0OTk5NzcsImlkIjo2MjMsIm5hbWUiOiJJcWkgRHVtbXkiLCJ1c2VyIjoicmF5aGFuLnNoaWRxaUBvbmVicmljay5pbyJ9.JvthCL6jexIhNGvyOyOv1v6S9vlVSe7gTcGeBKyo6DE' \\\n--form 'files=@\"/path/to/file\"' \\\n--form 'referenceId=\"testhalo\"' \\\n--form 'amount=\"50000\"' \\\n--form 'description=\"something\"' \\\n--form 'endUserName=\"Daviga Teguh\"' \\\n--form 'endUserPhoneNumber=\"+62834343434\"' \\\n--form 'endUserEmail=\"daviga@onebrick.io\"'\\\n--form 'endUserAddress=\"Jalan Tulodong bawah\"' \\\n--form 'pin=\"1234\"' \\\n--form 'redirectUrl=\"https://onebrick.io\"'"}],"samples-languages":["curl"]}}},"/payment-link?pin=1111&referenceId=0876743bdbae48b8a3e7cc9fb116f867":{"get":{"summary":"Get Payment Link Detail","description":"Retrieves details of a specific payment link, including transaction information and customization settings.","operationId":"status-of-open-va-copy-copy","parameters":[{"name":"publicAccessToken","in":"header","description":"Unique Identifier for Client(Public access token), It should be called with bearer","required":true,"schema":{"type":"string"}},{"name":"referenceId","in":"query","description":"Unique id of payment link","schema":{"type":"string","default":"OP_fc31cbde0c894aed9560bf9322d2dd12"}},{"name":"pin","in":"query","description":"If the PIN is required","schema":{"type":"string","default":"1111"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 200,\n    {\n    \"status\": 200,\n    \"data\": {\n        \"referenceId\": \"0876743bdbae48b8a3e7cc9fb116f867\",\n        \"amount\": 50000,\n        \"status\": \"unpaid\", (unpaid|cancelled|paid|completed)\n        \"description\": \"pembayaran\",\n        \"attachmentUrls\": [// Will test it first with max 3 image with 3mb size for each files\n            \"{{base64stringImage}}\",\n            \"{{base64stringImage}}\"\n        ],\n        \"clientName\": \"Nanovest\",\n        \"endUserName\": \"nano\",\n        \"endUserPhoneNumber\": \"+6285555123123\",\n        \"endUserEmail\": \"\",\n        \"endUserAddress\": \"\",\n        \"paymentLinkPath\": \"/payment-link/F4B3UUU1GgTzhc35j7p4GdlirhFgo5ubzcqDHB9rwRtuzFxCdCwCush7z0yXcxsz4Vm2K23bS6e6peVD8KNtqg%3D%3D\",\n        \"expiredAt\": \"2024-05-27T15:20:37.760+07:00\",\n        \"createdAt\": \"2024-02-27T15:20:37.760+07:00\",\n        \"virtualAccount\": {\n\t\t\t\t\t\t// only exists if VA already created, otherwise the value would be null\n\t\t\t\t\t\t// Need to re-check on every request if the VA still valid or have been expired\n\t\t\t\t\t\t// The validation can use `expiredAt` field\n            \"virtualAccountNumber\": \"7392600000010695\",\n            \"displayName\": \"Nanovest\",\n            \"bankShortCode\": \"PERMATA\",\n            \"bankName\": \"Bank Permata\",\n            \"payAmount\": 50000,\n            \"expiredAt\": \"2024-02-27T16:48:48.000+07:00\",\n            \"paymentDetail\": null\n        },\n        \"pin\": \"1111\",\n        \"redirectUrl\": \"https://google.com\",\n        \"requiredCustomerField\": null\n    },\n    \"metaData\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"error\": null\n}"}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Invalid id":{"value":"{\n    \"status\": 401,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_headers\",\n        \"message\": \"Transaction ID not found\",\n        \"action\": \"Please ensure that the transaction ID is correct\",\n        \"reason\": \"We did not find any transaction with such ID\"\n    },\n    \"metaData\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"invalid token":{"value":"{\n  \"status\": 401,\n  \"error\": {\n    \"code\": \"invalid_parameters_in_headers\",\n    \"message\": \"Please use valid Public_access_token in headers\",\n    \"action\": \"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team\",\n    \"reason\": \"Invalid public_access_token in headers\"\n  },\n  \"metaData\": {\n    \"source\": \"API\",\n    \"entity\": \"Payment\"\n  },\n  \"data\": null\n}"}},"schema":{"oneOf":[{"title":"Invalid id","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_headers"},"message":{"type":"string","example":"Transaction ID not found"},"action":{"type":"string","example":"Please ensure that the transaction ID is correct"},"reason":{"type":"string","example":"We did not find any transaction with such ID"}}},"metaData":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"invalid token","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_headers"},"message":{"type":"string","example":"Please use valid Public_access_token in headers"},"action":{"type":"string","example":"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team"},"reason":{"type":"string","example":"Invalid public_access_token in headers"}}},"metaData":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}}]}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --request GET 'https://sandbox.onebrick.io/v2/payments/gs/va/open?vaId=vaId' \\\n--header 'Authorization: Bearer public_access_token' \\\n"}],"samples-languages":["curl"]}}},"/payment-link/bank?referenceId=0876743bdbae48b8a3e7cc9fb116f867&pin=1111 (COPY)":{"get":{"summary":"Get Virtual Account Availability","description":"Checks the availability of virtual accounts associated with payment links for specific transactions.","operationId":"get-virtual-account-availability-copy","parameters":[{"name":"publicAccessToken","in":"header","description":"Unique Identifier for Client(Public access token), It should be called with bearer","required":true,"schema":{"type":"string"}},{"name":"referenceId","in":"query","description":"Unique id of payment link","schema":{"type":"string","default":"OP_fc31cbde0c894aed9560bf9322d2dd12"}},{"name":"pin","in":"query","description":"If the PIN is required","schema":{"type":"string","default":"1111"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 200,\n    \"data\": {\n        \"virtualAccount\": [\n            {\n                \"bankName\": \"Bank Negara Indonesia\",\n                \"bankShortCode\": \"BNI\",\n                \"availabilityInformation\": \"\",\n                \"isAvailable\": true\n            },\n            {\n                \"bankName\": \"Bank Maybank\",\n                \"bankShortCode\": \"BII\",\n                \"availabilityInformation\": \"\",\n                \"isAvailable\": true\n            },\n            {\n                \"bankName\": \"Bank Danamon\",\n                \"bankShortCode\": \"DANAMON\",\n                \"availabilityInformation\": \"\",\n                \"isAvailable\": true\n            },\n            {\n                \"bankName\": \"BSI (Bank Syariah Indonesia)\",\n                \"bankShortCode\": \"BSI\",\n                \"availabilityInformation\": \"\",\n                \"isAvailable\": true\n            },\n            {\n                \"bankName\": \"CIMB Niaga Bank\",\n                \"bankShortCode\": \"CIMB_NIAGA\",\n                \"availabilityInformation\": \"\",\n                \"isAvailable\": true\n            },\n            {\n                \"bankName\": \"Bank Rakyat Indonesia\",\n                \"bankShortCode\": \"BRI\",\n                \"availabilityInformation\": \"\",\n                \"isAvailable\": true\n            },\n            {\n                \"bankName\": \"Bank Mandiri\",\n                \"bankShortCode\": \"MANDIRI\",\n                \"availabilityInformation\": \"\",\n                \"isAvailable\": true\n            },\n            {\n                \"bankName\": \"Bank Permata UUS\",\n                \"bankShortCode\": \"PERMATA_UUS\",\n                \"availabilityInformation\": \"\",\n                \"isAvailable\": true\n            },\n            {\n                \"bankName\": \"Bank Sahabat Sampoerna\",\n                \"bankShortCode\": \"SAHABAT_SAMPOERNA\",\n                \"availabilityInformation\": \"\",\n                \"isAvailable\": true\n            },\n            {\n                \"bankName\": \"Bank Permata\",\n                \"bankShortCode\": \"PERMATA\",\n                \"availabilityInformation\": \"\",\n                \"isAvailable\": true\n            }\n        ],\n        \"bankTransfer\": [\n            {\n                \"bankName\": \"Bank Central Asia\",\n                \"bankShortCode\": \"BCA\",\n                \"availabilityInformation\": \"\",\n                \"isAvailable\": true\n            }\n        ]\n    },\n    \"metaData\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"error\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"data":{"type":"object","properties":{"virtualAccount":{"type":"array","items":{"type":"object","properties":{"bankName":{"type":"string","example":"Bank Negara Indonesia"},"bankShortCode":{"type":"string","example":"BNI"},"availabilityInformation":{"type":"string","example":""},"isAvailable":{"type":"boolean","example":true,"default":true}}}},"bankTransfer":{"type":"array","items":{"type":"object","properties":{"bankName":{"type":"string","example":"Bank Central Asia"},"bankShortCode":{"type":"string","example":"BCA"},"availabilityInformation":{"type":"string","example":""},"isAvailable":{"type":"boolean","example":true,"default":true}}}}}},"metaData":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"error":{}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Invalid id":{"value":"{\n    \"status\": 401,\n    \"error\": {\n        \"code\": \"invalid_parameters_in_headers\",\n        \"message\": \"Transaction ID not found\",\n        \"action\": \"Please ensure that the transaction ID is correct\",\n        \"reason\": \"We did not find any transaction with such ID\"\n    },\n    \"metaData\": {\n        \"source\": \"API\",\n        \"entity\": \"Payment\"\n    },\n    \"data\": null\n}"},"invalid token":{"value":"{\n  \"status\": 401,\n  \"error\": {\n    \"code\": \"invalid_parameters_in_headers\",\n    \"message\": \"Please use valid Public_access_token in headers\",\n    \"action\": \"Please generate valid public access token via /v2/payments/auth/token APIs or contact to Brick sales team\",\n    \"reason\": \"Invalid public_access_token in headers\"\n  },\n  \"metaData\": {\n    \"source\": \"API\",\n    \"entity\": \"Payment\"\n  },\n  \"data\": null\n}"}},"schema":{"oneOf":[{"title":"Invalid id","type":"object","properties":{"status":{"type":"integer","example":401,"default":0},"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_parameters_in_headers"},"message":{"type":"string","example":"Transaction ID not found"},"action":{"type":"string","example":"Please ensure that the transaction ID is correct"},"reason":{"type":"string","example":"We did not find any transaction with such ID"}}},"metaData":{"type":"object","properties":{"source":{"type":"string","example":"API"},"entity":{"type":"string","example":"Payment"}}},"data":{}}},{"title":"invalid token","type":"object","proper
[...]
