{"openapi":"3.1.0","info":{"title":"Mercury API","version":"1"},"servers":[{"url":"https://api.mercury.com/api/v1"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"Authorization","x-bearer-format":"bearer","x-default":"<your_token>"}}},"security":[{"sec0":[]}],"paths":{"/accounts":{"get":{"summary":"/accounts","description":"Retrieve information about all your bank accounts","operationId":"accounts","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"accounts\": [\n        {\n            \"accountNumber\": \"12345\",\n            \"availableBalance\": 999910.38,\n            \"createdAt\": \"2019-09-04T00:43:41.01958Z\",\n            \"currentBalance\": 999910.38,\n            \"id\": \"0ad81488-cead-11e9-80e2-8fecf9556cc6\",\n            \"kind\": \"checking\",\n            \"name\": \"Mercury Checking ••5678\",\n            \"routingNumber\": \"051502395\",\n            \"status\": \"active\",\n            \"canReceiveTransactions\": true,\n            \"type\": \"mercury\",\n            \"nickname\": \"New primary account\",\n            \"legalBusinessName\": \"Mercury Technologies Inc.\"\n        },\n        {\n            \"accountNumber\": \"12345\",\n            \"availableBalance\": 999886.62,\n            \"createdAt\": \"2019-09-04T00:43:41.01958Z\",\n            \"currentBalance\": 999886.62,\n            \"id\": \"0ad5acfc-cead-11e9-80e2-774139baa3c0\",\n            \"kind\": \"checking\",\n            \"name\": \"Mercury Checking ••1234\",\n            \"routingNumber\": \"051502395\",\n            \"status\": \"active\",\n            \"canReceiveTransactions\": true,\n            \"type\": \"mercury\",\n            \"nickname\": \"Checking account\",\n            \"legalBusinessName\": \"Mercury Technologies Inc.\"\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"accounts":{"type":"array","items":{"type":"object","properties":{"accountNumber":{"type":"string","example":"12345"},"availableBalance":{"type":"number","example":999910.38,"default":0},"createdAt":{"type":"string","example":"2019-09-04T00:43:41.01958Z"},"currentBalance":{"type":"number","example":999910.38,"default":0},"id":{"type":"string","example":"0ad81488-cead-11e9-80e2-8fecf9556cc6"},"kind":{"type":"string","example":"checking"},"name":{"type":"string","example":"Mercury Checking ••5678"},"routingNumber":{"type":"string","example":"051502395"},"status":{"type":"string","example":"active"},"canReceiveTransactions":{"type":"boolean","example":true,"default":true},"type":{"type":"string","example":"mercury"},"nickname":{"type":"string","example":"New primary account"},"legalBusinessName":{"type":"string","example":"Mercury Technologies Inc."}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"No matching token found\"\n    }\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"No matching token found"}}}}}}}}},"deprecated":false}},"/account/{id}":{"get":{"summary":"/account/:id","description":"Retrieve information about a specific account","operationId":"accountsid","parameters":[{"name":"id","in":"path","description":"Your 36-character account UUID.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"accountNumber\": \"12345\",\n    \"availableBalance\": 999910.38,\n    \"createdAt\": \"2019-09-04T00:43:41.01958Z\",\n    \"currentBalance\": 999910.38,\n    \"id\": \"0ad81488-cead-11e9-80e2-8fecf9556cc6\",\n    \"kind\": \"checking\",\n    \"name\": \"Mercury Checking ••5678\",\n    \"routingNumber\": \"051502395\",\n    \"status\": \"active\",\n    \"canReceiveTransactions\": true,\n    \"type\": \"mercury\",\n    \"nickname\": \"Checking account\",\n    \"legalBusinessName\": \"Mercury Technologies Inc.\"\n}"}},"schema":{"type":"object","properties":{"accountNumber":{"type":"string","example":"12345"},"availableBalance":{"type":"number","example":999910.38,"default":0},"createdAt":{"type":"string","example":"2019-09-04T00:43:41.01958Z"},"currentBalance":{"type":"number","example":999910.38,"default":0},"id":{"type":"string","example":"0ad81488-cead-11e9-80e2-8fecf9556cc6"},"kind":{"type":"string","example":"checking"},"name":{"type":"string","example":"Mercury Checking ••5678"},"routingNumber":{"type":"string","example":"051502395"},"status":{"type":"string","example":"active"},"canReceiveTransactions":{"type":"boolean","example":true,"default":true},"type":{"type":"string","example":"mercury"},"nickname":{"type":"string","example":"Checking account"},"legalBusinessName":{"type":"string","example":"Mercury Technologies Inc."}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"No matching token found\"\n    }\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"No matching token found"}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"Couldn't find the resource for this ID\"\n    }\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"Couldn't find the resource for this ID"}}}}}}}}},"deprecated":false}},"/account/{id}/cards":{"get":{"summary":"/account/:id/cards","description":"Retrieve information about cards associated with a specific account. Note that status and physical card status are two separate concepts. Either one being set to something other than \"active\" could cause a transaction to be declined. For example, your credit card could be active overall (status = \"active\"), but locked to prevent in-person usage of the physical card itself (physicalCardStatus = \"locked\"). Alternatively, your credit card could have no restrictions on the use of the physical card itself (physicalCardStatus = \"active\") but the overall card could be frozen (status = \"frozen\") to decline all authorizations, no matter the circumstance.","operationId":"accountidcards","parameters":[{"name":"id","in":"path","description":"Your 36-character account uuid.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"cards\": [\n        {\n            \"cardId\": \"43d2560b-e468-4b13-a6c3-4aba9831c843\",\n            \"createdAt\": \"2019-09-04T00:43:41.01958Z\",\n            \"lastFourDigits\": \"5678\",\n            \"nameOnCard\": \"Big S. Pender\",\n            \"network\": \"visa\",\n            \"status\": \"active\",\n            \"physicalCardStatus\": \"active\"\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"cards":{"type":"array","items":{"type":"object","properties":{"cardId":{"type":"string","example":"43d2560b-e468-4b13-a6c3-4aba9831c843"},"createdAt":{"type":"string","example":"2019-09-04T00:43:41.01958Z"},"lastFourDigits":{"type":"string","example":"5678"},"nameOnCard":{"type":"string","example":"Big S. Pender"},"network":{"type":"string","example":"visa"},"status":{"type":"string","example":"active"},"physicalCardStatus":{"type":"string","example":"active"}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"No matching token found\"\n    }\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"No matching token found"}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"Couldn't find the resource for this ID\"\n    }\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"Couldn't find the resource for this ID"}}}}}}}}},"deprecated":false}},"/recipients":{"get":{"summary":"/recipients","description":"Retrieve information about all of your recipients","operationId":"recipients-1","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"recipients\": [\n        {\n            \"address\": null,    // Deprecated. Use checkInfo instead.\n            \"checkInfo\": null,\n            \"dateLastPaid\": null,\n            \"defaultPaymentMethod\": \"ach\",\n            \"domesticWireRoutingInfo\": null,\n            \"electronicRoutingInfo\": null,\n            \"emails\": [],\n            \"id\": \"73dbe710-fb4a-11e9-b89d-07e77a363005\",\n            \"internationalWireRoutingInfo\": null,\n            \"name\": \"Rocco's Cafe\",\n            \"status\": \"active\"\n        },\n        {\n            \"address\": null,\n            \"checkInfo\": null,\n            \"dateLastPaid\": null,\n            \"defaultPaymentMethod\": \"ach\",\n            \"domesticWireRoutingInfo\": {\n                \"accountNumber\": \"12345\",\n                \"address\": null,\n                \"bankName\": \"THE BANK OF MONROE\",\n                \"routingNumber\": \"051502399\"\n            },\n            \"electronicRoutingInfo\": null,\n            \"emails\": [],\n            \"id\": \"73dc1fd2-fb4a-11e9-b89d-f74e6dda1e0d\",\n            \"internationalWireRoutingInfo\": null,\n            \"name\": \"Wire Thing\",\n            \"status\": \"active\"\n        }\n    ],\n    \"total\": 2\n}"}},"schema":{"type":"object","properties":{"recipients":{"type":"array","items":{"type":"object","properties":{"address":{},"checkInfo":{},"dateLastPaid":{},"defaultPaymentMethod":{"type":"string","example":"ach"},"domesticWireRoutingInfo":{},"electronicRoutingInfo":{},"emails":{"type":"array"},"id":{"type":"string","example":"73dbe710-fb4a-11e9-b89d-07e77a363005"},"internationalWireRoutingInfo":{},"name":{"type":"string","example":"Rocco's Cafe"},"status":{"type":"string","example":"active"}}}},"total":{"type":"integer","example":2,"default":0}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"No matching token found\"\n    }\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"No matching token found"}}}}}}}}},"deprecated":false},"post":{"summary":"/recipients","description":"Add a new recipient","operationId":"recipients-2","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name","emails","paymentMethod"],"properties":{"name":{"type":"string"},"emails":{"type":"array","items":{"type":"string"}},"checkInfo":{"type":"object","description":"Information needed to send a physical check.","properties":{"address":{"type":"object","description":"Mailing address for sending a physical check.","required":["address1","city","region","postalCode","country"],"properties":{"address1":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"region":{"type":"string","description":"Either a two-letter US state code like \"CA\" for California or a free-form identification of a particular region worldwide"},"postalCode":{"type":"string"},"country":{"type":"string","description":"ISO3166Alpha2"}}}}},"paymentMethod":{"type":"string","description":"\"check\" | \"electronic\" | \"domesticWire\" | \"internationalWire\""},"electronicRoutingInfo":{"type":"object","description":"Information needed to send an ACH. Note that all fields in this object are required.","required":["accountNumber","routingNumber","electronicAccountType"],"properties":{"accountNumber":{"type":"string"},"routingNumber":{"type":"string"},"electronicAccountType":{"type":"string","description":"\"businessChecking\" | \"businessSavings\" | \"personalChecking\" | \"personalSavings\""},"address":{"type":"object","description":"This has to be the recipient's *legal address*.","required":["address1","city","region","postalCode","country"],"properties":{"address1":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"region":{"type":"string","description":"Either a two-letter US state code like \"CA\" for California or a free-form identification of a particular region worldwide"},"postalCode":{"type":"string"},"country":{"type":"string","description":"ISO3166Alpha2"}}}}},"domesticWireRoutingInfo":{"type":"object","description":"Information needed to send a domestic wire. Note that all fields in this object are required.","properties":{}},"internationalWireRoutingInfo":{"type":"object","description":"Information needed to send an international wire. Note that iban, swiftCode, and address are always required, whereas country-specific fields are only required if the recipient resides in that country.","required":["iban","swiftCode"],"properties":{"iban":{"type":"string"},"swiftCode":{"type":"string"},"correspondentRoutingNumber":{"type":"string"},"correspondentSwift":{"type":"string"},"address":{"type":"object","required":["address1","city","region","postalCode","country"],"properties":{"address1":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"region":{"type":"string","description":"Either a two-letter US state code like \"CA\" for California or a free-form identification of a particular region worldwide"},"postalCode":{"type":"string"},"country":{"type":"string","description":"ISO3166Alpha2"}}},"phoneNumber":{"type":"string"},"canadianBankCode":{"type":"string"},"canadianTransitNumber":{"type":"string"},"australianBSBCode":{"type":"string"},"indianIFSCCode":{"type":"string"}}},"address":{"type":"object","description":"Deprecated. Use checkInfo instead.","required":["address1","city","region","postalCode","country"],"properties":{"address1":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"region":{"type":"string","description":"Either a two-letter US state code like \"CA\" for California or a free-form identification of a particular region worldwide"},"postalCode":{"type":"string"},"country":{"type":"string","description":"ISO3166Alpha2"}}},"nickname":{"type":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"address\": null,\n    \"checkInfo\": null,\n    \"dateLastPaid\": null,\n    \"defaultPaymentMethod\": \"ach\",\n    \"domesticWireRoutingInfo\": null,\n    \"electronicRoutingInfo\": {\n        \"accountNumber\": \"1111152261299\",\n        \"bankName\": \"SUNTRUST\",\n        \"routingNumber\": \"011110115\",\n        \"electronicAccountType\": \"businessChecking\",\n        \"address\": {\n            \"address1\": \"340 South Lemon Avenue #4260\",\n            \"address2\": null,\n            \"city\": \"Walnut\",\n            \"country\": \"US\",\n            \"postalCode\": \"91789\",\n            \"region\": \"CA\"\n        },          \n    },\n    \"emails\": [\n        \"test@example.com\"\n    ],\n    \"id\": \"dd7bb9a0-05ba-11ea-ac1e-5f14c421fbf0\",\n    \"internationalWireRoutingInfo\": null,\n    \"name\": \"Test Recipient\",\n    \"status\": \"active\"\n}"}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"No matching token found\"\n    }\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"No matching token found"}}}}}}}}},"deprecated":false}},"/recipient/{id}":{"get":{"summary":"/recipient/:id","description":"Retrieve information about a specific recipient","operationId":"recipientsid","parameters":[{"name":"id","in":"path","description":"36-character recipient uuid.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"address\": null,\n    \"checkInfo\": null,\n    \"dateLastPaid\": null,\n    \"defaultPaymentMethod\": \"ach\",\n    \"domesticWireRoutingInfo\": null,\n    \"electronicRoutingInfo\": {\n        \"accountNumber\": \"00009\",\n        \"bankName\": \"BANK OF AMERICA, N.A.\",\n        \"routingNumber\": \"122340358\",\n        \"address\": {\n            \"address1\": \"3124 Cedar Lane\",\n            \"address2\": null,\n            \"city\": \"Wantagh\",\n            \"country\": \"US\",\n            \"postalCode\": \"11793\",\n            \"region\": \"NY\"\n        },\n        \"electronicAccountType\": \"businessChecking\"\n    },\n    \"emails\": [\n        \"test@example.com\"\n    ],\n    \"id\": \"0938883c-f1fe-11e9-b356-9ff04239ca51\",\n    \"internationalWireRoutingInfo\": null,\n    \"name\": \"Monroe Testperson\",\n    \"status\": \"active\"\n}"}},"schema":{"type":"object","properties":{"address":{},"checkInfo":{},"dateLastPaid":{},"defaultPaymentMethod":{"type":"string","example":"ach"},"domesticWireRoutingInfo":{},"electronicRoutingInfo":{"type":"object","properties":{"accountNumber":{"type":"string","example":"00009"},"bankName":{"type":"string","example":"BANK OF AMERICA, N.A."},"routingNumber":{"type":"string","example":"122340358"},"address":{"type":"object","properties":{"address1":{"type":"string","example":"3124 Cedar Lane"},"address2":{},"city":{"type":"string","example":"Wantagh"},"country":{"type":"string","example":"US"},"postalCode":{"type":"string","example":"11793"},"region":{"type":"string","example":"NY"}}},"electronicAccountType":{"type":"string","example":"businessChecking"}}},"emails":{"type":"array","items":{"type":"string","example":"test@example.com"}},"id":{"type":"string","example":"0938883c-f1fe-11e9-b356-9ff04239ca51"},"internationalWireRoutingInfo":{},"name":{"type":"string","example":"Monroe Testperson"},"status":{"type":"string","example":"active"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"No matching token found\"\n    }\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"No matching token found"}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"Couldn't find the resource for this ID\"\n    }\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"Couldn't find the resource for this ID"}}}}}}}}},"deprecated":false},"post":{"summary":"/recipient/:id","description":"Edit information about a specific recipient","operationId":"recipientid","parameters":[{"name":"id","in":"path","description":"36-character recipient uuid.","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"nickname":{"type":"string"},"emails":{"type":"array","items":{"type":"string"}},"checkInfo":{"type":"object","description":"Information needed to send a check.","properties":{"address":{"type":"object","description":"Mailing address for sending a physical check.","required":["address1","city","region","postalCode","country"],"properties":{"address1":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"region":{"type":"string","description":"Either a two-letter US state code like \"CA\" for California or a free-form identification of a particular region worldwide"},"postalCode":{"type":"string"},"country":{"type":"string","description":"ISO3166Alpha2"}}}}},"electronicRoutingInfo":{"type":"object","description":"Information needed to send an ACH. Note that all fields in this object are required.","required":["accountNumber","routingNumber","electronicAccountType"],"properties":{"accountNumber":{"type":"string"},"routingNumber":{"type":"string"},"electronicAccountType":{"type":"string","description":"\"businessChecking\" | \"businessSavings\" | \"personalChecking\" | \"personalSavings\""},"address":{"type":"object","description":"This has to be the recipient's *legal address*.","required":["address1","city","region","postalCode","country"],"properties":{"address1":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"region":{"type":"string","description":"Either a two-letter US state code like \"CA\" for California or a free-form identification of a particular region worldwide"},"postalCode":{"type":"string"},"country":{"type":"string","description":"ISO3166Alpha2"}}}}},"domesticWireRoutingInfo":{"type":"object","description":"Information needed to send a domestic wire. Note that all fields in this object are required.","required":["accountNumber","routingNumber"],"properties":{"accountNumber":{"type":"string"},"routingNumber":{"type":"string"},"address":{"type":"object","required":["address1","city","region","postalCode","country"],"properties":{"address1":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"region":{"type":"string","description":"Either a two-letter US state code like \"CA\" for California or a free-form identification of a particular region worldwide"},"postalCode":{"type":"string"},"country":{"type":"string","description":"ISO3166Alpha2"}}}}},"internationalWireRoutingInfo":{"type":"object","description":"Information needed to send an international wire. Note that iban, swiftCode, and address are always required, whereas country-specific fields are only required if the recipient resides in that country.","required":["iban","swiftCode"],"properties":{"iban":{"type":"string"},"swiftCode":{"type":"string"},"correspondentRoutingNumber":{"type":"string"},"correspondentSwift":{"type":"string"},"address":{"type":"object","required":["address1","city","region","postalCode","country"],"properties":{"address1":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"region":{"type":"string","description":"Either a two-letter US state code like \"CA\" for California or a free-form identification of a particular region worldwide"},"postalCode":{"type":"string"},"country":{"type":"string","description":"ISO3166Alpha2"}}},"phoneNumber":{"type":"string"},"canadianBankCode":{"type":"string"},"canadianTransitNumber":{"type":"string"},"australianBSBCode":{"type":"string"},"indianIFSCCode":{"type":"string"}}},"address":{"type":"object","description":"Deprecated. Use checkInfo instead.","required":["address1","city","region","postalCode","country"],"properties":{"address1":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"region":{"type":"string","description":"Either a two-letter US state code like \"CA\" for California or a free-form identification of a particular region worldwide"},"postalCode":{"type":"string"},"country":{"type":"string","description":"ISO3166Alpha2"}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"address\": null,\n    \"checkInfo\": null,\n    \"dateLastPaid\": null,\n    \"defaultPaymentMethod\": \"ach\",\n    \"domesticWireRoutingInfo\": null,\n    \"electronicRoutingInfo\": {\n        \"accountNumber\": \"00009\",\n        \"bankName\": \"BANK OF AMERICA, N.A.\",\n        \"routingNumber\": \"122340358\",\n        \"address\": {\n            \"address1\": \"3124 Cedar Lane\",\n            \"address2\": null,\n            \"city\": \"Wantagh\",\n            \"country\": \"US\",\n            \"postalCode\": \"11793\",\n            \"region\": \"NY\"\n        },\n        \"electronicAccountType\": \"businessChecking\"          \n    },\n    \"emails\": [\n        \"test@example.com\"\n    ],\n    \"id\": \"0938883c-f1fe-11e9-b356-9ff04239ca51\",\n    \"internationalWireRoutingInfo\": null,\n    \"name\": \"Monroe Testperson\",\n    \"status\": \"active\"\n}"}},"schema":{"type":"object","properties":{"address":{},"checkInfo":{},"dateLastPaid":{},"defaultPaymentMethod":{"type":"string","example":"ach"},"domesticWireRoutingInfo":{},"electronicRoutingInfo":{"type":"object","properties":{"accountNumber":{"type":"string","example":"00009"},"bankName":{"type":"string","example":"BANK OF AMERICA, N.A."},"routingNumber":{"type":"string","example":"122340358"},"address":{"type":"object","properties":{"address1":{"type":"string","example":"3124 Cedar Lane"},"address2":{},"city":{"type":"string","example":"Wantagh"},"country":{"type":"string","example":"US"},"postalCode":{"type":"string","example":"11793"},"region":{"type":"string","example":"NY"}}},"electronicAccountType":{"type":"string","example":"businessChecking"}}},"emails":{"type":"array","items":{"type":"string","example":"test@example.com"}},"id":{"type":"string","example":"0938883c-f1fe-11e9-b356-9ff04239ca51"},"internationalWireRoutingInfo":{},"name":{"type":"string","example":"Monroe Testperson"},"status":{"type":"string","example":"active"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"No matching token found\"\n    }\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"No matching token found"}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"Couldn't find the resource for this ID\"\n    }\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"Couldn't find the resource for this ID"}}}}}}}}},"deprecated":false}},"/account/{id}/transactions":{"get":{"summary":"/account/:id/transactions","description":"Retrieve information about your transactions for a specific account","operationId":"transactions-1","parameters":[{"name":"id","in":"path","description":"Your 36-character account uuid.","schema":{"type":"string"},"required":true},{"name":"limit","in":"query","description":"Limit how many transactions you want to retrieve.","schema":{"type":"integer","format":"int32","default":500}},{"name":"offset","in":"query","description":"The number of most recent transactions you want to omit.","schema":{"type":"integer","format":"int32","default":0}},{"name":"status","in":"query","description":"\"pending\" | \"sent\" | \"cancelled\" | \"failed\"","schema":{"type":"string"}},{"name":"start","in":"query","description":"Earliest createdAt date to filter for. If it's not provided, it defaults to 30 days ago. Format: YYYY-MM-DD or an ISO 8601 string. Please note that your Mercury transactions on your Dashboard might have their postedAt date displayed, as opposed to createdAt","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","description":"Latest createdAt date fo filter for. If it's not provided, it defaults to current day. Format: YYYY-MM-DD or an ISO 8601 string. Please note that your Mercury transactions on your Dashboard might have their postedAt date displayed, as opposed to createdAt","schema":{"type":"string","format":"date"}},{"name":"search","in":"query","description":"Search term to look for in transaction descriptions.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"total\": 2,\n    \"transactions\": [\n        {\n            \"amount\": 1000000,\n            \"bankDescription\": null,\n            \"counterpartyId\": \"dd486506-d66b-11e9-8d8a-0b2e6a550f30\",\n            \"counterpartyName\": \"Fake P. Erson\",\n            \"counterpartyNickname\": null,\n            \"createdAt\": \"2019-09-13T21:17:15.974788Z\",\n            \"dashboardLink\": \"https://mercury.com/transactions/dd4896c0-d66b-11e9-8d8a-cf31cc71dda0\",\n            \"details\": {\n                \"address\": null,\n                \"domesticWireRoutingInfo\": null,\n                \"electronicRoutingInfo\": null,\n                \"internationalWireRoutingInfo\": null,\n                \"debitCardInfo\":{\"id\":\"a08d1b00-e8f8-11ec-a869-b783eb9b2601\"}\n            },\n            \"estimatedDeliveryDate\": \"2019-09-13T21:17:17.387585Z\",\n            \"failedAt\": null,\n            \"id\": \"dd4896c0-d66b-11e9-8d8a-cf31cc71dda0\",\n            \"kind\": \"externalTransfer\",\n            \"note\": null,\n            \"postedAt\": \"2019-09-13T21:17:17.387585Z\",\n            \"reasonForFailure\": null,\n            \"status\": \"sent\",\n            \"feeId\": null,\n          \t\"currencyExchangeInfo\": {\"convertedFromCurrency\":\"USD\",\"convertedToCurrency\":\"GBP\",\"convertedFromAmount\":5,\"convertedToAmount\":3.99,\"feeAmount\":5.0e-2,\"feePercentage\":1.0e-2,\"exchangeRate\":0.798,\"feeTransactionId\":\"d99358a8-db86-11ec-b497-5708fdcf68dc\"},\n          \t\"compliantWithReceiptPolicy\": null,\n            \"hasGeneratedReceipt\": null,\n            \"creditAccountPeriodId\": null,\n            \"mercuryCategory\": null, \n            \"generalLedgerCodeName\": null,\n            \"attachments\": [{\"fileName\":\"receipt.pdf\",\"url\":\"https://mercury.com/\",\"attachmentType\":\"receipt\"}]\n        },\n        {\n            \"amount\": -33,\n            \"bankDescription\": \"BANK DATA 456\",\n            \"counterpartyId\": \"dd4582d2-d66b-11e9-8d8a-9f3f0c442a5b\",\n            \"counterpartyName\": \"Rocco's Cafe\",\n            \"counterpartyNickname\": null,\n            \"createdAt\": \"2019-09-13T21:17:15.974788Z\",\n            \"dashboardLink\": \"https://mercury.com/transactions/dd48d0ea-d66b-11e9-8d8a-afa9de832963\",\n            \"details\": {\n                \"address\": null,\n                \"domesticWireRoutingInfo\": null,\n                \"electronicRoutingInfo\": null,\n                \"internationalWireRoutingInfo\": null\n            },\n            \"estimatedDeliveryDate\": \"2019-09-13T21:17:15.977065Z\",\n            \"failedAt\": null,\n            \"id\": \"dd48d0ea-d66b-11e9-8d8a-afa9de832963\",\n            \"kind\": \"debitCardTransaction\",\n            \"note\": null,\n            \"externalMemo\": null,\n            \"postedAt\": \"2019-09-13T21:17:15.977065Z\",\n            \"reasonForFailure\": null,\n            \"status\": \"sent\",\n            \"feeId\": null,\n            \"currencyExchangeInfo\": {\"convertedFromCurrency\":\"USD\",\"convertedToCurrency\":\"GBP\",\"convertedFromAmount\":5,\"convertedToAmount\":3.99,\"feeAmount\":5.0e-2,\"feePercentage\":1.0e-2,\"exchangeRate\":0.798,\"feeTransactionId\":\"d99358a8-db86-11ec-b497-5708fdcf68dc\"},\n            \"compliantWithReceiptPolicy\": null,\n            \"hasGeneratedReceipt\": null,\n            \"creditAccountPeriodId\": null,\n            \"mercuryCategory\": null, \n            \"generalLedgerCodeName\": null,\n         \t\t\"attachments\": [{\"fileName\":\"other.pdf\",\"url\":\"https://mercury.com/\",\"attachmentType\":\"other\"}]\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"total":{"type":"integer","example":2,"default":0},"transactions":{"type":"array","items":{"type":"object","properties":{"amount":{"type":"integer","example":1000000,"default":0},"bankDescription":{},"counterpartyId":{"type":"string","example":"dd486506-d66b-11e9-8d8a-0b2e6a550f30"},"counterpartyName":{"type":"string","example":"Fake P. Erson"},"counterpartyNickname":{},"createdAt":{"type":"string","example":"2019-09-13T21:17:15.974788Z"},"dashboardLink":{"type":"string","example":"https://mercury.com/transactions/dd4896c0-d66b-11e9-8d8a-cf31cc71dda0"},"details":{"type":"object","properties":{"address":{},"domesticWireRoutingInfo":{},"electronicRoutingInfo":{},"internationalWireRoutingInfo":{},"debitCardInfo":{"type":"object","properties":{"id":{"type":"string","example":"a08d1b00-e8f8-11ec-a869-b783eb9b2601"}}}}},"estimatedDeliveryDate":{"type":"string","example":"2019-09-13T21:17:17.387585Z"},"failedAt":{},"id":{"type":"string","example":"dd4896c0-d66b-11e9-8d8a-cf31cc71dda0"},"kind":{"type":"string","example":"externalTransfer"},"note":{},"postedAt":{"type":"string","example":"2019-09-13T21:17:17.387585Z"},"reasonForFailure":{},"status":{"type":"string","example":"sent"},"feeId":{},"currencyExchangeInfo":{"type":"object","properties":{"convertedFromCurrency":{"type":"string","example":"USD"},"convertedToCurrency":{"type":"string","example":"GBP"},"convertedFromAmount":{"type":"integer","example":5,"default":0},"convertedToAmount":{"type":"number","example":3.99,"default":0},"feeAmount":{"type":"number","example":0.05,"default":0},"feePercentage":{"type":"number","example":0.01,"default":0},"exchangeRate":{"type":"number","example":0.798,"default":0},"feeTransactionId":{"type":"string","example":"d99358a8-db86-11ec-b497-5708fdcf68dc"}}},"compliantWithReceiptPolicy":{},"hasGeneratedReceipt":{},"creditAccountPeriodId":{},"mercuryCategory":{},"generalLedgerCodeName":{},"attachments":{"type":"array","items":{"type":"object","properties":{"fileName":{"type":"string","example":"receipt.pdf"},"url":{"type":"string","example":"https://mercury.com/"},"attachmentType":{"type":"string","example":"receipt"}}}}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"No matching token found\"\n    }\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"No matching token found"}}}}}}}}},"deprecated":false},"post":{"summary":"/account/:id/transactions","description":"Create a new transaction, currently only supporting ACH payments","operationId":"transactions-2","parameters":[{"name":"id","in":"path","description":"Your 36-character account uuid.","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["recipientId","amount","paymentMethod","idempotencyKey"],"properties":{"recipientId":{"type":"string","description":"Recipient ID from the [/recipients](https://mercurytechnologies.readme.io/reference#recipients-1) endpoint.","default":"<recipient_id>"},"amount":{"type":"number","description":"Amount of USD you want to send, must be a positive number.","default":10,"format":"double"},"paymentMethod":{"type":"string","description":"Payment method to use, currently only supports \"ach\"","default":"ach"},"note":{"type":"string","description":"Optional note"},"externalMemo":{"type":"string","description":"Optional external memo"},"idempotencyKey":{"type":"string","description":"Unique string identifying the transaction"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"amount\": 1000000,\n    \"bankDescription\": null,\n    \"counterpartyId\": \"dd486506-d66b-11e9-8d8a-0b2e6a550f30\",\n    \"counterpartyName\": \"Fake P. Erson\",\n    \"counterpartyNickname\": null,\n    \"createdAt\": \"2019-09-13T21:17:15.974788Z\",\n    \"dashboardLink\": \"https://mercury.com/transactions/dd4896c0-d66b-11e9-8d8a-cf31cc71dda0\",\n    \"details\": {\n        \"address\": null,\n        \"domesticWireRoutingInfo\": null,\n        \"electronicRoutingInfo\": null,\n        \"internationalWireRoutingInfo\": null\n    },\n    \"estimatedDeliveryDate\": \"2019-09-13T21:17:17.387585Z\",\n    \"failedAt\": null,\n    \"id\": \"dd4896c0-d66b-11e9-8d8a-cf31cc71dda0\",\n    \"kind\": \"externalTransfer\",\n    \"note\": null,\n    \"externalMemo\": null,\n    \"postedAt\": \"2019-09-13T21:17:17.387585Z\",\n    \"reasonForFailure\": null,\n    \"status\": \"sent\",\n    \"feeId\": null\n},"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"Sorry, you have insufficient funds to make that transaction\"\n    }\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"You cannot initiate a transaction within the same account"}}}}},{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"Sorry, we ran into a problem with your organization"}}}}},{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"Memos must be less than 140 characters"}}}}},{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"Sorry, you have insufficient funds to make that transaction"}}}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"Sorry, you're not a member of that organization\"\n    }\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"No matching token found"}}}}},{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"Sorry, you're not a member of that organization"}}}}}]}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"Sorry, we couldn't find a counter transaction party with that id\"\n    }\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"Sorry, we couldn't find an account with that id"}}}}},{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"Sorry, we couldn't find a counter transaction party with that id"}}}}}]}}}},"409":{"description":"409","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"amount\": 1000000,\n    \"bankDescription\": null,\n    \"counterpartyId\": \"dd486506-d66b-11e9-8d8a-0b2e6a550f30\",\n    \"counterpartyName\": \"Fake P. Erson\",\n    \"counterpartyNickname\": null,\n    \"createdAt\": \"2019-09-13T21:17:15.974788Z\",\n    \"dashboardLink\": \"https://mercury.co/transactions/dd4896c0-d66b-11e9-8d8a-cf31cc71dda0\",\n    \"details\": {\n        \"address\": null,\n        \"domesticWireRoutingInfo\": null,\n        \"electronicRoutingInfo\": null,\n        \"internationalWireRoutingInfo\": null\n    },\n    \"estimatedDeliveryDate\": \"2019-09-13T21:17:17.387585Z\",\n    \"failedAt\": null,\n    \"id\": \"dd4896c0-d66b-11e9-8d8a-cf31cc71dda0\",\n    \"kind\": \"externalTransfer\",\n    \"note\": null,\n    \"postedAt\": \"2019-09-13T21:17:17.387585Z\",\n    \"reasonForFailure\": null,\n    \"status\": \"sent\"\n}"}},"schema":{"type":"object","properties":{"amount":{"type":"integer","example":1000000,"default":0},"bankDescription":{},"counterpartyId":{"type":"string","example":"dd486506-d66b-11e9-8d8a-0b2e6a550f30"},"counterpartyName":{"type":"string","example":"Fake P. Erson"},"counterpartyNickname":{},"createdAt":{"type":"string","example":"2019-09-13T21:17:15.974788Z"},"dashboardLink":{"type":"string","example":"https://mercury.co/transactions/dd4896c0-d66b-11e9-8d8a-cf31cc71dda0"},"details":{"type":"object","properties":{"address":{},"domesticWireRoutingInfo":{},"electronicRoutingInfo":{},"internationalWireRoutingInfo":{}}},"estimatedDeliveryDate":{"type":"string","example":"2019-09-13T21:17:17.387585Z"},"failedAt":{},"id":{"type":"string","example":"dd4896c0-d66b-11e9-8d8a-cf31cc71dda0"},"kind":{"type":"string","example":"externalTransfer"},"note":{},"postedAt":{"type":"string","example":"2019-09-13T21:17:17.387585Z"},"reasonForFailure":{},"status":{"type":"string","example":"sent"}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"Sorry, we ran into an error processing that payment. Please contact help@mercury.co\"\n    }\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"Sorry, we ran into an error processing that payment. Please contact help@mercury.co"}}}}}}}}},"deprecated":false}},"/account/{id}/transaction/{transactionId}":{"get":{"summary":"/account/:id/transaction/:transactionId","description":"Retrieve information about a specific transaction for a specific account","operationId":"accountidtransactiontransactionid","parameters":[{"name":"id","in":"path","description":"Your 36-character account uuid.","schema":{"type":"string"},"required":true},{"name":"transactionId","in":"path","description":"Your 36-character transaction uuid.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"amount\": 1000000,\n    \"bankDescription\": null,\n    \"counterpartyId\": \"dd486506-d66b-11e9-8d8a-0b2e6a550f30\",\n    \"counterpartyName\": \"Fake P. Erson\",\n    \"counterpartyNickname\": null,\n    \"createdAt\": \"2019-09-13T21:17:15.974788Z\",\n    \"dashboardLink\": \"https://mercury.com/transactions/dd4896c0-d66b-11e9-8d8a-cf31cc71dda0\",\n    \"details\": {\n\t      \"address\": null,\n\t      \"domesticWireRoutingInfo\": null,\n\t      \"electronicRoutingInfo\": null,\n\t      \"internationalWireRoutingInfo\": null\n    },\n    \"estimatedDeliveryDate\": \"2019-09-13T21:17:17.387585Z\",\n    \"failedAt\": null,\n    \"id\": \"dd4896c0-d66b-11e9-8d8a-cf31cc71dda0\",\n    \"kind\": \"externalTransfer\",\n    \"note\": null,\n    \"postedAt\": \"2019-09-13T21:17:17.387585Z\",\n    \"reasonForFailure\": null,\n    \"status\": \"sent\",\n    \"feeId\": null,\n  \t\"currencyExchangeInfo\": {\"convertedFromCurrency\":\"USD\",\"convertedToCurrency\":\"GBP\",\"convertedFromAmount\":5,\"convertedToAmount\":3.99,\"feeAmount\":5.0e-2,\"feePercentage\":1.0e-2,\"exchangeRate\":0.798,\"feeTransactionId\":\"d99358a8-db86-11ec-b497-5708fdcf68dc\"},\n    \"compliantWithReceiptPolicy\": null,\n    \"hasGeneratedReceipt\": null,\n    \"creditAccountPeriodId\": null,\n    \"mercuryCategory\": null, \n    \"generalLedgerCodeName\": null,\n    \"attachments\": [{\"fileName\":\"receipt.pdf\",\"url\":\"https://mercury.com/\",\"attachmentType\":\"receipt\"}]\n}"}},"schema":{"type":"object","properties":{"amount":{"type":"integer","example":1000000,"default":0},"bankDescription":{},"counterpartyId":{"type":"string","example":"dd486506-d66b-11e9-8d8a-0b2e6a550f30"},"counterpartyName":{"type":"string","example":"Fake P. Erson"},"counterpartyNickname":{},"createdAt":{"type":"string","example":"2019-09-13T21:17:15.974788Z"},"dashboardLink":{"type":"string","example":"https://mercury.com/transactions/dd4896c0-d66b-11e9-8d8a-cf31cc71dda0"},"details":{"type":"object","properties":{"address":{},"domesticWireRoutingInfo":{},"electronicRoutingInfo":{},"internationalWireRoutingInfo":{}}},"estimatedDeliveryDate":{"type":"string","example":"2019-09-13T21:17:17.387585Z"},"failedAt":{},"id":{"type":"string","example":"dd4896c0-d66b-11e9-8d8a-cf31cc71dda0"},"kind":{"type":"string","example":"externalTransfer"},"note":{},"postedAt":{"type":"string","example":"2019-09-13T21:17:17.387585Z"},"reasonForFailure":{},"status":{"type":"string","example":"sent"},"feeId":{},"currencyExchangeInfo":{"type":"object","properties":{"convertedFromCurrency":{"type":"string","example":"USD"},"convertedToCurrency":{"type":"string","example":"GBP"},"convertedFromAmount":{"type":"integer","example":5,"default":0},"convertedToAmount":{"type":"number","example":3.99,"default":0},"feeAmount":{"type":"number","example":0.05,"default":0},"feePercentage":{"type":"number","example":0.01,"default":0},"exchangeRate":{"type":"number","example":0.798,"default":0},"feeTransactionId":{"type":"string","example":"d99358a8-db86-11ec-b497-5708fdcf68dc"}}},"compliantWithReceiptPolicy":{},"hasGeneratedReceipt":{},"creditAccountPeriodId":{},"mercuryCategory":{},"generalLedgerCodeName":{},"attachments":{"type":"array","items":{"type":"object","properties":{"fileName":{"type":"string","example":"receipt.pdf"},"url":{"type":"string","example":"https://mercury.com/"},"attachmentType":{"type":"string","example":"receipt"}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"No matching token found\"\n    }\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"No matching token found"}}}}}}}}},"deprecated":false}},"/account/{id}/statements":{"get":{"summary":"/account/:id/statements","description":"Retrieve statement information for a depository account in a given time period (Note: For now, treasury and credit accounts are not supported on this endpoint. You may request this functionality by reaching out to support.)","operationId":"accountidstatement","parameters":[{"name":"id","in":"path","description":"Your 36-character account UUID.","schema":{"type":"string"},"required":true},{"name":"start","in":"query","description":"Filter the statements so that their startDate is equal to or later than this date. Format: YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","description":"Filter the statements so that their endDate is less than or equal to this date. Format: YYYY-MM-DD.","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"statements\": [\n        {\n            \"accountNumber\": \"1234567765\",\n            \"companyLegalAddress\": {\n                \"address1\": \"660 Mission Street\",\n                \"address2\": \"Floor 4\",\n                \"city\": \"San Francisco\",\n                \"country\": \"US\",\n                \"name\": \"Mercury\",\n                \"postalCode\": \"94105\",\n                \"region\": \"CA\"\n            },\n            \"companyLegalName\": \"Mercury Technologies, Inc.\",\n            \"ein\": \"82-1234567\",\n            \"endDate\": \"2020-03-31T23:59:59Z\",\n            \"endingBalance\": 99509973.81,\n            \"routingNumber\": \"012345678\",\n            \"startDate\": \"2020-03-01T00:00:00Z\"\n       }\n    ]\n}"}},"schema":{"type":"object","properties":{"statements":{"type":"array","items":{"type":"object","properties":{"accountNumber":{"type":"string","example":"1234567765"},"companyLegalAddress":{"type":"object","properties":{"address1":{"type":"string","example":"660 Mission Street"},"address2":{"type":"string","example":"Floor 4"},"city":{"type":"string","example":"San Francisco"},"country":{"type":"string","example":"US"},"name":{"type":"string","example":"Mercury"},"postalCode":{"type":"string","example":"94105"},"region":{"type":"string","example":"CA"}}},"companyLegalName":{"type":"string","example":"Mercury Technologies, Inc."},"ein":{"type":"string","example":"82-1234567"},"endDate":{"type":"string","example":"2020-03-31T23:59:59Z"},"endingBalance":{"type":"number","example":99509973.81,"default":0},"routingNumber":{"type":"string","example":"012345678"},"startDate":{"type":"string","example":"2020-03-01T00:00:00Z"}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"No matching token found\"\n    }\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"No matching token found"}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"Couldn't find the resource for this ID\"\n    }\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"Couldn't find the resource for this ID"}}}}}}}}},"deprecated":false}},"/treasury":{"get":{"summary":"/treasury","description":"","operationId":"treasury-1","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"accounts\" : [\n      {\n         \"availableBalance\" : 999999.66,\n         \"createdAt\" : \"2021-08-19T20:34:41.803931Z\",\n         \"currentBalance\" : 999999.66,\n         \"id\" : \"68e679a8-e25b-11ea-eaaa-ab8b85777eed\",\n         \"status\" : \"active\"\n      }\n   ]\n}"}},"schema":{"type":"object","properties":{"accounts":{"type":"array","items":{"type":"object","properties":{"availableBalance":{"type":"number","example":999999.66,"default":0},"createdAt":{"type":"string","example":"2021-08-19T20:34:41.803931Z"},"currentBalance":{"type":"number","example":999999.66,"default":0},"id":{"type":"string","example":"68e679a8-e25b-11ea-eaaa-ab8b85777eed"},"status":{"type":"string","example":"active"}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"No matching token found\"\n    }\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"No matching token found"}}}}}}}}},"deprecated":false}},"/credit":{"get":{"summary":"/credit","description":"","operationId":"credit-1","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"accounts\" : [\n      {\n         \"availableBalance\" : 999999.66,\n         \"createdAt\" : \"2021-08-19T20:34:41.803931Z\",\n         \"currentBalance\" : 999999.66,\n         \"id\" : \"68e679a8-e25b-11ea-eaaa-ab8b85777eed\",\n         \"status\" : \"active\"\n      }\n   ]\n}"}},"schema":{"type":"object","properties":{"accounts":{"type":"array","items":{"type":"object","properties":{"availableBalance":{"type":"number","example":999999.66,"default":0},"createdAt":{"type":"string","example":"2021-08-19T20:34:41.803931Z"},"currentBalance":{"type":"number","example":999999.66,"default":0},"id":{"type":"string","example":"68e679a8-e25b-11ea-eaaa-ab8b85777eed"},"status":{"type":"string","example":"active"}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"No matching token found\"\n    }\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"No matching token found"}}}}}}}}},"deprecated":false}},"/account/{id}/request-send-money":{"post":{"summary":"/account/:id/request-send-money","description":"Create an ACH payment that requires admin approval","operationId":"accountidrequestsendmoney","parameters":[{"name":"id","in":"path","description":"Your 36-character account uuid.","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["recipientId","amount","paymentMethod","idempotencyKey"],"properties":{"recipientId":{"type":"string","description":"Recipient ID from the [/recipients](https://mercurytechnologies.readme.io/reference#recipients-1) endpoint.","default":"<recipient_id>"},"amount":{"type":"number","description":"Amount of USD you want to send, must be a positive number.","default":10,"format":"double"},"paymentMethod":{"type":"string","description":"Payment method to use, currently only supports \"ach\"","default":"ach"},"note":{"type":"string","description":"Optional note"},"externalMemo":{"type":"string","description":"Optional external memo"},"idempotencyKey":{"type":"string","description":"Unique string identifying the transaction"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"amount\": 1000000,\n    \"bankDescription\": null,\n    \"counterpartyId\": \"dd486506-d66b-11e9-8d8a-0b2e6a550f30\",\n    \"counterpartyName\": \"Fake P. Erson\",\n    \"counterpartyNickname\": null,\n    \"createdAt\": \"2019-09-13T21:17:15.974788Z\",\n    \"dashboardLink\": \"https://mercury.com/transactions/dd4896c0-d66b-11e9-8d8a-cf31cc71dda0\",\n    \"details\": {\n        \"address\": null,\n        \"domesticWireRoutingInfo\": null,\n        \"electronicRoutingInfo\": null,\n        \"internationalWireRoutingInfo\": null\n    },\n    \"estimatedDeliveryDate\": \"2019-09-13T21:17:17.387585Z\",\n    \"failedAt\": null,\n    \"id\": \"dd4896c0-d66b-11e9-8d8a-cf31cc71dda0\",\n    \"kind\": \"externalTransfer\",\n    \"note\": null,\n    \"externalMemo\": null,\n    \"postedAt\": \"2019-09-13T21:17:17.387585Z\",\n    \"reasonForFailure\": null,\n    \"status\": \"sent\",\n    \"feeId\": null\n},"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"Sorry, you have insufficient funds to make that transaction\"\n    }\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"You cannot initiate a transaction within the same account"}}}}},{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"Sorry, we ran into a problem with your organization"}}}}},{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"Memos must be less than 140 characters"}}}}},{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"Sorry, you have insufficient funds to make that transaction"}}}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"Sorry, you're not a member of that organization\"\n    }\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"No matching token found"}}}}},{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"Sorry, you're not a member of that organization"}}}}}]}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"Sorry, we couldn't find a counter transaction party with that id\"\n    }\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"Sorry, we couldn't find an account with that id"}}}}},{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"Sorry, we couldn't find a counter transaction party with that id"}}}}}]}}}},"409":{"description":"409","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"amount\": 1000000,\n    \"bankDescription\": null,\n    \"counterpartyId\": \"dd486506-d66b-11e9-8d8a-0b2e6a550f30\",\n    \"counterpartyName\": \"Fake P. Erson\",\n    \"counterpartyNickname\": null,\n    \"createdAt\": \"2019-09-13T21:17:15.974788Z\",\n    \"dashboardLink\": \"https://mercury.co/transactions/dd4896c0-d66b-11e9-8d8a-cf31cc71dda0\",\n    \"details\": {\n        \"address\": null,\n        \"domesticWireRoutingInfo\": null,\n        \"electronicRoutingInfo\": null,\n        \"internationalWireRoutingInfo\": null\n    },\n    \"estimatedDeliveryDate\": \"2019-09-13T21:17:17.387585Z\",\n    \"failedAt\": null,\n    \"id\": \"dd4896c0-d66b-11e9-8d8a-cf31cc71dda0\",\n    \"kind\": \"externalTransfer\",\n    \"note\": null,\n    \"postedAt\": \"2019-09-13T21:17:17.387585Z\",\n    \"reasonForFailure\": null,\n    \"status\": \"sent\"\n}"}},"schema":{"type":"object","properties":{"amount":{"type":"integer","example":1000000,"default":0},"bankDescription":{},"counterpartyId":{"type":"string","example":"dd486506-d66b-11e9-8d8a-0b2e6a550f30"},"counterpartyName":{"type":"string","example":"Fake P. Erson"},"counterpartyNickname":{},"createdAt":{"type":"string","example":"2019-09-13T21:17:15.974788Z"},"dashboardLink":{"type":"string","example":"https://mercury.co/transactions/dd4896c0-d66b-11e9-8d8a-cf31cc71dda0"},"details":{"type":"object","properties":{"address":{},"domesticWireRoutingInfo":{},"electronicRoutingInfo":{},"internationalWireRoutingInfo":{}}},"estimatedDeliveryDate":{"type":"string","example":"2019-09-13T21:17:17.387585Z"},"failedAt":{},"id":{"type":"string","example":"dd4896c0-d66b-11e9-8d8a-cf31cc71dda0"},"kind":{"type":"string","example":"externalTransfer"},"note":{},"postedAt":{"type":"string","example":"2019-09-13T21:17:17.387585Z"},"reasonForFailure":{},"status":{"type":"string","example":"sent"}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"Sorry, we ran into an error processing that payment. Please contact help@mercury.co\"\n    }\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"Sorry, we ran into an error processing that payment. Please contact help@mercury.co"}}}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":false,"proxy-enabled":false},"x-readme-fauxas":true}