{"openapi":"3.1.0","info":{"title":"OAuth2","version":"1"},"servers":[{"url":"https://oauth2.mercury.com/"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{}}}},"security":[{"sec0":[]}],"paths":{"/oauth2/auth":{"get":{"summary":"/oauth2/auth","description":"","operationId":"start-the-oauth2-flow","parameters":[{"name":"client_id","in":"query","description":"The client ID you received from Mercury when you registered the client.","required":true,"schema":{"type":"string"}},{"name":"redirect_uri","in":"query","description":"The URL in your application where users will be sent after authorization. Must match one of the URLs registered with the client","required":true,"schema":{"type":"string"}},{"name":"scope","in":"query","description":"A space-separated list of scopes that your client requests.","required":true,"schema":{"type":"string"}},{"name":"state","in":"query","description":"An unguessable random string, at least 8 characters long, used to protect against cross-site request forgery attacks.","required":true,"schema":{"type":"string"}},{"name":"response_type","in":"query","description":"Tells the authorization server which type of grant to execute. Must have value \"code\".","required":true,"schema":{"type":"string","default":"code"}},{"name":"code_challenge","in":"query","description":"Required for clients with PKCE flow. Base64-URL-encoded string of the SHA256 hash of the code verifier.","schema":{"type":"string"}},{"name":"code_challenge_method","in":"query","description":"Required for clients with PKCE flow. Must have value S256, the SHA256 function used to hash the code challenge.","schema":{"type":"string","default":"S256"}}],"responses":{"302":{"description":"302","content":{"text/plain":{"examples":{"Redirect to login":{"value":"https://mercury.com/oauth2/login?login_challenge=1aafcf9f7a874621bee6f108be38f1a2"},"Error":{"value":"https://example.com/callback?error=access_denied&error_description=Error description"}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"http","code":"https://oauth2.mercury.com/oauth2/auth?client_id=mercury-test-client-app&redirect_uri=https%3A%2F%2Fexample.com%2Fcallback&scope=read offline_access&response_type=code&state=06iqxx9ooncf"},{"language":"http","code":"https://oauth2.mercury.com/oauth2/auth?client_id=mercury-test-client-app-pkce&redirect_uri=https%3A%2F%2Fexample.com%2Fcallback&scope=read%20offline_access&response_type=code&code_challenge=DSJzLwbu8x61zmmsDkvvvW1SzvQJvDtH05IdATQRpbM&code_challenge_method=S256&state=sdfasdlfjsdf","name":"Start flow with PKCE"}],"samples-languages":["http"]}}},"/oauth2/token":{"post":{"summary":"/oauth2/token","description":"","operationId":"obtain-the-access-token-with-authorization-code-grant-type","parameters":[{"name":"Authorization","in":"header","description":"Basic base64(`client_id` + \":\" + `client_secret`). Do not include this header for clients with PKCE.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["grant_type","client_id"],"properties":{"grant_type":{"type":"string","description":"Must be either `authorization_code` or `refresh_token`.","default":"authorization_code"},"client_id":{"type":"string","description":"The client ID you received from Mercury when you registered the client."},"code":{"type":"string","description":"The authorization code that the application received with redirect. Use together with `grant_type=authorization_code`."},"refresh_token":{"type":"string","description":"The refresh token from the last grant if the `offline_access` scope was included. Use together with `grant_type=refresh_token`."},"redirect_uri":{"type":"string","description":"The URL in your application where users are sent after authorization. Required for `grant_type=authorization_code`."},"code_verifier":{"type":"string","description":"Required for clients with PKCE flow when using authorization code. Use together with `grant_type=authorization_code`. This is the value whose hash was sent as `code_challenge` when starting the flow.."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"access_token\": \"ePtOutNdgWGW0U_fqD5jYAeqRWZS3Lq42ta006AU1SY.33kXEy9SjfcInzrAEdIwA10vY2eB3coQR4B5rmYZkA0\",\n  \"expires_in\": 3599,\n  \"refresh_token\": \"xyW_aYamSQaEhh6gzWCjuL6QO9Gfw_zFBY8dwFT04zw.tLKYDaNs12JVxtb53LKh5Na_W_FWOAdw7roaryUfZUI\",\n  \"scope\": \"read offline_access\",\n  \"token_type\": \"bearer\"\n}"}},"schema":{"type":"object","properties":{"access_token":{"type":"string","example":"ePtOutNdgWGW0U_fqD5jYAeqRWZS3Lq42ta006AU1SY.33kXEy9SjfcInzrAEdIwA10vY2eB3coQR4B5rmYZkA0"},"expires_in":{"type":"integer","example":3599,"default":0},"refresh_token":{"type":"string","example":"xyW_aYamSQaEhh6gzWCjuL6QO9Gfw_zFBY8dwFT04zw.tLKYDaNs12JVxtb53LKh5Na_W_FWOAdw7roaryUfZUI"},"scope":{"type":"string","example":"read offline_access"},"token_type":{"type":"string","example":"bearer"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"error\": \"invalid_grant\",\n  \"error_description\": \"The provided authorization grant (e.g., authorization code, resource owner credentials) or refresh token is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client. not_found\"\n}"}},"schema":{"type":"object","properties":{"error":{"type":"string","example":"invalid_grant"},"error_description":{"type":"string","example":"The provided authorization grant (e.g., authorization code, resource owner credentials) or refresh token is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client. not_found"}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl --request POST \\\n  --url 'https://oauth2.mercury.com/oauth2/token?=' \\\n  --header 'Authorization: Basic bWVyY3VyeS10ZXN0LWNsaWVudC1hcHA6c2VjcmV0' \\\n  --header 'Content-Type: multipart/form-data' \\\n  --header 'content-type: multipart/form-data; boundary=---011000010111000001101001' \\\n  --form grant_type=authorization_code \\\n  --form code=06cSjVrYUSYNBnWf0otde5naLdiAcuQYV6LV-HC4kIQ.yuniOFPQtfIFiBAdpJwL9iQs9KVV3YxmsmgcGz4HECw \\\n  --form client_id=mercury-test-client-app \\\n  --form redirect_uri=https://example.com/callback","name":"Authorization code"},{"language":"curl","code":"curl --request POST \\\n  --url 'https://oauth2.mercury.com/oauth2/token?=' \\\n  --header 'Content-Type: multipart/form-data' \\\n  --header 'content-type: multipart/form-data; boundary=---011000010111000001101001' \\\n  --form grant_type=authorization_code \\\n  --form code=TBnDvJcCh8ec0Coy9rtxBK5Ss4Vu5Oww-UlbSumxlbw._HSHB3dGkAjFWwlZZFBY3PkN8PwqUFv9xxGbuwZ6eyQ \\\n  --form code_verifier=IYKvRULYNtym1AjJ9DWK_eFXXYIdSkqrhSjSqyYJTMuVE15- \\\n  --form client_id=mercury-test-client-app-pkce \\\n  --form redirect_uri=https://example.com/callback","name":"Authorization code for PKCE client"},{"language":"curl","code":"curl --request POST \\\n  --url 'https://oauth2.mercury.com/oauth2/token?=' \\\n  --header 'Authorization: Basic bWVyY3VyeS10ZXN0LWNsaWVudC1hcHA6c2VjcmV0' \\\n  --header 'Content-Type: multipart/form-data' \\\n  --header 'content-type: multipart/form-data; boundary=---011000010111000001101001' \\\n  --form grant_type=refresh_token \\\n  --form refresh_token=HRl4U0XyNsJE_PPNv__wXcE-UQgTrKLCP4LfXyGVjaA.iRXTghIzvF5lpGRzvax2dvsi-LFVx1ti3N6avG-7H4o \\\n  --form client_id=mercury-test-client-app","name":"Refresh token"},{"language":"curl","code":"curl --request POST \\\n  --url https://oauth2.mercury.com/oauth2/token \\\n  --header 'Content-Type: multipart/form-data' \\\n  --header 'content-type: multipart/form-data; boundary=---011000010111000001101001' \\\n  --form grant_type=refresh_token \\\n  --form refresh_token=ceD9El0vNZ_H9zqkhZ0J83pBMxEYOY49Dp-cHqCS5TM.zQBOzUEtZW0FOyYvxLajssTkgwJyEOAAs1EFSKPeFIY \\\n  --form client_id=mercury-test-client-app-pkce","name":"Refresh token for PKCE client"}],"samples-languages":["curl"]}}}},"x-readme":{"headers":[],"explorer-enabled":false,"proxy-enabled":false},"x-readme-fauxas":true}