{
  "openapi": "3.1.0",
  "info": {
    "title": "API Reference",
    "version": "2020-09-17",
    "contact": {},
    "description": "The Finch HRIS API provides a unified way to connect to a multitide of HRIS systems. The API requires an access token issued by Finch.\n\nBy default, Organization and Payroll requests use Finch's [Data Syncs](/development-guides/Data-Syncs). If a request is made before the initial sync has completed, Finch will request data live from the provider. The latency on live requests may range from seconds to minutes depending on the provider and batch size.\nFor automated integrations, Deductions requests (both read and write) are always made live to the provider. Latencies may range from seconds to minutes depending on the provider and batch size.\n\n\nEmployer products are specified by the product parameter, a space-separated list of products that your application requests from an employer authenticating through Finch Connect. Valid product names are—\n- `company`: Read basic company data\n\n- `directory`: Read company directory and organization structure\n\n- `individual`: Read individual data, excluding income and employment data\n\n- `employment`: Read individual employment and income data\n\n- `payment`: Read payroll and contractor related payments by the company\n\n- `pay_statement`: Read detailed pay statements for each individual\n\n- `benefits`: Create and manage deductions and contributions and enrollment for an employer\n\n[![Open in Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/21027137-08db0929-883d-4094-a9ce-dbf5a9bee4a4?action=collection%2Ffork&collection-url=entityId%3D21027137-08db0929-883d-4094-a9ce-dbf5a9bee4a4%26entityType%3Dcollection%26workspaceId%3D1edf19bc-e0a8-41e9-ac55-481a4b50790b)"
  },
  "servers": [{"url": "https://api.tryfinch.com", "description": ""}],
  "security": [{"bearerAuth": []}],
  "tags": [
    {"name": "Organization"},
    {"name": "Payroll"},
    {"name": "Deductions"},
    {"name": "Management"},
    {"name": "Sandbox"}
  ],
  "paths": {
    "/employer/company": {
      "get": {
        "description": "Read basic company data",
        "summary": "Company",
        "operationId": "get-company",
        "tags": ["Organization"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Basic company data",
            "content": {
              "application/json": {
                "examples": {
                  "Success": {
                    "value": {
                      "id": "514aa2b7-898f-4ce7-bc05-c2fe993713e8",
                      "legal_name": "Acme, Inc.",
                      "entity": {
                        "type": "corporation",
                        "subtype": "s_corporation"
                      },
                      "ein": "12-3456789",
                      "primary_email": "founders@acme.com",
                      "primary_phone_number": "1234567890",
                      "departments": [
                        {"name": "Engineering", "parent": null},
                        {"name": "Platform", "parent": {"name": "Engineering"}}
                      ],
                      "locations": [
                        {
                          "line1": "628 Bear Ave",
                          "line2": "Apt A",
                          "city": "Schenectady",
                          "state": "NY",
                          "postal_code": "94301",
                          "country": "US"
                        }
                      ],
                      "accounts": [
                        {
                          "routing_number": "123456789",
                          "account_name": "CHECKING ACCOUNT",
                          "institution_name": "BANK OF AMERICA, N.A.",
                          "account_type": "checking",
                          "account_number": "98765432"
                        }
                      ]
                    }
                  }
                },
                "schema": {"$ref": "#/components/schemas/GetCompanyResponse"}
              }
            }
          }
        }
      }
    },
    "/employer/directory": {
      "get": {
        "description": "Read company directory and organization structure",
        "summary": "Directory",
        "operationId": "get-directory",
        "tags": ["Organization"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of employees to return (defaults to all)",
            "required": false,
            "schema": {"type": "integer"}
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Index to start from (defaults to 0)",
            "required": false,
            "schema": {"type": "integer"}
          }
        ],
        "responses": {
          "200": {
            "description": "Company directory and organization structure",
            "content": {
              "application/json": {
                "examples": {
                  "Success": {
                    "value": {
                      "paging": {"count": 25, "offset": 10},
                      "individuals": [
                        {
                          "id": "5d0b10a1-a09a-430f-81f1-20be735dc5e9",
                          "first_name": "Jane",
                          "middle_name": null,
                          "last_name": "Doe",
                          "manager": {
                            "id": "c205b3fa-b626-4346-bf0f-ca065ab88d31"
                          },
                          "department": {"name": "Product"},
                          "is_active": true
                        }
                      ]
                    }
                  }
                },
                "schema": {"$ref": "#/components/schemas/GetDirectoryResponse"}
              }
            }
          }
        }
      }
    },
    "/employer/individual": {
      "post": {
        "description": "Read individual data, excluding income and employment data",
        "summary": "Individual",
        "operationId": "get-individual",
        "tags": ["Organization"],
        "parameters": [{"$ref": "#/components/parameters/Content-Type"}],
        "requestBody": {"$ref": "#/components/requestBodies/Individual"},
        "responses": {
          "200": {
            "description": "Individual data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIndividualsResponse"
                },
                "examples": {
                  "Success": {
                    "value": {
                      "responses": [
                        {
                          "individual_id": "5d0b10a1-a09a-430f-81f1-20be735dc5e9",
                          "code": 200,
                          "body": {
                            "id": "5d0b10a1-a09a-430f-81f1-20be735dc5e9",
                            "first_name": "Jane",
                            "middle_name": null,
                            "last_name": "Doe",
                            "preferred_name": "Janey",
                            "emails": [
                              {"data": "jane@acme.com", "type": "work"},
                              {"data": "janed@personal.com", "type": "personal"}
                            ],
                            "phone_numbers": [
                              {"data": "5051234567", "type": "personal"}
                            ],
                            "gender": "female",
                            "ethnicity": "black_or_african_american",
                            "dob": "1970-01-01",
                            "residence": {
                              "line1": "123 Main St",
                              "line2": "Apt C",
                              "city": "Schenectady",
                              "state": "NY",
                              "postal_code": "12345",
                              "country": "US"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employer/employment": {
      "post": {
        "description": "Read individual employment and income data",
        "summary": "Employment",
        "operationId": "get-employment",
        "tags": ["Organization"],
        "requestBody": {"$ref": "#/components/requestBodies/Individual-Ids"},
        "parameters": [{"$ref": "#/components/parameters/Content-Type"}],
        "responses": {
          "200": {
            "description": "Employment data",
            "content": {
              "application/json": {
                "examples": {
                  "Success": {
                    "value": {
                      "responses": [
                        {
                          "individual_id": "5d0b10a1-a09a-430f-81f1-20be735dc5e9",
                          "code": 200,
                          "body": {
                            "id": "5d0b10a1-a09a-430f-81f1-20be735dc5e9",
                            "first_name": "Jane",
                            "middle_name": null,
                            "last_name": "Doe",
                            "title": "Customer Support",
                            "manager": {
                              "id": "c205b3fa-b626-4346-bf0f-ca065ab88d31"
                            },
                            "department": {"name": "Product"},
                            "employment": {
                              "type": "employee",
                              "subtype": "full_time"
                            },
                            "start_date": "2017-06-30",
                            "end_date": null,
                            "latest_rehire_date": null,
                            "is_active": true,
                            "class_code": "8810",
                            "location": {
                              "line1": "12 Bird Drive",
                              "line2": null,
                              "city": "Palo Alto",
                              "state": "CA",
                              "postal_code": "94301",
                              "country": "US"
                            },
                            "income": {
                              "unit": "yearly",
                              "amount": 10000000,
                              "currency": "usd",
                              "effective_date": "2019-03-01"
                            },
                            "income_history": [
                              {
                                "unit": "yearly",
                                "amount": 9000000,
                                "currency": "usd",
                                "effective_date": "2018-05-15"
                              },
                              {
                                "unit": "yearly",
                                "amount": 8000000,
                                "currency": "usd",
                                "effective_date": "2017-06-30"
                              }
                            ],
                            "custom_fields": [
                              {"name": "tShirtSize", "value": "L"}
                            ]
                          }
                        }
                      ]
                    }
                  }
                },
                "schema": {"$ref": "#/components/schemas/GetEmploymentResponse"}
              }
            }
          }
        }
      }
    },
    "/employer/payment": {
      "get": {
        "description": "Read payroll and contractor related payments by the company.",
        "summary": "Payment",
        "operationId": "get-payment",
        "tags": ["Payroll"],
        "parameters": [
          {
            "name": "start_date",
            "required": true,
            "in": "query",
            "description": "The start date to retrieve payments by a company (inclusive) in `YYYY-MM-DD` format.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2021-01-01"
            }
          },
          {
            "name": "end_date",
            "required": true,
            "in": "query",
            "description": "The end date to retrieve payments by a company (inclusive) in `YYYY-MM-DD` format.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2021-01-01"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment data",
            "content": {
              "application/json": {
                "examples": {
                  "Success": {
                    "value": [
                      {
                        "id": "20aa7cf2-949d-4d4e-9c01-499b59501ded",
                        "pay_period": {
                          "start_date": "2019-08-01",
                          "end_date": "2019-08-15"
                        },
                        "pay_date": "2019-08-22",
                        "debit_date": "2019-08-22",
                        "company_debit": {"amount": 5300000, "currency": "usd"},
                        "gross_pay": {"amount": 4000000, "currency": "usd"},
                        "net_pay": {"amount": 3200000, "currency": "usd"},
                        "employer_taxes": {"amount": 200000, "currency": "usd"},
                        "employee_taxes": {"amount": 350000, "currency": "usd"},
                        "individual_ids": [
                          "54719e14-5ea7-4fda-9898-f4d9ccb83c1a",
                          "0ab620fc-203e-44ad-916c-facc69250f6f"
                        ]
                      }
                    ]
                  }
                },
                "schema": {"$ref": "#/components/schemas/GetPaymentsResponse"}
              }
            }
          }
        }
      }
    },
    "/employer/pay-statement": {
      "post": {
        "summary": "Pay Statement",
        "operationId": "get-pay-statement",
        "description": "Read detailed pay statements for each individual.\n\nDeduction and contribution types are supported by the payroll systems that supports Benefits.",
        "tags": ["Payroll"],
        "parameters": [{"$ref": "#/components/parameters/Content-Type"}],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requests": {
                    "type": "array",
                    "description": "The array of batch requests.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "payment_id": {
                          "type": "string",
                          "description": "A stable Finch `id` (UUID v4) for a payment.",
                          "pattern": "[0-9a-f]{8}[-]?(?:[0-9a-f]{4}[-]?){3}[0-9a-f]{12}"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "Number of pay statements to return (defaults to all)."
                        },
                        "offset": {
                          "type": "integer",
                          "description": "Index to start from."
                        }
                      },
                      "required": ["payment_id"]
                    }
                  }
                },
                "required": ["requests"]
              },
              "examples": {
                "example-1": {"value": {"requests": [{"payment_id": "string"}]}}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pay statement data",
            "content": {
              "application/json": {
                "examples": {
                  "Success": {
                    "value": {
                      "responses": [
                        {
                          "payment_id": "fc8b024e-d373-4c9c-80fc-f1625383d142",
                          "code": 200,
                          "body": {
                            "paging": {"count": 25, "offset": 10},
                            "pay_statements": [
                              {
                                "individual_id": "be7b048c-a6f3-4194-a017-2f537d4f3565",
                                "type": "regular",
                                "payment_method": "check",
                                "total_hours": 42.5,
                                "gross_pay": {
                                  "amount": 230000,
                                  "currency": "usd"
                                },
                                "net_pay": {
                                  "amount": 180000,
                                  "currency": "usd"
                                },
                                "earnings": [
                                  {
                                    "type": "salary",
                                    "name": "Salary",
                                    "amount": 230000,
                                    "currency": "usd",
                                    "hours": 42.5
                                  }
                                ],
                                "taxes": [
                                  {
                                    "type": "state",
                                    "name": "State Withholding - OR",
                                    "employer": false,
                                    "amount": 0,
                                    "currency": "usd"
                                  }
                                ],
                                "employee_deductions": [
                                  {
                                    "name": "Pre-Tax 401k",
                                    "amount": 50000,
                                    "currency": "usd",
                                    "pre_tax": true,
                                    "type": "401k"
                                  }
                                ],
                                "employer_contributions": [
                                  {
                                    "name": "Employee Medical Insurance",
                                    "amount": 23272,
                                    "currency": "usd"
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/GetPayStatementsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/employer/pay-groups": {
      "parameters": [
        {
          "schema": {"type": "string", "format": "uuid"},
          "name": "individual_id",
          "in": "query",
          "required": false
        },
        {
          "schema": {"type": "array", "items": {"type": "string"}},
          "name": "pay_frequencies",
          "in": "query",
          "required": false
        }
      ],
      "get": {
        "description": "Read company pay groups and frequencies",
        "summary": "Get All Pay Groups",
        "operationId": "get-all-pay-groups",
        "tags": ["Payroll"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Company pay groups",
            "content": {
              "application/json": {
                "examples": {
                  "Success": {
                    "value": {
                      "responses": [
                        {
                          "id": "5d0b10a1-a09a-430f-81f1-20be735dc5e9",
                          "name": "Monthly",
                          "pay_frequencies": ["monthly"]
                        },
                        {
                          "id": "9349eed4-4064-4641-ba8e-9e1ad7e1d014",
                          "name": "Weekly",
                          "pay_frequencies": ["weekly"]
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/GetAllPayGroupsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/employer/pay-groups/{pay_group_id}": {
      "parameters": [
        {
          "schema": {"type": "string"},
          "name": "pay_group_id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "description": "Read information from a single pay group",
        "summary": "Get Pay Group",
        "operationId": "get-pay-group",
        "tags": ["Payroll"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Pay group data",
            "content": {
              "application/json": {
                "examples": {
                  "Success": {
                    "value": {
                      "id": "5d0b10a1-a09a-430f-81f1-20be735dc5e9",
                      "name": "Monthly",
                      "pay_frequencies": ["monthly"],
                      "individual_ids": ["be7b048c-a6f3-4194-a017-2f537d4f3565"]
                    }
                  }
                },
                "schema": {"$ref": "#/components/schemas/GetPayGroupResponse"}
              }
            }
          }
        }
      }
    },
    "/employer/benefits": {
      "get": {
        "summary": "Get All Deductions",
        "description": "List all company-wide deductions and contributions.",
        "operationId": "get-company-benefits",
        "tags": ["Deductions"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompanyBenefitsResponse"
                },
                "examples": {
                  "Success": {
                    "value": [
                      {
                        "benefit_id": "e8b90071-0c11-471c-86e8-e303ef2f6782",
                        "type": "401k",
                        "description": "Example 401k",
                        "frequency": "every_paycheck"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Deduction",
        "description": "Creates a new company-wide deduction or contribution. Please use the `/providers` endpoint to view available types for each provider.",
        "operationId": "create-company-benefits",
        "parameters": [{"$ref": "#/components/parameters/Content-Type"}],
        "tags": ["Deductions"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {"$ref": "#/components/schemas/BenefitType"},
                  "description": {
                    "$ref": "#/components/schemas/BenefitDescription"
                  },
                  "frequency": {"$ref": "#/components/schemas/BenefitFrequency"}
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCompanyBenefitsResponse"
                },
                "examples": {
                  "Success": {
                    "value": {
                      "benefit_id": "e8b90071-0c11-471c-86e8-e303ef2f6782"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed Request",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Error"},
                "examples": {
                  "Bad Request": {
                    "value": {
                      "code": 400,
                      "name": "invalid_request_error",
                      "finch_code": "invalid_request",
                      "message": "[body:description]: Not a valid string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request provided with unsupported parameters",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Error"},
                "examples": {
                  "Invalid Benefit": {
                    "value": {
                      "code": 422,
                      "name": "unprocessable_request_error",
                      "finch_code": "unsupported_paramters",
                      "message": "Provider does not support benefit type '401k'"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employer/benefits/register": {
      "post": {
        "summary": "Register Deduction",
        "operationId": "register-company-benefits",
        "description": "Register existing benefits from the customer on the provider, on Finch's end. Please use the `/provider` endpoint to view available types for each provider.",
        "tags": ["Deductions"],
        "parameters": [{"$ref": "#/components/parameters/Content-Type"}],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {"$ref": "#/components/schemas/BenefitType"},
                  "description": {"type": "string"},
                  "frequency": {"$ref": "#/components/schemas/BenefitFrequency"}
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterCompanyBenefitsResponse"
                },
                "examples": {
                  "Success": {
                    "value": {
                      "benefit_id": "e8b90071-0c11-471c-86e8-e303ef2f6782",
                      "job_id": "e8b90071-0c11-471c-86e8-e303ef2f6782"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requested adapter is not assisted benefits",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Error"},
                "examples": {
                  "Invalid Adapter": {
                    "value": {
                      "code": 400,
                      "name": "invalid_request_error",
                      "message": "This adapter does not support assisted benefits."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request provided with unsupported parameters",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Error"},
                "examples": {
                  "Invalid Benefit": {
                    "value": {
                      "code": 422,
                      "name": "unprocessable_request_error",
                      "finch_code": "unsupported_paramters",
                      "message": "Provider does not support benefit type '401k'"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employer/benefits/meta": {
      "get": {
        "summary": "[Deprecated] Get Deductions Metadata",
        "operationId": "get-company-benefits-meta",
        "description": "Get deductions metadata",
        "parameters": [],
        "tags": ["Deductions"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompanyBenefitsMetadataResponse"
                },
                "examples": {
                  "Metadata Example": {
                    "value": [
                      {
                        "type": "401k",
                        "description": "401(k)",
                        "employee_deduction": ["fixed", "percent"],
                        "company_contribution": ["fixed", "percent"],
                        "annual_maximum": true,
                        "catch_up": true,
                        "frequencies": ["every_paycheck"]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employer/benefits/{benefit_id}": {
      "parameters": [
        {
          "schema": {"type": "string"},
          "name": "benefit_id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Deduction",
        "operationId": "get-company-benefit",
        "description": "Lists deductions and contributions information for a given item",
        "parameters": [],
        "tags": ["Deductions"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/CompanyBenefit"},
                "examples": {
                  "Example Benefit": {
                    "value": {
                      "benefit_id": "6547e3aa-d887-4a77-bd41-17221e17cce3",
                      "type": "401k",
                      "description": "Example 401k",
                      "frequency": "every_paycheck"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Benefit Not Found",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Error"},
                "examples": {
                  "Not Found": {
                    "value": {
                      "code": 404,
                      "name": "not_found_error",
                      "finch_code": "benefit_not_found",
                      "message": "Benefit not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Update Deduction",
        "operationId": "update-company-benefits",
        "description": "Updates an existing company-wide deduction or contribution",
        "tags": ["Deductions"],
        "parameters": [{"$ref": "#/components/parameters/Content-Type"}],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "Updated name or description."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCompanyBenefitResponse"
                },
                "examples": {
                  "Success": {
                    "value": {
                      "benefit_id": "6547e3aa-d887-4a77-bd41-17221e17cce3"
                    }
                  }
                }
              }
            }
          },
          "400": {"description": "Bad Request"},
          "404": {"description": "Benefit Not Found"}
        }
      }
    },
    "/employer/benefits/{benefit_id}/enrolled": {
      "parameters": [
        {
          "schema": {"type": "string"},
          "name": "benefit_id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Enrolled Individuals",
        "operationId": "get-company-benefits-enrolled",
        "description": "Lists individuals currently enrolled in a given deduction.",
        "parameters": [],
        "tags": ["Deductions"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompanyBenefitEnrolledIndividualsResponse"
                },
                "examples": {
                  "Success": {
                    "value": {
                      "benefit_id": "6547e3aa-d887-4a77-bd41-17221e17cce3",
                      "individual_ids": ["7fc9fb3a-2a62-47c1-9a5a-c9146483b58e"]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Benefit Not Found",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Error"},
                "examples": {
                  "Not Found": {
                    "value": {
                      "code": 404,
                      "name": "not_found_error",
                      "finch_code": "benefit_not_found",
                      "message": "Benefit not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employer/benefits/{benefit_id}/individuals": {
      "parameters": [
        {
          "schema": {"type": "string"},
          "name": "benefit_id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Deductions for Individuals",
        "operationId": "get-individual-benefits",
        "description": "Get enrollment information for the given individuals.",
        "tags": ["Deductions"],
        "parameters": [
          {"$ref": "#/components/parameters/Content-Type"},
          {
            "schema": {
              "type": "string",
              "example": "d675d2b7-6d7b-41a8-b2d3-001eb3fb88f6,d02a6346-1f08-4312-a064-49ff3cafaa7a"
            },
            "in": "query",
            "name": "individual_ids",
            "description": "comma-delimited list of stable Finch uuids for each individual. If empty, defaults to all individuals"
          }
        ],
        "responses": {
          "207": {
            "description": "Multi-Status (WebDAV)",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/IndividualBenefits"},
                "examples": {
                  "Multi-status": {
                    "value": [
                      {
                        "individual_id": "d02a6346-1f08-4312-a064-49ff3cafaa7a",
                        "code": 200,
                        "body": {
                          "employee_deduction": {
                            "type": "fixed",
                            "amount": 100
                          },
                          "company_contribution": {
                            "type": "fixed",
                            "amount": 100
                          },
                          "annual_maximum": 1000,
                          "catch_up": false
                        }
                      },
                      {
                        "individual_id": "e63c21ab-7cde-49d8-b6d6-ce208e84bf09",
                        "code": 404,
                        "body": {
                          "name": "not_found_error",
                          "finch_code": "individual_not_found",
                          "message": "Individual not found"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Benefit Not Found",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Error"},
                "examples": {
                  "Not Found": {
                    "value": {
                      "code": 404,
                      "name": "not_found_error",
                      "finch_code": "benefit_not_found",
                      "message": "Benefit not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Enroll Individuals in Deductions",
        "operationId": "post-employer-individual-benefits-benefit_id",
        "description": "Enroll an individual into a deduction or contribution. This is an overwrite operation. If the employee is already enrolled, the enrollment amounts will be adjusted. Making the same request multiple times will not create new enrollments, but will continue to set the state of the existing enrollment.",
        "tags": ["Deductions"],
        "parameters": [{"$ref": "#/components/parameters/Content-Type"}],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "individual_id": {
                      "type": "string",
                      "description": "Finch id (uuidv4) for the individual to enroll"
                    },
                    "configuration": {"type": "object"}
                  }
                }
              },
              "examples": {
                "Retirement": {
                  "value": [
                    {
                      "individual_id": "d02a6346-1f08-4312-a064-49ff3cafaa7a",
                      "configuration": {
                        "employee_deduction": {
                          "type": "percent",
                          "amount": 1000
                        },
                        "company_contribution": {
                          "type": "percent",
                          "amount": 400
                        },
                        "catch_up": false,
                        "annual_maximum": 500000
                      }
                    }
                  ]
                },
                "HSA": {
                  "value": [
                    {
                      "individual_id": "d02a6346-1f08-4312-a064-49ff3cafaa7a",
                      "configuration": {
                        "employee_deduction": {
                          "type": "fixed",
                          "amount": 10000
                        },
                        "company_contribution": {"type": "fixed", "amount": 0},
                        "annual_maximum": null,
                        "annual_contribution_limit": "individual"
                      }
                    }
                  ]
                },
                "Custom": {
                  "value": [
                    {
                      "individual_id": "string",
                      "configuration": {
                        "employee_deduction": {
                          "type": "fixed",
                          "amount": 10000
                        },
                        "company_contribution": {"type": "fixed", "amount": 0}
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success for all individuals. Enrolled new individuals in the benefit and upserted information for individuals already enrolled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollIndividualBenefitResponse"
                },
                "examples": {
                  "Success": {
                    "value": [
                      {
                        "individual_id": "d02a6346-1f08-4312-a064-49ff3cafaa7a",
                        "code": 201,
                        "body": {
                          "name": "created",
                          "finch_code": "enrolled_new_benefit",
                          "message": "Successfully enrolled new benefit for individual"
                        }
                      },
                      {
                        "individual_id": "e63c21ab-7cde-49d8-b6d6-ce208e84bf09",
                        "code": 200,
                        "body": {
                          "name": "success",
                          "finch_code": "updated_existing_enrollment",
                          "message": "Benefit information updated for individual"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status. Some individuals may not have succeeded. See body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollIndividualBenefitResponse"
                },
                "examples": {
                  "Multi Status": {
                    "value": [
                      {
                        "individual_id": "d02a6346-1f08-4312-a064-49ff3cafaa7a",
                        "code": 201,
                        "body": {
                          "name": "created",
                          "finch_code": "enrolled_new_benefit",
                          "message": "Successfully enrolled new benefit for individual"
                        }
                      },
                      {
                        "individual_id": "e63c21ab-7cde-49d8-b6d6-ce208e84bf09",
                        "code": 200,
                        "body": {
                          "name": "success",
                          "finch_code": "updated_existing_enrollment",
                          "message": "Benefit information updated for individual"
                        }
                      },
                      {
                        "individual_id": "0c89294b-b7f1-4999-9b7a-bb8a87326717",
                        "code": 404,
                        "body": {
                          "name": "not_found_error",
                          "finch_code": "individual_not_found",
                          "message": "Individual not found"
                        }
                      },
                      {
                        "individual_id": "fb292e27-bd07-4dbc-88c4-05923b33bbc2",
                        "code": 403,
                        "body": {
                          "finch_code": "access_denied",
                          "message": "Permissions not valid for individual"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed Request",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Error"}
              }
            }
          },
          "404": {
            "description": "Benefit Not Found",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Error"},
                "examples": {
                  "Not Found": {
                    "value": {
                      "code": 404,
                      "name": "not_found_error",
                      "finch_code": "benefit_not_found",
                      "message": "Benefit not found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Request",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Error"},
                "examples": {
                  "Cannot Enroll": {
                    "value": {
                      "code": 422,
                      "name": "unprocessable_request_error",
                      "finch_code": "unprocessable_parameters",
                      "message": "HSA enrollment are not currently available for this provider"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Unenroll Individuals from Deductions",
        "operationId": "delete-individual-benefits",
        "description": "Unenroll individuals from a deduction or contribution",
        "tags": ["Deductions"],
        "parameters": [{"$ref": "#/components/parameters/Content-Type"}],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "",
                "properties": {
                  "individual_ids": {
                    "type": "array",
                    "description": "Array of individual_ids to unenroll.",
                    "items": {"type": "string"}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success for all individuals. Unenrolled all individuals from the benefit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnenrollIndividualBenefitResponse"
                },
                "examples": {
                  "Success": {
                    "value": [
                      {
                        "individual_id": "7fc9fb3a-2a62-47c1-9a5a-c9146483b58e",
                        "code": 200,
                        "body": {
                          "name": "success",
                          "finch_code": "unenrolled_individual_benefit",
                          "message": "Unenrolled individual from benefit"
                        }
                      },
                      {
                        "individual_id": "e63c21ab-7cde-49d8-b6d6-ce208e84bf09",
                        "code": 200,
                        "body": {
                          "name": "success",
                          "finch_code": "unenrolled_individual_benefit",
                          "message": "Unenrolled individual from benefit"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status. Some individuals may not have succeeded. See body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnenrollIndividualBenefitResponse"
                },
                "examples": {
                  "Multi Status": {
                    "value": [
                      {
                        "individual_id": "7fc9fb3a-2a62-47c1-9a5a-c9146483b58e",
                        "code": 200,
                        "body": {
                          "name": "success",
                          "finch_code": "unenrolled_individual_benefit",
                          "message": "Unenrolled individual from benefit"
                        }
                      },
                      {
                        "individual_id": "e63c21ab-7cde-49d8-b6d6-ce208e84bf09",
                        "code": 404,
                        "body": {
                          "name": "not_found_error",
                          "finch_code": "individual_not_found",
                          "message": "Individual not found"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Benefit Not Found",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Error"},
                "examples": {
                  "Not Found": {
                    "value": {
                      "code": 404,
                      "name": "not_found_error",
                      "finch_code": "benefit_not_found",
                      "message": "Benefit not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/token": {
      "post": {
        "description": "Exchange the authorization code for an access token",
        "summary": "Create Access Token",
        "tags": ["Management"],
        "security": [],
        "operationId": "create-access-token",
        "parameters": [{"$ref": "#/components/parameters/Content-Type"}],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["client_id", "client_secret", "code"],
                "properties": {
                  "client_id": {
                    "type": "string",
                    "format": "uuid",
                    "example": "6d28c315-5eaa-4071-8ea5-f030eb45edbc"
                  },
                  "client_secret": {
                    "type": "string",
                    "example": "<your_client_secret>"
                  },
                  "code": {
                    "type": "string",
                    "example": "<your_authorization_code>"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "example": "https://example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccessTokenResponse"
                },
                "examples": {
                  "Success": {
                    "value": {
                      "access_token": "7e965183-9332-423c-9259-3edafb332ad2",
                      "account_id": "ac3a2af9-ce03-46c4-9142-81abe789c64d",
                      "client_type": "production",
                      "company_id": "4ab15e51-11ad-49f4-acae-f343b7794375",
                      "connection_type": "provider",
                      "products": ["directory", "employment", "individual"],
                      "provider_id": "gusto"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/providers": {
      "get": {
        "summary": "Providers",
        "operationId": "get-providers",
        "description": "Return details on all available payroll and HR systems.",
        "security": [],
        "parameters": [],
        "tags": ["Management"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/GetProvidersResponse"},
                "examples": {
                  "Success": {
                    "value": [
                      {
                        "id": "gusto",
                        "display_name": "Gusto",
                        "products": ["company", "directory"],
                        "icon": "https://finch-assets.s3.us-west-2.amazonaws.com/provider-logos/gustoIcon.png",
                        "logo": "https://finch-assets.s3.us-west-2.amazonaws.com/provider-logos/gustoLogo.png",
                        "mfa_required": true,
                        "primary_color": "#f45d47",
                        "authentication_methods": [
                          {
                            "type": "api",
                            "benefits_support": {
                              "457": null,
                              "401k": {
                                "supported_features": {
                                  "company_contribution": null,
                                  "employee_deduction": ["fixed", "percent"],
                                  "frequencies": ["one_time", "every_paycheck"],
                                  "annual_maximum": false,
                                  "catch_up": false,
                                  "description": "401(k)"
                                },
                                "supported_operations": {
                                  "company_benefits": {
                                    "read": "not_supported_by_finch",
                                    "create": "supported",
                                    "update": "supported",
                                    "delete": "not_supported_by_finch"
                                  },
                                  "individual_benefits": {
                                    "read": "not_supported_by_finch",
                                    "create": "supported",
                                    "delete": "supported",
                                    "update": "supported"
                                  }
                                }
                              },
                              "401k_roth": null,
                              "401k_loan": null,
                              "403b": null,
                              "403b_roth": null,
                              "457_roth": null,
                              "s125_medical": null,
                              "s125_dental": null,
                              "s125_vision": null,
                              "hsa_pre": null,
                              "hsa_post": null,
                              "fsa_medical": null,
                              "fsa_dependent_care": null,
                              "simple_ira": null,
                              "simple": null,
                              "commuter": null,
                              "custom_post_tax": null,
                              "custom_pre_tax": null
                            },
                            "supported_fields": {
                              "company": {
                                "id": true,
                                "legal_name": true,
                                "entity": {"type": true, "subtype": false},
                                "primary_email": true,
                                "primary_phone_number": true,
                                "ein": true,
                                "accounts": {
                                  "routing_number": true,
                                  "account_name": true,
                                  "institution_name": true,
                                  "account_type": true,
                                  "account_number": true
                                },
                                "departments": {
                                  "name": true,
                                  "parent": {"name": true}
                                },
                                "locations": {
                                  "line1": true,
                                  "line2": true,
                                  "city": true,
                                  "state": true,
                                  "postal_code": true,
                                  "country": true
                                }
                              },
                              "directory": {
                                "paging": {"count": true, "offset": true},
                                "individuals": {
                                  "id": true,
                                  "first_name": true,
                                  "middle_name": true,
                                  "last_name": true,
                                  "is_active": true,
                                  "department": null,
                                  "manager": {"id": true}
                                }
                              },
                              "individual": {
                                "id": true,
                                "first_name": true,
                                "middle_name": true,
                                "last_name": true,
                                "preferred_name": true,
                                "dob": true,
                                "gender": false,
                                "ethnicity": false,
                                "ssn": true,
                                "encrypted_ssn": true,
                                "emails": {"data": true, "type": true},
                                "phone_numbers": {"data": true, "type": true},
                                "residence": {
                                  "city": true,
                                  "country": true,
                                  "line1": true,
                                  "line2": true,
                                  "postal_code": true,
                                  "state": true
                                }
                              },
                              "employment": {
                                "id": true,
                                "first_name": true,
                                "middle_name": true,
                                "last_name": true,
                                "title": true,
                                "start_date": true,
                                "end_date": true,
                                "is_active": true,
                                "income_history": false,
                                "class_code": true,
                                "custom_fields": false,
                                "department": {"name": true},
                                "employment": {"type": true, "subtype": true},
                                "income": {
                                  "amount": true,
                                  "currency": true,
                                  "unit": true
                                },
                                "location": {
                                  "line1": true,
                                  "line2": true,
                                  "city": true,
                                  "state": true,
                                  "postal_code": true,
                                  "country": true
                                },
                                "manager": null
                              },
                              "payment": {
                                "id": true,
                                "pay_date": true,
                                "debit_date": false,
                                "company_debit": true,
                                "gross_pay": true,
                                "net_pay": true,
                                "employer_taxes": true,
                                "employee_taxes": true,
                                "individual_ids": true,
                                "pay_period": {
                                  "start_date": false,
                                  "end_date": false
                                }
                              },
                              "pay_statement": {
                                "paging": {"count": true, "offset": true},
                                "pay_statements": {
                                  "individual_id": true,
                                  "type": true,
                                  "payment_method": true,
                                  "total_hours": true,
                                  "gross_pay": true,
                                  "net_pay": true,
                                  "earnings": {
                                    "type": true,
                                    "name": true,
                                    "amount": true,
                                    "currency": true
                                  },
                                  "employee_deductions": {
                                    "name": true,
                                    "amount": true,
                                    "type": true,
                                    "pre_tax": true,
                                    "currency": true
                                  },
                                  "employer_contributions": {
                                    "name": true,
                                    "amount": true,
                                    "currency": true
                                  },
                                  "employer_deductions": {
                                    "name": true,
                                    "amount": true,
                                    "currency": true
                                  },
                                  "taxes": {
                                    "type": true,
                                    "name": true,
                                    "employer": true,
                                    "amount": true,
                                    "currency": true
                                  }
                                }
                              }
                            }
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/introspect": {
      "get": {
        "summary": "Introspect",
        "tags": ["Management"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIntrospectResponse"
                },
                "examples": {
                  "Success": {
                    "value": {
                      "client_id": "25ea8bd8-f76b-41f9-96e3-1e6162021c50",
                      "client_type": "production",
                      "connection_type": "provider",
                      "company_id": "87eb4bc3-f76b-35e7-78d2-8f7822021d73",
                      "account_id": "ca23fd65-5a0c-4f8b-a0fa-7853fd6f5768",
                      "products": ["company", "directory"],
                      "username": "johndoe@tryfinch.com",
                      "payroll_provider_id": "gusto",
                      "manual": false,
                      "authentication_methods": [
                        {
                          "type": "assisted",
                          "connection_status": {
                            "status": "pending",
                            "message": "This employer has created a token, and we are waiting for access to its provider"
                          }
                        },
                        {
                          "type": "credential",
                          "connection_status": {
                            "status": "connected",
                            "message": "This employer is working as expected"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-introspect",
        "description": "Read account information associated with an `access_token`",
        "parameters": []
      }
    },
    "/disconnect": {
      "post": {
        "summary": "Disconnect",
        "operationId": "post-disconnect",
        "description": "Disconnect one or more `access_token`s from your application.",
        "tags": ["Management"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/DisconnectResponse"},
                "examples": {"Success": {"value": {"status": "success"}}}
              }
            }
          }
        }
      }
    },
    "/forward": {
      "post": {
        "summary": "Request Forwarding",
        "operationId": "post-forward",
        "description": "The Forward API allows you to make direct requests to an employment system. If Finch’s unified API\ndoesn’t have a data model that cleanly fits your needs, then Forward allows you to push or pull\ndata models directly against an integration’s API.",
        "tags": ["Management"],
        "parameters": [],
        "requestBody": {"$ref": "#/components/requestBodies/Forward"},
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "headers": {
                      "type": "object",
                      "description": "The HTTP headers of the forwarded request’s response, exactly as received from the underlying integration’s API.",
                      "nullable": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "description": "The HTTP status code of the forwarded request’s response, exactly received from the underlying integration’s API. This value will be returned as an integer."
                    },
                    "data": {
                      "type": "string",
                      "description": "A string representation of the HTTP response body of the forwarded request’s response received from the underlying integration’s API. This field may be null in the case where the upstream system’s response is empty.",
                      "nullable": true
                    },
                    "request": {
                      "type": "object",
                      "description": "An object containing details of your original forwarded request, for your ease of reference.",
                      "properties": {
                        "method": {
                          "type": "string",
                          "description": "The HTTP method that was specified for the forwarded request. Valid values include: `GET` , `POST` , `PUT` , `DELETE` , and `PATCH`."
                        },
                        "route": {
                          "type": "string",
                          "description": "The URL route path that was specified for the forwarded request."
                        },
                        "headers": {
                          "type": "object",
                          "description": "The specified HTTP headers that were included in the forwarded request. If no headers were specified, this will be returned as `null`.",
                          "nullable": true
                        },
                        "params": {
                          "type": "object",
                          "description": "The query parameters that were included in the forwarded request. If no query parameters were specified, this will be returned as `null`.",
                          "nullable": true
                        },
                        "data": {
                          "type": "string",
                          "description": "The body that was specified for the forwarded request. If a value was not specified in the original request, this value will be returned as null ; otherwise, this value will always be returned as a string.",
                          "nullable": true
                        }
                      },
                      "required": [
                        "method",
                        "route",
                        "headers",
                        "params",
                        "data"
                      ]
                    }
                  },
                  "required": ["headers", "statusCode", "data", "request"]
                },
                "examples": {
                  "Success": {
                    "value": {
                      "request": {
                        "method": "POST",
                        "route": "/people/search",
                        "headers": {"content-type": "application/json"},
                        "params": {"showInactive": true, "humanReadable": true},
                        "data": null
                      },
                      "headers": {
                        "date": "Sun, 17 Sep 2023 21:27:25 GMT",
                        "content-type": "application/json"
                      },
                      "statusCode": 200,
                      "data": "{\"employees\":[{\"/work/custom/field_1693264321143\":{\"value\":580192},\"fullName\":\"Anna Gibbons\",\"/payroll/employment/siteWorkingPattern\":{\"value\":{\"workingPatternType\":\"partial_week\",\"days\":{\"sunday\":false,\"tuesday\":true,\"wednesday\":true,\"monday\":true,\"friday\":true,\"thursday\":true,\"saturday\":false},\"hoursPerDay\":9,\"workingPatternId\":null}},\"/about/avatar\":{\"value\":\"https://media-process.hibob.com/image/upload/v1/hibob/demo-avatar/demo_employee/images/UiRYuQQyDc4sLbYzFFtN_59.jpg?__cld_token__=exp=4795680381~acl=*%2fhibob%2fdemo-avatar%2fdemo_employee%2fimages%2fUiRYuQQyDc4sLbYzFFtN_59.jpg*~hmac=07e5aff698027029ebbb4d8cb067db044ec46a86f9bf71430c53cc590f9c07a6\"},\"displayName\":\"Anna Gibbons\",\"/work/reportsTo/email\":{\"value\":\"joshua.tyler_632127@samplebob.com\"},\"/payroll/employment/activeEffectiveDate\":{\"value\":\"2015-03-03\"},\"payroll\":{\"employment\":{\"standardWorkingPattern\":null,\"fte\":100,\"type\":null,\"flsaCode\":null,\"actualWorkingPattern\":{\"workingPatternType\":\"partial_week\",\"days\":{\"sunday\":false,\"tuesday\":true,\"wednesday\":true,\"monday\":true,\"friday\":true,\"thursday\":true,\"saturday\":false},\"hoursPerDay\":9,\"workingPatternId\":null},\"contract\":\"Full time\",\"customColumns\":{\"column_1693433488092\":null,\"column_1693419526345\":null},\"calendarId\":null,\"salaryPayType\":null,\"workingPattern\":null,\"activeEffectiveDate\":\"2015-03-03\",\"weeklyHours\":45,\"siteWorkingPattern\":{\"workingPatternType\":\"partial_week\",\"days\":{\"sunday\":false,\"tuesday\":true,\"wednesday\":true,\"monday\":true,\"friday\":true,\"thursday\":true,\"saturday\":false},\"hoursPerDay\":9,\"workingPatternId\":null}}},\"/root/firstName\":{\"value\":\"Anna\"},\"/work/employeeIdInCompany\":{\"value\":38},\"/work/tenureDurationYears\":{\"value\":8.545},\"/about/foodPreferences\":{\"value\":[]},\"/work/site\":{\"value\":\"New York (Demo)\"},\"/work/tenureYears\":{\"value\":9},\"creationDateTime\":\"2023-07-13T06:37:04.94395\",\"/about/hobbies\":{\"value\":[\"theatre\",\"film\",\"music\"]},\"/root/email\":{\"value\":\"anna.gibbons_632127@samplebob.com\"},\"/work/title\":{\"value\":\"Sales Manager\"},\"employee\":{\"payrollManager\":null,\"hrbp\":null,\"itAdmin\":null,\"buddy\":null},\"work\":{\"shortStartDate\":\"03-03\",\"startDate\":\"2015-03-03\",\"manager\":\"3145813558047015811\",\"tenureDuration\":{\"periodISO\":\"P8Y6M16D\",\"sortFactor\":3076,\"humanize\":\"8 years, 6 months and 16 days\"},\"custom\":{\"field_1693264337015\":580192,\"field_1693264321143\":580192},\"durationOfEmployment\":{\"periodISO\":\"P8Y6M16D\",\"sortFactor\":3076,\"humanize\":\"8 years, 6 months and 16 days\"},\"reportsToIdInCompany\":27,\"employeeIdInCompany\":38,\"reportsTo\":{\"displayName\":\"Joshua Tyler\",\"email\":\"joshua.tyler_632127@samplebob.com\",\"surname\":\"Tyler\",\"firstName\":\"Joshua\",\"id\":\"3145813558047015811\"},\"indirectReports\":null,\"siteId\":2477371,\"tenureDurationYears\":8.545,\"department\":\"Sales\",\"tenureYears\":9,\"isManager\":false,\"title\":\"Sales Manager\",\"site\":\"New York (Demo)\",\"activeEffectiveDate\":\"2015-03-03\",\"directReports\":null,\"secondLevelManager\":\"3145813528661721978\",\"daysOfPreviousService\":0,\"yearsOfService\":8.545},\"/payroll/employment/weeklyHours\":{\"value\":45},\"/root/creationDateTime\":{\"value\":\"2023-07-13T06:37:04.94395\"},\"avatarUrl\":\"https://media-process.hibob.com/image/upload/v1/hibob/demo-avatar/demo_employee/images/UiRYuQQyDc4sLbYzFFtN_59.jpg?__cld_token__=exp=4795680381~acl=*%2fhibob%2fdemo-avatar%2fdemo_employee%2fimages%2fUiRYuQQyDc4sLbYzFFtN_59.jpg*~hmac=07e5aff698027029ebbb4d8cb067db044ec46a86f9bf71430c53cc590f9c07a6\",\"secondName\":null,\"/work/startDate\":{\"value\":\"2015-03-03\"},\"about\":{\"foodPreferences\":[],\"socialData\":{\"linkedin\":null,\"twitter\":null,\"facebook\":null},\"superpowers\":[\"proof reading\"],\"hobbies\":[\"theatre\",\"film\",\"music\"],\"about\":\"I dont have a life story, my story is my life \",\"avatar\":\"https://media-process.hibob.com/image/upload/v1/hibob/demo-avatar/demo_employee/images/UiRYuQQyDc4sLbYzFFtN_59.jpg?__cld_token__=exp=4795680381~acl=*%2fhibob%2fdemo-avatar%2fdemo_employee%2fimages%2fUiRYuQQyDc4sLbYzFFtN_59.jpg*~hmac=07e5aff698027029ebbb4d8cb067db044ec46a86f9bf71430c53cc590f9c07a6\"},\"/root/fullName\":{\"value\":\"Anna Gibbons\"},\"/payroll/employment/contract\":{\"value\":\"Full time\"},\"/payroll/employment/actualWorkingPattern\":{\"value\":{\"workingPatternType\":\"partial_week\",\"days\":{\"sunday\":false,\"tuesday\":true,\"wednesday\":true,\"monday\":true,\"friday\":true,\"thursday\":true,\"saturday\":false},\"hoursPerDay\":9,\"workingPatternId\":null}},\"companyId\":632127,\"/root/coverImageUrl\":{\"value\":\"https://media-process.hibob.com/image/upload/v1/hibob/public-image/cover/default_cover_image.png?token=X19jbGRfdG9rZW5fXz1leHA9NDg0OTgzNjczOX5hY2w9KiUyZmhpYm9iJTJmcHVibGljLWltYWdlJTJmY292ZXIlMmZkZWZhdWx0X2NvdmVyX2ltYWdlLnBuZyp+aG1hYz0zMjY3NjE4ZDQ1MzZjZjE3MWFiM2Y2MzJlY2JmZmQ5MWZkYTRmY2FmOGY3MDExYjllNmZlZTI4Njc0MzZlN2M5&vendor=cloudinary\"},\"/work/secondLevelManager\":{\"value\":\"3145813528661721978\"},\"/work/yearsOfService\":{\"value\":8.545},\"/work/daysOfPreviousService\":{\"value\":0},\"/about/about\":{\"value\":\"I dont have a life story, my story is my life \"},\"/root/avatarUrl\":{\"value\":\"https://media-process.hibob.com/image/upload/v1/hibob/demo-avatar/demo_employee/images/UiRYuQQyDc4sLbYzFFtN_59.jpg?__cld_token__=exp=4795680381~acl=*%2fhibob%2fdemo-avatar%2fdemo_employee%2fimages%2fUiRYuQQyDc4sLbYzFFtN_59.jpg*~hmac=07e5aff698027029ebbb4d8cb067db044ec46a86f9bf71430c53cc590f9c07a6\"},\"/root/surname\":{\"value\":\"Gibbons\"},\"/work/shortStartDate\":{\"value\":\"03-03\"},\"/work/activeEffectiveDate\":{\"value\":\"2015-03-03\"},\"/root/id\":{\"value\":\"3145813590838084494\"},\"email\":\"anna.gibbons_632127@samplebob.com\",\"/work/manager\":{\"value\":\"3145813558047015811\"},\"surname\":\"Gibbons\",\"/work/reportsTo\":{\"value\":{\"displayName\":\"Joshua Tyler\",\"email\":\"joshua.tyler_632127@samplebob.com\",\"surname\":\"Tyler\",\"firstName\":\"Joshua\",\"id\":\"3145813558047015811\"}},\"/root/displayName\":{\"value\":\"Anna Gibbons\"},\"/root/companyId\":{\"value\":632127},\"/payroll/employment/fte\":{\"value\":100},\"/work/department\":{\"value\":\"Sales\"},\"/work/isManager\":{\"value\":false},\"/work/custom/field_1693264337015\":{\"value\":580192},\"/work/reportsToIdInCompany\":{\"value\":27},\"/work/tenureDuration\":{\"value\":{\"periodISO\":\"P8Y6M16D\",\"sortFactor\":3076,\"humanize\":\"8 years, 6 months and 16 days\"}},\"coverImageUrl\":\"https://media-process.hibob.com/image/upload/v1/hibob/public-image/cover/default_cover_image.png?token=X19jbGRfdG9rZW5fXz1leHA9NDg0OTgzNjczOX5hY2w9KiUyZmhpYm9iJTJmcHVibGljLWltYWdlJTJmY292ZXIlMmZkZWZhdWx0X2NvdmVyX2ltYWdlLnBuZyp+aG1hYz0zMjY3NjE4ZDQ1MzZjZjE3MWFiM2Y2MzJlY2JmZmQ5MWZkYTRmY2FmOGY3MDExYjllNmZlZTI4Njc0MzZlN2M5&vendor=cloudinary\",\"/about/superpowers\":{\"value\":[\"proof reading\"]},\"/work/siteId\":{\"value\":2477371},\"id\":\"3145813590838084494\",\"firstName\":\"Anna\",\"/work/durationOfEmployment\":{\"value\":{\"periodISO\":\"P8Y6M16D\",\"sortFactor\":3076,\"humanize\":\"8 years, 6 months and 16 days\"}}}]}"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs/automated": {
      "get": {
        "summary": "List All Automated Jobs",
        "operationId": "get-jobs-automated",
        "description": "Get all automated jobs. Automated jobs are completed by a machine. By default, jobs are sorted in descending order by submission time. For scheduled jobs such as data syncs, only the next scheduled job is shown.",
        "tags": ["Management"],
        "parameters": [{"$ref": "#/components/parameters/Content-Type"}],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "description": "The number of items to return. Defaults to 100."
                  },
                  "offset": {
                    "type": "integer",
                    "description": "Where in the list of jobs to start returning from. Defaults to index 0."
                  }
                }
              }
            }
          },
          "description": ""
        },
        "responses": {
          "200": {
            "description": "Job was found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "": {"$ref": "#/components/schemas/Paging"},
                    "meta": {
                      "type": "object",
                      "properties": {
                        "quotas": {
                          "type": "object",
                          "description": "Information about remaining quotas for this connection. Only applicable for customers opted in to use Finch's Data Sync Refresh endpoint (`POST /jobs/automated`). Please contact a Finch representative for more details.",
                          "properties": {
                            "data_sync_all": {
                              "type": "object",
                              "properties": {
                                "allowed_refreshes": {"type": "integer"},
                                "remaining_refreshes": {"type": "integer"}
                              }
                            }
                          }
                        }
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AutomatedAsyncJob"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "": {"count": 10, "offset": 0},
                      "meta": {
                        "quotas": {
                          "data_sync_all": {
                            "allowed_refreshes": 2,
                            "remaining_refreshes": 2
                          }
                        }
                      },
                      "data": [
                        {
                          "job_id": "453bd7d7-5355-4d6d-a38e-d9e7eb218c3f",
                          "job_url": "https://api.tryfinch.com/job/automated/453bd7d7-5355-4d6d-a38e-d9e7eb218c3f",
                          "type": "data_sync_all",
                          "status": "pending",
                          "created_at": "2019-08-24T14:15:22Z",
                          "scheduled_at": "2019-08-24T14:15:22Z",
                          "started_at": "2019-08-24T14:15:22Z",
                          "completed_at": "2019-08-24T14:15:22Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {"type": "integer"},
                    "status": {"type": "integer"},
                    "code": {"type": "integer"},
                    "name": {"type": "string"},
                    "message": {"type": "string"}
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "statusCode": 401,
                      "status": 401,
                      "code": 401,
                      "message": "Unauthorized request: no authentication given",
                      "name": "unauthorized_request_error"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {"type": "integer"},
                    "status": {"type": "integer"},
                    "code": {"type": "integer"},
                    "name": {"type": "string"},
                    "message": {"type": "string"}
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "statusCode": 404,
                      "status": 404,
                      "code": 404,
                      "message": "could not find job with id job-fb3b25dc-02dc-48eb-9cfc-3f9837276884",
                      "name": "not_found_error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Enqueue a New Automated Job",
        "operationId": "post-jobs-automated",
        "description": "Enqueue an automated job. Currently, only the `data_sync_all` job type is supported, which will enqueue a job to re-sync all data for a connection. `data_sync_all` has a concurrency limit of 1 job at a time per connection. This means that if this endpoint is called while a job is already in progress for this connection, Finch will return the `job_id` of the job that is currently in progress. Finch allows a fixed window rate limit of 1 forced refresh per hour per connection.\n\nThis endpoint is available for *Scale* tier customers as an add-on. To request access to this endpoint, please contact your Finch account manager.",
        "parameters": [{"$ref": "#/components/parameters/Content-Type"}],
        "tags": ["Management"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "The type of job to start. Currently the only supported type is `data_sync_all`",
                    "enum": ["data_sync_all"]
                  }
                },
                "required": ["type"]
              }
            },
            "application/xml": {"schema": {"type": "object", "properties": {}}}
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The id of the job that has been created."
                    },
                    "job_url": {
                      "type": "string",
                      "description": "The url that can be used to retrieve the job status"
                    },
                    "allowed_refreshes": {
                      "type": "integer",
                      "description": "The number of allowed refreshes per hour (per hour, fixed window)"
                    },
                    "remaining_refreshes": {
                      "type": "integer",
                      "description": "The number of remaining refreshes available (per hour, fixed window)"
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "job_id": "453bd7d7-5355-4d6d-a38e-d9e7eb218c3f",
                      "job_url": "https://api.tryfinch.com/jobs/automated/453bd7d7-5355-4d6d-a38e-d9e7eb218c3f",
                      "allowed_refreshes": 2,
                      "remaining_refreshes": 1
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {"type": "object", "properties": {}}
              }
            }
          },
          "202": {
            "description": "Accepted. This response will be returned if a job is already enqueued for the connection. This case does not consume any job quota as it just returns the details of an existing job.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The id of the job that has been created."
                    },
                    "job_url": {
                      "type": "string",
                      "description": "The url that can be used to retrieve the job status"
                    },
                    "allowed_refreshes": {
                      "type": "integer",
                      "description": "The number of allowed refreshes per hour (per hour, fixed window)"
                    },
                    "remaining_refreshes": {
                      "type": "integer",
                      "description": "The number of remaining refreshes available (per hour, fixed window)"
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "job_Id": "de9113d6-e2fa-4c72-ba4a-ee1d8a4f8df6",
                      "allowed_refreshes": 2,
                      "remaining_refreshes": 2
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {"type": "integer"},
                    "status": {"type": "integer"},
                    "code": {"type": "integer"},
                    "message": {"type": "string"},
                    "name": {"type": "string"}
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "statusCode": 400,
                      "status": 400,
                      "code": 400,
                      "message": "cannot create automated job for Assisted Connect token",
                      "name": "bad_request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {"type": "integer"},
                    "status": {"type": "integer"},
                    "code": {"type": "integer"},
                    "name": {"type": "string"},
                    "message": {"type": "string"}
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "statusCode": 401,
                      "status": 401,
                      "code": 401,
                      "message": "Unauthorized request: no authentication given",
                      "name": "unauthorized_request_error"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "allowed_refreshes": {
                      "type": "integer",
                      "description": "The number of allowed refreshes per hour (per hour, fixed window)"
                    },
                    "remaining_refreshes": {
                      "type": "integer",
                      "description": "The number of remaining refreshes available (per hour, fixed window)"
                    },
                    "retry_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The datetime when quota for enqueuing new jobs will again be available. Only shown for a 429 response."
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "allowed_refreshes": 2,
                      "remaining_refreshes": 0,
                      "retry_at": "2019-08-24T14:15:22Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs/automated/{job_id}": {
      "parameters": [
        {
          "schema": {"type": "string"},
          "name": "job_id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Retrieve an Automated Job",
        "operationId": "get-jobs-job_id",
        "description": "Get an automated job by `job_id`.",
        "tags": ["Management"],
        "parameters": [{"$ref": "#/components/parameters/Content-Type"}],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/AutomatedAsyncJob"},
                "examples": {
                  "Example 1": {
                    "value": {
                      "job_id": "453bd7d7-5355-4d6d-a38e-d9e7eb218c3f",
                      "job_url": "https://api.tryfinch.com/job/automated/453bd7d7-5355-4d6d-a38e-d9e7eb218c3f",
                      "type": "data_sync_all",
                      "status": "pending",
                      "created_at": "2019-08-24T14:15:22Z",
                      "scheduled_at": "2019-08-24T14:15:22Z",
                      "started_at": "2019-08-24T14:15:22Z",
                      "completed_at": "2019-08-24T14:15:22Z"
                    }
                  }
                }
              }
            }
          },
          "404": {"description": "Not Found"}
        }
      }
    },
    "/jobs/manual/{job_id}": {
      "parameters": [
        {
          "schema": {"type": "string"},
          "name": "job_id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Retrieve a Manual Job",
        "operationId": "get-jobs-manual-job_id",
        "description": "Get a manual job by `job_id`. Manual jobs are completed by a human and include Assisted Benefits jobs.",
        "tags": ["Management"],
        "parameters": [{"$ref": "#/components/parameters/Content-Type"}],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ManualAsyncJob"},
                "examples": {
                  "Example 1": {
                    "value": {
                      "job_id": "497d98f3-580a-4ab9-830a-af2346d029b2",
                      "status": "complete",
                      "body": [
                        {
                          "individual_id": "430f9d95-1dcf-4b99-b616-45f814416890",
                          "code": 201,
                          "message": "Successfully enrolled individual in benefit"
                        },
                        {
                          "individual_id": "647975ac-1e0f-4e9c-b705-e3042da48581",
                          "code": 200,
                          "message": "Successfully updated enrollment for individual"
                        },
                        {
                          "individual_id": "4a0a3b15-d3d6-41c2-a4a4-ca4ed1b68cf8",
                          "code": 404,
                          "message": "Individual not found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {"type": "integer"},
                    "finch_code": {"type": "string"},
                    "name": {"type": "string"},
                    "message": {"type": "string"}
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "code": 400,
                      "name": "invalid_request_error",
                      "message": "job_id is required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {"type": "integer"},
                    "finch_code": {"type": "string"},
                    "name": {"type": "string"},
                    "message": {"type": "string"}
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "code": 404,
                      "finch_code": "item_not_found",
                      "name": "not_found_error",
                      "message": "could not find job with id '49142223-78e0-4092-80e1-313f510b0977'"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sandbox/connections": {
      "post": {
        "summary": "Create a new Sandbox Connection",
        "operationId": "post-sandbox-connections",
        "description": "Create a new connection (new company/provider pair) with a new account",
        "tags": ["Sandbox"],
        "parameters": [],
        "security": [{"basicAuth": []}],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider_id": {"type": "string"},
                  "authentication_type": {
                    "$ref": "#/components/schemas/AuthenticationType"
                  },
                  "products": {"type": "array", "items": {"type": "string"}},
                  "employee_size": {
                    "type": "integer",
                    "description": "Optional: the size of the employer to be created with this connection. Defaults to 20. Note that if this is higher than 100, historical payroll data will not be generated, and instead only one pay period will be created."
                  }
                },
                "required": ["provider_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "company_id": {"type": "string", "format": "uuid"},
                    "provider_id": {"type": "string", "format": "uuid"},
                    "account_id": {"type": "string", "format": "uuid"},
                    "authentication_type": {
                      "$ref": "#/components/schemas/AuthenticationType"
                    },
                    "products": {"type": "array", "items": {"type": "string"}},
                    "access_token": {"type": "string", "format": "uuid"}
                  },
                  "required": [
                    "company_id",
                    "provider_id",
                    "account_id",
                    "authentication_type",
                    "products",
                    "access_token"
                  ]
                },
                "examples": {
                  "success": {
                    "value": {
                      "company_id": "b2e6a1c3-1a5e-44ae-a8fd-81f76fd715cf",
                      "provider_id": "fe3d49af-4061-436b-ae60-f7044f252a44",
                      "account_id": "449e7a5c-69d3-4b8a-aaaf-5c9b713ebc65",
                      "authentication_type": "api_token",
                      "products": [
                        "employer:company",
                        "employer:directory",
                        "employer:individual"
                      ],
                      "access_token": "7eb55bcf-6593-4040-afac-252ee1f78e20"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sandbox/connections/accounts": {
      "parameters": [],
[...]
