{
  "openapi": "3.1.0",
  "info": {
    "title": "Greenhouse Harvest API",
    "version": "0.0.0"
  },
  "servers": [
    {
      "url": "https://harvest.greenhouse.io"
    }
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/v1/departments/{id}": {
      "get": {
        "operationId": "getDepartment",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the department to retrieve",
            "schema": {
              "type": "string",
              "description": "The ID of the department to retrieve"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "render_as",
            "description": "This parameter defines how to represent the list of departments. The default value is 'list’, which returns a flat list of departments. If this is set to 'tree’, departments are represented in a tree-like structure where they may include sub-departments as children.",
            "schema": {
              "type": ["string", "null"],
              "enum": ["list", "tree"],
              "default": "list",
              "description": "This parameter defines how to represent the list of departments. The default value is 'list’, which returns a flat list of departments. If this is set to 'tree’, departments are represented in a tree-like structure where they may include sub-departments as children."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "parent_id": {
                      "type": ["string", "null"]
                    },
                    "parent_department_external_ids": {
                      "type": ["string", "null"]
                    },
                    "child_ids": {
                      "type": ["array", "null"],
                      "items": {
                        "type": "number"
                      }
                    },
                    "child_department_external_ids": {
                      "type": ["array", "null"],
                      "items": {
                        "type": "number"
                      }
                    },
                    "external_id": {
                      "type": "string"
                    }
                  },
                  "required": ["id", "name", "external_id"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/departments": {
      "get": {
        "operationId": "getDepartments",
        "parameters": [
          {
            "in": "query",
            "name": "render_as",
            "description": "This parameter defines how to represent the list of departments. The default value is 'list’, which returns a flat list of departments. If this is set to 'tree’, departments are represented in a tree-like structure where they may include sub-departments as children.",
            "schema": {
              "type": ["string", "null"],
              "enum": ["list", "tree"],
              "default": "list",
              "description": "This parameter defines how to represent the list of departments. The default value is 'list’, which returns a flat list of departments. If this is set to 'tree’, departments are represented in a tree-like structure where they may include sub-departments as children."
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Return up to this number of objects per response. Must be an integer between 1 and 500. Defaults to 100.",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 500,
              "description": "Return up to this number of objects per response. Must be an integer between 1 and 500. Defaults to 100.",
              "default": 100
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "A cursor for use in pagination. Returns the n-th chunk of per_page objects.",
            "schema": {
              "type": "number",
              "description": "A cursor for use in pagination. Returns the n-th chunk of per_page objects."
            }
          },
          {
            "in": "query",
            "name": "external_id",
            "description": "If supplied, only return department(s) with that external ID.",
            "schema": {
              "type": "string",
              "description": "If supplied, only return department(s) with that external ID."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "parent_id": {
                        "type": ["string", "null"]
                      },
                      "parent_department_external_ids": {
                        "type": ["string", "null"]
                      },
                      "child_ids": {
                        "type": ["array", "null"],
                        "items": {
                          "type": "number"
                        }
                      },
                      "child_department_external_ids": {
                        "type": ["array", "null"],
                        "items": {
                          "type": "number"
                        }
                      },
                      "external_id": {
                        "type": "string"
                      }
                    },
                    "required": ["id", "name", "external_id"]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{id}": {
      "get": {
        "operationId": "getDepartment",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the department to retrieve",
            "schema": {
              "type": "string",
              "description": "The ID of the department to retrieve"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "The job’s unique identifier"
                    },
                    "name": {
                      "type": "string"
                    },
                    "requisition_id": {
                      "type": "string",
                      "description": "An arbitrary ID provided by an external source; does not map to another entity within Greenhouse."
                    },
                    "notes": {
                      "type": "string"
                    },
                    "confidential": {
                      "type": "boolean",
                      "description": "One of true, false. If the job is confidential or not."
                    },
                    "status": {
                      "type": "string",
                      "enum": ["open", "closed", "draft"]
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "opened_at": {
                      "type": "string"
                    },
                    "closed_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "is_template": {
                      "type": ["boolean", "null"],
                      "description": "Is this job designated as a template used to create other jobs. This may be true, false, or null. Null is an indication this job was created before template job feature."
                    },
                    "copied_from_id": {
                      "type": "number",
                      "description": "If this job was copied from another job, this field contains the id of the source job."
                    },
                    "departments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "parent_id": {
                            "type": ["string", "null"]
                          },
                          "parent_department_external_ids": {
                            "type": ["string", "null"]
                          },
                          "child_ids": {
                            "type": ["array", "null"],
                            "items": {
                              "type": "number"
                            }
                          },
                          "child_department_external_ids": {
                            "type": ["array", "null"],
                            "items": {
                              "type": "number"
                            }
                          },
                          "external_id": {
                            "type": "string"
                          }
                        },
                        "required": ["id", "name", "external_id"]
                      }
                    },
                    "offices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": ["name"]
                          },
                          "parent_id": {
                            "type": "number"
                          },
                          "child_ids": {
                            "type": ["array", "null"],
                            "items": {
                              "type": "number"
                            }
                          },
                          "external_id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "location",
                          "parent_id",
                          "external_id"
                        ]
                      }
                    },
                    "openings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "opening_id": {
                            "type": ["string", "null"]
                          },
                          "status": {
                            "type": "string"
                          },
                          "opened_at": {
                            "type": "string"
                          },
                          "closed_at": {
                            "type": "string"
                          },
                          "application_id": {
                            "type": "number"
                          },
                          "close_reason": {
                            "type": ["object", "null"],
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": ["id", "name"]
                          }
                        },
                        "required": [
                          "id",
                          "opening_id",
                          "status",
                          "opened_at",
                          "closed_at",
                          "application_id",
                          "close_reason"
                        ]
                      }
                    },
                    "custom_fields": {
                      "type": "object",
                      "properties": {
                        "employment_type": {
                          "type": "string"
                        },
                        "maximum_budget": {
                          "type": "string"
                        },
                        "salary_range": {
                          "type": "object",
                          "properties": {
                            "min_value": {
                              "type": "number"
                            },
                            "max_value": {
                              "type": "number"
                            },
                            "unit": {
                              "type": "string"
                            }
                          },
                          "required": ["min_value", "max_value", "unit"]
                        }
                      },
                      "required": [
                        "employment_type",
                        "maximum_budget",
                        "salary_range"
                      ]
                    },
                    "keyed_custom_fields": {
                      "type": "object",
                      "properties": {
                        "employment_type": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          },
                          "required": ["name", "type", "value"]
                        },
                        "budget": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          },
                          "required": ["name", "type", "value"]
                        },
                        "salary_range": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "value": {
                              "type": "object",
                              "properties": {
                                "min_value": {
                                  "type": "number"
                                },
                                "max_value": {
                                  "type": "number"
                                },
                                "unit": {
                                  "type": "string"
                                }
                              },
                              "required": ["min_value", "max_value", "unit"]
                            }
                          },
                          "required": ["name", "type", "value"]
                        }
                      },
                      "required": ["employment_type", "budget", "salary_range"]
                    },
                    "hiring_team": {
                      "type": "object",
                      "properties": {
                        "hiring_managers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "employee_id": {
                                "type": "string"
                              },
                              "responsible": {
                                "type": ["boolean", "null"]
                              }
                            },
                            "required": [
                              "id",
                              "first_name",
                              "last_name",
                              "name",
                              "employee_id"
                            ]
                          }
                        },
                        "recruiters": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "employee_id": {
                                "type": "string"
                              },
                              "responsible": {
                                "type": ["boolean", "null"]
                              }
                            },
                            "required": [
                              "id",
                              "first_name",
                              "last_name",
                              "name",
                              "employee_id"
                            ]
                          }
                        },
                        "coordinators": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "employee_id": {
                                "type": "string"
                              },
                              "responsible": {
                                "type": ["boolean", "null"]
                              }
                            },
                            "required": [
                              "id",
                              "first_name",
                              "last_name",
                              "name",
                              "employee_id"
                            ]
                          }
                        },
                        "sourcers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "employee_id": {
                                "type": "string"
                              },
                              "responsible": {
                                "type": ["boolean", "null"]
                              }
                            },
                            "required": [
                              "id",
                              "first_name",
                              "last_name",
                              "name",
                              "employee_id"
                            ]
                          }
                        }
                      },
                      "required": [
                        "hiring_managers",
                        "recruiters",
                        "coordinators",
                        "sourcers"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "requisition_id",
                    "notes",
                    "confidential",
                    "status",
                    "created_at",
                    "opened_at",
                    "closed_at",
                    "updated_at",
                    "is_template",
                    "copied_from_id",
                    "departments",
                    "offices",
                    "openings",
                    "custom_fields",
                    "keyed_custom_fields",
                    "hiring_team"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
